Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

added signal to remove an UI element form the model
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_common/base_display_model.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_common/updatable_component.py
  services/dynamic-scheduler/tests/unit/api_frontend/_common/test_updatable_component.py
Due: dynamic_scheduler

🎨 [Frontend] Book a call: select a topic first (#8422)
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/ServicesList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TutorialsList.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletsList.js
  services/static-webserver/client/source/class/osparc/pricing/Plans.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/Study.js
  services/static-webserver/client/source/class/osparc/support/BookACallTopicSelector.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/ConversationsPage.js
  services/static-webserver/client/source/class/osparc/support/HomePage.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/colorProvider/ColorProvider.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Due: webclient

fixed tests
  services/dynamic-scheduler/tests/unit/api_frontend/_common/test_updatable_component.py
Due: dynamic_scheduler

fix: openapi-spec
  packages/models-library/src/models_library/api_schemas_webserver/storage.py
  packages/models-library/src/models_library/utils/common_validators.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: pkg_models_library, webserver

adatps tests
  services/web/server/tests/unit/with_dbs/02/test_projects_rpc.py
Due: webserver

fix: typecheck
  packages/models-library/src/models_library/utils/common_validators.py
Due: pkg_models_library

Update services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Due: storage

Update services/web/server/src/simcore_service_webserver/tasks/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
Due: webserver

fix: test
  packages/models-library/tests/test_api_schemas_long_running_tasks_tasks.py
Due: pkg_models_library

refactor test
  services/dynamic-scheduler/tests/unit/api_frontend/_common/test_updatable_component.py
Due: dynamic_scheduler

refactor
  services/dynamic-scheduler/tests/unit/api_frontend/_common/test_updatable_component.py
Due: dynamic_scheduler

fix: test
  packages/models-library/src/models_library/api_schemas_long_running_tasks/tasks.py
  packages/models-library/tests/test_api_schemas_long_running_tasks_tasks.py
Due: pkg_models_library

renamed
  services/dynamic-scheduler/tests/unit/api_frontend/_common/test_updatable_component.py
Due: dynamic_scheduler

made tests more redable
  services/dynamic-scheduler/tests/unit/api_frontend/_common/test_updatable_component.py
Due: dynamic_scheduler

♻️ webserver: Enhance Action Confirmation Token Logic (🚨🗃️) (#8150)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/9dddb16914a4_update_confirmation_created_column.py
  packages/postgres-database/src/simcore_postgres_database/models/confirmations.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_login.py
  services/web/server/src/simcore_service_webserver/garbage_collector/plugin.py
  services/web/server/src/simcore_service_webserver/login/_application_keys.py
  services/web/server/src/simcore_service_webserver/login/_confirmation_repository.py
  services/web/server/src/simcore_service_webserver/login/_confirmation_service.py
  services/web/server/src/simcore_service_webserver/login/_confirmation_web.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/_rest_dependencies.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/change.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/confirmation.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/confirmation_schemas.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/registration.py
  services/web/server/src/simcore_service_webserver/login/_invitations_service.py
  services/web/server/src/simcore_service_webserver/login/_login_repository_legacy.py
  services/web/server/src/simcore_service_webserver/login/_login_repository_legacy_sql.py
  services/web/server/src/simcore_service_webserver/login/_models.py
  services/web/server/src/simcore_service_webserver/login/login_repository_legacy.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
  services/web/server/tests/unit/with_dbs/01/test_db.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_confirmation_service.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_controller_confirmation_rest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_logout.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_twofa.py
Due: pkg_postgres_database, webserver

typo
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
Due: autoscaling

improve testing
  services/autoscaling/tests/unit/test_modules_dask.py
Due: autoscaling

create a typed dict
  packages/dask-task-models-library/src/dask_task_models_library/resource_constraints.py
Due: pkg_dask_task_models_library

added ENV variables for nthreads and threads multiplier
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
Due: autoscaling

fix assert
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
Due: autoscaling

ruff
  packages/aws-library/tests/test_ec2_models.py
Due: pkg_aws_library

both direction
  packages/aws-library/src/aws_library/ec2/_models.py
  packages/aws-library/tests/test_ec2_models.py
Due: pkg_aws_library

ongoing
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_provider_computational.py
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
Due: autoscaling

refactor
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_auto_scaling_core.py
Due: autoscaling

moved naming
  packages/dask-task-models-library/src/dask_task_models_library/resource_constraints.py
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/tests/unit/test_modules_dask.py
Due: pkg_dask_task_models_library, autoscaling

improve coverage
  packages/aws-library/tests/test_ec2_models.py
Due: pkg_aws_library

mypy
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
Due: autoscaling

wrong types
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
Due: autoscaling

ruff
  services/autoscaling/tests/unit/test_utils_cluster_scaling.py
Due: autoscaling

add missing test
  packages/aws-library/tests/test_ec2_models.py
Due: pkg_aws_library

adjusted compute used resources
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/tests/unit/test_modules_dask.py
Due: autoscaling

added test for getting threads resources
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/tests/unit/test_modules_dask.py
Due: autoscaling

typo
  packages/aws-library/tests/test_ec2_models.py
Due: pkg_aws_library

more
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
Due: autoscaling

simplify
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
  services/autoscaling/tests/unit/test_modules_dask.py
Due: autoscaling

mypy
  packages/aws-library/src/aws_library/ec2/_models.py
Due: pkg_aws_library

added model dump flat
  packages/aws-library/src/aws_library/ec2/_models.py
  packages/aws-library/tests/test_ec2_models.py
Due: pkg_aws_library

adding test
  services/autoscaling/tests/unit/test_modules_dask.py
Due: autoscaling

ruff
  packages/aws-library/src/aws_library/ec2/_models.py
Due: pkg_aws_library

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
