Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

🐛 fix `list_users_in_group` introduced in previous PR (#8249)
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_messages_rest.py
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/tests/unit/with_dbs/01/groups/test_groups_repository.py
Due: webserver

fix test_tasks.py
  services/api-server/tests/unit/celery/test_tasks.py
Due: api_server

fix: test indent
  packages/celery-library/tests/unit/test_tasks.py
Due: none

minor
  services/static-webserver/client/source/class/osparc/data/model/NodeLockState.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
Due: webclient

fix: loglevel
  packages/celery-library/tests/conftest.py
Due: none

fix: wait
  packages/celery-library/tests/unit/test_async_jobs.py
Due: none

fixed borken tests
  api/specs/web-server/_long_running_tasks.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, webserver

fix: remove partials
  services/storage/src/simcore_service_storage/modules/celery/worker_main.py
  services/storage/tests/conftest.py
Due: storage

fix: remove unused asserts
  services/storage/src/simcore_service_storage/modules/celery/worker_main.py
  services/storage/tests/conftest.py
Due: storage

fix
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
Due: webclient

hideMyself property
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/ui/basic/AvatarGroup.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

fix: assert
  packages/service-library/src/servicelib/celery/task_manager.py
  packages/service-library/src/servicelib/fastapi/celery/app_server.py
Due: pkg_service_library

fix: remove partial
  packages/celery-library/tests/conftest.py
Due: none

evalShowToolbar
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
Due: webclient

fix
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
  services/static-webserver/client/source/class/osparc/ui/message/NodeLockedPage.js
Due: webclient

remove logs
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
Due: webclient

comment
  services/static-webserver/client/source/class/osparc/ui/message/NodeLockedPage.js
Due: webclient

add test for full round trip of running function
  services/api-server/tests/unit/api_functions/celery/conftest.py
  services/api-server/tests/unit/api_functions/celery/test_functions.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
  services/api-server/tests/unit/test_tasks.py
Due: api_server

__addActionsLayout
  services/static-webserver/client/source/class/osparc/ui/message/NodeLockedPage.js
Due: webclient

Update services/static-webserver/client/source/class/osparc/data/model/NodeLockState.js
  services/static-webserver/client/source/class/osparc/data/model/NodeLockState.js
Due: webclient

Update services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
Due: webclient

breaks missing
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

last fix
  services/static-webserver/client/source/class/osparc/ui/message/NodeLockedPage.js
Due: webclient

fix: alembic
  packages/postgres-database/src/simcore_postgres_database/migration/versions/201aa37f4d9a_remove_workbench_column_from_projects_.py
Due: pkg_postgres_database

fix: typecheck
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

fix: duplicate by_alias
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
Due: webserver

CollaboratorsFunction
  services/static-webserver/client/source/class/osparc/data/Roles.js
  services/static-webserver/client/source/class/osparc/data/model/Function.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsFunction.js
Due: webclient

✨ [Frontend] RTC: Node Lock State (#8243)
  services/static-webserver/client/source/class/osparc/dashboard/GroupedCardContainer.js
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/NodeLockState.js
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
  services/static-webserver/client/source/class/osparc/ui/basic/AvatarGroup.js
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/class/osparc/ui/message/NodeLockedPage.js
  services/static-webserver/client/source/class/osparc/viewer/NodeViewer.js
  services/static-webserver/client/source/class/osparc/widget/NodeTreeItem.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

right icon
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
Due: webclient

_applyOwner
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/data/model/Function.js
Due: webclient

__addPermissionsPage
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
Due: webclient

updates webserver OAS
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

more progress
  services/static-webserver/client/source/class/osparc/data/model/Function.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
Due: webclient

fixes update node's states
  packages/models-library/src/models_library/projects_nodes.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: pkg_models_library, webserver

fixes mypy
  packages/models-library/src/models_library/projects_nodes.py
Due: pkg_models_library

fixes test listerner
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
Due: webserver
