Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

🎨 Increase timeout in map load test (#8385)
  tests/performance/locustfiles/functions/function_map_load_test.py
Due: none

fixed imports
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core.py
Due: dynamic_scheduler

set background color
  services/static-webserver/client/source/class/osparc/wrapper/BookACallIframe.js
Due: webclient

ruff
  packages/service-library/tests/rabbitmq/test_rabbitmq.py
Due: pkg_service_library

improve error reporting
  packages/service-library/src/servicelib/rabbitmq/_client_base.py
Due: pkg_service_library

improve logging
  packages/service-library/src/servicelib/rabbitmq/_client.py
Due: pkg_service_library

refactor
  packages/service-library/src/servicelib/rabbitmq/_client.py
Due: pkg_service_library

added some warning for long exclusive and semaphore locks
  packages/service-library/src/servicelib/redis/_constants.py
  packages/service-library/src/servicelib/redis/_decorators.py
  packages/service-library/src/servicelib/redis/_semaphore_decorator.py
Due: pkg_service_library

catch also errors that might happen in the processing of messages
  packages/service-library/src/servicelib/rabbitmq/_client.py
Due: pkg_service_library

removed todo
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core.py
Due: dynamic_scheduler

info log
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Due: director_v2

re-instill pylint disable
  packages/service-library/src/servicelib/rabbitmq/_client.py
Due: pkg_service_library

fixed tests
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__health.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__meta.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__ops.py
  services/dynamic-scheduler/tests/unit/services/service_tracker/test__api.py
  services/dynamic-scheduler/tests/unit/services/service_tracker/test__tracker.py
  services/dynamic-scheduler/tests/unit/services/test_catalog.py
  services/dynamic-scheduler/tests/unit/services/test_director_v0.py
  services/dynamic-scheduler/tests/unit/services/test_rabbitmq.py
  services/dynamic-scheduler/tests/unit/services/test_redis.py
  services/dynamic-scheduler/tests/unit/test_repository_postgres_networks.py
Due: dynamic_scheduler

pylint
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core.py
Due: dynamic_scheduler

convert to str
  packages/service-library/src/servicelib/rabbitmq/_client.py
Due: pkg_service_library

space
  packages/service-library/src/servicelib/redis/_decorators.py
Due: pkg_service_library

refactor
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core.py
Due: dynamic_scheduler

improve error reporting
  packages/service-library/src/servicelib/rabbitmq/_client.py
Due: pkg_service_library

extracted repeating steps function
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core.py
Due: dynamic_scheduler

extracted function
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core.py
Due: dynamic_scheduler

add task_owner as required field in TaskFilter
  packages/service-library/src/servicelib/celery/models.py
  packages/service-library/tests/test_celery.py
Due: pkg_service_library

client_name -> TaskOwner
  packages/celery-library/tests/unit/test_async_jobs.py
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_interfaces_async_jobs.py
  services/api-server/src/simcore_service_api_server/services_rpc/storage.py
  services/storage/tests/unit/test_rpc_handlers_paths.py
  services/storage/tests/unit/test_rpc_handlers_simcore_s3.py
  services/web/server/src/simcore_service_webserver/utils.py
Due: pkg_models_library, pkg_service_library, api_server, storage, webserver

make AsyncJobFilter minimal
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
Due: pkg_models_library

improve naming
  packages/celery-library/src/celery_library/backends/redis.py
  packages/celery-library/src/celery_library/rpc/_async_jobs.py
  packages/celery-library/src/celery_library/task_manager.py
  packages/celery-library/tests/unit/test_async_jobs.py
  packages/celery-library/tests/unit/test_tasks.py
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
  packages/pytest-simcore/src/pytest_simcore/helpers/async_jobs_server.py
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_rpc_server.py
  packages/service-library/src/servicelib/celery/models.py
  packages/service-library/src/servicelib/celery/task_manager.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/paths.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/simcore_s3.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_interfaces_async_jobs.py
  packages/service-library/tests/test_celery.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/models/domain/celery_models.py
  services/api-server/src/simcore_service_api_server/services_rpc/async_jobs.py
  services/api-server/src/simcore_service_api_server/services_rpc/storage.py
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
  services/storage/src/simcore_service_storage/api/rest/_files.py
  services/storage/src/simcore_service_storage/api/rpc/_paths.py
  services/storage/src/simcore_service_storage/api/rpc/_simcore_s3.py
  services/storage/tests/unit/test_rpc_handlers_paths.py
  services/storage/tests/unit/test_rpc_handlers_simcore_s3.py
  services/web/server/src/simcore_service_webserver/utils.py
Due: pkg_models_library, pkg_service_library, api_server, storage, webserver

task_owner -> owner
  packages/service-library/src/servicelib/celery/models.py
  packages/service-library/tests/test_celery.py
  services/api-server/src/simcore_service_api_server/models/domain/celery_models.py
Due: pkg_service_library, api_server

🐛RabbitMQ client: prevent crashing consumer if channel is closed (#8382)
  packages/service-library/src/servicelib/rabbitmq/_client.py
  packages/service-library/src/servicelib/rabbitmq/_client_base.py
  packages/service-library/src/servicelib/redis/_constants.py
  packages/service-library/src/servicelib/redis/_decorators.py
  packages/service-library/src/servicelib/redis/_semaphore_decorator.py
  packages/service-library/tests/rabbitmq/test_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Due: pkg_service_library, director_v2

done
  .github/workflows/cleanup-caches-by-branches.yml
Due: none

⬆️🔨 upgrade cache cleanup script (#8390)
  .github/workflows/cleanup-caches-by-branches.yml
Due: none

added timeout when pulling images
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
Due: dask_sidecar

TaskFilter -> OwnerMetadata
  packages/celery-library/src/celery_library/backends/redis.py
  packages/celery-library/src/celery_library/rpc/_async_jobs.py
  packages/celery-library/src/celery_library/task_manager.py
  packages/celery-library/tests/unit/test_async_jobs.py
  packages/celery-library/tests/unit/test_tasks.py
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
  packages/service-library/src/servicelib/celery/models.py
  packages/service-library/src/servicelib/celery/task_manager.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/paths.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/simcore_s3.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_interfaces_async_jobs.py
  packages/service-library/tests/test_celery.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/api/routes/tasks.py
  services/api-server/src/simcore_service_api_server/models/domain/celery_models.py
  services/api-server/src/simcore_service_api_server/services_rpc/async_jobs.py
  services/api-server/src/simcore_service_api_server/services_rpc/storage.py
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
  services/storage/src/simcore_service_storage/api/rest/_files.py
  services/storage/src/simcore_service_storage/api/rpc/_paths.py
  services/storage/src/simcore_service_storage/api/rpc/_simcore_s3.py
  services/storage/tests/unit/test_rpc_handlers_paths.py
  services/storage/tests/unit/test_rpc_handlers_simcore_s3.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/src/simcore_service_webserver/storage/api.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
  services/web/server/src/simcore_service_webserver/utils.py
Due: pkg_models_library, pkg_service_library, api_server, storage, webserver

Finish BookACallIframe
  services/static-webserver/client/source/class/osparc/wrapper/BookACallIframe.js
Due: webclient

🐛Dask-sidecar: added a larger timeout when pulling images (#8389)
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
Due: dask_sidecar

minor
  services/static-webserver/client/source/class/osparc/wrapper/BookACallIframe.js
Due: webclient

3rd button
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/ConversationsPage.js
  services/static-webserver/client/source/class/osparc/support/HomePage.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

done
  .github/workflows/_reusable-build-images.yml
  Makefile
Due: none

trigger build
  packages/service-library/src/servicelib/container_utils.py
Due: pkg_service_library
