Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

use fontawesome's pdf icon
  services/static-webserver/client/source/class/osparc/desktop/credits/TransactionsTableModel.js
Due: webclient

Update services/static-webserver/client/source/class/osparc/desktop/credits/TransactionsTableModel.js
  services/static-webserver/client/source/class/osparc/desktop/credits/TransactionsTableModel.js
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/widget/NodesSlidesTree.js
Due: webclient

remove
  packages/celery-library/src/celery_library/task.py
Due: none

minor
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/widget/NodesSlidesTree.js
Due: webclient

fixed wrong removal
  tests/e2e-playwright/Makefile
Due: none

fix
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/test_core_settings.py
Due: clusters_keeper

auto save
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/widget/NodesSlidesTree.js
Due: webclient

autosave
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/widget/NodesSlidesTree.js
Due: webclient

fixede not working in CI
  tests/public-api/Makefile
Due: none

fixed spacing
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
Due: clusters_keeper

refactor
  services/static-webserver/client/source/class/osparc/widget/NodeSlideTreeItem.js
Due: webclient

🐛Clusters-keeper: pass EC2_INSTANCES_MAX_START_TIME (⚠️ require hotfix) (#8898)
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/test_core_settings.py
Due: clusters_keeper

fixed flaky test
  packages/pytest-simcore/tests/test_robust_websocket.py
Due: none

move to notifications services
  packages/models-library/src/models_library/notifications/rpc/__init__.py
  packages/models-library/src/models_library/notifications/rpc/_message.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/notifications/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/notifications/_messages.py
  services/notifications/src/simcore_service_notifications/api/rpc/_messages.py
  services/notifications/src/simcore_service_notifications/api/rpc/dependencies.py
  services/notifications/src/simcore_service_notifications/services/__init__.py
  services/notifications/src/simcore_service_notifications/services/_messages.py
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: pkg_models_library, pkg_service_library, webserver

revert
  packages/celery-library/src/celery_library/task.py
Due: none

show service status as last step
  ci/github/system-testing/public-api.bash
Due: none

🎨 [Frontend] Enhance Edit button (#8893)
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/info/FunctionLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/metadata/QualityEditor.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

🎨 Enhanced Celery task groups support (#8880)
  packages/celery-library/src/celery_library/_task_manager.py
  packages/celery-library/src/celery_library/async_jobs.py
  packages/celery-library/src/celery_library/backends/_redis.py
  packages/celery-library/src/celery_library/errors.py
  packages/celery-library/tests/unit/test_async_jobs.py
  packages/celery-library/tests/unit/test_task_manager.py
  packages/models-library/src/models_library/api_server/__init__.py
  packages/models-library/src/models_library/api_server/celery/__init__.py
  packages/service-library/src/servicelib/celery/async_jobs/notifications.py
  packages/service-library/src/servicelib/celery/async_jobs/storage/paths.py
  packages/service-library/src/servicelib/celery/async_jobs/storage/simcore_s3.py
  packages/service-library/src/servicelib/celery/models.py
  packages/service-library/src/servicelib/celery/task_manager.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/services_rpc/storage.py
  services/api-server/tests/unit/api_functions/celery/conftest.py
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
  services/docker-compose.yml
  services/notifications/tests/unit/test_api_celery_send_email.py
  services/static-webserver/client/source/class/osparc/store/PollTasks.js
  services/storage/src/simcore_service_storage/api/rest/_files.py
  services/storage/tests/unit/test_async_jobs_handlers_paths.py
  services/storage/tests/unit/test_async_jobs_handlers_simcore_s3.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/src/simcore_service_webserver/storage/api.py
  services/web/server/src/simcore_service_webserver/tasks/_tasks_service.py
Due: pkg_models_library, pkg_service_library, api_server, storage, webclient, webserver

update template
  packages/notifications-library/src/notifications_library/templates/email/account_approved/body_html.j2
Due: pkg_notifications_library

✨🗃️ Add product flag for anonymous study access via dispatcher (⚠️) (#8882)
  .github/instructions/general.instructions.md
  .github/instructions/python-tests.instructions.md
  .github/prompts/pr-summary.prompt.md
  .github/skills/postgres-migration/SKILL.md
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4c8dcaac4285_add_studies_dispatcher_enabled_flag_to_.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/src/simcore_service_webserver/security/_authz_access_model.py
  services/web/server/src/simcore_service_webserver/security/_authz_policy.py
  services/web/server/src/simcore_service_webserver/security/_authz_service.py
  services/web/server/src/simcore_service_webserver/security/_authz_web.py
  services/web/server/src/simcore_service_webserver/security/_identity_policy.py
  services/web/server/src/simcore_service_webserver/security/_identity_web.py
  services/web/server/src/simcore_service_webserver/security/plugin.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/redirects.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/redirects_exceptions.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_guards.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/settings.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/conftest.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_rest_nih.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_rest_redirects.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: pkg_postgres_database, webserver

make exclusivemin use 3.1.0 oas spec
  packages/service-library/src/servicelib/fastapi/openapi.py
  packages/service-library/tests/fastapi/test_openapi.py
  services/api-server/openapi.json
Due: pkg_service_library, api_server

exposed also in the CI
  services/docker-compose-ops-ci.yml
Due: none

added cleanup for local repository
  tests/public-api/conftest.py
Due: none

refactor
  tests/public-api/conftest.py
Due: none

refactor
  tests/public-api/Makefile
Due: none

ensure all oas specs up to date
  services/catalog/openapi.json
  services/director-v2/openapi.json
  services/dynamic-scheduler/openapi.json
  services/dynamic-sidecar/openapi.json
  services/invitations/openapi.json
  services/resource-usage-tracker/openapi.json
  services/storage/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: catalog, director_v2, dynamic_scheduler, dynamic_sidecar, invitations, resource_usage_tracker, storage, webserver

ensure tests also support oas 3.1 specs
  scripts/openapi-diff.bash
Due: none

refactor
  tests/e2e-playwright/Makefile
  tests/e2e/Makefile
  tests/environment-setup/Makefile
  tests/performance/Makefile
Due: none

revert
  tests/e2e-playwright/Makefile
  tests/e2e/Makefile
  tests/environment-setup/Makefile
  tests/performance/Makefile
  tests/public-api/Makefile
Due: none

extended healthehcek
  services/director-v2/src/simcore_service_director_v2/api/routes/health.py
Due: director_v2

minor
  services/static-webserver/client/source/class/osparc/widget/NodesSlidesTree.js
Due: webclient

expose extra credits
  packages/notifications-library/src/notifications_library/templates/email/account_approved/body_html.j2
  packages/notifications-library/src/notifications_library/templates/email/account_approved/body_text.j2
  services/notifications/src/simcore_service_notifications/models/template_contexts/_account_approved.py
  services/web/server/src/simcore_service_webserver/users/_accounts_service.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_users_accounts_rest_registration.py
Due: pkg_notifications_library, webserver

makePreviewActive
  services/static-webserver/client/source/class/osparc/editor/EmailContentEditor.js
  services/static-webserver/client/source/class/osparc/po/PreviewApprovalRejection.js
Due: webclient

reuse
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

tune
  services/static-webserver/client/source/class/osparc/po/PreviewApprovalRejection.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/po/PreviewApprovalRejection.js
Due: webclient

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
