Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fixes
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_repository.py
Due: webserver

get default product name
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/src/simcore_service_webserver/products/_service.py
  services/web/server/src/simcore_service_webserver/products/_web_events.py
Due: webserver

extend coverage
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/src/simcore_service_webserver/products/_service.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_repository.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_service.py
Due: webserver

schema models
  packages/models-library/src/models_library/api_schemas_webserver/products.py
  packages/models-library/src/models_library/products.py
  services/web/server/src/simcore_service_webserver/payments/_rpc_invoice.py
  services/web/server/src/simcore_service_webserver/products/_controller/rpc.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/src/simcore_service_webserver/products/_service.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_repository.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_rpc.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_service.py
Due: pkg_models_library, webserver

fix tests
  packages/postgres-database/src/simcore_postgres_database/utils_products_prices.py
  packages/postgres-database/tests/test_models_products_prices.py
  services/web/server/src/simcore_service_webserver/constants.py
  services/web/server/src/simcore_service_webserver/products/_controller/rest_exceptions.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/src/simcore_service_webserver/products/_service.py
  services/web/server/src/simcore_service_webserver/products/_web_helpers.py
  services/web/server/src/simcore_service_webserver/products/errors.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_repository.py
Due: pkg_postgres_database, webserver

cleanup
  services/web/server/src/simcore_service_webserver/products/_service.py
Due: webserver

errors
  services/web/server/src/simcore_service_webserver/products/_controller/rest_exceptions.py
  services/web/server/src/simcore_service_webserver/products/_service.py
  services/web/server/src/simcore_service_webserver/products/errors.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_service.py
Due: webserver

cleanup
  services/web/server/src/simcore_service_webserver/products/_web_events.py
Due: webserver

cleanup
  services/web/server/src/simcore_service_webserver/products/_repository.py
Due: webserver

set auto_create_products_groups
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/src/simcore_service_webserver/products/_service.py
  services/web/server/src/simcore_service_webserver/products/_web_events.py
  services/web/server/src/simcore_service_webserver/products/plugin.py
Due: webserver

rename and doc
  packages/postgres-database/src/simcore_postgres_database/aiopg_errors.py
  packages/postgres-database/src/simcore_postgres_database/utils_payments.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_metadata.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  packages/postgres-database/tests/test_clusters.py
  packages/postgres-database/tests/test_models_payments_methods.py
  packages/postgres-database/tests/test_services_consume_filetypes.py
  packages/postgres-database/tests/test_users.py
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
  services/api-server/src/simcore_service_api_server/db/repositories/groups_extra_properties.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/payments/src/simcore_service_payments/db/payments_methods_repo.py
  services/payments/src/simcore_service_payments/db/payments_transactions_repo.py
  services/web/server/src/simcore_service_webserver/db/_aiopg.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_guests.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_utils.py
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/src/simcore_service_webserver/payments/_methods_db.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/security/_authz_policy.py
Due: pkg_postgres_database, api_server, director_v2, payments, webserver

fixes tests
  packages/postgres-database/tests/test_models_products_prices.py
Due: pkg_postgres_database

rename
  api/specs/web-server/_products.py
  packages/models-library/src/models_library/api_schemas_webserver/products.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/tests/unit/test_credits.py
  services/web/server/src/simcore_service_webserver/invitations/_rest.py
  services/web/server/src/simcore_service_webserver/products/_controller/rest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_products_rest_invitations.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_rest.py
Due: api, pkg_models_library, api_server, webserver

fix mypy
  services/web/server/src/simcore_service_webserver/login/_2fa_api.py
Due: webserver

service: load products
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/src/simcore_service_webserver/products/_service.py
  services/web/server/src/simcore_service_webserver/products/_web_events.py
Due: webserver

changes in api-keys
  services/web/server/src/simcore_service_webserver/api_keys/_controller_rest.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller_rpc.py
  services/web/server/src/simcore_service_webserver/api_keys/_repository.py
  services/web/server/src/simcore_service_webserver/api_keys/_service.py
  services/web/server/src/simcore_service_webserver/api_keys/models.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys_rpc.py
Due: webserver

setup rpc
  services/web/server/src/simcore_service_webserver/products/_controller/rpc.py
  services/web/server/src/simcore_service_webserver/products/plugin.py
Due: webserver

schemaresultget
  packages/models-library/src/models_library/api_schemas_webserver/products.py
  services/web/server/src/simcore_service_webserver/payments/_rpc_invoice.py
  services/web/server/src/simcore_service_webserver/products/_controller/rpc.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/products/_service.py
  services/web/server/src/simcore_service_webserver/products/models.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_service.py
Due: pkg_models_library, webserver

product and get|create
  packages/postgres-database/src/simcore_postgres_database/utils_products.py
  packages/postgres-database/tests/products/test_utils_products.py
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: pkg_postgres_database, webserver

priductsrip
  packages/models-library/src/models_library/api_schemas_webserver/products.py
  services/web/server/src/simcore_service_webserver/payments/_rpc_invoice.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/src/simcore_service_webserver/products/_service.py
  services/web/server/src/simcore_service_webserver/products/models.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_repository.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_service.py
Due: pkg_models_library, webserver

doc
  services/web/server/src/simcore_service_webserver/constants.py
Due: webserver

fix tests
  services/web/server/src/simcore_service_webserver/products/_web_helpers.py
  services/web/server/src/simcore_service_webserver/products/errors.py
Due: webserver

renames
  packages/postgres-database/src/simcore_postgres_database/utils_products.py
  packages/postgres-database/tests/products/test_utils_products.py
Due: pkg_postgres_database

exception handlers
  services/web/server/src/simcore_service_webserver/products/_controller/rest.py
  services/web/server/src/simcore_service_webserver/products/_controller/rest_exceptions.py
  services/web/server/src/simcore_service_webserver/products/_service.py
Due: webserver

FIX
  services/web/server/tests/unit/with_dbs/04/products/test_products_rpc.py
Due: webserver

refactor pg utils
  packages/postgres-database/src/simcore_postgres_database/utils_products_prices.py
  packages/postgres-database/tests/test_models_products_prices.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
Due: pkg_postgres_database, webserver

cleanup
  packages/postgres-database/src/simcore_postgres_database/utils_products.py
  packages/postgres-database/tests/products/test_utils_products.py
Due: pkg_postgres_database

fix tests
  services/web/server/src/simcore_service_webserver/login/_2fa_api.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_service.py
Due: webserver

ongoing
  services/storage/src/simcore_service_storage/modules/db/access_layer.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils/simcore_s3_dsm_utils.py
Due: storage

updatableNodeIds
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudyUpdate.js
Due: webclient

minor fix
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
Due: webclient

rest exceptions rename
  api/specs/web-server/_projects.py
  api/specs/web-server/_trash.py
  services/web/server/src/simcore_service_webserver/projects/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/projects/_controller/comments_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/folders_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/groups_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/metadata_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_pricing_unit_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/ports_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/tags_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/trash_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/wallets_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/workspaces_rest.py
Due: api, webserver

fixe imports
  services/web/server/src/simcore_service_webserver/folders/_trash_service.py
  services/web/server/src/simcore_service_webserver/projects/projects_trash_service.py
  services/web/server/src/simcore_service_webserver/workspaces/_trash_services.py
Due: webserver

cleanup
  services/web/server/src/simcore_service_webserver/db_listener/plugin.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_guests.py
  services/web/server/src/simcore_service_webserver/projects/projects_service_legacy.py
Due: webserver

more refactoring
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Due: webclient

fix
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

draft
  api/specs/web-server/_projects_groups.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_groups.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_utils.py
  services/web/server/src/simcore_service_webserver/projects/_access_rights_repository.py
  services/web/server/src/simcore_service_webserver/projects/_access_rights_service.py
  services/web/server/src/simcore_service_webserver/projects/_controller/groups_rest.py
  services/web/server/src/simcore_service_webserver/projects/_groups_repository.py
  services/web/server/src/simcore_service_webserver/projects/_groups_service.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_service.py
  services/web/server/src/simcore_service_webserver/projects/_workspaces_service.py
  services/web/server/src/simcore_service_webserver/projects/projects_groups_repository.py
  services/web/server/src/simcore_service_webserver/projects/projects_groups_service.py
  services/web/server/tests/unit/with_dbs/03/trash/test_trash.py
Due: api, pkg_models_library, webserver

fixes node_rest imports
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
Due: webserver

fixes api-keys tests
  services/web/server/src/simcore_service_webserver/folders/_folders_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_db.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
Due: webserver
