Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

removed suppression
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Due: director_v2

remove unused
  services/notifications/src/simcore_service_notifications/models/message.py
Due: none

remove raise
  services/notifications/src/simcore_service_notifications/renderers/renderer.py
Due: none

use module
  services/notifications/tests/unit/conftest.py
Due: none

revert
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
Due: webserver

minor fix
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest.py
Due: webserver

fix import
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest.py
Due: webserver

permission
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest.py
Due: webserver

revert
  packages/pytest-simcore/src/pytest_simcore/celery_library_mocks.py
Due: none

fix
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
Due: api_server

removed network
  services/docker-compose.yml
Due: none

remove
  packages/service-library/src/servicelib/celery/models.py
Due: pkg_service_library

fix
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest.py
Due: webserver

refactor
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest.py
  services/web/server/src/simcore_service_webserver/notifications/_models.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
  services/web/server/src/simcore_service_webserver/users/_accounts_service.py
Due: webserver

Update packages/notifications-library/src/notifications_library/_templates.py
  packages/notifications-library/src/notifications_library/_templates.py
Due: pkg_notifications_library

use set
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

add exc
  packages/models-library/src/models_library/notifications_errors.py
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: pkg_models_library, webserver

frozen models
  services/web/server/src/simcore_service_webserver/notifications/_models.py
Due: webserver

fix
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
Due: api_server

fix
  packages/service-library/src/servicelib/celery/models.py
Due: pkg_service_library

typecheck
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
Due: api_server

fix
  packages/models-library/src/models_library/api_schemas_notifications/message.py
Due: pkg_models_library

add doc
  api/specs/web-server/_notifications.py
Due: api

fix
  packages/models-library/src/models_library/api_schemas_notifications/preview.py
Due: pkg_models_library

fix
  services/notifications/tests/unit/test_api_celery_send_email.py
Due: none

WIP
  packages/postgres-database/src/simcore_postgres_database/models/dynamic_services_scheduler.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/services_scheduler/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/services_scheduler/dag.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/services_scheduler/engine.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/services_scheduler/lifespan.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/services_scheduler/materialize.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/services_scheduler/models.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/services_scheduler/registry.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/services_scheduler/repository.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/services_scheduler/templates.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/services_scheduler/wakeup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/services_scheduler/worker.py
  services/dynamic-scheduler/tests/unit/services/services_scheduler/test_nodes_active_run_cleared_on_success.py
Due: pkg_postgres_database, dynamic_scheduler

fixes
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

fixes
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/notifications/notifications_templates.py
Due: pkg_service_library

fix
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

add rest controller tests
  services/web/server/tests/unit/with_dbs/04/notifications/conftest.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications_controller_rest.py
Due: webserver

fix
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications_controller_rest.py
Due: webserver

fix
  services/web/server/tests/unit/with_dbs/04/notifications/conftest.py
Due: webserver

remove dep
  services/web/server/tests/unit/with_dbs/04/notifications/conftest.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications_controller_rest.py
Due: webserver

fix
  services/notifications/tests/unit/test_api_rpc_templates.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/api/rpc/_notifications.py
Due: none

add limits
  packages/models-library/src/models_library/api_schemas_webserver/notifications.py
Due: pkg_models_library

fix annotated
  packages/models-library/src/models_library/api_schemas_webserver/notifications.py
Due: pkg_models_library

fix
  packages/models-library/src/models_library/rpc/notifications/template.py
  services/notifications/tests/unit/test_api_rpc_templates.py
Due: pkg_models_library

fix cyclic dep
  services/web/server/src/simcore_service_webserver/notifications/_helpers.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
  services/web/server/src/simcore_service_webserver/users/_accounts_service.py
Due: webserver

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
