Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fix
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

fix name
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

added step_fail_history
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_repositories/step_fail_history.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/_repositories/conftest.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/_repositories/test_runs.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/_repositories/test_step_fail_history.py
Due: dynamic_scheduler

connect to api
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_api.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_workflow_manager.py
Due: dynamic_scheduler

added steps_lease test
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_repositories/steps_lease.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/_repositories/test_steps_lease.py
Due: dynamic_scheduler

refactor
  services/dynamic-scheduler/tests/unit/services/p_scheduler/_repositories/test_steps_lease.py
Due: dynamic_scheduler

WIP Codex crop
  AGENTS.md
  services/catalog/src/simcore_service_catalog/cli.py
  services/catalog/tests/unit/test_cli.py
  services/director/src/simcore_service_director/api/rest/_services.py
  services/director/src/simcore_service_director/registry_proxy.py
  services/director/tests/unit/api/test_rest_services.py
Due: catalog, director

refactor
  packages/models-library/src/models_library/notifications.py
  packages/models-library/src/models_library/rpc/notifications/template.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/notifications/notifications_templates.py
  services/notifications/src/simcore_service_notifications/api/rpc/_notifications.py
  services/notifications/src/simcore_service_notifications/renderers/_jinja_renderer.py
  services/notifications/tests/unit/test_api_rpc_templates.py
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
  services/web/server/src/simcore_service_webserver/notifications/notifications_service.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications_controller_rest.py
Due: pkg_models_library, pkg_service_library, webserver

fix
  services/notifications/src/simcore_service_notifications/renderers/_jinja_renderer.py
Due: none

make default max number of instances large enough
  services/autoscaling/tests/unit/conftest.py
Due: autoscaling

improve coverage
  packages/service-library/src/servicelib/tracing.py
  packages/service-library/tests/fastapi/test_tracing.py
Due: pkg_service_library

cleanup
  packages/service-library/tests/fastapi/test_tracing.py
Due: pkg_service_library

revert wrong ruff change
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
Due: director_v2

clean
  packages/service-library/src/servicelib/tracing.py
Due: pkg_service_library

increase timeout
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
Due: none

automatically find if we are root
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
Due: director_v2

use official formatting
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
Due: director_v2

remove useless comments
  packages/service-library/src/servicelib/tracing.py
Due: pkg_service_library

added test
  packages/service-library/tests/aiohttp/test_tracing.py
Due: pkg_service_library

@bisgaard-itis review: add a info log where the link is created
  packages/service-library/src/servicelib/tracing.py
Due: pkg_service_library

added aiohttp otel client
  services/director-v2/requirements/_base.in
  services/director-v2/requirements/_base.txt
Due: director_v2

clean
  packages/service-library/tests/fastapi/test_tracing.py
Due: pkg_service_library

@mrnicegyu11 review: also add wallet_id
  packages/service-library/src/servicelib/tracing.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
Due: pkg_service_library, director_v2

always inject the tracing context
  packages/service-library/src/servicelib/tracing.py
Due: pkg_service_library

refactor
  packages/service-library/src/servicelib/tracing.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
Due: pkg_service_library, director_v2

minor
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/tracing.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
Due: pkg_service_library, director_v2

add aiohttp client tracing in fastapi apps
  packages/service-library/src/servicelib/fastapi/tracing.py
Due: pkg_service_library

change in REST api
  services/director-v2/openapi.json
Due: director_v2

fixed autoscaling tests
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
Due: autoscaling

refactoring
  packages/service-library/src/servicelib/tracing.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
Due: pkg_service_library, director_v2

add a fake tracing config
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_observer.py
Due: director_v2

auto-add user id
  packages/service-library/src/servicelib/aiohttp/tracing.py
Due: pkg_service_library

first trial
  packages/service-library/src/servicelib/fastapi/tracing.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
Due: pkg_service_library, director_v2

refactor
  packages/service-library/src/servicelib/tracing.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
Due: pkg_service_library, director_v2

refactor and test
  packages/service-library/src/servicelib/tracing.py
Due: pkg_service_library

refactor
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/fastapi/tracing.py
  packages/service-library/src/servicelib/tracing.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
Due: pkg_service_library, director_v2

@mrnicegyu11 review: remove useless call
  packages/service-library/src/servicelib/tracing.py
Due: pkg_service_library

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
