Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

Remove type casting as suggested by OM in CreateFunction
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Due: webclient

🎨 [Frontend] Support any image url in the Hypertool buttons (#7720)
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
Due: webclient

minor cleanup
  tests/performance/locust_files/functions/workflow.py
Due: none

✨ [Frontend] Allow users access not-running latest runs (#7723)
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/jobs/ActivityOverview.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Due: webclient

catalog renaming
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/src/simcore_service_catalog/repository/services.py
  services/catalog/src/simcore_service_catalog/service/catalog_services.py
  services/catalog/tests/unit/with_dbs/test_repositories.py
Due: catalog

✨ [Backend] Update solvers endpoint to list all available solvers with pagination and improve method naming for clarity
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
Due: api_server

✨ [Backend] Add async function for paginated listing of service summaries and refactor mock setup in tests
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  services/api-server/tests/unit/conftest.py
Due: pkg_models_library, api_server

✨ [Backend] Add async function to list all service summaries with pagination for improved performance
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
Due: api_server

doc
  services/api-server/docs/api-server.drawio.svg
Due: api_server

fixes test
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers.py
Due: pkg_models_library, api_server

✨ [Backend] Add async method to list all solvers with pagination and filtering, including all versions
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
Due: api_server

drafts tests for listing
  services/catalog/src/simcore_service_catalog/repository/_services_sql.py
  services/catalog/src/simcore_service_catalog/repository/services.py
  services/catalog/tests/unit/with_dbs/test_repositories.py
Due: catalog

draft implementation
  services/catalog/src/simcore_service_catalog/repository/services.py
  services/catalog/tests/unit/with_dbs/test_repositories.py
Due: catalog

cleanup
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: pkg_models_library, webserver

doc
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
Due: api_server

✨ [Backend] Enhance catalog services to return summaries and add new PageRpc type
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  services/catalog/src/simcore_service_catalog/service/catalog_services.py
  services/catalog/tests/unit/with_dbs/test_service_catalog_services.py
Due: pkg_models_library, catalog

minimal model for a service
  packages/models-library/src/models_library/api_schemas_catalog/services.py
Due: pkg_models_library

fix
  packages/models-library/src/models_library/api_schemas_catalog/services.py
Due: pkg_models_library

✨ [Backend] Add async function to list all catalog services with pagination and access rights
  services/catalog/src/simcore_service_catalog/service/catalog_services.py
  services/catalog/tests/unit/with_dbs/test_service_catalog_services.py
Due: catalog

✨ [Backend] Implement paginated listing of service summaries for improved performance
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
Due: pkg_service_library, catalog

refactoring
  services/catalog/src/simcore_service_catalog/service/catalog_services.py
Due: catalog

@GitHK review: doc
  packages/models-library/src/models_library/api_schemas_catalog/services.py
Due: pkg_models_library

@bisgaard-itis review: wrong condition
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
Due: none

@bisgaard-itis review: getattr
  services/catalog/src/simcore_service_catalog/service/catalog_services.py
Due: catalog

services/webserver api version: 0.65.0 → 0.66.0
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

Let frontend return 'number' instead of 'float' for the func schema 🐛 (#7726)
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Due: webclient

fixes mypy
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
Due: webserver

linter
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
Due: director_v2

upgrade to dask 2025
  scripts/maintenance/computational-clusters/pyproject.toml
  scripts/maintenance/computational-clusters/uv.lock
Due: none

maybe a fix
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
Due: director_v2

add this one
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Due: director_v2

some improvement on the test
  packages/dask-task-models-library/tests/container_tasks/test_io.py
Due: pkg_dask_task_models_library

added test
  packages/dask-task-models-library/tests/container_tasks/test_io.py
Due: pkg_dask_task_models_library

only keep values in schema and ignore the rest
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
Due: pkg_dask_task_models_library

improved errors
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
Due: director_v2

mypy
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
Due: director_v2

fixes tests
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
Due: webserver

add load test for run endpoint
  tests/performance/locust_files/functions/workflow.py
Due: none

adds invitation options
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
Due: pkg_models_library, webserver

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
