Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

refactor
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/services/notifier.py
  services/payments/src/simcore_service_payments/services/notifier_email.py
  services/payments/tests/unit/test_services_notifier.py
  services/payments/tests/unit/test_services_notifier_email.py
Due: payments

fixed test
  services/dynamic-scheduler/tests/integration/test_temporal_workflows.py
Due: dynamic_scheduler

handle PlaywrightError when evaluating icon class for simulation and export buttons
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

refactor
  services/dynamic-scheduler/tests/integration/conftest.py
Due: dynamic_scheduler

🐛 Stabilize flaky auth decorator overhead test by using high-resolution timing and safe ratio calculation (#9041)
  services/web/server/tests/unit/isolated/test_security_web.py
Due: webserver

add bcc
  packages/models-library/src/models_library/notifications/rpc/_email.py
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_email.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/services/notifier.py
  services/payments/src/simcore_service_payments/services/notifier_email.py
Due: pkg_models_library, payments

refactor
  packages/models-library/src/models_library/notifications/rpc/_email.py
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_email.py
Due: pkg_models_library

[e2e] TIP pers: Fix Simulation run checks (#9043)
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

fix
  services/static-webserver/client/source/class/osparc/conversation/NotificationUI.js
Due: webclient

refactor
  services/dynamic-scheduler/tests/unit/services/t_scheduler/test_saga_workflow.py
Due: dynamic_scheduler

fixed test
  services/web/server/tests/integration/01/test_computation.py
  services/web/server/tests/integration/conftest.py
Due: webserver

proposal
  .github/instructions/vscode-sandbox.instructions.md
Due: none

PopUpLogMessage
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
Due: webclient

colors
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
Due: webclient

log level
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
Due: webclient

copyToClipboard
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
Due: webclient

better practices
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
Due: webclient

positioning
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
Due: webclient

rename
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
Due: webclient

aesthetics
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
Due: webclient

minors
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
Due: webclient

2000 logs max
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
Due: webclient

Update services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
Due: webclient

Update services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
Due: webclient

copilot reviews
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
Due: webclient

🐛 [Frontend] Redesign Logger log renderer (#9044)
  services/static-webserver/client/source/class/osparc/conversation/NotificationUI.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/PopUpLogMessage.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
Due: webclient

rename
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/_rest_exceptions.py
  services/web/server/tests/unit/isolated/test_login_rest_exceptions.py
Due: pkg_postgres_database, webserver

add TIP:
  services/web/server/src/simcore_service_webserver/login/constants.py
Due: webserver

fix
  services/web/server/src/simcore_service_webserver/login/_controller/rest/_rest_exceptions.py
  services/web/server/tests/unit/isolated/test_login_rest_exceptions.py
Due: webserver

fix
  services/web/server/src/simcore_service_webserver/login/_controller/rest/_rest_exceptions.py
Due: webserver

✨ feat(login): show targeted wrong-password message for merged sim4life accounts :warning: :ambulance: (#9035)
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/login/constants.py
  services/web/server/src/simcore_service_webserver/login/errors.py
  services/web/server/tests/unit/isolated/test_login_rest_exceptions.py
Due: pkg_postgres_database, webserver

renamed
  packages/settings-library/src/settings_library/temporalio.py
  services/docker-compose.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/t_scheduler/_lifespan.py
Due: pkg_settings_library, dynamic_scheduler

refactor
  .env-devel
  services/docker-compose.yml
Due: none

simoplify docstring
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/t_scheduler/_engine.py
Due: dynamic_scheduler

connected heartbeat
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/t_scheduler/_base_workflow.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/t_scheduler/_models.py
Due: dynamic_scheduler

dropped not used
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/workflows/_lifespan.py
Due: dynamic_scheduler

using other dumper
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/workflows/_snapshot.py
Due: dynamic_scheduler

refactor
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__health.py
Due: dynamic_scheduler

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
