Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

move
  packages/models-library/src/models_library/notifications/errors.py
Due: pkg_models_library

refactor styling
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
Due: webclient

fix imports
  services/notifications/src/simcore_service_notifications/api/rpc/_message.py
  services/notifications/src/simcore_service_notifications/api/rpc/_template.py
  services/notifications/src/simcore_service_notifications/exceptions/handlers.py
  services/notifications/src/simcore_service_notifications/services/_template.py
  services/notifications/tests/unit/test_api_rpc_message.py
  services/notifications/tests/unit/test_api_rpc_template.py
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

progress-bar to the top
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
Due: webclient

less backgroundColors
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
Due: webclient

generic envelope
  packages/models-library/src/models_library/notifications/rpc/__init__.py
  packages/models-library/src/models_library/notifications/rpc/_message.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/notifications/_message.py
  services/notifications/src/simcore_service_notifications/api/rpc/_message.py
  services/notifications/tests/unit/test_api_rpc_message.py
Due: pkg_models_library, pkg_service_library

reorder
  packages/models-library/src/models_library/notifications/rpc/_message.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/notifications/_message.py
  services/notifications/tests/unit/test_api_rpc_message.py
Due: pkg_models_library, pkg_service_library

show it card like
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
Due: webclient

add fixture
  services/notifications/tests/unit/conftest.py
  services/notifications/tests/unit/test_api_rpc_message.py
  services/notifications/tests/unit/test_api_rpc_template.py
Due: none

minor
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
Due: webclient

rename
  services/notifications/src/simcore_service_notifications/repositories/__init__.py
  services/notifications/src/simcore_service_notifications/repositories/_file_template.py
  services/notifications/src/simcore_service_notifications/repositories/_template.py
Due: none

continue
  services/notifications/src/simcore_service_notifications/api/rpc/_message.py
  services/notifications/src/simcore_service_notifications/services/_message.py
  services/notifications/tests/unit/test_api_rpc_message.py
Due: none

fix dependency
  services/notifications/src/simcore_service_notifications/api/rpc/_message.py
  services/notifications/src/simcore_service_notifications/api/rpc/dependencies.py
  services/notifications/src/simcore_service_notifications/services/_message.py
Due: none

separator-horizontal
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
Due: webclient

fix
  services/notifications/src/simcore_service_notifications/api/rpc/_message.py
  services/notifications/src/simcore_service_notifications/services/_message.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/api/rpc/dependencies.py
  services/notifications/src/simcore_service_notifications/services/_message.py
Due: none

separatorStyle
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
Due: webclient

⬆️ updated opentelemetry packages repowide (#8912)
  packages/aws-library/requirements/_base.txt
  packages/celery-library/requirements/_base.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/tracing.py
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/docker-api-proxy/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
  services/web/server/tests/unit/isolated/test_tracing.py
Due: pkg_aws_library, pkg_service_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage, webserver

ongoing
  scripts/maintenance/computational-clusters/autoscaled_monitor/constants.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/models.py
Due: none

@copilot review
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/models.py
Due: none

refactor
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
Due: none

minor
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
Due: none

rename
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/db.py
Due: none

simplify
  scripts/maintenance/computational-clusters/autoscaled_monitor/_helpers.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/analysis.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/computational/cancel_jobs.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/computational/summary.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/computational/terminate.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/dynamic/summary.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/dynamic/terminate.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/summary.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ec2.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/reconciliation.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
Due: none

minor
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/db.py
Due: none

removed pylint
  scripts/maintenance/computational-clusters/pyproject.toml
  scripts/maintenance/computational-clusters/uv.lock
Due: none

minor
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
Due: none

rename
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/cancel_jobs.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/terminate.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/db.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/reconciliation.py
Due: none

refactor
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/reconciliation.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
Due: none

refactor
  scripts/maintenance/computational-clusters/autoscaled_monitor/analysis.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/main.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
Due: none

ongoing
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/summary.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/db.py
Due: none

improve report
  scripts/maintenance/computational-clusters/autoscaled_monitor/analysis.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/constants.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/models.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
Due: none

migrated to asyncssh
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
Due: none

improve report
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
Due: none

improveing?
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/db.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/reconciliation.py
Due: none

perf
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/summary.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/reconciliation.py
Due: none

minor
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/cancel_jobs.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/db.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/reconciliation.py
Due: none

@copilot review
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/db.py
Due: none

@copilot review
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/dask.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/ssh.py
Due: none

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
