Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

empty trash button
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
Due: webclient

🐛 [Frontend] pydanticV2: Decimals are now Strings (#6853)
  services/static-webserver/client/source/class/osparc/data/model/Wallet.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsStepper.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsPerService.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CurrentUsage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/TransactionsTableModel.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UsageTableModel.js
  services/static-webserver/client/source/class/osparc/pricing/UnitData.js
  services/static-webserver/client/source/class/osparc/pricing/UnitEditor.js
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Due: webclient

refactor stop dialog
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_index.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/marker_tags.py
Due: dynamic_scheduler

rename
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_index.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/markers.py
Due: dynamic_scheduler

db
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/folders/_workspaces_api.py
  services/web/server/src/simcore_service_webserver/folders/_workspaces_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_folders_db.py
  services/web/server/src/simcore_service_webserver/projects/_workspaces_api.py
  services/web/server/src/simcore_service_webserver/utils.py
Due: webserver

open api specs
  api/specs/web-server/_folders.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, webserver

VIP Store
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

open vip store
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
Due: webclient

list models
  services/static-webserver/client/source/class/osparc/vipStore/AnatomicModelListItem.js
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/vipStore/AnatomicModelListItem.js
Due: webclient

new model
  packages/models-library/src/models_library/rest_error.py
  packages/pytest-simcore/src/pytest_simcore/helpers/assert_checks.py
Due: pkg_models_library

using new model
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/aiohttp/rest_models.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/src/servicelib/aiohttp/rest_utils.py
Due: pkg_service_library

logging
  packages/service-library/src/servicelib/logging_utils.py
Due: pkg_service_library

minor
  services/web/server/tests/unit/with_dbs/conftest.py
Due: webserver

oas
  api/specs/web-server/_auth.py
  api/specs/web-server/_common.py
  api/specs/web-server/_folders.py
  api/specs/web-server/_workspaces.py
  services/web/server/src/simcore_service_webserver/login/utils.py
Due: api, webserver

oas
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

error enveloped
  api/specs/web-server/_auth.py
  api/specs/web-server/_folders.py
  api/specs/web-server/_workspaces.py
  packages/models-library/src/models_library/rest_error.py
Due: api, pkg_models_library

fix
  api/specs/web-server/_folders.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, webserver

updates error envelope
  packages/models-library/src/models_library/rest_error.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: pkg_models_library, webserver

fixes agent
  packages/service-library/src/servicelib/logging_utils.py
Due: pkg_service_library

mypy
  packages/models-library/src/models_library/rest_error.py
Due: pkg_models_library

split and renamed
  services/web/server/src/simcore_service_webserver/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/exceptions_handlers_base.py
  services/web/server/src/simcore_service_webserver/exceptions_handlers_base_2.py
  services/web/server/src/simcore_service_webserver/exceptions_handlers_http_error_map.py
  services/web/server/src/simcore_service_webserver/folders/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_trash_handlers.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
Due: webserver

WIP: base2
  services/web/server/src/simcore_service_webserver/exceptions_handlers_base_2.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
Due: webserver

exceptions handlers async
  services/web/server/src/simcore_service_webserver/exceptions_handlers_base.py
  services/web/server/src/simcore_service_webserver/exceptions_handlers_http_error_map.py
  services/web/server/src/simcore_service_webserver/folders/_exceptions_handlers.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
Due: webserver

cleanup
  services/web/server/src/simcore_service_webserver/exceptions_handlers_base_2.py
Due: webserver

cleanup
  services/web/server/src/simcore_service_webserver/exceptions_handlers_base_2.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers_base_2.py
Due: webserver

handler return json.response
  services/web/server/src/simcore_service_webserver/exceptions_handlers_base.py
  services/web/server/src/simcore_service_webserver/exceptions_handlers_http_error_map.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
Due: webserver

slowly conforming to fastapi
  services/web/server/src/simcore_service_webserver/exceptions_handlers.py
Due: webserver

cleanup
  services/web/server/src/simcore_service_webserver/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/exceptions_handlers_base_2.py
  services/web/server/src/simcore_service_webserver/folders/_exceptions_handlers.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers_base_2.py
Due: webserver

compiling old ideas
  services/web/server/src/simcore_service_webserver/exceptions_handlers.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
Due: webserver

exception handlers
  services/web/server/src/simcore_service_webserver/exceptions_handlers.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
Due: webserver

refactor concept
  services/web/server/src/simcore_service_webserver/exceptions_handlers_base.py
  services/web/server/src/simcore_service_webserver/exceptions_handlers_http_error_map.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers_base.py
Due: webserver

args
  services/web/server/src/simcore_service_webserver/exceptions_handlers_base.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers_base.py
Due: webserver

json-error
  services/web/server/src/simcore_service_webserver/exceptions_handlers_http_error_map.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers.py
Due: webserver

tests usage decorators
  services/web/server/tests/unit/isolated/test_exception_handling.py
Due: webserver

renames
  services/web/server/src/simcore_service_webserver/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/exceptions_handlers_base.py
  services/web/server/src/simcore_service_webserver/exceptions_handlers_http_error_map.py
  services/web/server/src/simcore_service_webserver/folders/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_trash_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_exceptions_handlers.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers_base.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers_http_error_map.py
Due: webserver

tests
  services/web/server/src/simcore_service_webserver/exceptions_handlers_http_error_map.py
  services/web/server/tests/unit/isolated/test_exceptions_handlers_http_error_map.py
Due: webserver

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
