Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

🎨 E2E: be compatible with legacy services (#7134)
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

minor fix
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
Due: webclient

menu-wider
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

wider options button
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
Due: webclient

daily work
  api/specs/web-server/_licensed_items.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/models-library/src/models_library/licensed_items.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/7bde20ddf18e_modify_licensed_items_db.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_items.py
  packages/postgres-database/tests/licensed_items/conftest.py
  packages/postgres-database/tests/licensed_items/test_models_products.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/test_licensed_items.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/licenses/_common/models.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_repository.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_rest.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_rest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Due: api, pkg_models_library, pkg_postgres_database, pkg_service_library, api_server, webserver

rm redundant test
  packages/postgres-database/tests/licensed_items/conftest.py
  packages/postgres-database/tests/licensed_items/test_models_products.py
Due: pkg_postgres_database

[skip ci] more menu entries
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/data/model/StudyUI.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
Due: webclient

test
  services/api-server/tests/unit/test_licensed_items.py
Due: api_server

Update traefik router hardcoded priorities
  services/docker-compose-dev-vendors.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
Due: none

fix
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
Due: webclient

🐛 [Frontend] Fix: "New" translation (#7142)
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
Due: webclient

minor
  services/static-webserver/client/source/resource/osparc/new_studies.json
Due: webclient

buttons visibility
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
Due: webclient

[skip ci] minor
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
Due: webclient

added combine_lfiespan_context_managers
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  packages/service-library/tests/fastapi/test_lifespan_utils.py
Due: pkg_service_library

♻️ Update traefik router hardcoded priorities (#7141)
  services/docker-compose-dev-vendors.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
Due: none

updates db
  packages/models-library/src/models_library/licensed_items.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4f31760a63ba_add_data_to_licensed_items.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_items.py
Due: pkg_models_library, pkg_postgres_database

migrations
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4f31760a63ba_add_data_to_licensed_items.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_items.py
Due: pkg_postgres_database

adapts repository
  packages/models-library/src/models_library/licensed_items.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_repository.py
Due: pkg_models_library, webserver

using new docker client
  packages/service-library/src/servicelib/docker_utils.py
  services/docker-api-proxy/requirements/_test.in
  services/docker-api-proxy/requirements/_test.txt
  services/docker-api-proxy/requirements/_tools.txt
  services/docker-api-proxy/tests/integration/conftest.py
  services/docker-api-proxy/tests/integration/test_docker_api_proxy.py
  services/docker-api-proxy/tests/integration/test_docker_api_proxy_autenticated.py
Due: pkg_service_library

minor
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Due: webclient

Loading props
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Due: webclient

fix start Sim4LifeLite
  tests/e2e/utils/auto.js
Due: none

fix start_study_from_plus_button
  tests/e2e-playwright/tests/conftest.py
Due: none

removing vip mels
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/models-library/src/models_library/licensed_items.py
  packages/models-library/src/models_library/utils/common_validators.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/web/server/src/simcore_service_webserver/licenses/_common/models.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_rest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Due: pkg_models_library, api_server, webserver

🐛 [e2e] Fixes after new plus button (#7143)
  tests/e2e-playwright/tests/conftest.py
  tests/e2e/utils/auto.js
Due: none

remove some extras
  .github/mergify.yml
Due: none

remove wrong assumptions
  .github/mergify.yml
Due: none

automatic queue adding once coditions are met
  .github/mergify.yml
Due: none

better CI fail detection
  .github/mergify.yml
Due: none

restructure docs
  .github/mergify.yml
Due: none

🔨 Allow Mergify to detect more failing cases for CI restarts & Automatically add PRs to queue (#7133)
  .github/mergify.yml
Due: none

adapts repository
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_repository.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_repository.py
Due: pkg_models_library, webserver

openapi specs
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

fixes tests
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_repository.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_rest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Due: pkg_models_library, webserver

[skip ci] more refactoring
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Due: webclient

bring back hide toolbar logic
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Due: webclient

connect reload button
  services/static-webserver/client/source/class/osparc/data/model/IframeHandler.js
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
Due: webclient

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
