Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

some fine tuning
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_base_scheduler.py
Due: director_v2

fix json
  services/director-v2/tests/unit/conftest.py
Due: director_v2

support empty description
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
Due: webclient

notifications look like other menus
  services/static-webserver/client/source/class/osparc/notification/NotificationUI.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsContainer.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
Due: webclient

fix url
  services/dask-sidecar/src/simcore_service_dask_sidecar/file_utils.py
Due: dask_sidecar

Tag Data Model
  services/static-webserver/client/source/class/osparc/data/model/Tag.js
Due: webclient

fixed broken test
  services/web/server/src/simcore_service_webserver/exporter/_formatter/xlsx/code_description.py
Due: webserver

renamings
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
Due: webclient

🎨Computation backend: refactor director-v2 internal computational scheduler to be less resource heavy (#6696)
  packages/service-library/src/servicelib/redis_utils.py
  packages/service-library/tests/test_redis_utils.py
  services/director-v2/src/simcore_service_director_v2/api/dependencies/scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_task.py
  services/director-v2/src/simcore_service_director_v2/modules/redis.py
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/with_dbs/test_modules_comp_scheduler_dask_scheduler.py
Due: pkg_service_library, director_v2

fix url
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
Due: none

refactor
  services/web/server/tests/integration/01/test_exporter_requests_handlers.py
Due: webserver

fix url
  packages/aws-library/src/aws_library/s3/_client.py
  packages/pytest-simcore/src/pytest_simcore/aws_s3_service.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_aws_s3_cli.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_r_clone.py
  services/dynamic-sidecar/tests/integration/test_modules_long_running_tasks.py
Due: pkg_aws_library, pkg_simcore_sdk, dynamic_sidecar

fix env serialization
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
Due: none

fixed integration tests for osparc-gateway-server
  services/dask-sidecar/requirements/prod.txt
  services/dynamic-sidecar/requirements/prod.txt
  services/osparc-gateway-server/src/osparc_gateway_server/backend/osparc.py
Due: dask_sidecar, dynamic_sidecar, osparc_gateway_server

tag property
  services/static-webserver/client/source/class/osparc/data/model/Tag.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
Due: webclient

refactor
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
Due: none

Tags store
  services/static-webserver/client/source/class/osparc/store/Tags.js
Due: webclient

added missing imports
  services/agent/requirements/prod.txt
  services/api-server/requirements/prod.txt
  services/autoscaling/requirements/prod.txt
  services/catalog/requirements/prod.txt
  services/clusters-keeper/requirements/prod.txt
  services/datcore-adapter/requirements/prod.txt
  services/director-v2/requirements/prod.txt
  services/dynamic-scheduler/requirements/prod.txt
  services/efs-guardian/requirements/prod.txt
  services/invitations/requirements/prod.txt
  services/payments/requirements/prod.txt
  services/resource-usage-tracker/requirements/prod.txt
Due: agent, api_server, autoscaling, catalog, clusters_keeper, datcore_adapter, director_v2, dynamic_scheduler, efs_guardian, invitations, payments, resource_usage_tracker

fetch tags
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
Due: webclient

getTags
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/store/Tags.js
Due: webclient

deleteTag
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
Due: webclient

add project_tags to rut
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/service_runs.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/7b3a1c9a1e78_enhance_projects_tags_for_rut.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_tags.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/service_runs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/service_runs.py
  services/resource-usage-tracker/tests/unit/with_dbs/conftest.py
Due: pkg_models_library, pkg_postgres_database, resource_usage_tracker

put and post Tag
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/store/Tags.js
Due: webclient

cleanup
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/store/Tags.js
Due: webclient

add project_tags to rut
  services/web/server/tests/unit/with_dbs/03/resource_usage/test_usage_services__list.py
Due: webserver

🎨 Adding tracing to `agent` and `dynamic-sidecar` (🏗️ DEVOPS) (#6691)
  .env-devel
  services/agent/src/simcore_service_agent/core/application.py
  services/agent/src/simcore_service_agent/core/settings.py
  services/agent/tests/conftest.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/docker-compose-ops.yml
  services/docker-compose.yml
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/tests/conftest.py
Due: agent, director_v2, dynamic_sidecar

fix url
  packages/pytest-simcore/src/pytest_simcore/simcore_dask_service.py
Due: none

osparc.ui.basic.Tag expects the model
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/ui/basic/Tag.js
Due: webclient

fix
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/resource_tracker.py
Due: resource_usage_tracker

use won store and more modeling
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/filter/UserTagsFilter.js
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
Due: webclient

minor fix
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
Due: webclient

fixed pydanticv1 issue
  packages/models-library/src/models_library/api_schemas_catalog/services.py
Due: pkg_models_library

fixed test
  packages/pytest-simcore/src/pytest_simcore/simcore_dask_service.py
Due: none

modeling
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/form/tag/TagToggleButton.js
Due: webclient
