Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

not working yet
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
Due: webserver

pylint
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
Due: webserver

fix test
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Due: webserver

fixed test
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
Due: webserver

replacing test
  services/web/server/tests/integration/01/test_computation.py
Due: webserver

ensure project nodes is properly populated
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
Due: none

adding stuff
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
Due: webserver

tests are passing
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Due: webserver

missing types
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
Due: webserver

refactor
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
Due: webserver

updated openapi
  services/director-v2/openapi.json
Due: director_v2

use asyncpg
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
Due: webserver

that sucks
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

revert
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
Due: none

added some context
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
Due: none

improve test
  services/web/server/tests/integration/01/test_computation.py
Due: webserver

typo
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
Due: none

minor
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
Due: none

ruff
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
Due: none

refactor
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

added examples
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services_service.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
Due: pkg_models_library

typo
  services/dynamic-scheduler/tests/unit/service_tracker/test__api.py
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
  services/web/server/tests/unit/isolated/test_dynamic_scheduler.py
Due: dynamic_scheduler, webserver

test replaced and passing
  services/web/server/tests/integration/01/test_computation.py
  services/web/server/tests/integration/conftest.py
Due: webserver

typo
  services/dynamic-scheduler/tests/unit/service_tracker/test__api.py
Due: dynamic_scheduler

send notification when node is started/stopped
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

removed unnecessary test
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
  services/web/server/tests/integration/01/test_computation.py
Due: webserver

revert
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

use json_schema examples
  services/dynamic-scheduler/tests/unit/api_frontend/helpers.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__api.py
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
  services/web/server/tests/unit/isolated/test_dynamic_scheduler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: dynamic_scheduler, webserver

test is there
  services/web/server/tests/integration/01/test_computation.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

test with closed project
  services/web/server/tests/integration/01/test_computation.py
Due: webserver

revert
  services/web/server/tests/unit/isolated/test_dynamic_scheduler.py
Due: webserver

refactor
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
Due: none

add some more checks
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

ongoing
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

revert test
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

ongoing
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

port start_study_job code to job_service
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_read.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
Due: api_server

refactor long running manager
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_manager.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_manager.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_server.py
  packages/service-library/src/servicelib/long_running_tasks/_rabbit/lrt_server.py
  packages/service-library/src/servicelib/long_running_tasks/base_long_running_manager.py
  packages/service-library/src/servicelib/long_running_tasks/lrt_api.py
  packages/service-library/tests/long_running_tasks/conftest.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_lrt_api.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
  packages/service-library/tests/long_running_tasks/utils.py
Due: pkg_service_library

alliged all names as in #8220
  services/docker-compose.yml
Due: none

using relative imports
  packages/service-library/src/servicelib/aiohttp/profiler_middleware.py
  packages/service-library/src/servicelib/long_running_tasks/_store/redis.py
  packages/service-library/src/servicelib/long_running_tasks/lrt_api.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
Due: pkg_service_library

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
