Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fix for logstreamer
  services/api-server/tests/unit/celery/conftest.py
Due: api_server

rename
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/ConversationsProject.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
Due: webclient

fix
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
Due: webclient

rename
  services/static-webserver/client/source/class/osparc/store/ConversationsProject.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
Due: webclient

fix
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/SupportCenter.js
Due: webclient

tests: use in-memory Redis
  packages/celery-library/tests/conftest.py
Due: none

fix: rename
  packages/celery-library/src/celery_library/signals.py
  packages/celery-library/tests/conftest.py
  packages/service-library/src/servicelib/celery/app_server.py
  packages/service-library/src/servicelib/fastapi/celery/app_server.py
Due: pkg_service_library

new conversation
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

spacer top
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

postConversation
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/ConversationsProject.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/study/Conversation.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  services/static-webserver/client/source/class/osparc/support/SupportCenter.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Due: webclient

conversationCreated
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/Conversations.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
Due: webclient

changeLastMessage
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
Due: webclient

working
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
Due: webclient

shareProjectCB
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

fixes
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

shareProjectWithSupport
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

cleanup
  services/static-webserver/client/source/class/osparc/support/SupportCenter.js
Due: webclient

fixes
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

upgrade to registry v3
  Makefile
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  services/docker-compose-ops-registry.yml
  tests/e2e/docker-compose.yml
Due: none

do full round trip in test
  packages/models-library/src/models_library/functions.py
  services/api-server/tests/unit/celery/test_functions.py
Due: pkg_models_library, api_server

test passing
  services/api-server/src/simcore_service_api_server/api/routes/tasks.py
  services/api-server/tests/unit/celery/test_functions.py
Due: api_server

delete unused stuff
  scripts/metrics/Makefile
  scripts/metrics/compute_list_of_images_in_registry.py
  scripts/metrics/requirements.txt
Due: none

be compatible with docker image manifest v2 schema 2
  services/director/src/simcore_service_director/core/errors.py
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

start converting task tests
  services/api-server/tests/unit/celery/conftest.py
  services/api-server/tests/unit/celery/test_functions.py
  services/api-server/tests/unit/celery/test_tasks.py
Due: api_server

minor change
  services/api-server/tests/unit/celery/test_tasks.py
Due: api_server

upgraded director-v0 to be compatible with both registries
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  services/director/tests/unit/fixtures/fake_services.py
  services/director/tests/unit/test_registry_proxy.py
Due: director

🎨Director-v0: compatible with both registries + upgraded registry to v3 (#8240)
  Makefile
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
  scripts/metrics/Makefile
  scripts/metrics/compute_list_of_images_in_registry.py
  scripts/metrics/requirements.txt
  services/director/src/simcore_service_director/core/errors.py
  services/director/src/simcore_service_director/registry_proxy.py
  services/director/tests/unit/fixtures/fake_services.py
  services/director/tests/unit/test_registry_proxy.py
  services/docker-compose-ops-registry.yml
  tests/e2e/docker-compose.yml
Due: director

minor changes
  services/api-server/src/simcore_service_api_server/api/dependencies/celery.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/tasks.py
Due: api_server

Renames support message creation method for clarity
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_messages_rest.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_service.py
Due: webserver

add examples to celery-library models and use them in mocks
  packages/pytest-simcore/src/pytest_simcore/celery_library_mocks.py
  packages/service-library/src/servicelib/celery/models.py
  services/api-server/src/simcore_service_api_server/api/dependencies/celery.py
  services/api-server/tests/unit/celery/test_tasks.py
Due: pkg_service_library, api_server

fix: shutdown
  packages/celery-library/tests/conftest.py
Due: none

fix support user access permissions to messages
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_messages_rest.py
Due: webserver

removed unsued feature
  .github/workflows/ci-testing-deploy.yml
  ci/github/helpers/install_rclone_docker_volume_plugin.bash
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
Due: director_v2

removed unused
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
Due: director_v2

fix: worker shutdown
  packages/celery-library/tests/conftest.py
Due: none

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
