Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

minor
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
Due: webclient

remove wrong usage
  services/director/tests/unit/test_producer.py
Due: director

equal to dark
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Due: webclient

less white
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Due: webclient

unused
  services/static-webserver/client/source/class/osparc/Application.js
Due: webclient

further changes to reduce noise
  packages/models-library/src/models_library/api_schemas__common/meta.py
  services/api-server/Makefile
  services/api-server/src/simcore_service_api_server/models/schemas/meta.py
Due: pkg_models_library, api_server

reduce noise further
  packages/models-library/src/models_library/api_schemas_webserver/resource_usage.py
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
Due: pkg_models_library, api_server

handle study endpoints
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/models/pagination.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
Due: api_server

revert capture change
  services/api-server/tests/mocks/on_list_jobs.json
Due: api_server

revert unit test change
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
Due: api_server

Revert "revert unit test change"
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
Due: api_server

revert changes to unit tests
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
Due: api_server

tracing can be disabled on all services which use it
  .env-devel
  services/docker-compose.yml
Due: none

update openapi.json
  services/api-server/openapi.json
Due: api_server

reset meta.py
  packages/models-library/src/models_library/api_schemas__common/meta.py
Due: pkg_models_library

reset GetCreditsPrice
  packages/models-library/src/models_library/api_schemas_webserver/product.py
Due: pkg_models_library

fix default
  packages/models-library/src/models_library/service_settings_labels.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
Due: pkg_models_library, director_v2

reset WalletGet
  packages/models-library/src/models_library/api_schemas_webserver/wallets.py
Due: pkg_models_library

improve makefile
  services/api-server/Makefile
Due: api_server

revert files.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
Due: api_server

revert changes to solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
Due: api_server

revert studies.py
  services/api-server/src/simcore_service_api_server/api/routes/studies.py
Due: api_server

revert studies_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
Due: api_server

revert models groups.py and pagination.py
  services/api-server/src/simcore_service_api_server/models/domain/groups.py
  services/api-server/src/simcore_service_api_server/models/pagination.py
Due: api_server

continue fixing
  packages/settings-library/src/settings_library/basic_types.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/scheduler.py
  services/director-v2/tests/unit/test_core_settings.py
Due: pkg_settings_library, director_v2

revise models files.py
  services/api-server/src/simcore_service_api_server/models/schemas/files.py
Due: api_server

revert changes to models jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
Due: api_server

revert schemas profiles.py
  services/api-server/src/simcore_service_api_server/models/schemas/profiles.py
Due: api_server

revert models solvers.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
Due: api_server

fix url
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
Due: director_v2

revert unwanted changes in models studies.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
Due: api_server

minors
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Due: webclient

fix url
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
Due: director_v2

message rephrased
  services/static-webserver/client/source/class/osparc/share/CollaboratorsService.js
Due: webclient

addEditors done
  services/static-webserver/client/source/class/osparc/share/CollaboratorsService.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsWorkspace.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
Due: webclient

rephrase
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
Due: webclient

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
