Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fix types
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
Due: webserver

shouldShowFn
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/ui/table/cellrenderer/ImageButtonRenderer.js
Due: webclient

conditional cancel button
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
Due: webclient

fix
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_interfaces_async_jobs.py
Due: pkg_service_library

hidden by default
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
Due: webclient

comment
  services/static-webserver/client/source/class/osparc/data/Resources.js
Due: webclient

fix
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_db_repositories_comp_runs.py
Due: director_v2

🎨 [Frontend] New Collaborators: Info button with tooltip (#8075)
  services/static-webserver/client/source/class/osparc/filter/CollaboratorToggleButton.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Due: webclient

tests: update models
  packages/models-library/src/models_library/rpc/notifications/messages.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/notifications/messages.py
  services/notifications/src/simcore_service_notifications/api/rpc/_notifications.py
  services/notifications/src/simcore_service_notifications/clients/celery.py
  services/notifications/src/simcore_service_notifications/modules/celery/_email_tasks.py
  services/notifications/src/simcore_service_notifications/modules/celery/tasks.py
  services/notifications/src/simcore_service_notifications/services/notifications_service.py
  services/notifications/tests/unit/test_tasks.py
Due: pkg_models_library, pkg_service_library

✨ [Frontend] Update to new collection runs (#8074)
  services/static-webserver/client/source/class/osparc/data/Job.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/SubJob.js
  services/static-webserver/client/source/class/osparc/jobs/ActivityCenterWindow.js
  services/static-webserver/client/source/class/osparc/jobs/ActivityOverview.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTableModel.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
  services/static-webserver/client/source/class/osparc/ui/table/cellrenderer/ImageButtonRenderer.js
Due: webclient

fix
  packages/postgres-database/src/simcore_postgres_database/models/comp_runs_collections.py
  services/web/server/src/simcore_service_webserver/director_v2/_comp_runs_collections_repository.py
  services/web/server/src/simcore_service_webserver/director_v2/_comp_runs_collections_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/rest.py
Due: pkg_postgres_database, webserver

migration
  packages/postgres-database/src/simcore_postgres_database/migration/versions/61b98a60e934_computational_collection_uniquencess.py
Due: pkg_postgres_database

update text
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Due: webclient

update search text
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Due: webclient

deleteEnabled property
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
Due: webclient

setDeleteEnabled
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/widget/StudyDataManager.js
Due: webclient

add test
  services/web/server/src/simcore_service_webserver/director_v2/_comp_runs_collections_repository.py
  services/web/server/tests/integration/02/test_computation.py
Due: webserver

studyData as arg
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/widget/StudyDataManager.js
Due: webclient

canIDelete
  services/static-webserver/client/source/class/osparc/widget/StudyDataManager.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
Due: webclient

...
  services/static-webserver/client/source/class/osparc/data/Resources.js
Due: webclient

🎨 [Frontend] UX: Disable Delete button (#8082)
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/widget/StudyDataManager.js
Due: webclient

feat: add async_jobs
  services/notifications/src/simcore_service_notifications/api/rpc/routes.py
  services/notifications/tests/unit/test_send_email_tasks.py
Due: none

@GitHK _dict -> filter_dict
  packages/celery-library/src/celery_library/utils.py
Due: none

@GitHK use Self
  packages/service-library/src/servicelib/celery/models.py
Due: pkg_service_library

use Final[str]
  services/api-server/src/simcore_service_api_server/api/routes/tasks.py
Due: api_server

improve function naming
  services/api-server/src/simcore_service_api_server/api/routes/tasks.py
Due: api_server

fix
  services/catalog/src/simcore_service_catalog/clients/director.py
  services/director/src/simcore_service_director/core/application.py
Due: catalog, director

🐛Director-v0: ensure error are enveloped too (#8081)
  services/catalog/src/simcore_service_catalog/clients/director.py
  services/director/src/simcore_service_director/core/application.py
Due: catalog, director

refactor
  services/static-webserver/client/source/class/osparc/NewUITracker.js
Due: webclient

startTracker
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
Due: webclient

checkNewUI
  services/static-webserver/client/source/class/osparc/Application.js
Due: webclient

Show Closable Ribbon Message 4 days in advance
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
Due: webclient

undo
  services/static-webserver/client/source/class/osparc/NewUITracker.js
Due: webclient

remove profile spans to see if they are causing tests to fail
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/_computations.py
  services/web/server/src/simcore_service_webserver/users/_notifications_rest.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
Due: catalog, director_v2, webserver

101
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusButton.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/Application.js
Due: webclient

decouple models @sanderegg
  packages/celery-library/src/celery_library/rpc/_async_jobs.py
  packages/celery-library/tests/unit/test_async_jobs.py
  packages/service-library/src/servicelib/celery/models.py
  services/storage/src/simcore_service_storage/api/rest/_files.py
  services/storage/src/simcore_service_storage/api/rpc/_paths.py
  services/storage/src/simcore_service_storage/api/rpc/_simcore_s3.py
Due: pkg_service_library, storage

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
