Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

refactor
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
Due: webclient

revert change
  packages/service-library/tests/aiohttp/long_running_tasks/__init__.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_context_manager.py
Due: pkg_service_library

made modules flat
  packages/service-library/src/servicelib/long_running_tasks/_lrt_client.py
  packages/service-library/src/servicelib/long_running_tasks/_lrt_server.py
  packages/service-library/src/servicelib/long_running_tasks/_models.py
  packages/service-library/src/servicelib/long_running_tasks/_rabbit/__init__.py
  packages/service-library/src/servicelib/long_running_tasks/_rabbit_namespace.py
  packages/service-library/src/servicelib/long_running_tasks/_serialization.py
  packages/service-library/src/servicelib/long_running_tasks/base_long_running_manager.py
  packages/service-library/src/servicelib/long_running_tasks/lrt_api.py
Due: pkg_service_library

removed _models
  packages/service-library/src/servicelib/long_running_tasks/_lrt_client.py
  packages/service-library/src/servicelib/long_running_tasks/_lrt_server.py
  packages/service-library/src/servicelib/long_running_tasks/_models.py
  packages/service-library/src/servicelib/long_running_tasks/models.py
Due: pkg_service_library

minor
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
Due: webclient

bind props
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

fixed ciruclar dependency
  packages/service-library/src/servicelib/long_running_tasks/_lrt_server.py
  packages/service-library/src/servicelib/long_running_tasks/base_long_running_manager.py
Due: pkg_service_library

minor
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

Refactors conversation endpoints to use query helpers
  api/specs/web-server/_conversations.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, webserver

moved inputs to services
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/_dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rpc/_containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rpc/routes.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/inputs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/outputs.py
Due: dynamic_sidecar

fixed
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/outputs.py
Due: dynamic_sidecar

refactr
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
Due: dynamic_sidecar

working
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/Conversations.js
  services/static-webserver/client/source/class/osparc/support/SupportCenter.js
Due: webclient

feat: return updated access rights
  api/specs/web-server/_functions.py
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_functions_exceptions.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions/test_functions_service.py
Due: api, pkg_models_library, webserver

aesthetics
  services/static-webserver/client/source/class/osparc/support/SupportCenter.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/support/Conversations.js
Due: webclient

added tests
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_sidecar/container_extensions.py
  services/dynamic-sidecar/tests/unit/api/rpc/test__container_extensions.py
Due: pkg_service_library, dynamic_sidecar

reverted inputs placement
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/_dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rpc/_containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/inputs.py
  services/dynamic-sidecar/tests/unit/api/rpc/test__container_extensions.py
Due: dynamic_sidecar

properly extracted internals
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rpc/_containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/container_extensions.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/outputs.py
Due: dynamic_sidecar

refactor interface
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/_dependencies.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/container_extensions.py
Due: dynamic_sidecar

fix
  api/specs/web-server/_conversations.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/tests/unit/with_dbs/04/conversations/__init__.py
Due: api, webserver

added rpc interface for create_output_dirs
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_sidecar/container_extensions.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rpc/_containers_extension.py
  services/dynamic-sidecar/tests/unit/api/rpc/test__container_extensions.py
Due: pkg_service_library, dynamic_sidecar

start moving out url_for
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_read.py
  services/api-server/src/simcore_service_api_server/models/api_resources.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_models_converters.py
  services/api-server/tests/unit/service/test_service_jobs.py
  services/api-server/tests/unit/test_services_solver_job_models_converters.py
Due: api_server

ConversationListItem
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
  services/static-webserver/client/source/class/osparc/support/Conversations.js
Due: webclient

JobRestInterfaceLinks -> JobInterfaceLinks
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_read.py
  services/api-server/src/simcore_service_api_server/models/api_resources.py
  services/api-server/src/simcore_service_api_server/models/schemas/jobs.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_models_converters.py
  services/api-server/tests/unit/service/test_service_jobs.py
  services/api-server/tests/unit/test_services_solver_job_models_converters.py
Due: api_server

✨ First iteration backend for support center (🗃️) (#8212)
  api/specs/web-server/_conversations.py
  api/specs/web-server/_projects_conversations.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_webserver/conversations.py
  packages/models-library/src/models_library/conversations.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/b566f1b29012_modify_conversations.py
  packages/postgres-database/src/simcore_postgres_database/models/conversations.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/conversations/_controller/__init__.py
  services/web/server/src/simcore_service_webserver/conversations/_controller/_common.py
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_messages_rest.py
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_rest.py
  services/web/server/src/simcore_service_webserver/conversations/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_service.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_repository.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_service.py
  services/web/server/src/simcore_service_webserver/conversations/_socketio.py
  services/web/server/src/simcore_service_webserver/conversations/conversations_service.py
  services/web/server/src/simcore_service_webserver/conversations/errors.py
  services/web/server/src/simcore_service_webserver/conversations/plugin.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/projects/_controller/conversations_rest.py
  services/web/server/src/simcore_service_webserver/projects/_conversations_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_conversations_handlers.py
  services/web/server/tests/unit/with_dbs/04/conversations/__init__.py
  services/web/server/tests/unit/with_dbs/04/conversations/test_conversations_messages_rest.py
  services/web/server/tests/unit/with_dbs/04/conversations/test_conversations_rest.py
Due: api, pkg_models_library, pkg_postgres_database, webserver

move file
  services/static-webserver/client/source/class/osparc/study/Conversation.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
Due: webclient

extracted common interface
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_extension.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/container_extensions.py
Due: dynamic_sidecar

lastMessages
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
Due: webclient

fix: access right permissions when getting
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_functions_exceptions.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
Due: pkg_models_library, webserver

feat: add get permissions
  api/specs/web-server/_functions.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
Due: api, webserver

don't override
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
Due: webclient

fix: route name
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
Due: webserver

minor
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
Due: webclient

fix: result validation
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
Due: webserver

post support message
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/store/ConversationsProject.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Due: webclient

addConversation
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/SupportCenter.js
Due: webclient

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
