Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fixed service building
  services/notifications/setup.py
Due: none

🎨 replace project_id and node_id with appropriate labels when exporting (#7508)
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils/simcore_s3_dsm_utils.py
  services/storage/tests/unit/test_simcore_s3_dsm_utils.py
Due: storage

plus menu sorting
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
Due: webclient

avoid null services
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Due: webclient

not needed
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

avoid null services
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
Due: webclient

rename
  packages/postgres-database/tests/test_models_api_keys.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/api-server/tests/unit/_with_db/conftest.py
Due: pkg_postgres_database, api_server

🐛 [Frontend] Fix: Service catalog listing (#7559)
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ServiceBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Due: webclient

fix ordering of tasks
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

uniformize
  scripts/docker/healthcheck_curl_host.py
  services/agent/Dockerfile
  services/agent/docker/healthcheck.py
  services/api-server/Dockerfile
  services/api-server/docker/healthcheck.py
  services/autoscaling/Dockerfile
  services/autoscaling/docker/healthcheck.py
  services/catalog/Dockerfile
  services/catalog/docker/healthcheck.py
  services/clusters-keeper/Dockerfile
  services/clusters-keeper/docker/healthcheck.py
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/datcore-adapter/docker/healthcheck.py
  services/director-v2/Dockerfile
  services/director-v2/docker/healthcheck.py
  services/director/Dockerfile
  services/director/docker/healthcheck.py
  services/docker-api-proxy/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-scheduler/docker/healthcheck.py
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/efs-guardian/docker/healthcheck.py
  services/invitations/Dockerfile
  services/invitations/docker/healthcheck.py
  services/migration/Dockerfile
  services/payments/Dockerfile
  services/payments/docker/healthcheck.py
  services/resource-usage-tracker/Dockerfile
  services/resource-usage-tracker/docker/healthcheck.py
  services/storage/Dockerfile
  services/web/Dockerfile
Due: agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage

uniformize
  services/agent/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/docker-api-proxy/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Due: agent, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage

uniformize
  services/agent/Dockerfile
  services/director-v2/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/payments/Dockerfile
  services/storage/Dockerfile
Due: agent, director_v2, dynamic_scheduler, invitations, payments, storage

add docs
  services/dynamic-sidecar/Dockerfile
Due: dynamic_sidecar

docs
  services/agent/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/docker-api-proxy/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/migration/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Due: agent, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage

♻️🎨Dockerfile: fix start period/start interval healthchecks (#7557)
  scripts/docker/healthcheck_curl_host.py
  services/agent/Dockerfile
  services/agent/docker/healthcheck.py
  services/api-server/Dockerfile
  services/api-server/docker/healthcheck.py
  services/autoscaling/Dockerfile
  services/autoscaling/docker/healthcheck.py
  services/catalog/Dockerfile
  services/catalog/docker/healthcheck.py
  services/clusters-keeper/Dockerfile
  services/clusters-keeper/docker/healthcheck.py
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/datcore-adapter/docker/healthcheck.py
  services/director-v2/Dockerfile
  services/director-v2/docker/healthcheck.py
  services/director/Dockerfile
  services/director/docker/healthcheck.py
  services/docker-api-proxy/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-scheduler/docker/healthcheck.py
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/efs-guardian/docker/healthcheck.py
  services/invitations/Dockerfile
  services/invitations/docker/healthcheck.py
  services/migration/Dockerfile
  services/payments/Dockerfile
  services/payments/docker/healthcheck.py
  services/resource-usage-tracker/Dockerfile
  services/resource-usage-tracker/docker/healthcheck.py
  services/storage/Dockerfile
  services/web/Dockerfile
Due: agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage

Stack like
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
  services/static-webserver/client/source/class/osparc/jobs/RunsAndClusters.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/RunsWindow.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTableModel.js
Due: webclient

[skip ci] minor
  services/static-webserver/client/source/class/osparc/jobs/RunsWindow.js
Due: webclient

workflow running
  services/static-webserver/client/source/class/osparc/jobs/SubRunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTableModel.js
Due: webclient

doc
  SERVICES.md
Due: none

🎨 [Admin] Add endpoint to list users for admin with approval filter
  api/specs/web-server/_users.py
  packages/common-library/src/common_library/users_enums.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, pkg_models_library, webserver

drafts tests
  services/web/server/tests/unit/with_dbs/03/test_users.py
Due: webserver

🎨 [Admin] Implement endpoint to list users for admin with pagination support
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
Due: webserver

🎨 [Database] Add account_request_status column to users_pre_registration_details table
  packages/common-library/src/common_library/users_enums.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/5a51c6cc961d_new_account_request_status_column.py
  packages/postgres-database/src/simcore_postgres_database/models/users_details.py
Due: pkg_postgres_database

drafts repository
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
Due: webserver

drafts service layer
  services/web/server/src/simcore_service_webserver/users/_users_service.py
Due: webserver

✨ task manager web-api listing (🗃️) (#7544)
  api/specs/web-server/_computations.py
  packages/models-library/src/models_library/api_schemas_directorv2/__init__.py
  packages/models-library/src/models_library/api_schemas_directorv2/comp_runs.py
  packages/models-library/src/models_library/api_schemas_webserver/computations.py
  packages/models-library/src/models_library/projects_state.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/f65f7786cd4b_add_indexes_to_comp_tables.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_runs.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/director_v2/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/director_v2/computations.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/__init__.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/_computations.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/routes.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/rabbitmq.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_rpc_computations.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_db_repositories_comp_runs.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/director_v2/_computations_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/__init__.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/computations_rest.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/rest.py
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_abc_default_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_abc_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_service.py
  services/web/server/src/simcore_service_webserver/director_v2/director_v2_service.py
  services/web/server/src/simcore_service_webserver/director_v2/plugin.py
  services/web/server/tests/unit/conftest.py
  services/web/server/tests/unit/with_dbs/01/conftest.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
Due: api, pkg_models_library, pkg_postgres_database, pkg_service_library, director_v2, webserver

remove cast
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth.py
Due: director_v2

update script
  packages/postgres-database/src/simcore_postgres_database/migration/versions/b0c988e3f348_add_index_to_api_key_column.py
Due: pkg_postgres_database

typecheck
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth.py
Due: director_v2

🔒️ Enhance security of API keys 🗃️ (#7085)
  api/specs/web-server/_auth_api_keys.py
  packages/models-library/src/models_library/rpc/webserver/auth/api_keys.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/742123f0933a_hash_exising_api_secret_data.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/b0c988e3f348_add_index_to_api_key_column.py
  packages/postgres-database/src/simcore_postgres_database/models/api_keys.py
  packages/postgres-database/tests/test_models_api_keys.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/auth/api_keys.py
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
  services/api-server/tests/unit/_with_db/conftest.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth_rpc.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
  services/director-v2/tests/conftest.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/__init__.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest_exceptions.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rpc.py
  services/web/server/src/simcore_service_webserver/api_keys/_repository.py
  services/web/server/src/simcore_service_webserver/api_keys/_service.py
  services/web/server/src/simcore_service_webserver/api_keys/plugin.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys_rpc.py
Due: api, pkg_models_library, pkg_postgres_database, pkg_service_library, api_server, director_v2, webserver

fixed test
  services/autoscaling/tests/unit/test_modules_dask.py
Due: autoscaling

added setting for primary machine
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
Due: clusters_keeper

test passes
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
Due: clusters_keeper

renamed
  services/clusters-keeper/tests/unit/test_utils_clusters.py
Due: clusters_keeper

@pcrespov review: use pydantic examples
  services/clusters-keeper/tests/unit/test_utils_clusters.py
Due: clusters_keeper

fixed test
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
Due: clusters_keeper

pass autoscaling rabbitmq directly as json
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/docker-compose.yml
Due: clusters_keeper

check that rabbitmq settings are passed with password clear
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
Due: clusters_keeper

fixed tests
  services/clusters-keeper/tests/unit/test_modules_dask.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
Due: clusters_keeper
