Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

ensure celery retries to reconnec to the broker in caase of issues
  packages/celery-library/src/celery_library/app.py
Due: none

remove
  .env-devel
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/tests/unit/isolated/test_studies_dispatcher_projects_permalinks.py
  services/web/server/tests/unit/with_dbs/01/test_groups_handlers_classifiers.py
  services/web/server/tests/unit/with_dbs/03/invitations/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
  services/web/server/tests/unit/with_dbs/03/test_socketio.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/conftest.py
Due: webserver

refactor
  services/storage/src/simcore_service_storage/api/rest/_health.py
  services/storage/src/simcore_service_storage/api/rest/dependencies/redis.py
  services/storage/src/simcore_service_storage/core/application.py
  services/storage/src/simcore_service_storage/dsm_cleaner.py
  services/storage/src/simcore_service_storage/modules/celery/__init__.py
  services/storage/src/simcore_service_storage/modules/redis.py
Due: storage

refactor
  packages/celery-library/src/celery_library/app.py
Due: none

fixed issue
  packages/celery-library/src/celery_library/app.py
Due: none

refactor
  packages/service-library/src/servicelib/redis/_clients_manager.py
Due: pkg_service_library

fixed tests
  services/payments/tests/unit/api/test_rest_meta.py
Due: payments

clean
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
  services/web/server/src/simcore_service_webserver/email/_handlers.py
  services/web/server/src/simcore_service_webserver/templates/common/service_submission.jinja2
Due: webserver

refactor
  services/efs-guardian/tests/unit/test_api_health.py
Due: efs_guardian

fix
  services/api-server/tests/unit/test_tasks.py
Due: api_server

fix
  services/api-server/tests/unit/service/test_service_function_jobs_task_client.py
Due: api_server

refactor
  services/agent/src/simcore_service_agent/api/rest/_dependencies.py
  services/agent/src/simcore_service_agent/api/rest/_health.py
Due: agent

fix
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
Due: api_server

add notes
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service.py
Due: resource_usage_tracker

fixed tests
  services/notifications/tests/unit/test_api_rest__health.py
Due: none

fixed issue
  services/web/server/src/simcore_service_webserver/redis.py
Due: webserver

:coffin: Remove Web Server publications :warning: (#8976)
  .env-devel
  api/specs/web-server/_publications.py
  api/specs/web-server/openapi.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/src/simcore_service_webserver/email/_handlers.py
  services/web/server/src/simcore_service_webserver/publications/__init__.py
  services/web/server/src/simcore_service_webserver/publications/_rest.py
  services/web/server/src/simcore_service_webserver/publications/_utils.py
  services/web/server/src/simcore_service_webserver/publications/plugin.py
  services/web/server/src/simcore_service_webserver/templates/common/service_submission.jinja2
  services/web/server/tests/unit/isolated/test_studies_dispatcher_projects_permalinks.py
  services/web/server/tests/unit/with_dbs/01/test_groups_handlers_classifiers.py
  services/web/server/tests/unit/with_dbs/03/invitations/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_utils_emails.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
  services/web/server/tests/unit/with_dbs/03/test_socketio.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/conftest.py
Due: api, webserver

add code
  packages/notifications-library/src/notifications_library/templates/email/credit_reimbursement/body_html.j2
  packages/notifications-library/src/notifications_library/templates/email/credit_reimbursement/body_text.j2
  packages/notifications-library/src/notifications_library/templates/email/credit_reimbursement/subject.j2
  services/notifications/src/simcore_service_notifications/models/template_contexts/__init__.py
  services/notifications/src/simcore_service_notifications/models/template_contexts/_credit_reimbursement.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/notifications.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service.py
Due: pkg_notifications_library, resource_usage_tracker

remove warning
  packages/pytest-simcore/src/pytest_simcore/simcore_dask_service.py
Due: none

removed unused error
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
Due: api_server

mypy
  services/web/server/src/simcore_service_webserver/director_v2/_client.py
  services/web/server/src/simcore_service_webserver/director_v2/_client_base.py
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_service.py
Due: webserver

use node names if possible
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
Due: director_v2

fix test expectations
  services/director-v2/tests/integration/01/test_computation_api.py
Due: director_v2

@copilot review
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/rest.py
Due: director_v2, webserver

fixed
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/tests/integration/01/test_computation_api.py
Due: director_v2

adjusted return value to have empty stop-url
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
Due: director_v2

@GitHK review
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
Due: director_v2

first code completion
  api/specs/web-server/_computations.py
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
  services/api-server/src/simcore_service_api_server/services_http/webserver.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/conftest.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/web/server/src/simcore_service_webserver/director_v2/_client.py
  services/web/server/src/simcore_service_webserver/director_v2/_client_base.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/rest.py
  services/web/server/tests/integration/01/test_computation.py
Due: api, api_server, director_v2, webclient, webserver

adjusted tests
  services/director-v2/tests/integration/01/test_computation_api.py
Due: director_v2

@copilot review
  api/specs/web-server/_computations.py
Due: api

pylint
  services/director-v2/tests/integration/01/test_computation_api.py
Due: director_v2

Update services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
Due: webclient

fix issue with cycles in dynamic nodes
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/tests/unit/test_utils_dags.py
Due: director_v2

@githk review
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
Due: director_v2

removed
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
Due: director_v2

@pcrespov review: add more diagnostics
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
Due: director_v2

updated openapi
  services/director-v2/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
Due: director_v2, webserver

openapi
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
Due: webserver

openapi
  api/specs/web-server/_computations.py
Due: api
