Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

adding unit tests
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/folders/_workspaces_api.py
  services/web/server/src/simcore_service_webserver/folders/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_folders_db.py
  services/web/server/tests/unit/with_dbs/04/workspaces/conftest.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_folders_between_workspaces.py
Due: webserver

adding unit tests
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_folders_between_workspaces.py
Due: webserver

♻️ Update `PROJECTS_INACTIVITY_INTERVAL` env var format (#6797)
  .env-devel
  services/web/server/src/simcore_service_webserver/projects/settings.py
Due: webserver

working
  services/static-webserver/client/source/class/osparc/vipStore/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipStore/AnatomicalModelListItem.js
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

🐛 Fix `*Url`s serialization (#6852)
  packages/common-library/src/common_library/json_serialization.py
  packages/common-library/tests/test_json_serialization.py
  packages/models-library/src/models_library/utils/_original_fastapi_encoders.py
  services/dynamic-scheduler/tests/unit/test_cli.py
Due: pkg_models_library, dynamic_scheduler

sorted with thumbnail
  services/static-webserver/client/source/class/osparc/vipStore/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

aesthetics
  services/static-webserver/client/source/class/osparc/vipStore/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipStore/AnatomicalModelListItem.js
Due: webclient

showS4LStore
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
Due: webclient

🎨 web-api: Simpler error models and auto-generated errors in OAS (#6855)
  api/specs/web-server/_auth.py
  api/specs/web-server/_common.py
  api/specs/web-server/_folders.py
  api/specs/web-server/_workspaces.py
  packages/models-library/src/models_library/rest_error.py
  packages/pytest-simcore/src/pytest_simcore/helpers/assert_checks.py
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/aiohttp/rest_models.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/src/servicelib/aiohttp/rest_utils.py
  packages/service-library/src/servicelib/logging_utils.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/login/utils.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: api, pkg_models_library, pkg_service_library, webserver

rm handlers protection
  services/web/server/src/simcore_service_webserver/folders/_trash_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_trash_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_trash_handlers.py
Due: webserver

fixes test
  services/web/server/tests/unit/isolated/test_application_settings.py
Due: webserver

drops webserver_enabled and cleanup tests
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/tests/unit/isolated/test_application_settings.py
Due: webserver

fixes merge
  api/specs/web-server/_folders.py
  api/specs/web-server/_workspaces.py
Due: api

minor
  services/static-webserver/client/source/class/osparc/product/Utils.js
Due: webclient

cleanup
  services/web/server/src/simcore_service_webserver/exception_handling_factory.py
Due: webserver

begin refactor
  services/web/server/src/simcore_service_webserver/api_keys/_api.py
  services/web/server/src/simcore_service_webserver/api_keys/_db.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
Due: webserver

Tabbed View
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/vipStore/Store.js
  services/static-webserver/client/source/class/osparc/vipStore/StoreWindow.js
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

loading
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

filter and sort buttons
  services/static-webserver/client/source/class/osparc/dashboard/SortedByMenuButton.js
  services/static-webserver/client/source/class/osparc/vipStore/SortModelsButtons.js
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

filter working
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

sorting
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

leased
  services/static-webserver/client/source/class/osparc/vipStore/AnatomicalModelListItem.js
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

refactor project DB
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_projects.py
  services/web/server/src/simcore_service_webserver/folders/_workspaces_api.py
  services/web/server/src/simcore_service_webserver/projects/_db_v2.py
  services/web/server/src/simcore_service_webserver/projects/_groups_db.py
  services/web/server/src/simcore_service_webserver/projects/_workspaces_api.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_folders_between_workspaces.py
Due: webserver

adding transaction
  services/web/server/src/simcore_service_webserver/folders/_workspaces_api.py
Due: webserver

open api specs
  api/specs/web-server/_folders.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, webserver

final cleanup
  services/web/server/src/simcore_service_webserver/projects/_folders_db.py
Due: webserver

final cleanup
  services/web/server/src/simcore_service_webserver/projects/_folders_db.py
  services/web/server/src/simcore_service_webserver/projects/_workspaces_api.py
Due: webserver

final cleanup
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_folders_between_workspaces.py
Due: webserver

upgrades requirements for payments services
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.txt
  services/payments/requirements/_tools.txt
Due: payments

fixes mypy
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/models/schemas/acknowledgements.py
Due: payments

defaults
  services/payments/src/simcore_service_payments/core/settings.py
Due: payments

fix
  services/payments/tests/unit/test_services_payments__get_invoice.py
Due: payments

update again
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.txt
Due: payments

updates oas
  services/payments/gateway/openapi.json
  services/payments/openapi.json
Due: payments

backgroundColor
  services/static-webserver/client/source/class/osparc/vipStore/AnatomicalModelListItem.js
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/vipStore/VIPStore.js
Due: webclient

downgrades httpx again
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.txt
Due: payments
