Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

check wallet permission on project open
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
Due: webserver

improve logic
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

fix: raise max stream len
  packages/celery-library/src/celery_library/backends/redis.py
Due: none

__updateCurrentStudyAccessRights
  services/static-webserver/client/source/class/osparc/store/Study.js
Due: webclient

fixed tests
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_common/base_display_model.py
  services/dynamic-scheduler/tests/unit/api_frontend/_common/test_updatable_component.py
Due: dynamic_scheduler

feat: implement confirmation service setup and integrate with invitations service
  services/web/server/src/simcore_service_webserver/login/_application_keys.py
  services/web/server/src/simcore_service_webserver/login/_confirmation_web.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/_rest_dependencies.py
  services/web/server/src/simcore_service_webserver/login/_invitations_service.py
  services/web/server/src/simcore_service_webserver/login/plugin.py
Due: webserver

minor
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

♻️🐛🎨 Renaming and redesign of celery task metadata (#8388)
  packages/celery-library/src/celery_library/backends/redis.py
  packages/celery-library/src/celery_library/rpc/_async_jobs.py
  packages/celery-library/src/celery_library/task_manager.py
  packages/celery-library/tests/unit/test_async_jobs.py
  packages/celery-library/tests/unit/test_tasks.py
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
  packages/pytest-simcore/src/pytest_simcore/helpers/async_jobs_server.py
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_rpc_server.py
  packages/service-library/src/servicelib/celery/models.py
  packages/service-library/src/servicelib/celery/task_manager.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/paths.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/simcore_s3.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_interfaces_async_jobs.py
  packages/service-library/tests/test_celery.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/api/dependencies/celery.py
  services/api-server/src/simcore_service_api_server/api/routes/tasks.py
  services/api-server/src/simcore_service_api_server/models/domain/celery_models.py
  services/api-server/src/simcore_service_api_server/services_rpc/async_jobs.py
  services/api-server/src/simcore_service_api_server/services_rpc/storage.py
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/tasks.py
  services/storage/src/simcore_service_storage/api/rest/_files.py
  services/storage/src/simcore_service_storage/api/rpc/_paths.py
  services/storage/src/simcore_service_storage/api/rpc/_simcore_s3.py
  services/storage/tests/unit/test_rpc_handlers_paths.py
  services/storage/tests/unit/test_rpc_handlers_simcore_s3.py
  services/web/server/src/simcore_service_webserver/models.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/src/simcore_service_webserver/storage/api.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
  services/web/server/src/simcore_service_webserver/utils.py
Due: pkg_models_library, pkg_service_library, api_server, storage, webserver

fix
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

filterEnabled
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

fix: add service
  packages/celery-library/src/celery_library/errors.py
  packages/celery-library/src/celery_library/rpc/_async_jobs.py
  packages/celery-library/src/celery_library/task_manager.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/_service.py
Due: webserver

🐛 [Frontend] Fix: filter tags with empty text (#8428)
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

@giancarloromeo task_id -> task_key
  packages/celery-library/src/celery_library/backends/redis.py
  packages/service-library/src/servicelib/celery/models.py
Due: pkg_service_library

task_id -> task_key @giancarloromeo
  packages/celery-library/tests/unit/test_async_jobs.py
Due: none

task_id -> task_key @giancarloromeo
  packages/celery-library/tests/unit/test_tasks.py
Due: none

tiask_id -> task_key @giancarloromeo
  packages/service-library/tests/test_celery.py
Due: pkg_service_library

@giancarloromeo task_id -> task_key
  packages/celery-library/src/celery_library/task.py
Due: none

fix input name
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
Due: api_server

task_id -> task_key
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
Due: api_server

pylint: remove unused import
  services/api-server/src/simcore_service_api_server/api/routes/tasks.py
Due: api_server

fix: plugin
  services/web/server/src/simcore_service_webserver/celery/plugin.py
Due: webserver

✨ Refactor RPC route registration to use a higher-order function for improved flexibility
  packages/models-library/src/models_library/api_schemas_webserver/__init__.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rpc.py
  services/web/server/src/simcore_service_webserver/rabbitmq.py
Due: pkg_models_library, webserver

✨ Rename mock_rpc_server fixture to mock_webserver_rpc_server for clarity
  services/payments/tests/unit/test_services_auto_recharge_listener.py
Due: payments

uses client
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth_rpc.py
Due: director_v2

client product
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/products.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_rpc.py
Due: pkg_service_library, webserver

all servers are setup
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rpc.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
  services/web/server/src/simcore_service_webserver/payments/_rpc_invoice.py
  services/web/server/src/simcore_service_webserver/products/_controller/rpc.py
Due: webserver

✨ created payments client
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/payments.py
  services/payments/src/simcore_service_payments/services/auto_recharge_process_message.py
  services/payments/tests/unit/test_services_auto_recharge_listener.py
  services/web/server/tests/unit/with_dbs/04/wallets/payments/test_payments_rpc.py
Due: pkg_service_library, payments, webserver

✨ Add RPCNamespace settings for API server, director-v2, and payments services
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/docker-compose.yml
  services/payments/src/simcore_service_payments/core/settings.py
Due: api_server, director_v2, payments

✨ Refactor RPC calls to use dynamic RPCNamespace across various webserver interfaces
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/auth/api_keys.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/payments.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/products.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/projects.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth_rpc.py
Due: pkg_service_library, director_v2

updated message
  services/static-webserver/client/source/resource/osparc/schedulerWorker.js
Due: webclient

fix: result
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/simcore_s3.py
  services/storage/src/simcore_service_storage/api/rpc/_simcore_s3.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
Due: pkg_service_library, storage, webserver

fix: typecheck
  packages/celery-library/src/celery_library/errors.py
Due: none

fix test
  packages/models-library/tests/test_api_schemas_long_running_tasks_tasks.py
Due: pkg_models_library

fix: test
  services/web/server/tests/unit/with_dbs/01/storage/test_storage.py
Due: webserver

✨ Implement WebServer RPC Client and subclients for projects, licenses, and functions
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/_base.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/client.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/functions.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/licenses.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/projects.py
Due: pkg_service_library

✨ Add project job management methods and refactor existing project RPC methods
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/projects.py
Due: pkg_service_library

fix: param worker side
  services/storage/src/simcore_service_storage/api/_worker_tasks/tasks.py
Due: storage

✨ Refactor RPC API methods in functions, licenses, and projects modules to enhance type safety and improve parameter handling
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/functions.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/licenses.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/projects.py
Due: pkg_service_library

✨ Add ApiKeysRpcApi subclient and integrate it into WebServerRpcClient
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/__init__.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/api_keys.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/client.py
Due: pkg_service_library
