Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

🐛 EFS - background task not starting (#7314)
  services/efs-guardian/src/simcore_service_efs_guardian/services/background_tasks_setup.py
Due: efs_guardian

🐛 sidecar no longer fails when saving data with missing permissions (#7307)
  services/director-v2/src/simcore_service_director_v2/cli/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/cli.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/prometheus_metrics.py
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_rest_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_rest_workflow_service_metrics.py
  services/dynamic-sidecar/tests/unit/test_modules_attribute_monitor.py
Due: director_v2, dynamic_sidecar

type hinting
  services/storage/src/simcore_service_storage/modules/celery/_common.py
Due: storage

getVersions
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/store/Services.js
Due: webclient

initPromises
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
Due: webclient

getVersions in catalog
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Due: webclient

added base rpc comunications
  packages/service-library/src/servicelib/long_running_interfaces/_rpc/__init__.py
  packages/service-library/src/servicelib/long_running_interfaces/_rpc/_utils.py
  packages/service-library/src/servicelib/long_running_interfaces/_rpc/client.py
  packages/service-library/src/servicelib/long_running_interfaces/_rpc/server.py
  packages/service-library/tests/long_running_interfaces/test__rpc.py
Due: pkg_service_library

refactoring
  services/static-webserver/client/source/class/osparc/desktop/MainPageHandler.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Due: webclient

initial test
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

ruff
  services/storage/tests/conftest.py
Due: storage

ongoing
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_datcore_adapter.py
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

working
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Due: storage

removed BF variables
  .env-devel
  services/docker-compose.yml
  services/storage/src/simcore_service_storage/core/settings.py
  services/storage/src/simcore_service_storage/modules/db/tokens.py
Due: storage

fix test
  services/storage/tests/unit/test_dsm_dsmcleaner.py
Due: storage

mypy
  services/storage/src/simcore_service_storage/datcore_dsm.py
Due: storage

refactor
  services/storage/tests/unit/test_handlers_datasets.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_handlers_files_metadata.py
Due: storage

implement dsm
  services/storage/src/simcore_service_storage/api/rest/_paths.py
  services/storage/src/simcore_service_storage/datcore_dsm.py
  services/storage/src/simcore_service_storage/dsm_factory.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Due: storage

test in handler paths are running again
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_datcore_adapter.py
  services/storage/src/simcore_service_storage/modules/db/tokens.py
Due: storage

pylint
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_datcore_adapter.py
Due: none

refactor test
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

@pcrespov review: unreachable code
  services/storage/src/simcore_service_storage/datcore_dsm.py
Due: storage

improve test
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

fixed tests also with datcore
  services/storage/tests/unit/test_handlers_datasets.py
Due: storage

datcore?
  services/storage/src/simcore_service_storage/datcore_dsm.py
  services/storage/src/simcore_service_storage/dsm_factory.py
Due: storage

first version
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils/simcore_s3_dsm_utils.py
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

entrypoint
  packages/models-library/src/models_library/api_schemas_storage/storage_schemas.py
  services/storage/src/simcore_service_storage/api/rest/_paths.py
  services/storage/tests/unit/test_handlers_paths.py
Due: pkg_models_library, storage

fixed return values
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_datcore_adapter.py
Due: none

add disk monitoring
  services/storage/tests/conftest.py
Due: storage

refactor
  services/storage/tests/unit/test__legacy_storage_sdk_compatibility.py
  services/storage/tests/unit/test_handlers_datasets.py
  services/storage/tests/unit/test_handlers_files.py
Due: storage

add test
  services/storage/tests/unit/test_handlers_datcore.py
Due: storage

total size in a node
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

set correct passthroughs
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_datcore_adapter.py
Due: none

added get_dataset entrypoint and test
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
Due: datcore_adapter

compute total size in datcore as well
  packages/models-library/src/models_library/api_schemas_datcore_adapter/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/rest/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/storage/src/simcore_service_storage/datcore_dsm.py
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter.py
Due: pkg_models_library, datcore_adapter, storage

parametrize
  services/storage/tests/unit/test_simcore_s3_dsm.py
Due: storage

sonar
  services/storage/src/simcore_service_storage/datcore_dsm.py
Due: storage

mypy
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Due: storage

handle file not found in datcore
  services/storage/src/simcore_service_storage/datcore_dsm.py
  services/storage/src/simcore_service_storage/exceptions/handlers.py
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter_exceptions.py
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

ongoing
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_datcore_adapter.py
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter.py
  services/storage/tests/unit/test_handlers_files.py
Due: storage

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
