Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

reloadData
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenter.js
  services/static-webserver/client/source/class/osparc/ui/window/TabbedView.js
Due: webclient

last
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
Due: webclient

Update services/static-webserver/client/source/class/osparc/desktop/credits/ResourceInTableViewer.js
  services/static-webserver/client/source/class/osparc/desktop/credits/ResourceInTableViewer.js
Due: webclient

revert deps
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_test.txt
Due: pkg_service_library

use async jobs
  packages/celery-library/src/celery_library/async_jobs.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
Due: webserver

fix name
  services/web/server/tests/unit/with_dbs/01/storage/test_storage.py
Due: webserver

fix
  packages/celery-library/src/celery_library/async_jobs.py
Due: none

fix test
  services/web/server/src/simcore_service_webserver/storage/_rest.py
Due: webserver

🎨 [Frontend] Billing Center: Preselect active wallet (#8738)
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Purchases.js
  services/static-webserver/client/source/class/osparc/desktop/credits/ResourceInTableViewer.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
Due: webclient

Please enter at least 3 characters to search.
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilterExtended.js
Due: webclient

remove RPC
  packages/celery-library/tests/unit/test_async_jobs.py
Due: none

do not list the chatbot group if enabled
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Due: webclient

Updates foreign key actions for conversations tables
  packages/postgres-database/src/simcore_postgres_database/migration/versions/75fc2513bb5c_update_foreign_key_actions.py
  packages/postgres-database/src/simcore_postgres_database/models/conversation_messages.py
  packages/postgres-database/src/simcore_postgres_database/models/conversations.py
Due: pkg_postgres_database

cleanup
  packages/celery-library/tests/unit/test_async_jobs.py
Due: none

typecheck
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
Due: api_server

dv2 uses docker-api-proxy
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_utils.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/test_modules_catalog.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dask_clients_pool.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_observer.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_core_events.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_volumes_resolver.py
  services/director-v2/tests/unit/test_modules_notifier.py
  services/director-v2/tests/unit/test_modules_storage.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/conftest.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
  services/director-v2/tests/unit/with_dbs/test_cli.py
  services/director-v2/tests/unit/with_dbs/test_modules_db_repositories_groups_extra_properties.py
  services/director-v2/tests/unit/with_dbs/test_modules_db_repositories_projects.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
Due: director_v2

fix dynamic sidecar test
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
Due: dynamic_sidecar

update prompt
  .github/prompts/fix-pre-commit-hooks.prompt.md
Due: none

pylint
  services/director-v2/src/simcore_service_director_v2/api/errors/validation_error.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
Due: director_v2

env vars for spec generation
  services/director-v2/.env-devel
Due: director_v2

♻️ Refactor tracing and logging headers for clarity (#8736)
  .github/prompts/fix-pre-commit-hooks.prompt.md
  .github/prompts/pr-summary.prompt.md
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/fastapi/tracing.py
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/src/servicelib/tracing.py
  packages/service-library/tests/fastapi/test_tracing.py
  packages/service-library/tests/test_logging_utils.py
  services/api-server/openapi.json
  services/dynamic-sidecar/tests/unit/test_modules_outputs_manager.py
Due: pkg_service_library, api_server, dynamic_sidecar

fixed names
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
Due: director_v2

minor
  services/static-webserver/client/source/class/osparc/desktop/preferences/window/CreateAPIKey.js
Due: webclient

aesthetics and better practices
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/editor/OrganizationEditor.js
Due: webclient

better
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
Due: webclient

mypy
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
Due: director_v2

trying to fix integration tests
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/integration/02/test_mixed_dynamic_sidecar_and_legacy_project.py
Due: director_v2

added dv2
  services/docker-compose.yml
Due: none

fix test
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_rpc_handlers_paths.py
Due: pkg_service_library, storage

fix test
  services/storage/tests/unit/test_rpc_handlers_paths.py
Due: storage

fix tests
  services/storage/tests/unit/test_rpc_handlers_paths.py
Due: storage

remove RPC
  services/web/server/src/simcore_service_webserver/storage/api.py
Due: webserver

fix
  services/storage/tests/unit/test_rpc_handlers_paths.py
Due: storage

fix
  services/storage/tests/conftest.py
Due: storage

fix test
  services/storage/tests/unit/test_rpc_handlers_simcore_s3.py
Due: storage

rename
  services/storage/tests/unit/test_async_jobs_handlers_paths.py
  services/storage/tests/unit/test_async_jobs_handlers_simcore_s3.py
Due: storage

cleanup
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_async_jobs_handlers_simcore_s3.py
Due: storage

sugestions
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_observer.py
  services/director/tests/unit/test_producer.py
Due: director, director_v2

cancel out
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/editor/OrganizationEditor.js
Due: webclient
