Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

helpers
  services/static-webserver/client/source/class/osparc/editor/MarkdownEditorInline.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/editor/MarkdownEditorInline.js
Due: webclient

getValueAsHtml
  services/static-webserver/client/source/class/osparc/editor/EmailEditor.js
  services/static-webserver/client/source/class/osparc/editor/MarkdownEditorInline.js
Due: webclient

working
  services/static-webserver/client/source/class/osparc/editor/EmailEditor.js
  services/static-webserver/client/source/class/osparc/editor/MarkdownEditorInline.js
Due: webclient

rclone fixes
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_context_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
Due: pkg_service_library, pkg_simcore_sdk, dynamic_sidecar

rename
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
Due: dynamic_sidecar

enableTextAreaLineBreaks
  services/static-webserver/client/source/class/osparc/editor/MarkdownEditorInline.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

spellchecker:off
  services/static-webserver/client/source/class/osparc/store/Faker.js
Due: webclient

__updateTabColors
  services/static-webserver/client/source/class/osparc/editor/EmailEditor.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/editor/EmailEditor.js
Due: webclient

colors
  services/static-webserver/client/source/class/osparc/editor/EmailEditor.js
Due: webclient

text-70
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
Due: webclient

add templates
  packages/notifications-library/src/notifications_library/templates/empty.email.content.html
  packages/notifications-library/src/notifications_library/templates/empty.email.content.txt
  packages/notifications-library/src/notifications_library/templates/empty.email.subject.txt
  services/notifications/src/simcore_service_notifications/api/rest/_notifications_templates.py
  services/notifications/src/simcore_service_notifications/api/rest/dependencies.py
  services/notifications/src/simcore_service_notifications/api/rest/routes.py
  services/notifications/src/simcore_service_notifications/models/__init__.py
  services/notifications/src/simcore_service_notifications/models/notifications.py
  services/notifications/src/simcore_service_notifications/renderers/__init__.py
  services/notifications/src/simcore_service_notifications/renderers/jinja_notifications_renderer.py
  services/notifications/src/simcore_service_notifications/renderers/notifications_renderer.py
  services/notifications/src/simcore_service_notifications/repository/__init__.py
  services/notifications/src/simcore_service_notifications/repository/filesystem_notifications_templates_repository.py
  services/notifications/src/simcore_service_notifications/repository/notifications_templates_repository.py
  services/notifications/src/simcore_service_notifications/services/notifications_templates_service.py
Due: pkg_notifications_library

update oas
  services/notifications/openapi.json
Due: none

rename
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
Due: dynamic_sidecar

renames
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/editor/MarkdownEditorInline.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/ui/form/IntlTelInput.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessage.js
Due: webclient

Send button
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

send email
  services/static-webserver/client/source/class/osparc/editor/EmailEditor.js
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

add-recipient-button
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

register Pydantic type
  services/web/server/src/simcore_service_webserver/celery/_task_manager.py
  services/web/server/src/simcore_service_webserver/storage/api.py
Due: webserver

reert
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_context_manager.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
Due: pkg_service_library, dynamic_sidecar

remove unused
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/r_clone_mount_manager.py
Due: dynamic_sidecar

removed unused
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
Due: dynamic_sidecar

simplify implementation
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_docker_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_models.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_utils.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
Due: pkg_simcore_sdk

refactor
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_docker_utils.py
Due: pkg_simcore_sdk

fixed issue
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
Due: pkg_simcore_sdk

🐛 Serialize Pydantic type when sent as Celery task arg (#8756)
  services/web/server/src/simcore_service_webserver/celery/_task_manager.py
  services/web/server/src/simcore_service_webserver/storage/api.py
Due: webserver

fixed unique id
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_utils.py
Due: pkg_simcore_sdk

⚗️ avoid using networks to reach docker rc interface (#8755)
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_context_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_docker_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_models.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_utils.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/rabbitmq.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/r_clone_mount_manager.py
Due: pkg_service_library, pkg_simcore_sdk, dynamic_sidecar

dropped comments
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/dbmanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_models.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/r_clone_mount_manager.py
Due: pkg_simcore_sdk, director_v2, dynamic_sidecar

refactor teardown
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
Due: pkg_simcore_sdk

using node address to reach forwarded port
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_models.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/r_clone_mount_manager.py
Due: pkg_simcore_sdk, dynamic_sidecar

fixed typing
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/r_clone_mount_manager.py
Due: pkg_simcore_sdk, dynamic_sidecar

fixed broken tests
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
Due: pkg_simcore_sdk

fix order
  services/notifications/src/simcore_service_notifications/renderers/notifications_renderer.py
  services/notifications/src/simcore_service_notifications/services/notifications_templates_service.py
Due: none

🐛 using node address to reach forwarded port (#8758)
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_models.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/r_clone_mount_manager.py
Due: pkg_simcore_sdk, dynamic_sidecar

agent stop before remving
  packages/models-library/src/models_library/api_schemas_directorv2/services.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
  services/agent/src/simcore_service_agent/services/containers_manager.py
  services/agent/src/simcore_service_agent/services/docker_utils.py
Due: pkg_models_library, pkg_simcore_sdk, agent

fixed
  services/agent/src/simcore_service_agent/services/docker_utils.py
Due: agent

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
