Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

update docker-compose devel
  services/docker-compose.devel.yml
Due: none

__updateConversation
  services/static-webserver/client/source/class/osparc/data/model/ConversationSupport.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
Due: webclient

updateConversation
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
Due: webclient

__removeFromCache
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
Due: webclient

fixing
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_rest.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_service.py
  services/web/server/src/simcore_service_webserver/conversations/_socketio.py
  services/web/server/src/simcore_service_webserver/projects/_conversations_service.py
Due: webserver

removeEventListener
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
Due: webclient

🎨 [Frontend] Support conversations: listen to socket (#8627)
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/ConversationSupport.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/Conversations.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
Due: webclient

typo
  services/docker-compose.yml
Due: none

fix network
  services/docker-compose.yml
Due: none

rename
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  services/docker-compose.devel.yml
  services/docker-compose.local.yml
  services/docker-compose.yml
Due: none

remove unused
  packages/notifications-library/src/notifications_library/_render.py
Due: pkg_notifications_library

clean
  packages/notifications-library/src/notifications_library/_render.py
Due: pkg_notifications_library

minor
  services/notifications/setup.py
Due: none

fix
  packages/models-library/src/models_library/api_schemas_notifications/events/_account_events.py
Due: pkg_models_library

fix alias
  packages/models-library/src/models_library/api_schemas_notifications/channels/_email_channel.py
  services/notifications/src/simcore_service_notifications/modules/celery/worker/_email_tasks.py
  services/notifications/tests/unit/test_send_email_tasks.py
Due: pkg_models_library

fix type
  packages/models-library/src/models_library/api_schemas_notifications/events/_account_events.py
  services/notifications/tests/unit/test_send_email_tasks.py
Due: pkg_models_library

🐛 removing hardcoded conversation type on delete conversation (#8631)
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_rest.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_service.py
  services/web/server/src/simcore_service_webserver/conversations/_socketio.py
  services/web/server/src/simcore_service_webserver/projects/_conversations_service.py
Due: webserver

exclude notifications-wrk
  services/web/server/tests/integration/conftest.py
Due: webserver

TRIGGER_CHATBOT_DELAY
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

triggerChatbot
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
Due: webclient

osparc.store.Faker
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/store/Faker.js
Due: webclient

fix conversations issues by suppor hardocded filtering
  packages/models-library/src/models_library/conversations.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_repository.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_service.py
  services/web/server/src/simcore_service_webserver/projects/_conversations_service.py
Due: pkg_models_library, webserver

fix conversations issues by suppor hardocded filtering
  services/web/server/src/simcore_service_webserver/conversations/_conversation_service.py
Due: webserver

faker injects into websocket
  services/static-webserver/client/source/class/osparc/store/Faker.js
  services/static-webserver/client/source/class/osparc/wrapper/WebSocket.js
Due: webclient

todo
  services/static-webserver/client/source/class/osparc/store/Faker.js
  services/static-webserver/client/source/class/osparc/wrapper/WebSocket.js
Due: webclient

sendSocketMessageToMyself
  services/static-webserver/client/source/class/osparc/store/Faker.js
Due: webclient

added DYNAMIC_SIDECAR_CUSTOM_LABELS
  .env-devel
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
  services/docker-compose.yml
Due: director_v2

added variable for director-0
  .env-devel
  services/director/src/simcore_service_director/core/settings.py
  services/director/src/simcore_service_director/producer.py
  services/director/tests/unit/test_core_settings.py
  services/docker-compose.yml
Due: director

transformed ENV from string to list
  .env-devel
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  services/director/src/simcore_service_director/core/settings.py
  services/director/src/simcore_service_director/producer.py
  services/director/tests/unit/test_core_settings.py
Due: director

review @mrnicegyu11: change name of ENVs
  .env-devel
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director/src/simcore_service_director/core/settings.py
  services/director/src/simcore_service_director/producer.py
  services/director/tests/unit/test_core_settings.py
  services/docker-compose.yml
Due: director, director_v2

✨Autoscaling is default: Add services custom labels on dynamic services (⚠️ DevOPS) (#8629)
  .env-devel
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director/src/simcore_service_director/core/settings.py
  services/director/src/simcore_service_director/producer.py
  services/director/tests/unit/test_core_settings.py
  services/docker-compose.yml
Due: director, director_v2

refactor tests
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
Due: dynamic_sidecar

let asyncio loop time to process
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
Due: dynamic_sidecar

ruff
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
Due: dynamic_sidecar

adding timeout on chatbot asking
  services/web/server/src/simcore_service_webserver/chatbot/_client.py
Due: webserver

removing redundant comments
  services/web/server/src/simcore_service_webserver/chatbot/_client.py
Due: webserver

fix docker-compose devel
  services/docker-compose.devel.yml
Due: none

fixed warning
  services/dynamic-sidecar/tests/unit/test_api_rest_workflow_service_metrics.py
Due: dynamic_sidecar
