Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

revert
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
Due: director_v2

update oas
  services/api-server/openapi.json
Due: api_server

raise error immediatley if resoruces are too low
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
Due: director_v2

reverted
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

Maintenance/add tracing to log context (#9447)
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/src/servicelib/tracing.py
  packages/service-library/tests/fastapi/test_tracing.py
  packages/service-library/tests/test_logging_utils.py
Due: pkg_service_library

update pr workflow
  .github/workflows/ci-testing-pull-request.yml
Due: none

services/api-server version: 0.15.0 → 0.16.0
  services/api-server/VERSION
  services/api-server/setup.cfg
Due: api_server

@sanderegg remove ignore additional fields
  services/api-server/src/simcore_service_api_server/models/domain/chatbot.py
Due: api_server

update version in oas
  services/api-server/openapi.json
Due: api_server

✨ Support json schema output in responses endpoint (#9478)
  .env-devel
  .github/workflows/ci-testing-pull-request.yml
  services/api-server/Makefile
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/models/domain/chatbot.py
  services/api-server/src/simcore_service_api_server/models/schemas/responses.py
  services/api-server/src/simcore_service_api_server/modules/celery/worker/_responses_tasks.py
  services/api-server/src/simcore_service_api_server/services_http/chatbot.py
  services/api-server/tests/unit/api_responses/celery/test_responses_celery.py
Due: api_server

aws-library: add SimcoreKMSAPI client for AWS KMS encrypt/decrypt
  packages/aws-library/requirements/_base.in
  packages/aws-library/requirements/_base.txt
  packages/aws-library/requirements/_test.txt
  packages/aws-library/src/aws_library/kms/__init__.py
  packages/aws-library/src/aws_library/kms/_client.py
  packages/aws-library/src/aws_library/kms/_error_handler.py
  packages/aws-library/src/aws_library/kms/_errors.py
  packages/aws-library/src/aws_library/kms/_fastapi_lifespan.py
Due: pkg_aws_library

settings-library: add KMSSettings for AWS KMS-backed job root-key encryption
  packages/settings-library/src/settings_library/kms.py
Due: pkg_settings_library

api-server: add aws-library dependency (for KMS client)
  services/api-server/requirements/_base.in
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/ci.txt
  services/api-server/requirements/dev.txt
  services/api-server/requirements/prod.txt
Due: api_server

added new KMS variables
  services/docker-compose.yml
Due: none

version upgrade
  services/director-v2/openapi.json
Due: director_v2

services/director-v2 version: 2.5.0 → 2.6.0
  services/director-v2/VERSION
  services/director-v2/setup.cfg
Due: director_v2

dask-sidecar: add aws-library dependency (for KMS client)
  services/dask-sidecar/requirements/_base.in
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_test.txt
  services/dask-sidecar/requirements/ci.txt
  services/dask-sidecar/requirements/dev.txt
  services/dask-sidecar/requirements/prod.txt
Due: dask_sidecar

models-library, dask-task-models-library: switch job encryption context to KMS ciphertext wire form
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/encryption.py
  packages/dask-task-models-library/tests/container_tasks/test_encryption.py
  packages/models-library/src/models_library/api_schemas_directorv2/encryption.py
Due: pkg_dask_task_models_library, pkg_models_library

dask-sidecar: decrypt job root key via AWS KMS inside the worker process
  packages/pytest-simcore/src/pytest_simcore/aws_server.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/worker.py
  services/dask-sidecar/tests/unit/computational_sidecar_tasks/test_computational_sidecar_tasks_encryption.py
  services/dask-sidecar/tests/unit/conftest.py
Due: dask_sidecar

moved resolved encryption code to dask-sidecar: only dask-sidecar shall know how to resolve
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/encryption.py
  packages/dask-task-models-library/tests/container_tasks/test_encryption.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/encryption.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/files/_copy.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/files/_download.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/files/_upload.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/worker.py
  services/dask-sidecar/tests/unit/computational_sidecar_tasks/test_computational_sidecar_tasks_encryption.py
  services/dask-sidecar/tests/unit/test_utils_encryption.py
  services/dask-sidecar/tests/unit/test_utils_files.py
Due: pkg_dask_task_models_library, dask_sidecar

upgrade openapi
  services/director-v2/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
Due: director_v2, webserver

added tests
  packages/aws-library/src/aws_library/kms/_client.py
  packages/aws-library/tests/test_kms_client.py
  packages/aws-library/tests/test_kms_lifespan.py
Due: pkg_aws_library

import
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
Due: api_server

services/webserver api version: 0.89.1 → 0.90.0
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
Due: webserver

fix tests
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
Due: webserver

director-v2: rename encryption metadata field to encrypted_root_key
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
Due: director_v2

api-server: encrypt job root key via AWS KMS at ingress
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/clients/kms.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
  services/api-server/src/simcore_service_api_server/modules/celery/worker/_functions_tasks.py
  services/api-server/src/simcore_service_api_server/services_http/jobs.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_models_converters.py
  services/api-server/src/simcore_service_api_server/services_http/webserver.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/service/conftest.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_services_solver_job_models_converters.py
Due: api_server

fail fast api-server when kms service is not available
  services/api-server/src/simcore_service_api_server/clients/kms.py
  services/api-server/tests/conftest.py
  services/api-server/tests/unit/test_clients_kms.py
Due: api_server

added ENV to pass KMS to autoscaled clusters
  .env-devel
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/clusters.py
  services/clusters-keeper/tests/unit/test_utils_clusters.py
  services/docker-compose.yml
Due: clusters_keeper

adjust misconfiguration detection in api-server
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_models_converters.py
  services/api-server/tests/unit/test_services_solver_job_models_converters.py
Due: api_server

linter
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
Due: api_server

minor
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/encryption.py
Due: dask_sidecar

added KMS environment variables
  .env-devel
  services/docker-compose.yml
Due: none

remove unnecessary test
  packages/aws-library/tests/test_kms_client.py
Due: pkg_aws_library

fixed type
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/encryption.py
Due: dask_sidecar

adjust misconfiguration detection in dask sidecar
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/errors.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/errors.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/dask.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/worker.py
  services/dask-sidecar/tests/unit/test_utils_dask_sanitize_exceptions.py
Due: pkg_dask_task_models_library, dask_sidecar

Potential fix for pull request finding
  packages/aws-library/src/aws_library/kms/__init__.py
Due: pkg_aws_library

resolved conflicts
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/dask-sidecar/requirements/_base.txt
Due: api_server, dask_sidecar

change foreign key
  packages/postgres-database/src/simcore_postgres_database/migration/versions/0e7558d0499c_change_comp_tasks_and_comp_pipeline_fk_.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_pipeline.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  packages/postgres-database/tests/test_uniqueness_in_comp_tasks.py
Due: pkg_postgres_database
