Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fix
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

adding db test
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/licenses/_license_goods_api.py
  services/web/server/src/simcore_service_webserver/licenses/api.py
  services/web/server/src/simcore_service_webserver/licenses/plugin.py
  services/web/server/tests/unit/with_dbs/04/licenses/conftest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_license_goods_db.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_license_goods_handlers.py
Due: webserver

fix director v2
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth_rpc.py
Due: director_v2

refactor
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
Due: webclient

fix naming
  api/specs/web-server/_license_goods.py
Due: api

open api specs
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

make PricingUnitget backwards compatible
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/models/schemas/backwards_compatibility.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/test_api_solver_jobs.py
Due: api_server

fix test
  services/web/server/tests/unit/with_dbs/04/licenses/conftest.py
Due: webserver

hide sensitive data
  packages/service-library/src/servicelib/redis.py
Due: pkg_service_library

update wallet get
  services/api-server/src/simcore_service_api_server/models/schemas/backwards_compatibility.py
Due: api_server

handle WalletGetWithAvailableCredits
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/_with_db/test_product.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_api_wallets.py
Due: api_server

propagate downstream dependencies everywhere
  packages/notifications-library/requirements/_base.txt
  packages/postgres-database/requirements/_base.in
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_tools.txt
  packages/simcore-sdk/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  tests/swarm-deploy/requirements/_test.txt
Due: pkg_notifications_library, pkg_postgres_database, pkg_simcore_sdk, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, payments, resource_usage_tracker, storage

it works
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
Due: webclient

cleanup
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
Due: webclient

fix test
  packages/models-library/src/models_library/rpc_auth_api_keys.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth.py
  services/director-v2/tests/conftest.py
  services/web/server/src/simcore_service_webserver/api_keys/_rpc.py
Due: pkg_models_library, director_v2, webserver

🔒️ Remove sensitive data from logs (#6905)
  packages/service-library/src/servicelib/redis.py
Due: pkg_service_library

fix test
  packages/models-library/src/models_library/rpc_auth_api_keys.py
  services/web/server/src/simcore_service_webserver/api_keys/_repository.py
  services/web/server/src/simcore_service_webserver/api_keys/_service.py
Due: pkg_models_library, webserver

✨ [Frontend] listen to iframe messages PoC (#6884)
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Due: webclient

fix typecheck
  services/web/server/src/simcore_service_webserver/api_keys/_repository.py
  services/web/server/src/simcore_service_webserver/api_keys/_rpc.py
Due: webserver

🐛 Making dy-sidecar start faster when volumes contain data (#6886)
  services/dynamic-sidecar/Dockerfile
  services/dynamic-sidecar/docker/entrypoint.sh
Due: dynamic_sidecar

♻️ adjust rclone defaults ⚠️ (#6885)
  .env-devel
  packages/settings-library/src/settings_library/r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_utils.py
  services/agent/src/simcore_service_agent/services/backup.py
  services/director-v2/.env-devel
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: pkg_settings_library, pkg_simcore_sdk, agent, director_v2

add xfail for option
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
Due: dynamic_scheduler

mypy
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler_interface.py
Due: dynamic_scheduler

moved unset
  packages/common-library/src/common_library/unset.py
  packages/common-library/tests/test_unset.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/projects/_folders_db.py
  services/web/server/src/simcore_service_webserver/utils.py
Due: dynamic_scheduler, webserver

added docstring
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
Due: webserver

@GitHK review: rename unset
  packages/common-library/src/common_library/basic_types.py
  packages/models-library/src/models_library/app_diagnostics.py
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/service-integration/src/service_integration/osparc_config.py
Due: pkg_models_library, pkg_service_integration

@GitHK review: annotations
  packages/models-library/src/models_library/service_settings_labels.py
Due: pkg_models_library

fix pricing plan endpoint
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/models/schemas/backwards_compatibility.py
Due: api_server

🎨 adding new scheduling mode to dynamic-scheduler ⚠️ (#6889)
  .env-devel
  services/docker-compose.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler_interface.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_deferred_get_status.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
Due: dynamic_scheduler

added mount path
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_utils.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_index.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_service.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/tests/unit/api_frontend/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/test_api_frontend_routes_index.py
  services/dynamic-scheduler/tests/unit/api_frontend/test_api_frontend_routes_service.py
Due: dynamic_scheduler

added mount path
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_index.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_service.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/tests/unit/api_frontend/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/test_api_frontend_routes_index.py
  services/dynamic-scheduler/tests/unit/api_frontend/test_api_frontend_routes_service.py
Due: dynamic_scheduler

fix typo
  .github/workflows/ci-testing-deploy.yml
Due: none

locally runs on root path
  services/docker-compose.local.yml
Due: none

extend interface
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler_interface.py
Due: dynamic_scheduler

update api specs
  services/api-server/openapi.json
  services/catalog/openapi.json
  services/director-v2/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api_server, catalog, director_v2, webserver

backwards_compatibility.py -> model_adapter.py
  services/api-server/src/simcore_service_api_server/api/routes/credits.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/_with_db/test_product.py
  services/api-server/tests/unit/test_api_solver_jobs.py
  services/api-server/tests/unit/test_api_wallets.py
Due: api_server

🐛 [Frontend] Fix: Move folder to a different workspace and subfolder (#6903)
  services/static-webserver/client/source/class/osparc/dashboard/MoveResourceTo.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
Due: webclient

reads better
  packages/common-library/src/common_library/unset.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/projects/_folders_db.py
Due: dynamic_scheduler, webserver

rename
  packages/common-library/tests/test_unset.py
Due: none
