Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fixes pylint
  services/web/server/src/simcore_service_webserver/projects/_projects_repository.py
  services/web/server/src/simcore_service_webserver/projects/_trash_service.py
Due: webserver

@pcrespov and @bisgaard-itis reviews
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
Due: pkg_service_library

minor
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
Due: webclient

more startup calls
  tests/e2e/tests/startupCalls.js
Due: none

✨Async Jobs: add some tests + an internal client (#7410)
  packages/service-library/src/servicelib/progress_bar.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  packages/service-library/tests/rabbitmq/conftest.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc.py
  packages/service-library/tests/rabbitmq/test_rabbitmq_rpc_interfaces_async_jobs.py
  services/storage/src/simcore_service_storage/modules/celery/_celery_types.py
  services/storage/src/simcore_service_storage/modules/celery/_task.py
  services/storage/src/simcore_service_storage/modules/celery/models.py
  services/web/server/docker/boot.sh
Due: pkg_service_library, storage, webserver

update OAS
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

missing fields
  packages/models-library/src/models_library/api_schemas_webserver/users.py
Due: pkg_models_library

wrong import
  packages/models-library/src/models_library/api_schemas_webserver/users.py
Due: pkg_models_library

refactor
  packages/models-library/src/models_library/api_schemas_webserver/users.py
Due: pkg_models_library

fixes test
  services/web/server/tests/unit/isolated/test_users_models.py
Due: webserver

services/webserver api version: 0.61.3 → 0.61.4
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

retire put
  api/specs/web-server/_users.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
Due: api, webserver

constant
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
Due: pkg_postgres_database

@odeimaiz review: missing field
  services/web/server/src/simcore_service_webserver/users/_common/models.py
  services/web/server/tests/unit/isolated/test_users_models.py
Due: webserver

wrong example
  services/web/server/tests/unit/isolated/test_users_models.py
Due: webserver

test
  services/web/server/tests/unit/with_dbs/03/test_users.py
Due: webserver

better practices
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

enable button
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

profileFields
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

fix tets
  services/web/server/tests/unit/isolated/test_users_models.py
Due: webserver

minor
  tests/e2e/tests/startupCalls.js
Due: none

do not check tasks
  tests/e2e/tests/startupCalls.js
Due: none

🎨 web-api: Add `privacy` Field to Profile Endpoints and Retire Legacy Entrypoint (#7408)
  api/specs/web-server/_users.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/users/_common/models.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Due: api, pkg_models_library, pkg_postgres_database, webserver

bad merge
  services/web/server/tests/unit/isolated/test_users_models.py
Due: webserver

🎨 [Frontend] Feature: Hide username (#7406)
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/ui/form/renderer/SingleWithIcon.js
  tests/e2e/tests/startupCalls.js
Due: webclient

always validate compose_spec
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
Due: director_v2

print services
  services/static-webserver/client/source/class/osparc/pricing/ServicesList.js
Due: webclient

revert
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
Due: director_v2

validate compose_spec
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
Due: director_v2

adds missing supportID
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
Due: pkg_service_library

enforce UUID pattern on exports
  packages/models-library/src/models_library/basic_regex.py
  packages/models-library/tests/test_project_nodes_io.py
Due: pkg_models_library

getService reject
  services/static-webserver/client/source/class/osparc/store/Services.js
Due: webclient

[skip ci] ensure that even if one request fails, the rest continue executing
  services/static-webserver/client/source/class/osparc/pricing/ServicesList.js
Due: webclient

adds model policy
  packages/service-library/src/servicelib/aiohttp/rest_middlewares.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/tests/aiohttp/test_rest_responses.py
Due: pkg_service_library

show error message
  services/static-webserver/client/source/class/osparc/pricing/ServicesList.js
Due: webclient

[skip ci] minor
  services/static-webserver/client/source/class/osparc/pricing/ServicesList.js
Due: webclient

cleanup
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
Due: pkg_service_library

minor
  services/static-webserver/client/source/class/osparc/pricing/ServicesList.js
Due: webclient
