Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

adding tests
  packages/models-library/src/models_library/api_schemas_directorv2/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_rpc_computations.py
  services/director-v2/tests/unit/with_dbs/conftest.py
Due: pkg_models_library, director_v2

♻️ Use catalog rpc client in api-server (#7541)
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_parameters.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/_service.py
  services/api-server/src/simcore_service_api_server/_service_job.py
  services/api-server/src/simcore_service_api_server/_service_programs.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/_constants.py
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
  services/api-server/src/simcore_service_api_server/models/schemas/programs.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/services_http/catalog.py
  services/api-server/src/simcore_service_api_server/services_http/rabbitmq.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
  services/api-server/tests/mocks/create_program_job_success.json
  services/api-server/tests/unit/_with_db/test_product.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_metadata.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_read.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_programs.py
  services/api-server/tests/unit/test_api_solvers.py
  services/api-server/tests/unit/test_services_catalog.py
Due: api_server

Display Maintenance message
  services/static-webserver/client/source/class/osparc/MaintenanceTracker.js
  services/static-webserver/client/source/class/osparc/admin/Maintenance.js
Due: webclient

renaming
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
Due: webclient

s4l and s4lacad have Empty Pipeline by default
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/resource/osparc/ui_config.json
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/service/Utils.js
Due: webclient

fix delete method
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/auth/api_keys.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys_rpc.py
Due: pkg_service_library, webserver

Update services/api-server/tests/unit/_with_db/conftest.py
  services/api-server/tests/unit/_with_db/conftest.py
Due: api_server

data tab only available in osparc and testers
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
Due: webclient

adding tests to webserver
  packages/models-library/src/models_library/api_schemas_directorv2/comp_runs.py
  services/web/server/src/simcore_service_webserver/director_v2/_computations_rest.py
  services/web/server/tests/unit/with_dbs/01/conftest.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
Due: pkg_models_library, webserver

dynamic More
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/store/Templates.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
Due: webclient

refactor
  services/web/server/src/simcore_service_webserver/api_keys/_controller/__init__.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest_exceptions.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rpc.py
  services/web/server/src/simcore_service_webserver/api_keys/plugin.py
Due: webserver

minor
  services/static-webserver/client/source/class/osparc/study/Utils.js
Due: webclient

remove comment
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_rpc_computations.py
Due: director_v2

cleanup
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/store/Templates.js
Due: webclient

small cleanup
  services/web/server/src/simcore_service_webserver/director_v2/_controller/_computations_rest.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/_computations_rest_schema.py
Due: webserver

✨ Add JSON schema examples to RedisSettings model configuration
  packages/settings-library/src/settings_library/redis.py
Due: pkg_settings_library

✨ Implement Redis lifespan management and validation in FastAPI
  packages/service-library/src/servicelib/fastapi/redis_lifespan.py
  packages/service-library/tests/fastapi/test_redis_lifespan.py
Due: pkg_service_library

✨ Refactor lifespan management by introducing a context manager for logging and state tracking in FastAPI
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  packages/service-library/src/servicelib/fastapi/postgres_lifespan.py
  packages/service-library/src/servicelib/fastapi/rabbitmq_lifespan.py
  packages/service-library/src/servicelib/fastapi/redis_lifespan.py
Due: pkg_service_library

✨ Refactor lifespan utility functions and enhance error handling in FastAPI
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  packages/service-library/src/servicelib/fastapi/postgres_lifespan.py
  packages/service-library/src/servicelib/fastapi/rabbitmq_lifespan.py
  packages/service-library/src/servicelib/fastapi/redis_lifespan.py
  packages/service-library/tests/fastapi/test_lifespan_utils.py
  packages/service-library/tests/fastapi/test_rabbitmq_lifespan.py
Due: pkg_service_library

✨ Add lifespan call tracking for PostgreSQL database in FastAPI
  packages/service-library/src/servicelib/fastapi/postgres_lifespan.py
  packages/settings-library/src/settings_library/rabbit.py
  packages/settings-library/src/settings_library/redis.py
Due: pkg_service_library, pkg_settings_library

✨ Add RabbitMQ lifespan management and validation in FastAPI
  packages/service-library/src/servicelib/fastapi/rabbitmq_lifespan.py
  packages/service-library/src/servicelib/rabbitmq/__init__.py
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
  packages/service-library/tests/fastapi/test_rabbitmq_lifespan.py
Due: pkg_service_library

✨ Refactor import statements and update deprecated function usage in FastAPI lifespan management
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  packages/service-library/src/servicelib/fastapi/postgres_lifespan.py
  packages/service-library/src/servicelib/fastapi/rabbitmq.py
  packages/service-library/src/servicelib/fastapi/rabbitmq_lifespan.py
  packages/service-library/src/servicelib/fastapi/redis_lifespan.py
  packages/service-library/tests/fastapi/test_redis_lifespan.py
Due: pkg_service_library

✨ Enhance lifespan error handling and add lifespan call tracking
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  packages/service-library/tests/fastapi/test_lifespan_utils.py
Due: pkg_service_library

add db indexes
  packages/postgres-database/src/simcore_postgres_database/migration/versions/f65f7786cd4b_add_indexes_to_comp_tables.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_runs.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
Due: pkg_postgres_database

@bisgaard-itis review: doc
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
Due: pkg_service_library

fix
  services/web/server/src/simcore_service_webserver/director_v2/_controller/__init__.py
  services/web/server/src/simcore_service_webserver/director_v2/_controller/computations_rest.py
  services/web/server/src/simcore_service_webserver/director_v2/plugin.py
Due: webserver

disableAutocomplete
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/filter/TextFilter.js
Due: webclient

🐛 [Frontend] Disable Autocompletion (#7549)
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/filter/TextFilter.js
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

resources
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/jobs/JobInfo.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
Due: webclient

bound shared field
  services/static-webserver/client/source/class/osparc/info/StudyMedium.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
Due: webclient

🎨 Add Reusable Lifespan Contexts for RabbitMQ and Redis in `servicelib.fastapi` (#7547)
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  packages/service-library/src/servicelib/fastapi/postgres_lifespan.py
  packages/service-library/src/servicelib/fastapi/rabbitmq.py
  packages/service-library/src/servicelib/fastapi/rabbitmq_lifespan.py
  packages/service-library/src/servicelib/fastapi/redis_lifespan.py
  packages/service-library/src/servicelib/rabbitmq/__init__.py
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
  packages/service-library/tests/fastapi/test_lifespan_utils.py
  packages/service-library/tests/fastapi/test_rabbitmq_lifespan.py
  packages/service-library/tests/fastapi/test_redis_lifespan.py
  packages/settings-library/src/settings_library/rabbit.py
  packages/settings-library/src/settings_library/redis.py
Due: pkg_service_library, pkg_settings_library

minor
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
Due: webclient

minor
  services/catalog/src/simcore_service_catalog/repository/services.py
Due: catalog

fixes tests
  services/catalog/src/simcore_service_catalog/service/catalog_services.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
Due: catalog

✨ Implement service type filtering in latest services queries
  services/catalog/src/simcore_service_catalog/repository/_services_sql.py
  services/catalog/src/simcore_service_catalog/repository/services.py
  services/catalog/tests/unit/with_dbs/test_repositories.py
Due: catalog

✨ Refactor service filters application and enhance service key prefix handling in SQL queries
  services/catalog/src/simcore_service_catalog/repository/_services_sql.py
  services/catalog/src/simcore_service_catalog/repository/services.py
  services/catalog/tests/unit/with_dbs/test_repositories.py
Due: catalog

✨ Add service key formats for dynamic, computational, and frontend services
  packages/models-library/src/models_library/services_regex.py
Due: pkg_models_library
