Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fix
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

update oas
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
Due: webserver

fixed tests
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: director_v2

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/_extra_container_resources.py
Due: dynamic_sidecar

initial fix
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

refactor
  services/web/server/tests/unit/with_dbs/02/test_projects_repository.py
Due: webserver

rename
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

fix
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/tests/unit/with_dbs/03/test_projects_repository_legacy.py
Due: webserver

🐛 Fix "this.tr is not a function" in qx.core.Object classes (#9405)
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/store/Data.js
  services/static-webserver/client/source/class/osparc/workbench/EdgeUI.js
Due: webclient

🎨 Instrument celery workers (#9400)
  packages/aws-library/requirements/_base.txt
  packages/celery-library/requirements/_base.in
  packages/celery-library/requirements/_base.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/models-library/requirements/_base.txt
  packages/postgres-database/requirements/_base.txt
  packages/service-integration/requirements/_base.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/fastapi/tracing.py
  packages/settings-library/requirements/_base.txt
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/docker-api-proxy/requirements/_test.txt
  services/docker-compose.yml
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_base.txt
Due: pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage, webserver

refactor message
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/_extra_container_resources.py
Due: dynamic_sidecar

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/_extra_container_resources.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/tests/unit/test_core__extra_container_resources.py
Due: dynamic_sidecar

fix
  services/web/server/tests/integration/01/test_computation.py
Due: webserver

restore comment
  services/web/server/tests/integration/01/test_computation.py
Due: webserver

added regression test
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

add name to input messages in api
  services/api-server/src/simcore_service_api_server/models/schemas/responses.py
Due: api_server

add mapping from schema to domain model
  services/api-server/src/simcore_service_api_server/models/domain/chatbot.py
  services/api-server/src/simcore_service_api_server/models/schemas/responses.py
  services/api-server/tests/unit/test_chatbot.py
Due: api_server

refactor test
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

cleanup
  services/api-server/src/simcore_service_api_server/models/domain/chatbot.py
  services/api-server/src/simcore_service_api_server/modules/celery/worker/_responses_tasks.py
  services/api-server/tests/unit/test_chatbot.py
Due: api_server

services/webserver api version: 0.85.0 → 0.85.1
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
Due: webserver

minor fix
  services/api-server/src/simcore_service_api_server/models/schemas/responses.py
Due: api_server

updated oas
  services/api-server/openapi.json
Due: api_server

refactor internals
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/_helper_container_resources.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/tests/unit/test_core__helper_container_resources.py
Due: dynamic_sidecar

added message
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/_helper_container_resources.py
Due: dynamic_sidecar

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/_helper_container_resources.py
Due: dynamic_sidecar

refactor
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

🐛 fix(web-server): scope open-project limit to current product (#9408)
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_repository.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

refactor
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
Due: director_v2

added log message for remove resoruces
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
Due: director_v2

refactor reporting
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_event_create_sidecars.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/_helper_container_resources.py
Due: director_v2, dynamic_sidecar

cleanup
  packages/models-library/src/models_library/api_schemas_webserver/projects_ui.py
Due: pkg_models_library

don't insantiate typeadapter every time
  services/api-server/src/simcore_service_api_server/models/schemas/responses.py
Due: api_server

@pcrespov add Final
  services/api-server/tests/unit/test_chatbot.py
Due: api_server

fix model_config
  packages/models-library/src/models_library/api_schemas_webserver/projects_ui.py
Due: pkg_models_library

fix
  packages/models-library/src/models_library/api_schemas_webserver/projects_ui.py
Due: pkg_models_library

refactor tests
  services/dynamic-sidecar/tests/unit/api/rest/test_containers.py
  services/dynamic-sidecar/tests/unit/api/rest/test_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/api/rpc/test__containers_long_running_tasks.py
Due: dynamic_sidecar

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
