Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

pylint
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
Due: dask_sidecar

fix serialization
  packages/common-library/src/common_library/serialization.py
Due: none

getUniqueName
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

fix
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Due: webserver

migrated osparc-gateway-server to pydantic2
  services/osparc-gateway-server/requirements/_base.in
  services/osparc-gateway-server/requirements/_base.txt
  services/osparc-gateway-server/src/osparc_gateway_server/backend/settings.py
Due: osparc_gateway_server

fixed settings
  services/payments/src/simcore_service_payments/core/settings.py
Due: payments

fixed import
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/errors.py
Due: resource_usage_tracker

fixed import
  services/director-v2/tests/unit/test_modules_dask_client.py
Due: director_v2

foixed exceptions
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/handlers/_http_error.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_service_runs__export.py
Due: resource_usage_tracker

fixed tests
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_resource_tracker_service_runs__export.py
Due: resource_usage_tracker

mypy
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/fastapi/tracing.py
Due: pkg_service_library

fix validator
  packages/models-library/src/models_library/clusters.py
Due: pkg_models_library

♻️ refactor project listing DB function (🚨 We no longer list projects that do not have a product assigned) (#6692)
  packages/models-library/src/models_library/folders.py
  packages/models-library/src/models_library/workspaces.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Due: pkg_models_library, webserver

fixed validation of SIMCORE_VCS_RELEASE_URL
  services/web/server/src/simcore_service_webserver/application_settings.py
Due: webserver

unique names
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/editor/OrganizationEditor.js
  services/static-webserver/client/source/class/osparc/editor/WorkspaceEditor.js
  services/static-webserver/client/source/class/osparc/store/Workspaces.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

fix fields
  packages/models-library/src/models_library/aiodocker_api.py
  services/director-v2/tests/unit/with_dbs/test_api_route_clusters.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: pkg_models_library, director_v2

fix serialization
  services/director-v2/tests/unit/with_dbs/conftest.py
Due: director_v2

minor
  services/static-webserver/client/source/class/osparc/study/Utils.js
Due: webclient

mypy
  services/web/server/src/simcore_service_webserver/director_v2/_models.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
Due: webserver

pylint
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/projects_state.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/login/settings.py
  services/web/server/src/simcore_service_webserver/products/_model.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
  services/web/server/src/simcore_service_webserver/scicrunch/_rest.py
  services/web/server/src/simcore_service_webserver/session/settings.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_models.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/settings.py
  services/web/server/src/simcore_service_webserver/users/_schemas.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/isolated/conftest.py
  services/web/server/tests/unit/isolated/test_application_settings_utils.py
  services/web/server/tests/unit/with_dbs/01/test_resource_manager_user_sessions.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/03/login/conftest.py
Due: pkg_models_library, webserver

🎨 [Frontend] UX: New Workspace and New Organization (#6699)
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/editor/OrganizationEditor.js
  services/static-webserver/client/source/class/osparc/editor/WorkspaceEditor.js
  services/static-webserver/client/source/class/osparc/store/Workspaces.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/osparc/tours/s4l_tours.json
Due: webclient

fix broken test
  packages/common-library/src/common_library/serialization.py
  packages/models-library/src/models_library/api_schemas_clusters_keeper/clusters.py
  packages/models-library/src/models_library/api_schemas_directorv2/clusters.py
  packages/models-library/src/models_library/clusters.py
Due: pkg_models_library

fixed broken tests
  packages/models-library/src/models_library/api_schemas_directorv2/clusters.py
  services/web/server/tests/unit/with_dbs/01/clusters/test_clusters_handlers.py
Due: pkg_models_library, webserver

fixed broken serializer
  packages/common-library/src/common_library/serialization.py
Due: none

refactor listing folders
  packages/postgres-database/src/simcore_postgres_database/utils.py
  services/storage/src/simcore_service_storage/db_access_layer.py
  services/web/server/src/simcore_service_webserver/folders/_folders_api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
Due: pkg_postgres_database, storage, webserver

fix
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
Due: webserver

unused events
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/node/BootOptionsView.js
  services/static-webserver/client/source/class/osparc/node/LifeCycleView.js
  services/static-webserver/client/source/class/osparc/node/UpdateResourceLimitsView.js
  services/static-webserver/client/source/class/osparc/widget/NodeOptions.js
Due: webclient

fixed failing tests
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
Due: pkg_models_library

"primary-background-color"
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Due: webclient

fix query
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
Due: webserver

fix validator
  packages/models-library/src/models_library/service_settings_labels.py
Due: pkg_models_library

"workbench-view-splitter"
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Due: webclient

fix test
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: director_v2

workbench-view-navbar
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
Due: webclient

fixed broken tests
  services/web/server/src/simcore_service_webserver/users/_schemas.py
  services/web/server/src/simcore_service_webserver/version_control/_handlers.py
  services/web/server/src/simcore_service_webserver/version_control/models.py
  services/web/server/tests/unit/with_dbs/03/version_control/test_version_control_handlers.py
Due: webserver

fix
  services/director-v2/tests/unit/with_dbs/test_api_route_clusters_details.py
Due: director_v2

fix strange github behaviour
  services/web/server/src/simcore_service_webserver/folders/_folders_api.py
Due: webserver
