Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

add some more checks
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

added examples
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services_service.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
Due: pkg_models_library

that sucks
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

typo
  services/dynamic-scheduler/tests/unit/service_tracker/test__api.py
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
  services/web/server/tests/unit/isolated/test_dynamic_scheduler.py
Due: dynamic_scheduler, webserver

send notification when node is started/stopped
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

typo
  packages/pytest-simcore/src/pytest_simcore/docker_registry.py
Due: none

typo
  services/dynamic-scheduler/tests/unit/service_tracker/test__api.py
Due: dynamic_scheduler

revert
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

only the first example
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
Due: dynamic_scheduler

ongoing
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

ruff
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

fix test by changing ordering of calls
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

revert
  packages/models-library/src/models_library/projects_nodes.py
Due: pkg_models_library

@GitHK review: remove old comment
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

type
  packages/models-library/src/models_library/projects_nodes.py
Due: pkg_models_library

missing delete
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

linter
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

this is not looking good
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

added check for mirrored WSL2
  Makefile
Due: none

type
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

reverted
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

must be nullable
  packages/models-library/src/models_library/projects_nodes.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: pkg_models_library, webserver

@GitHK review: removed unused fixture
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
Due: webserver

tests: add tests
  services/web/server/tests/unit/with_dbs/04/functions/test_functions_controller_rest.py
Due: webserver

fix: pylint
  services/web/server/tests/unit/with_dbs/04/functions/test_functions_controller_rest.py
Due: webserver

fix test
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

feat: add ordering
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest_schemas.py
Due: webserver

fix: typecheck
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest_schemas.py
Due: webserver

missing change
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
Due: director

⬆️ Webserver node locking: missing change (#8230)
  services/director/src/simcore_service_director/api/v0/schemas/project-v0.0.1.json
Due: director

upgrade UV
  .github/actions/setup-simcore-env/action.yml
Due: none

⬆️Upgrade UV to 0.8.X (#8232)
  .github/actions/setup-simcore-env/action.yml
Due: none

ongoing
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

fixed
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

separating tests
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

refreshing tab test works
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

fix: access rights no more nullable
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
Due: pkg_models_library, webserver

fix: exceptions
  services/web/server/src/simcore_service_webserver/functions/_functions_exceptions.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
Due: webserver
