Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

more refactor
  services/static-webserver/client/source/class/osparc/study/Utils.js
Due: webclient

show users on card!
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
Due: webclient

show usernames in tooltip
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
Due: webclient

fix: enrich when add extras is requested
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
Due: webserver

fixed returned project
  services/web/server/src/simcore_service_webserver/db_listener/_db_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

fix failing tests
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/03/trash/test_trash_rest.py
Due: webserver

linter
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

Fix test_open_project_more_than_limitation_of_max_studies_open_per_user by adding websocket connections
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

fix: add include_extras query param
  services/static-webserver/client/source/class/osparc/data/Resources.js
Due: webclient

added Redis storage to long running tasks
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_server.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/module_setup.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/storage/src/simcore_service_storage/core/settings.py
  services/storage/src/simcore_service_storage/modules/long_running_tasks.py
  services/storage/src/simcore_service_storage/modules/redis.py
Due: pkg_service_library, director_v2, dynamic_sidecar, storage

fix failing tests
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

fixed tests
  packages/service-library/src/servicelib/long_running_tasks/task.py
Due: pkg_service_library

repalced serializers
  packages/service-library/src/servicelib/long_running_tasks/_store/redis.py
Due: pkg_service_library

refactor and group avatar on card
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Due: webclient

🎨 [Frontend] Functions browser: connect FE to BE (#8135)
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/Permissions.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Function.js
  services/static-webserver/client/source/class/osparc/info/FunctionLarge.js
  services/static-webserver/client/source/class/osparc/info/FunctionUtils.js
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
  services/static-webserver/client/source/class/osparc/store/Functions.js
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
Due: webclient, webserver

fix issues after resolving conflicts
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

added test for multiple namespaces with redis store
  packages/service-library/tests/long_running_tasks/test_long_running_tasks__store.py
Due: pkg_service_library

fixed tests
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
Due: director_v2

not needed
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
Due: webclient

✨ Update issue templates: standardize labels, assignees, and titles across all templates
  .github/ISSUE_TEMPLATE/1_bug_report.yml
  .github/ISSUE_TEMPLATE/2_feature_request.yml
  .github/ISSUE_TEMPLATE/3_maintenance_issue.yml
  .github/ISSUE_TEMPLATE/4_pre_release.yml
  .github/ISSUE_TEMPLATE/5_release.yml
  .github/ISSUE_TEMPLATE/6_hotfix.yml
  .github/ISSUE_TEMPLATE/7_regular_maintenance.yml
Due: none

Revert "fixed tests"
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
Due: director_v2

renaming
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/ui/basic/AvatarGroup.js
Due: webclient

fixed tests which required redis
  packages/pytest-simcore/src/pytest_simcore/long_running_tasks.py
  packages/service-library/src/servicelib/long_running_tasks/_store/in_memory.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_api_route_dynamic_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/dynamic-sidecar/tests/conftest.py
Due: pkg_service_library, director_v2, dynamic_sidecar

setUserGroupIds
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/ui/basic/AvatarGroup.js
Due: webclient

fixed tests
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks_client.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks_with_task_context.py
Due: pkg_service_library

avatar group on NavBar
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
Due: webclient

mypy
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_manager.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/src/servicelib/long_running_tasks/_store/redis.py
  packages/service-library/src/servicelib/long_running_tasks/lrt_api.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
Due: pkg_service_library

Refactors socket connection setup in project state tests
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

generate open api specs
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

review @pcrespov
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/projects/_socketio_service.py
Due: webserver

wait until socket is connected
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
Due: webclient

network
  services/docker-compose.yml
Due: none

working
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/ui/basic/AvatarGroup.js
Due: webclient

minor
  packages/models-library/src/models_library/projects_nodes.py
  services/web/server/src/simcore_service_webserver/projects/_socketio_service.py
Due: pkg_models_library, webserver

review @sanderegg
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
Due: webserver

tracing refacotr and add to wb-auth
  .env-devel
  services/docker-compose.yml
Due: none

mionr
  services/docker-compose.yml
Due: none

standardize buttons
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorButton.js
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/notification/NotificationsButton.js
  services/static-webserver/client/source/class/osparc/task/TasksButton.js
Due: webclient
