Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

allow type 'null' in captures openapi specs
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_parameters.py
Due: none

setup task worker
  services/storage/src/simcore_service_storage/modules/celery/models.py
  services/storage/src/simcore_service_storage/modules/celery/signals.py
Due: storage

handle exception
  services/storage/src/simcore_service_storage/modules/celery/_task.py
Due: storage

Fix Note's Recipient
  services/static-webserver/client/source/class/osparc/editor/AnnotationNoteCreator.js
Due: webclient

not needed
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
Due: webclient

fix exc
  packages/service-library/src/servicelib/progress_bar.py
  services/storage/src/simcore_service_storage/modules/celery/_task.py
Due: pkg_service_library, storage

check progress_bar
  packages/service-library/src/servicelib/bytes_iters/_models.py
Due: pkg_service_library

use task_group
  services/storage/src/simcore_service_storage/modules/celery/_task.py
  services/storage/src/simcore_service_storage/modules/celery/client.py
Due: storage

typecheck
  services/storage/src/simcore_service_storage/modules/celery/signals.py
Due: storage

fix name
  services/storage/tests/unit/test_rpc_handlers_simcore_s3.py
Due: storage

comment layout
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
Due: webclient

isJobsEnabled
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Due: webclient

JobsAndClusters
  services/static-webserver/client/source/class/osparc/jobs/JobsAndClusters.js
  services/static-webserver/client/source/class/osparc/jobs/JobsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
Due: webclient

continue
  services/storage/src/simcore_service_storage/api/rest/_files.py
  services/storage/src/simcore_service_storage/api/rest/dependencies/celery.py
  services/storage/src/simcore_service_storage/api/rpc/_async_jobs.py
  services/storage/src/simcore_service_storage/modules/celery/__init__.py
  services/storage/src/simcore_service_storage/modules/celery/_task.py
  services/storage/src/simcore_service_storage/modules/celery/client.py
  services/storage/src/simcore_service_storage/modules/celery/models.py
  services/storage/src/simcore_service_storage/modules/celery/signals.py
  services/storage/tests/unit/test_modules_celery.py
Due: storage

typecheck
  services/storage/src/simcore_service_storage/modules/celery/models.py
Due: storage

mocking clusters
  services/static-webserver/client/source/class/osparc/jobs/ClustersBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/ClustersTable.js
  services/static-webserver/client/source/class/osparc/jobs/ClustersTableModel.js
  services/static-webserver/client/source/class/osparc/jobs/JobsAndClusters.js
  services/static-webserver/client/source/class/osparc/store/Clusters.js
  services/static-webserver/client/source/resource/osparc/mock_clusters.json
Due: webclient

Clusters mock
  services/static-webserver/client/source/class/osparc/data/Cluster.js
  services/static-webserver/client/source/class/osparc/jobs/ClustersTable.js
  services/static-webserver/client/source/class/osparc/jobs/ClustersTableModel.js
  services/static-webserver/client/source/class/osparc/store/Clusters.js
  services/static-webserver/client/source/resource/osparc/mock_clusters.json
Due: webclient

🐛🎨 [Frontend] Enh: Comments aesthetics (#7517)
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/editor/AnnotationNoteCreator.js
  services/static-webserver/client/source/class/osparc/info/CommentUI.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Due: webclient

fix abort
  services/storage/src/simcore_service_storage/modules/celery/client.py
Due: storage

re-enable ConvertToPipelineEnabled
  services/static-webserver/client/source/class/osparc/navigation/StudyTitleWOptions.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
Due: webclient

fix exceptions
  services/storage/src/simcore_service_storage/modules/celery/_task.py
Due: storage

_service.py -> service_jobs.py
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
Due: api_server

Confirmation pop up
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

comment
  services/storage/src/simcore_service_storage/modules/celery/_task.py
Due: storage

fix errors
  services/storage/src/simcore_service_storage/modules/celery/_task.py
Due: storage

continue
  services/storage/src/simcore_service_storage/modules/celery/_task.py
Due: storage

copyOptionButton
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/ui/window/Confirmation.js
Due: webclient

fix test
  services/storage/tests/unit/test_async_jobs.py
Due: storage

it works
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

also rename
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

start program service
  services/api-server/src/simcore_service_api_server/_service_programs.py
  services/api-server/src/simcore_service_api_server/models/schemas/programs.py
Due: api_server

✨ [Frontend] Clusters mock table (#7521)
  services/static-webserver/client/source/class/osparc/data/Cluster.js
  services/static-webserver/client/source/class/osparc/jobs/ClustersBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/ClustersTable.js
  services/static-webserver/client/source/class/osparc/jobs/ClustersTableModel.js
  services/static-webserver/client/source/class/osparc/jobs/JobsAndClusters.js
  services/static-webserver/client/source/class/osparc/jobs/JobsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
  services/static-webserver/client/source/class/osparc/store/Clusters.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/resource/osparc/mock_clusters.json
Due: webclient

create program service
  services/api-server/src/simcore_service_api_server/_service_programs.py
  services/api-server/src/simcore_service_api_server/api/dependencies/program_service.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/services_http/rabbitmq.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
Due: api_server

fix
  packages/service-library/src/servicelib/progress_bar.py
Due: pkg_service_library

add unit test for getting program
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/services_http/rabbitmq.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_programs.py
  services/api-server/tests/unit/test_services_catalog.py
Due: api_server

cleanup function arguments
  services/api-server/tests/unit/test_api_programs.py
Due: api_server

add app
  services/storage/src/simcore_service_storage/modules/celery/_task.py
Due: storage

"pipeline" uiMode
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/data/model/StudyUI.js
Due: webclient

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
