Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

"updateTutorial"
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
Due: webclient

Changes to create function frontend
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Due: webclient

🎨 [Frontend] Card Menu: Template menu on template, tutorial and hypertool cards (#7696)
  services/static-webserver/client/source/class/osparc/dashboard/AppBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TutorialBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/TutorialsList.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/utils/Resources.js
Due: webclient

Remove newlines in functions frontend
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Due: webclient

Initial commit
  packages/celery-library/README.md
  packages/celery-library/VERSION
  packages/celery-library/setup.cfg
  packages/celery-library/setup.py
Due: none

Allow empty description
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Due: webclient

UsersPending
  services/static-webserver/client/source/class/osparc/po/POCenter.js
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

fixed broken import
  packages/service-library/src/servicelib/fastapi/long_running_tasks/client.py
Due: pkg_service_library

refactor imports
  packages/service-library/src/servicelib/fastapi/long_running_tasks/server.py
Due: pkg_service_library

add files
  packages/celery-library/requirements/Makefile
  packages/celery-library/requirements/_base.in
  packages/celery-library/requirements/_test.in
  packages/celery-library/requirements/_tools.in
  packages/celery-library/requirements/ci.txt
  packages/celery-library/requirements/dev.txt
  packages/celery-library/src/celery-library/__init__.py
  packages/celery-library/src/celery-library/_celery_types.py
  packages/celery-library/src/celery-library/_common.py
  packages/celery-library/src/celery-library/_task.py
  packages/celery-library/src/celery-library/backends/__init__.py
  packages/celery-library/src/celery-library/backends/_redis.py
  packages/celery-library/src/celery-library/client.py
  packages/celery-library/src/celery-library/errors.py
  packages/celery-library/src/celery-library/models.py
  packages/celery-library/src/celery-library/signals.py
  packages/celery-library/src/celery-library/utils.py
  packages/celery-library/src/celery-library/worker.py
Due: none

[skip ci] getPendingUsers
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

rename
  packages/celery-library/src/celery-library/worker.py
Due: none

add codeowner
  .github/CODEOWNERS
Due: none

add dependency
  services/storage/requirements/_base.in
  services/storage/requirements/ci.txt
  services/storage/requirements/dev.txt
Due: storage

Fix linting
  packages/models-library/src/models_library/api_schemas_api_server/functions.py
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
Due: pkg_models_library

buttons with actions
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/po/POCenterWindow.js
Due: webclient

add reqs
  packages/celery-library/requirements/_base.txt
  packages/celery-library/requirements/_test.txt
  packages/celery-library/requirements/_tools.txt
Due: none

unused
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
Due: webclient

User Info
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudy.js
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

pylint
  packages/service-library/src/servicelib/long_running_tasks/_task.py
Due: pkg_service_library

createInfoButton
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

isDevelopmentPlatform
  services/static-webserver/client/source/class/osparc/po/POCenter.js
Due: webclient

One more pylint error fix
  packages/models-library/src/models_library/api_schemas_api_server/functions.py
Due: pkg_models_library

Add a few type annotation in function wb rest
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
Due: webserver

minor
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

refactor
  packages/celery-library/src/celery_library/__init__.py
  packages/celery-library/src/celery_library/_common.py
  packages/celery-library/src/celery_library/backends/__init__.py
  packages/celery-library/src/celery_library/backends/_redis.py
  packages/celery-library/src/celery_library/client.py
  packages/celery-library/src/celery_library/errors.py
  packages/celery-library/src/celery_library/models.py
  packages/celery-library/src/celery_library/signals.py
  packages/celery-library/src/celery_library/task.py
  packages/celery-library/src/celery_library/types.py
  packages/celery-library/src/celery_library/utils.py
  packages/celery-library/src/celery_library/worker.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/_files.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/_paths.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/_simcore_s3.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/tasks.py
  services/storage/src/simcore_service_storage/api/rest/_files.py
  services/storage/src/simcore_service_storage/api/rest/dependencies/celery.py
  services/storage/src/simcore_service_storage/api/rpc/_async_jobs.py
  services/storage/src/simcore_service_storage/api/rpc/_paths.py
  services/storage/src/simcore_service_storage/api/rpc/_simcore_s3.py
  services/storage/src/simcore_service_storage/core/application.py
  services/storage/src/simcore_service_storage/modules/celery/__init__.py
  services/storage/src/simcore_service_storage/modules/celery/_celery_types.py
  services/storage/src/simcore_service_storage/modules/celery/_common.py
  services/storage/src/simcore_service_storage/modules/celery/_task.py
  services/storage/src/simcore_service_storage/modules/celery/backends/__init__.py
  services/storage/src/simcore_service_storage/modules/celery/backends/_redis.py
  services/storage/src/simcore_service_storage/modules/celery/client.py
  services/storage/src/simcore_service_storage/modules/celery/errors.py
  services/storage/src/simcore_service_storage/modules/celery/models.py
  services/storage/src/simcore_service_storage/modules/celery/signals.py
  services/storage/src/simcore_service_storage/modules/celery/utils.py
  services/storage/src/simcore_service_storage/modules/celery/worker.py
  services/storage/src/simcore_service_storage/modules/celery/worker_main.py
  services/storage/tests/conftest.py
Due: storage

fixed broken tests
  services/dynamic-sidecar/tests/unit/test_api_rest_containers.py
Due: dynamic_sidecar

refactor
  packages/celery-library/src/celery_library/__init__.py
  packages/celery-library/src/celery_library/common.py
  packages/celery-library/src/celery_library/signals.py
  services/storage/src/simcore_service_storage/modules/celery/worker_main.py
  services/storage/tests/unit/test_async_jobs.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_modules_celery.py
  services/storage/tests/unit/test_modules_celery_errors.py
  services/storage/tests/unit/test_rpc_handlers_paths.py
  services/storage/tests/unit/test_rpc_handlers_simcore_s3.py
Due: storage

wording minor
  services/static-webserver/client/source/class/osparc/product/Utils.js
Due: webclient

fixed errors and removed unused
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_context_manager.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/client.py
  packages/service-library/src/servicelib/long_running_tasks/_errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
  services/dynamic-sidecar/tests/unit/test_api_rest_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_rest_workflow_service_metrics.py
Due: pkg_service_library, director_v2, dynamic_sidecar

fix tests
  packages/service-library/src/servicelib/aiohttp/monitoring.py
  services/web/server/tests/unit/isolated/test_tracing.py
Due: pkg_service_library, webserver

Add function_id / jobs endpoint
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Due: pkg_service_library, api_server, webserver

raise from to make pylint happy
  packages/service-library/src/servicelib/aiohttp/monitoring.py
Due: pkg_service_library

Add new openapi json for functions
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
Due: api_server

migration
  api/specs/web-server/_projects_comments.py
  api/specs/web-server/openapi.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e98c45ff314f_preparation_for_osparc_io_migration.py
  packages/postgres-database/src/simcore_postgres_database/models/file_meta_data.py
  packages/postgres-database/src/simcore_postgres_database/models/folders_v2.py
  packages/postgres-database/src/simcore_postgres_database/models/payments_autorecharge.py
  packages/postgres-database/src/simcore_postgres_database/models/payments_methods.py
  packages/postgres-database/src/simcore_postgres_database/models/payments_transactions.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_comments.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_service_runs__osparc_io_history_202508.py
  packages/postgres-database/src/simcore_postgres_database/models/tokens.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_comments_repository.py
  services/web/server/src/simcore_service_webserver/projects/_comments_service.py
  services/web/server/src/simcore_service_webserver/projects/_controller/comments_rest.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
Due: api, pkg_postgres_database, webserver

add celery dep
  services/storage/requirements/prod.txt
Due: storage

fix
  packages/postgres-database/src/simcore_postgres_database/migration/versions/43d7e61eedf4_preparation_for_osparc_io_migration.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_service_runs.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_service_runs__osparc_io_history_202508.py
Due: pkg_postgres_database
