Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

only error code since front-end shows email
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/redirects_exceptions.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
Due: webserver

Add SupportID to error messages
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/redirects_exceptions.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/isolated/test_utils.py
Due: webserver

minor renaming
  packages/service-library/src/servicelib/logging_utils.py
Due: pkg_service_library

width
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/redirects_exceptions.py
Due: webserver

fixes tests
  services/web/server/src/simcore_service_webserver/projects/_access_rights_service.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
Due: webserver

add link
  services/notifications/src/simcore_service_notifications/models/template_contexts/_account_approved.py
Due: none

Use extra credits (not USD) in account approval emails (#8899)
  packages/notifications-library/src/notifications_library/templates/email/account_approved/body_html.j2
  packages/notifications-library/src/notifications_library/templates/email/account_approved/body_text.j2
  services/notifications/src/simcore_service_notifications/models/template_contexts/_account_approved.py
  services/web/server/src/simcore_service_webserver/users/_accounts_service.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_users_accounts_rest_registration.py
Due: pkg_notifications_library, webserver

add mock
  services/web/server/tests/unit/with_dbs/04/notifications/conftest.py
Due: webserver

✨ Implement reconciliation migration for linked pending pre-registrations and update user creation logic
  packages/postgres-database/src/simcore_postgres_database/migration/versions/7f8d9b1c2e4f_reconcile_linked_pending_pre_registrations.py
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
Due: pkg_postgres_database

tests
  packages/postgres-database/tests/test_users.py
  packages/postgres-database/tests/test_users_details.py
Due: pkg_postgres_database

✨ Enhance pre-registration logic to auto-approve existing users with product access
  services/web/server/src/simcore_service_webserver/users/_accounts_repository.py
  services/web/server/tests/unit/with_dbs/03/users/test_users_accounts_repository.py
Due: webserver

fixes Object of type TypeAliasType is not callable
  packages/models-library/src/models_library/groups.py
  packages/models-library/tests/test_api_schemas_webserver_socketio.py
  services/payments/src/simcore_service_payments/db/payment_users_repo.py
Due: pkg_models_library, payments

fix
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

fixes mypy
  packages/models-library/src/models_library/groups.py
  packages/models-library/tests/test_api_schemas_webserver_socketio.py
  services/payments/src/simcore_service_payments/db/payment_users_repo.py
Due: pkg_models_library, payments

comment
  tests/e2e-frontend/playwright.config.js
Due: none

cleanup oas
  services/api-server/openapi.json
  services/catalog/openapi.json
  services/director-v2/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api_server, catalog, director_v2, webserver

🎨 GUEST user has only access to its owned or published projects (#8911)
  .vscode/extensions.json
  packages/models-library/src/models_library/groups.py
  packages/models-library/tests/test_api_schemas_webserver_socketio.py
  packages/service-library/src/servicelib/logging_utils.py
  services/api-server/openapi.json
  services/catalog/openapi.json
  services/director-v2/openapi.json
  services/payments/src/simcore_service_payments/db/payment_users_repo.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_access_rights_repository.py
  services/web/server/src/simcore_service_webserver/projects/_access_rights_service.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_controller/rest/redirects_exceptions.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_studies_access.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/conftest.py
  services/web/server/tests/unit/isolated/test_utils.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__list.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
Due: pkg_models_library, pkg_service_library, api_server, catalog, director_v2, payments, webserver

cleanup aiohttp otel instrumentation
  packages/service-library/src/servicelib/aiohttp/tracing.py
Due: pkg_service_library

typing
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
Due: none

migrated to asyncssh
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
Due: none

improvements on error results and states
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/models.py
Due: none

migrated to orjson
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ec2.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
  scripts/maintenance/computational-clusters/pyproject.toml
  scripts/maintenance/computational-clusters/uv.lock
Due: none

minor
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
Due: none

use one ssh tunnel per module
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
Due: none

minor
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/models.py
Due: none

ongoing
  scripts/maintenance/computational-clusters/autoscaled_monitor/constants.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/models.py
Due: none

use 1 tunnel and engine per cli call
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
Due: none

added asyncssh
  scripts/maintenance/computational-clusters/pyproject.toml
  scripts/maintenance/computational-clusters/uv.lock
Due: none

perf
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/summary.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/reconciliation.py
Due: none

improve
  scripts/maintenance/computational-clusters/autoscaled_monitor/analysis.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/summary.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
Due: none

refactor
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/reconciliation.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
Due: none

minor
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
Due: none

upgrade
  scripts/maintenance/computational-clusters/uv.lock
Due: none

@copilot review
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/models.py
Due: none

moved
  scripts/maintenance/autoscaled-monitor/Makefile
  scripts/maintenance/autoscaled-monitor/README.md
  scripts/maintenance/autoscaled-monitor/pyproject.toml
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/__init__.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/_helpers.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/_state.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/analysis.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/__init__.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/__init__.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/cancel_jobs.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/summary.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/terminate.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/db/__init__.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/db/check.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/dynamic/__init__.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/dynamic/summary.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/dynamic/terminate.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/summary.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/constants.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/dask.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/db.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/ec2.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/main.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/models.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/reconciliation.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/rendering.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/ssh.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/utils.py
  scripts/maintenance/autoscaled-monitor/uv.lock
Due: none

refactor
  scripts/maintenance/computational-clusters/autoscaled_monitor/_state.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/analysis.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/cli.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/__init__.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/computational/__init__.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/computational/cancel_jobs.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/computational/summary.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/computational/terminate.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/db/__init__.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/db/check.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/dynamic/__init__.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/dynamic/summary.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/dynamic/terminate.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/commands/summary.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/constants.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/main.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/models.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/reconciliation.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
  scripts/maintenance/computational-clusters/pyproject.toml
Due: none

have resources
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/models.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/reconciliation.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
Due: none

removed pylint
  scripts/maintenance/computational-clusters/pyproject.toml
  scripts/maintenance/computational-clusters/uv.lock
Due: none

worksforme
  scripts/maintenance/computational-clusters/autoscaled_monitor/ec2.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/rendering.py
Due: none

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
