Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fix pipelinedetails warning
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
Due: none

revert
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
Due: none

revert accidental referencing update
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
Due: agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage

added missing links to issues
  requirements/constraints.txt
Due: none

pinned referencing
  services/storage/requirements/_test.txt
Due: storage

proper referencing versions
  services/efs-guardian/requirements/_test.txt
  services/resource-usage-tracker/requirements/_test.txt
Due: efs_guardian, resource_usage_tracker

revert change
  services/api-server/requirements/_base.txt
Due: api_server

fixede test
  packages/service-library/tests/fastapi/test_docker_utils.py
Due: pkg_service_library

Company name required
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
Due: webclient

University required in s4l-science
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
Due: webclient

fix test
  tests/e2e-playwright/tests/platform_CI_tests/test_platform.py
Due: none

renaming
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
Due: webclient

🐛 [Frontend] Bugfix: Do not recreate login page after resize (#7118)
  services/static-webserver/client/source/class/osparc/auth/LoginPageSplit.js
Due: webclient

revert
  packages/service-library/tests/fastapi/test_docker_utils.py
Due: pkg_service_library

fixed name
  .github/mergify.yml
Due: none

typos
  .github/mergify.yml
Due: none

[skip ci] reason and refactoring
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/resource/osparc/new_studies.json
Due: webclient

🎨 Only retry flaky tests when PR is ready for merging (#7126)
  .github/mergify.yml
Due: none

reason to NewStudies
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
Due: webclient

replace_me_product_name
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
Due: webclient

PO email in product
  services/web/server/src/simcore_service_webserver/login/_registration_api.py
  services/web/server/src/simcore_service_webserver/products/_model.py
Due: webserver

migration
  packages/postgres-database/src/simcore_postgres_database/migration/versions/1bc517536e0a_add_product_owners_email_col.py
Due: pkg_postgres_database

minor
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/web/server/src/simcore_service_webserver/login/_registration_api.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration_handlers.py
Due: webserver

binds db
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/web/server/src/simcore_service_webserver/products/_db.py
Due: webserver

new column
  packages/postgres-database/src/simcore_postgres_database/models/products.py
Due: pkg_postgres_database

solarcloud
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
Due: clusters_keeper

twilio
  packages/settings-library/src/settings_library/tracing.py
  packages/settings-library/src/settings_library/twilio.py
Due: pkg_settings_library

updates api-server settings
  services/api-server/src/simcore_service_api_server/core/settings.py
Due: api_server

adds warnings='none'
  packages/settings-library/tests/test_twilio.py
  packages/settings-library/tests/test_utils_logging.py
  scripts/maintenance/migrate_project/src/cli.py
  services/agent/src/simcore_service_agent/core/application.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/tests/unit/_with_db/test_core_settings__with_db.py
  services/api-server/tests/unit/test_core_settings.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations_tasks.py
  services/director/src/simcore_service_director/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/application.py
  services/invitations/tests/unit/api/conftest.py
  services/payments/scripts/example_payment_gateway.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/cli.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/application.py
  services/storage/src/simcore_service_storage/application.py
  services/storage/tests/conftest.py
  services/web/server/src/simcore_service_webserver/email/_core.py
  services/web/server/src/simcore_service_webserver/email/_handlers.py
  services/web/server/tests/unit/isolated/test_security_api.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/conftest.py
Due: pkg_settings_library, agent, api_server, autoscaling, catalog, clusters_keeper, datcore_adapter, director, director_v2, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage, webserver

autoscaling
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
Due: autoscaling

email settings
  packages/settings-library/src/settings_library/efs.py
  packages/settings-library/src/settings_library/email.py
  packages/settings-library/tests/test_email.py
Due: pkg_settings_library

updates datcore-adapter
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/settings.py
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_core_settings.py
Due: datcore_adapter

cleanup efs guardian settings
  services/efs-guardian/src/simcore_service_efs_guardian/core/settings.py
  services/efs-guardian/tests/unit/test_core_settings.py
Due: efs_guardian

docker settings
  packages/settings-library/src/settings_library/docker_registry.py
Due: pkg_settings_library

typo
  packages/settings-library/tests/test_ec2.py
Due: pkg_settings_library

base applciation settings
  packages/settings-library/src/settings_library/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
Due: pkg_settings_library, webserver

@sanderegg review: test origin of UserWarning, fixes issue in log validator and undos all warning
  packages/settings-library/setup.cfg
  packages/settings-library/src/settings_library/utils_logging.py
  packages/settings-library/tests/test__pydantic_settings.py
  packages/settings-library/tests/test_twilio.py
  packages/settings-library/tests/test_utils_logging.py
  scripts/maintenance/migrate_project/src/cli.py
  services/agent/src/simcore_service_agent/core/application.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/tests/unit/_with_db/test_core_settings__with_db.py
  services/api-server/tests/unit/test_core_settings.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/tests/unit/test_core_settings.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/tests/conftest.py
  services/director-v2/tests/unit/test_core_settings.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations_tasks.py
  services/director/src/simcore_service_director/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/application.py
  services/invitations/tests/unit/api/conftest.py
  services/payments/scripts/example_payment_gateway.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/application.py
  services/storage/src/simcore_service_storage/application.py
  services/storage/tests/conftest.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/email/_core.py
  services/web/server/src/simcore_service_webserver/email/_handlers.py
  services/web/server/tests/unit/isolated/test_application_settings.py
  services/web/server/tests/unit/isolated/test_security_api.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/conftest.py
Due: pkg_settings_library, agent, api_server, autoscaling, catalog, clusters_keeper, datcore_adapter, director, director_v2, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage, webserver

ssm
  packages/settings-library/src/settings_library/ec2.py
  packages/settings-library/src/settings_library/ssm.py
  packages/settings-library/src/settings_library/utils_validators.py
Due: pkg_settings_library

director settings
  packages/settings-library/src/settings_library/director_v0.py
Due: pkg_settings_library
