Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

Folder editor
  services/static-webserver/client/source/class/osparc/editor/FolderEditor.js
Due: webclient

[skip ci] workspace editor
  services/static-webserver/client/source/class/osparc/editor/WorkspaceEditor.js
Due: webclient

mypy
  services/director-v2/src/simcore_service_director_v2/core/application.py
Due: director_v2

now it works
  services/director-v2/src/simcore_service_director_v2/core/errors.py
Due: director_v2

linter
  services/director-v2/src/simcore_service_director_v2/core/errors.py
Due: director_v2

revert
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_base_scheduler.py
Due: director_v2

pruning
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_pipelines.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects_networks.py
  services/director-v2/src/simcore_service_director_v2/modules/resource_usage_tracker_client.py
Due: director_v2

pruning
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_dask_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_modules_comp_scheduler_dask_scheduler.py
Due: director_v2

fix
  services/director-v2/src/simcore_service_director_v2/core/errors.py
Due: director_v2

errors on dynamic sidecar submodule
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/volumes.py
Due: director_v2

use get
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
Due: director_v2

access to error context
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
Due: director_v2

revert
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_dask_scheduler.py
Due: director_v2

pruning
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
Due: director_v2

ConfigurationError
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
  services/director-v2/src/simcore_service_director_v2/modules/dask_clients_pool.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
Due: director_v2

revert
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
Due: director_v2

temporary fix
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_base_scheduler.py
Due: director_v2

should not be here
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
Due: director_v2

remove comment
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_base_scheduler.py
Due: director_v2

correct error usage
  services/director-v2/src/simcore_service_director_v2/core/errors.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_base_scheduler.py
  services/director-v2/src/simcore_service_director_v2/utils/dask_client_utils.py
Due: director_v2

bad merge
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_modules_comp_scheduler_dask_scheduler.py
Due: director_v2

typing
  packages/common-library/src/common_library/errors_classes.py
Due: none

cleanup network legacy
  packages/common-library/src/common_library/pydantic_networks_extension.py
  packages/common-library/tests/test_pydantic_networks_extension.py
  packages/models-library/src/models_library/rest_pagination.py
  packages/models-library/src/models_library/rest_pagination_utils.py
  packages/settings-library/src/settings_library/ssm.py
  services/agent/src/simcore_service_agent/core/settings.py
  services/agent/tests/conftest.py
  services/invitations/src/simcore_service_invitations/api/_meta.py
  services/invitations/src/simcore_service_invitations/services/invitations.py
  services/invitations/tests/unit/api/test_api_invitations.py
  services/invitations/tests/unit/test_invitations.py
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/payments/src/simcore_service_payments/services/stripe.py
  services/payments/tests/unit/conftest.py
  services/payments/tests/unit/test_services_payments_gateway.py
Due: pkg_models_library, pkg_settings_library, agent, invitations, payments

[skip ci] mode ids
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
Due: webclient

🎨 [Frontend] Check all linked nodes exist before loading Study (#6762)
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/MainPageHandler.js
Due: webclient

ids to widgets
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
Due: webclient

use pytest match
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
Due: director_v2

linter happy
  packages/models-library/src/models_library/rest_ordering.py
Due: pkg_models_library

refactor settings
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
Due: dynamic_sidecar

Revert catalog manual instrumentation as suggested by @bisgaard-itis
  services/catalog/src/simcore_service_catalog/api/rest/_services.py
Due: catalog

workspacesAndFoldersTreeItem_
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
Due: webclient

fix bug
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
Due: webclient

fix
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
Due: webclient

fix test
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
Due: director_v2

fixed test
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
Due: director_v2

fix test
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/errors.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Due: director_v2

remove unused import
  services/agent/tests/conftest.py
Due: agent

use pytest match
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Due: director_v2

🎨 [e2e][Frontend] Folders and Workspaces related test-ids (#6766)
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTreeItem.js
  services/static-webserver/client/source/class/osparc/editor/FolderEditor.js
  services/static-webserver/client/source/class/osparc/editor/WorkspaceEditor.js
Due: webclient

add setting to control concurrency in dv-0
  services/director/src/simcore_service_director/core/settings.py
  services/director/src/simcore_service_director/registry_proxy.py
Due: director
