Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

remove default
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
Due: pkg_simcore_sdk

🎨🔨 Extend i18n tooling with ollama-based local translation support [skip CI] (#9449)
  scripts/i18n/Makefile
  scripts/i18n/README.md
  scripts/i18n/tools/i18n_extractor.py
  scripts/i18n/tools/package-lock.json
  scripts/i18n/tools/package.json
  scripts/i18n/tools/tests/test_i18n_extractor_ts_ast_qooxdoo.py
  scripts/makefiles/ollama.mk
  scripts/ollama/Makefile
Due: none

Fixes sonarcloud blocker issues
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/pricing_plans.py
  packages/service-library/src/servicelib/rabbitmq/_client.py
  services/catalog/src/simcore_service_catalog/api/rest/routes.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/process_messages.py
  services/storage/src/simcore_service_storage/api/rest/routes.py
Due: pkg_models_library, pkg_service_library, catalog, datcore_adapter, efs_guardian, storage

@sanderegg review: linter
  packages/service-library/tests/fastapi/test_rabbitmq_lifespan.py
Due: pkg_service_library

doc
  packages/service-library/src/servicelib/fastapi/application_setup.py
Due: pkg_service_library

🐛 [Notifications] Handle project deletion gracefully in computational pipeline status message parser
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
Due: webserver

♻️ refactor(routes): optimize API router setup by caching and adjusting prefix usage
  services/autoscaling/src/simcore_service_autoscaling/api/routes.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/api/routes.py
Due: autoscaling, clusters_keeper

fixes pylint and updates OAS
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/tests/fastapi/test_application_setup.py
  packages/service-library/tests/fastapi/test_rabbitmq_lifespan.py
  services/storage/openapi.json
Due: pkg_service_library, storage

✨ feat(setup): add idempotent setup decorator for FastAPI applications
  packages/service-library/src/servicelib/fastapi/application_setup.py
  packages/service-library/tests/fastapi/test_application_setup.py
  services/autoscaling/src/simcore_service_autoscaling/api/routes.py
  services/catalog/src/simcore_service_catalog/api/rest/routes.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/api/routes.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes.py
  services/storage/src/simcore_service_storage/api/rest/routes.py
Due: pkg_service_library, autoscaling, catalog, clusters_keeper, datcore_adapter, storage

@sanderegg review: doc
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
Due: webserver

doc
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
Due: webserver

doc
  packages/service-library/src/servicelib/rabbitmq/_client.py
Due: pkg_service_library

✨ test: add tests for ensure_single_setup behavior on failure and idempotency
  packages/service-library/src/servicelib/fastapi/application_setup.py
  packages/service-library/tests/fastapi/test_application_setup.py
Due: pkg_service_library

@GitHK review: doc
  packages/service-library/src/servicelib/rabbitmq/_client.py
Due: pkg_service_library

♻️ refactor(application_setup): replace Callable with Protocol for setup function type hinting
  packages/service-library/src/servicelib/fastapi/application_setup.py
Due: pkg_service_library

@GitHK, @sanderegg review: adds unnecessary complexity
  packages/service-library/src/servicelib/fastapi/application_setup.py
  packages/service-library/tests/fastapi/test_application_setup.py
  services/autoscaling/src/simcore_service_autoscaling/api/routes.py
  services/catalog/src/simcore_service_catalog/api/rest/routes.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/api/routes.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/routes.py
  services/storage/src/simcore_service_storage/api/rest/routes.py
Due: pkg_service_library, autoscaling, catalog, clusters_keeper, datcore_adapter, storage

@GitHK @sanderegg review: nosonar
  services/efs-guardian/src/simcore_service_efs_guardian/services/process_messages.py
Due: efs_guardian

createStudy and createEmptyStudy
  services/static-webserver/client/source/class/osparc/study/Utils.js
Due: webclient

this
  services/static-webserver/client/source/class/osparc/study/Utils.js
Due: webclient

update openapi
  services/storage/openapi.json
Due: storage

use RPC entrypoint of storage for deleting stuff
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/src/simcore_service_webserver/storage/api.py
Due: webserver

use RPC entrypoint of storage for deleting stuff
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_delete.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__delete_workspace_with_content.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: webserver

removed entrypoint to delete folders from storage REST API
  services/storage/src/simcore_service_storage/api/rest/_simcore_s3.py
  services/storage/src/simcore_service_storage/models.py
Due: storage

services/storage api version: 0.7.1 → 0.8.0
  services/storage/VERSION
  services/storage/setup.cfg
Due: storage

reuse the function
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

fix
  services/static-webserver/client/source/class/osparc/study/Utils.js
Due: webclient

osparc.test.study.Utils
  services/static-webserver/client/source/class/osparc/test/study/Utils.js
Due: webclient

refactor
  services/director-v2/tests/integration/02/utils.py
Due: director_v2

use RPC entrypoint of storage for deleting stuff
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/services_http/storage.py
  services/api-server/src/simcore_service_api_server/services_rpc/storage.py
Due: api_server

missing argument
  packages/service-library/src/servicelib/celery/async_jobs/storage/paths.py
Due: pkg_service_library

refactor
  services/web/server/src/simcore_service_webserver/storage/api.py
Due: webserver

updated openapi
  services/storage/openapi.json
Due: storage

updated test
  services/storage/tests/unit/test_async_jobs_handlers_simcore_s3.py
Due: storage

update alembic script
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4ec498d70da6_refactor_file_meta_data_timestamp_.py
Due: pkg_postgres_database

fixed test
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
  services/api-server/tests/unit/conftest.py
Due: api_server

minor
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
Due: webclient

fixed test
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

fixed logs
  services/web/server/src/simcore_service_webserver/storage/api.py
Due: webserver

add dependency to storage worker
  services/web/server/tests/integration/01/test_garbage_collection.py
Due: webserver

removed flaky decorator
  services/web/server/tests/integration/01/test_garbage_collection.py
Due: webserver

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
