Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

🎨 Ordering, Query Parsing, and Type Annotation Refinements and Unification (#8599)
  .github/instructions/python.instructions.md
  api/specs/web-server/_common.py
  packages/models-library/src/models_library/invitations.py
  packages/models-library/src/models_library/list_operations.py
  packages/models-library/src/models_library/rest_ordering.py
  packages/models-library/src/models_library/string_types.py
  packages/models-library/tests/test_list_operations.py
  packages/models-library/tests/test_rest_ordering.py
  packages/notifications-library/src/notifications_library/templates/on_account_requested.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_account_requested.email.content.txt
  services/invitations/tests/unit/conftest.py
  services/invitations/tests/unit/test_invitations.py
  services/web/server/src/simcore_service_webserver/login_accounts/_service.py
  services/web/server/src/simcore_service_webserver/templates/common/request_account.jinja2
  services/web/server/src/simcore_service_webserver/users/_accounts_service.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_search.py
Due: api, pkg_models_library, pkg_notifications_library, invitations, webserver

⬆️ Upgrade Python target version (#8610)
  .ruff.toml
  scripts/pyupgrade.bash
Due: none

done
  services/agent/src/simcore_service_agent/main.py
  services/api-server/src/simcore_service_api_server/main.py
  services/autoscaling/src/simcore_service_autoscaling/main.py
  services/catalog/src/simcore_service_catalog/main.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/main.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/logs.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/main.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/main.py
  services/invitations/src/simcore_service_invitations/main.py
  services/notifications/src/simcore_service_notifications/main.py
  services/payments/src/simcore_service_payments/main.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/main.py
  services/web/server/src/simcore_service_webserver/log.py
Due: agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, webserver

missing
  services/storage/src/simcore_service_storage/main.py
Due: storage

♻️ Remove aio-pika and aiormq from list of noisy loggers repo-wide (#8612)
  services/agent/src/simcore_service_agent/main.py
  services/api-server/src/simcore_service_api_server/main.py
  services/autoscaling/src/simcore_service_autoscaling/main.py
  services/catalog/src/simcore_service_catalog/main.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/main.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/logs.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/main.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/main.py
  services/invitations/src/simcore_service_invitations/main.py
  services/notifications/src/simcore_service_notifications/main.py
  services/payments/src/simcore_service_payments/main.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/main.py
  services/storage/src/simcore_service_storage/main.py
  services/web/server/src/simcore_service_webserver/log.py
Due: agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage, webserver

more props
  services/static-webserver/client/source/class/osparc/data/model/NodePort.js
Due: webclient

getInputs
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropFormBase.js
Due: webclient

trying to get more logs
  packages/service-library/src/servicelib/rabbitmq/_client.py
  services/web/server/src/simcore_service_webserver/chatbot/_process_chatbot_trigger_service.py
Due: pkg_service_library, webserver

fix
  services/static-webserver/client/source/class/osparc/form/renderer/PropFormBase.js
Due: webclient

more refactoring
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/NodePort.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/node/ParameterEditor.js
  services/static-webserver/client/source/class/osparc/node/TierSelectionView.js
  services/static-webserver/client/source/class/osparc/service/StatusUI.js
Due: webclient

trying to get more logs
  packages/service-library/src/servicelib/rabbitmq/_client.py
Due: pkg_service_library

minor
  services/static-webserver/client/source/class/osparc/data/model/Node.js
Due: webclient

trying to get more logs
  services/web/server/src/simcore_service_webserver/chatbot/_process_chatbot_trigger_service.py
Due: webserver

update settings
  services/notifications/src/simcore_service_notifications/core/settings.py
  services/notifications/src/simcore_service_notifications/main.py
Due: none

update docker-compose
  services/docker-compose.yml
Due: none

parameter
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/NodePort.js
  services/static-webserver/client/source/class/osparc/widget/NodeOutputs.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

update reqs
  services/notifications/requirements/_base.in
  services/notifications/requirements/_base.txt
  services/notifications/requirements/_test.in
  services/notifications/requirements/_test.txt
  services/notifications/requirements/_tools.txt
  services/notifications/requirements/ci.txt
  services/notifications/requirements/dev.txt
  services/notifications/requirements/prod.txt
Due: none

🐛 trying to get more logs for rabbitmq issues (#8613)
  packages/service-library/src/servicelib/rabbitmq/_client.py
  services/web/server/src/simcore_service_webserver/chatbot/_process_chatbot_trigger_service.py
Due: pkg_service_library, webserver

update app setup/startup
  services/notifications/src/simcore_service_notifications/clients/celery.py
  services/notifications/src/simcore_service_notifications/core/application.py
  services/notifications/src/simcore_service_notifications/core/events.py
Due: none

minor
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

add notification on support conversation actions
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_service.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_service.py
Due: webserver

minor
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/service/StatusUI.js
Due: webclient

probe updated
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

fix
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
Due: webclient

done
  packages/service-library/src/servicelib/redis/_decorators.py
Due: pkg_service_library

update reqs
  services/notifications/requirements/_base.in
  services/notifications/requirements/_base.txt
  services/notifications/requirements/ci.txt
  services/notifications/requirements/dev.txt
  services/notifications/requirements/prod.txt
Due: none

♻️Ensure exclusive lock auto reacquisition task is always properly cancelled (#8617)
  packages/service-library/src/servicelib/redis/_decorators.py
Due: pkg_service_library

removed last occurence
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Due: storage

complete
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
Due: pkg_simcore_sdk

removed aws_s3 occurences
  .env-devel
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/__init__.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  packages/simcore-sdk/tests/unit/test_node_data_data_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_port.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/sidecar.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/docker-compose.yml
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
Due: pkg_simcore_sdk, director_v2, dynamic_sidecar

formating
  services/docker-compose.yml
Due: none

removed AWSS3Settings
  packages/settings-library/src/settings_library/aws_s3_cli.py
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/aws_s3_cli.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/aws_s3_cli_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/__init__.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/nodeports_v2.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/serialization_v2.py
  packages/simcore-sdk/tests/integration/conftest.py
  packages/simcore-sdk/tests/integration/test_node_data_data_manager.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_aws_s3_cli.py
  packages/simcore-sdk/tests/integration/test_node_ports_common_filemanager.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/sidecar.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
Due: pkg_settings_library, pkg_simcore_sdk, director_v2, dynamic_sidecar

removed installation
  ci/github/helpers/install_aws_cli_v2.bash
  ci/github/integration-testing/simcore-sdk.bash
  services/dynamic-sidecar/Dockerfile
Due: dynamic_sidecar

revert
  services/docker-compose.yml
Due: none

fix test
  services/web/server/tests/unit/with_dbs/04/conversations/test_conversations_rest.py
Due: webserver

update boot.sh
  services/notifications/docker/boot.sh
Due: none

testing issue - assumption it is connected to Redis locking
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_service.py
Due: webserver

minor
  services/static-webserver/client/source/class/osparc/ui/basic/NodeStatusUI.js
Due: webclient

use outputs
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/widget/NodeOutputs.js
Due: webclient
