Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

update api-server openapi.json
  services/api-server/openapi.json
Due: api_server

purchased
  services/static-webserver/client/source/class/osparc/data/model/PricingUnit.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Due: webclient

RUT unit tests
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_purchases.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/routes.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_purchases.py
Due: pkg_models_library, pkg_service_library, resource_usage_tracker

Import button
  services/static-webserver/client/source/class/osparc/study/PricingUnit.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Due: webclient

⬆️ upgrade api-server dependencies (#6860)
  .github/workflows/ci-testing-pull-request.yml
  services/api-server/Makefile
  services/api-server/openapi.json
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/api-server/requirements/_tools.txt
  services/api-server/requirements/constraints.txt
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api_server, webserver

RUT unit tests
  packages/postgres-database/src/simcore_postgres_database/migration/versions/8fa15c4c3977_add_cols_to_licensed_items_purchases_.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d68b8128c23b_add_cols_to_licensed_items_purchases_.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_purchases_db.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_purchases.py
Due: pkg_postgres_database, resource_usage_tracker

RUT unit tests
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_purchases.py
Due: resource_usage_tracker

refactor and 4 tabs
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
Due: webclient

all models
  services/static-webserver/client/source/class/osparc/study/NodePricingUnits.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitTiers.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Due: webclient

openCategory
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/MarketWindow.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Due: webclient

webserver part
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_purchases.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_purchases.py
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/catalog/plugin.py
  services/web/server/src/simcore_service_webserver/licenses/__init__.py
  services/web/server/src/simcore_service_webserver/licenses/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_api.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_db.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_api.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_models.py
  services/web/server/src/simcore_service_webserver/licenses/api.py
  services/web/server/src/simcore_service_webserver/licenses/errors.py
  services/web/server/src/simcore_service_webserver/licenses/plugin.py
Due: pkg_models_library, webserver

webserver part
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_purchases.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_api.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_models.py
Due: pkg_models_library, webserver

open api specs
  api/specs/web-server/_licensed_items.py
  api/specs/web-server/_licensed_items_purchases.py
  api/specs/web-server/openapi.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/errors.py
Due: api, webserver

webserver part tests
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_purchases.py
  services/web/server/src/simcore_service_webserver/licenses/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/plugin.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_db.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_handlers.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_purchases_handlers.py
Due: pkg_models_library, webserver

open api specs
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

remove unessecary quote
  services/api-server/src/simcore_service_api_server/services/webserver.py
Due: api_server

replace replaceAll
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
Due: webclient

fix type
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_purchases.py
Due: pkg_models_library

fix type
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_purchases.py
Due: pkg_service_library

fix type
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_purchases.py
Due: resource_usage_tracker

fix type
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_purchases_db.py
Due: resource_usage_tracker

🐛 [Frontend] Fix: e2e-portal's browser doesn't support ``replaceAll`` (#6932)
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
Due: webclient

alternative user name
  packages/postgres-database/src/simcore_postgres_database/utils_users.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/src/simcore_service_webserver/users/exceptions.py
Due: pkg_postgres_database, webserver

list users in group
  api/specs/web-server/_groups.py
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
  packages/models-library/src/models_library/groups.py
  services/web/server/src/simcore_service_webserver/groups/_classifiers_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_common/schemas.py
  services/web/server/src/simcore_service_webserver/groups/_common/types.py
  services/web/server/src/simcore_service_webserver/groups/_groups_api.py
  services/web/server/src/simcore_service_webserver/groups/_groups_db.py
  services/web/server/src/simcore_service_webserver/groups/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/groups/api.py
Due: api, pkg_models_library, webserver

exception handlers
  services/web/server/src/simcore_service_webserver/groups/_common/exceptions_handlers.py
Due: webserver

cleanup tests
  services/web/server/tests/unit/with_dbs/01/groups/test_groups_handlers_users.py
Due: webserver

cleanup
  services/web/server/src/simcore_service_webserver/groups/_groups_api.py
  services/web/server/src/simcore_service_webserver/groups/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/groups/api.py
Due: webserver

get_user_group
  services/web/server/src/simcore_service_webserver/groups/_groups_api.py
  services/web/server/src/simcore_service_webserver/groups/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/groups/api.py
Due: webserver

mv to common
  services/web/server/src/simcore_service_webserver/groups/_common/__init__.py
  services/web/server/src/simcore_service_webserver/groups/_common/models.py
Due: webserver

one place for groups
  services/web/server/src/simcore_service_webserver/groups/_groups_db.py
  services/web/server/src/simcore_service_webserver/groups/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/groups/api.py
  services/web/server/src/simcore_service_webserver/groups/plugin.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
Due: webserver

rm mapping
  services/web/server/src/simcore_service_webserver/groups/_utils.py
  services/web/server/src/simcore_service_webserver/groups/models.py
  services/web/server/src/simcore_service_webserver/users/api.py
Due: webserver

exception handlers groups
  services/web/server/src/simcore_service_webserver/groups/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_handlers.py
Due: webserver

moving classifiers and users"
  api/specs/web-server/_groups.py
  services/web/server/src/simcore_service_webserver/groups/_classifiers_api.py
  services/web/server/src/simcore_service_webserver/groups/_classifiers_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_common/exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_common/models.py
  services/web/server/src/simcore_service_webserver/groups/_db.py
  services/web/server/src/simcore_service_webserver/groups/_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_users_api.py
  services/web/server/src/simcore_service_webserver/groups/plugin.py
  services/web/server/tests/unit/with_dbs/01/test_groups_classifiers.py
Due: api, webserver

cleanup
  services/web/server/src/simcore_service_webserver/groups/_groups_api.py
  services/web/server/tests/unit/with_dbs/01/test_groups.py
Due: webserver

pre
  services/web/server/tests/integration/01/test_garbage_collection.py
Due: webserver

@sanderegg review: rename patch instead of update
  api/specs/web-server/_users.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/tests/unit/_with_db/test_api_user.py
  services/web/server/src/simcore_service_webserver/users/_handlers.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/tests/unit/isolated/test_users_models.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_registration.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Due: api, pkg_models_library, api_server, webserver

rm adapter
  services/web/server/src/simcore_service_webserver/groups/_users_api.py
Due: webserver

cleanup
  services/web/server/tests/unit/with_dbs/01/groups/test_groups_handlers_users.py
Due: webserver
