Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fix
  packages/postgres-database/src/simcore_postgres_database/migration/versions/201aa37f4d9a_migrate_workbench_column_to_projects_nodes_.py
Due: pkg_postgres_database

fix
  packages/postgres-database/tests/test_migration_201aa37f4d9a_workbench_to_projects_nodes.py
Due: pkg_postgres_database

fix
  .env-devel
Due: none

fix
  packages/models-library/src/models_library/notifications/rpc/_email.py
  packages/models-library/src/models_library/notifications/rpc/_message.py
  services/notifications/tests/conftest.py
  services/notifications/tests/unit/conftest.py
Due: pkg_models_library

fix
  services/notifications/src/simcore_service_notifications/models/smtp.py
  services/notifications/src/simcore_service_notifications/services/_message.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/core/settings.py
  services/notifications/src/simcore_service_notifications/services/_message.py
Due: none

fix autofill
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

fix
  services/notifications/src/simcore_service_notifications/services/_message.py
Due: none

disableAutocomplete wasn't doing much
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/filter/TextFilter.js
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

new-pass attribute to prevent autofill
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

copilot
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

fix
  packages/postgres-database/src/simcore_postgres_database/migration/versions/201aa37f4d9a_migrate_workbench_column_to_projects_nodes.py
Due: pkg_postgres_database

fix
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
Due: pkg_postgres_database

fix
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_utils_project.py
Due: none

🐛 [Frontend] Fix: do not autofill Dashboard's search filter when opening MyAccount (#9238)
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/filter/TextFilter.js
  services/static-webserver/client/source/class/osparc/form/tag/TagItem.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

make it faster
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

minor
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

fix
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_data_models.py
Due: none

upgrade skill
  .github/skills/fastapi-application-configuration/SKILL.md
Due: none

fix test
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
Due: autoscaling

improvement1
  .github/skills/fastapi-application-configuration/SKILL.md
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/auto_scaling_task.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/warm_buffer_machines_pool_task.py
  services/autoscaling/src/simcore_service_autoscaling/modules/docker.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/__init__.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/modules/redis.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ssm.py
Due: autoscaling

upgraded with upgraded skill
  services/autoscaling/src/simcore_service_autoscaling/_meta.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
Due: autoscaling

upgraded Skill
  .github/skills/fastapi-application-configuration/SKILL.md
Due: none

@crespov review: ruff
  services/autoscaling/src/simcore_service_autoscaling/modules/rabbitmq.py
Due: autoscaling

autoscaling done
  .github/skills/fastapi-application-configuration/SKILL.md
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/main.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/auto_scaling_task.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/warm_buffer_machines_pool_task.py
  services/autoscaling/src/simcore_service_autoscaling/modules/docker.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/__init__.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/modules/redis.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ssm.py
Due: autoscaling

improvement2
  .github/skills/fastapi-application-configuration/SKILL.md
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/modules/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ssm.py
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
  services/autoscaling/tests/unit/test_modules_ssm.py
Due: autoscaling

fixed
  services/autoscaling/tests/unit/test_modules_ec2.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
  services/autoscaling/tests/unit/test_modules_ssm.py
Due: autoscaling

final?
  services/autoscaling/src/simcore_service_autoscaling/modules/docker.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/modules/redis.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ssm.py
Due: autoscaling

removed skill
  .github/skills/fastapi-application-configuration/SKILL.md
Due: none

also in ti_pers
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

refactor
  tests/e2e-playwright/tests/tip/_tip_steps.py
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

raise_if_button_spinner_running
  tests/e2e-playwright/tests/tip/_tip_steps.py
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

restore check
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
Due: webserver

fix
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
Due: none

run_optimization_and_load_analysis
  tests/e2e-playwright/tests/tip/_tip_steps.py
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

♻️: Autoscaling migrate to lifespan pattern (#9215)
  services/autoscaling/src/simcore_service_autoscaling/_meta.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/main.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/auto_scaling_task.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/warm_buffer_machines_pool_task.py
  services/autoscaling/src/simcore_service_autoscaling/modules/docker.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ec2.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/__init__.py
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/modules/redis.py
  services/autoscaling/src/simcore_service_autoscaling/modules/ssm.py
  services/autoscaling/tests/unit/test_modules_rabbitmq.py
Due: autoscaling

fix
  packages/postgres-database/src/simcore_postgres_database/migration/versions/201aa37f4d9a_migrate_workbench_column_to_projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/projects.py
Due: pkg_postgres_database, director_v2

simplify
  .env-devel
  packages/service-library/src/servicelib/docker_utils.py
  packages/settings-library/src/settings_library/dynamic_services_resources.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_provider_dynamic.py
  services/docker-compose.yml
Due: pkg_service_library, pkg_settings_library, autoscaling

add new ENV variables + adjusted computation of dynamic-sidecar available resources
  .env-devel
  packages/service-library/src/servicelib/docker_utils.py
  packages/settings-library/src/settings_library/dynamic_services_resources.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_provider_dynamic.py
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/docker-compose.yml
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: pkg_service_library, pkg_settings_library, autoscaling, director_v2, webserver

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
