Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fix Graylog parsing issue
  packages/service-library/src/servicelib/logging_utils.py
Due: pkg_service_library

Add trigger/function when updating project nodes
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c9c165644731_update_project_last_changed_date_column_.py
Due: pkg_postgres_database

Fix script
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c9c165644731_update_project_last_changed_date_column_.py
Due: pkg_postgres_database

isUnknown
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/NodeUnknown.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

Fix version strings
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
Due: api_server

services/api-server version: 0.10.0 → 0.11.0
  services/api-server/VERSION
  services/api-server/setup.cfg
Due: api_server

Mention new version in more files
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
Due: api_server

Update openapi specs
  services/api-server/openapi.json
Due: api_server

fix
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Due: webclient

fix: delete project_node
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

remove unused
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
Due: webserver

🐛 fix Graylog parsing issue (#8191)
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/tests/test_logging_utils.py
Due: pkg_service_library

refactor
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

PORT_MARGIN_TOP
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

fix: script downgrade order
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c9c165644731_update_project_last_changed_date_column_.py
Due: pkg_postgres_database

fix: test
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
Due: webserver

fix: lastChangeDate assert
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Due: webserver

fix: test
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Due: webserver

fix: node creation
  packages/models-library/src/models_library/projects_nodes.py
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: pkg_models_library, webserver

typecheck
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

typecheck
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy_utils.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

remove old
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

use new repo
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

remove get project
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

first commit
  packages/models-library/src/models_library/api_schemas_long_running_tasks/tasks.py
  services/api-server/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: pkg_models_library, api_server, webserver

update nodes
  services/web/server/src/simcore_service_webserver/projects/_nodes_repository.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_service.py
Due: webserver

fix document creation
  services/web/server/src/simcore_service_webserver/projects/_controller/ports_rest.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

trying to fix concurrency issue
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check.py
Due: resource_usage_tracker

fix tests
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

fix test
  packages/models-library/src/models_library/projects_nodes.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_projects.py
Due: pkg_models_library

trying to fix concurrency issue
  services/resource-usage-tracker/tests/unit/with_dbs/test_background_task_periodic_heartbeat_check.py
Due: resource_usage_tracker

revert back not needed changes
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check.py
Due: resource_usage_tracker

fix tests
  services/web/server/src/simcore_service_webserver/projects/_controller/ports_rest.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_repository.py
  services/web/server/tests/unit/with_dbs/02/test_projects_ports_handlers.py
Due: webserver

fix
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_projects.py
Due: none

fix deepdiff
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Due: webserver

remove tests
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
Due: webserver

fix model_dump
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
