Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

⚗️ Changed `periodic_task_result` internals in the attempt of solving issue (#7032)
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_context_manager.py
Due: pkg_service_library

add docker test image
  tests/performance/Makefile
  tests/performance/docker/Dockerfile
  tests/performance/requirements/_base.txt
  tests/performance/requirements/requirements-dev.txt
Due: none

✨ [Frontend] ViP Rentals and ViP Checkouts in Billing Center (#7043)
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/credits/BillingCenter.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Checkouts.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CheckoutsTable.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CheckoutsTableModel.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Purchases.js
  services/static-webserver/client/source/class/osparc/desktop/credits/PurchasesTable.js
  services/static-webserver/client/source/class/osparc/desktop/credits/PurchasesTableModel.js
  services/static-webserver/client/source/class/osparc/desktop/credits/ResourceInTableViewer.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UsageTable.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/store/LicensedItems.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_rest.py
Due: webclient, webserver

@pcrespov add comment
  tests/performance/docker/Dockerfile
Due: none

pass argument to sript VCS_REF_CLIENT
  services/static-webserver/client/Makefile
Due: webclient

add_no_cache_param
  services/static-webserver/client/scripts/post-compile.py
  services/static-webserver/client/source/boot/index.html
Due: webclient

minor
  services/static-webserver/client/scripts/post-compile.py
Due: webclient

@sanderegg remove unneccesary section in dockerfile
  tests/performance/docker/Dockerfile
Due: none

minor
  services/static-webserver/client/Makefile
Due: webclient

✨ Add docker test image for performance tests (#7053)
  tests/performance/Makefile
  tests/performance/docker/Dockerfile
  tests/performance/requirements/_base.txt
  tests/performance/requirements/requirements-dev.txt
Due: none

minor
  services/static-webserver/client/source/boot/index.html
Due: webclient

udpate also boojt.js
  services/static-webserver/client/scripts/post-compile.py
Due: webclient

addNoCacheParam to true
  services/static-webserver/client/scripts/post-compile.py
Due: webclient

cleanup
  services/static-webserver/client/scripts/post-compile.py
  services/static-webserver/client/source/boot/index.html
Due: webclient

improvements and tests
  packages/postgres-database/src/simcore_postgres_database/migration/versions/a3a58471b0f1_add_credit_transaction_classification_.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rest/_resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/credit_transactions_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/service_runs_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/service_runs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/utils.py
  services/resource-usage-tracker/tests/unit/conftest.py
  services/resource-usage-tracker/tests/unit/with_dbs/conftest.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_credit_transactions.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_states_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_wallets_api.py
  services/web/server/src/simcore_service_webserver/projects/_wallets_handlers.py
  services/web/server/src/simcore_service_webserver/projects/api.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
Due: pkg_postgres_database, pkg_service_library, resource_usage_tracker, webserver

improvements and tests
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/service_runs_db.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_credit_transactions.py
Due: resource_usage_tracker

last touches
  services/static-webserver/client/Makefile
  services/static-webserver/client/scripts/post-compile.py
Due: webclient

add docker to requirements for pylint
  ci/helpers/requirements.in
  ci/helpers/requirements.txt
Due: none

fix tests
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_service_runs.py
  services/web/server/src/simcore_service_webserver/projects/_states_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_wallet_handlers.py
Due: resource_usage_tracker, webserver

[skip ci] trashedAt workspace and folder
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
Due: webclient

[skip ci] trashed at studies
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
Due: webclient

make pylint happy
  packages/common-library/tests/test_pydantic_fields_extension.py
  packages/models-library/src/models_library/user_preferences.py
  packages/models-library/tests/test_rest_ordering.py
  packages/service-integration/src/service_integration/oci_image_spec.py
  packages/settings-library/src/settings_library/utils_service.py
  services/payments/tests/unit/test_services_notifier_email.py
Due: pkg_models_library, pkg_service_integration, pkg_settings_library, payments

[skip ci] trashedBy in folder
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/data/model/Folder.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
Due: webclient

move requirements files around
  ci/helpers/install_pylint.bash
  ci/helpers/requirements.txt
  ci/helpers/requirements/Makefile
  ci/helpers/requirements/requirements.in
  ci/helpers/requirements/requirements.txt
Due: none

[skip ci] DateAndBy
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/ui/basic/DateAndBy.js
Due: webclient

[skip ci] reuse widget
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/ui/basic/DateAndBy.js
Due: webclient

dateBy
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonItem.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
Due: webclient

unused
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonBase.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
Due: webclient

"by me"
  services/static-webserver/client/source/class/osparc/ui/basic/DateAndBy.js
Due: webclient

shorter date
  services/static-webserver/client/source/class/osparc/ui/basic/DateAndBy.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
Due: webclient

adding unit tests
  services/web/server/src/simcore_service_webserver/projects/_wallets_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_wallet_handlers.py
Due: webserver

test
  services/invitations/tests/unit/api/test_api_invitations.py
Due: invitations

fix
  services/invitations/src/simcore_service_invitations/services/invitations.py
Due: invitations

adding test for open project
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/service_runs.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_states_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_wallets_api.py
  services/web/server/src/simcore_service_webserver/projects/_wallets_handlers.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: pkg_service_library, webserver

openapi specs
  services/resource-usage-tracker/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: resource_usage_tracker, webserver

fix
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_credit_transactions.py
Due: resource_usage_tracker
