Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fa7-fontd
  services/static-webserver/client/Manifest.json
  services/static-webserver/client/source/resource/iconfont/fontawesome7/css/all.css
  services/static-webserver/client/source/resource/iconfont/fontawesome7/fa7-fonts.css
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/iconfont/FontAwesome7.js
Due: webclient

fix temp dir
  packages/celery-library/src/celery_library/worker/heartbeat.py
Due: none

remove exists
  packages/celery-library/src/celery_library/worker/heartbeat.py
Due: none

add comment
  packages/celery-library/src/celery_library/worker/heartbeat.py
Due: none

Use efficient healthcheck mechanism for Celery workers (#8652)
  packages/celery-library/src/celery_library/worker/heartbeat.py
  packages/celery-library/src/celery_library/worker/signals.py
  services/api-server/docker/healthcheck.py
  services/storage/docker/healthcheck.py
Due: api_server, storage

fix import
  services/notifications/docker/healthcheck.py
Due: none

fix
  services/notifications/Dockerfile
  services/notifications/docker/healthcheck.py
Due: none

upgrade celery
  packages/celery-library/requirements/_base.txt
  packages/celery-library/requirements/_test.txt
Due: none

upgrade services
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
Due: api_server, storage, webserver

⬆️ Maintenance: Upgrade Celery library (#8655)
  packages/celery-library/requirements/_base.txt
  packages/celery-library/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
Due: api_server, storage, webserver

minor
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
Due: webclient

increase start-period
  services/notifications/Dockerfile
Due: none

✨ Add fake progress handling for sidecar pulling in NodeProgressSequence
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
Due: webclient

♻️ [Frontend] remove Marker.io widget (#8536)
  services/static-webserver/client/source/boot/index.html
Due: webclient

safeToFixed
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

safeToFixed
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

stop __sidecarFakeProgressTimer on class destructor
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
Due: webclient

undo
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
Due: webclient

Update services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
Due: webclient

comment
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
Due: webclient

🎨 [Frontend] Add fake progress handling for Sidecar Pulling step (#8657)
  services/static-webserver/client/source/class/osparc/data/model/NodeProgressSequence.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

add a failing test
  services/autoscaling/tests/unit/test_utils_ec2.py
Due: autoscaling

we need to fix this test
  packages/aws-library/tests/test_ec2_models.py
Due: pkg_aws_library

read in GPU and VRAM values
  packages/aws-library/src/aws_library/ec2/_client.py
Due: pkg_aws_library

check for equality as well
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_ec2.py
  services/autoscaling/tests/unit/test_utils_ec2.py
Due: autoscaling

add a test with generic resources
  services/autoscaling/tests/unit/test_modules_cluster_scaling_computational.py
Due: autoscaling

closes instance policy now leverage also generic resources
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_ec2.py
Due: autoscaling

maybe
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_ec2.py
  services/autoscaling/tests/unit/conftest.py
Due: autoscaling

fix tests
  packages/aws-library/src/aws_library/ec2/_models.py
  packages/aws-library/tests/test_ec2_models.py
Due: pkg_aws_library

added test for GPU
  services/autoscaling/tests/unit/test_modules_cluster_scaling_computational.py
Due: autoscaling

added failing test
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
Due: autoscaling

dynamic services working now
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
Due: autoscaling

done
  packages/aws-library/src/aws_library/ec2/_client.py
Due: pkg_aws_library

doc
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_ec2.py
Due: autoscaling

simplify
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
Due: autoscaling

fixed test
  services/autoscaling/tests/unit/conftest.py
Due: autoscaling

revert
  services/docker-compose.yml
Due: none

fix test
  services/autoscaling/tests/unit/conftest.py
Due: autoscaling

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
