Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fix
  services/web/server/src/simcore_service_webserver/users/_accounts_service.py
Due: webserver

fix
  packages/pytest-simcore/src/pytest_simcore/aws_server.py
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
Due: none

fix
  services/director-v2/tests/unit/test_modules_storage.py
Due: director_v2

fix
  packages/pytest-simcore/src/pytest_simcore/aws_server.py
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/test_modules_storage.py
  services/storage/src/simcore_service_storage/api/rest/_simcore_s3.py
Due: director_v2, storage

fix
  packages/pytest-simcore/src/pytest_simcore/minio_service.py
Due: none

fix
  services/director-v2/tests/unit/conftest.py
Due: director_v2

fix
  packages/settings-library/src/settings_library/utils_r_clone.py
Due: pkg_settings_library

set from no-reply
  packages/common-library/src/common_library/network.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

model_dump()
  services/dynamic-sidecar/tests/integration/test_modules_long_running_tasks.py
Due: dynamic_sidecar

fix
  packages/common-library/src/common_library/serialization.py
Due: none

StudyLarge
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
Due: webclient

MergedLarge
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
Due: webclient

fix
  packages/models-library/src/models_library/api_schemas_storage/simcore_s3_schemas.py
  packages/pytest-simcore/src/pytest_simcore/aws_server.py
  services/storage/src/simcore_service_storage/api/rest/_simcore_s3.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
Due: pkg_models_library, storage

update oas
  services/storage/openapi.json
Due: storage

fix
  services/storage/tests/unit/test_handlers_simcore_s3.py
Due: storage

Update services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
Due: webclient

handle error
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
Due: webclient

Update services/storage/src/simcore_service_storage/api/rest/_simcore_s3.py
  services/storage/src/simcore_service_storage/api/rest/_simcore_s3.py
Due: storage

minor
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
Due: webclient

fix
  services/director-v2/tests/unit/conftest.py
  services/storage/src/simcore_service_storage/api/rest/_simcore_s3.py
Due: director_v2, storage

fix
  packages/models-library/src/models_library/api_schemas_webserver/notifications.py
  services/web/server/src/simcore_service_webserver/notifications/_models.py
Due: pkg_models_library, webserver

refactor interface
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_abc.py
Due: dynamic_scheduler

🎨 [Frontend] UX Add/Remove Tags (#8832)
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/info/MergedLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
Due: webclient

seems to be fixed
  packages/service-library/tests/aiohttp/test_docker_utils.py
  packages/service-library/tests/fastapi/test_docker_utils.py
Due: pkg_service_library

remove polution
  packages/service-library/src/servicelib/docker_utils.py
Due: pkg_service_library

pydantic v2
  packages/service-library/tests/aiohttp/test_docker_utils.py
Due: pkg_service_library

add more headers to accept
  packages/service-library/src/servicelib/fastapi/docker_utils.py
Due: pkg_service_library

maybe a fix
  packages/service-library/src/servicelib/docker_utils.py
Due: pkg_service_library

pydantic v2 migration
  packages/service-library/tests/fastapi/test_docker_utils.py
Due: pkg_service_library

not None
  packages/service-library/src/servicelib/docker_utils.py
Due: pkg_service_library

ruff
  packages/service-library/src/servicelib/progress_bar.py
Due: pkg_service_library

add exception
  packages/service-library/src/servicelib/docker_utils.py
  packages/service-library/tests/aiohttp/test_docker_utils.py
  packages/service-library/tests/fastapi/test_docker_utils.py
Due: pkg_service_library

ensure the same is done in aiohttp
  packages/service-library/src/servicelib/aiohttp/docker_utils.py
Due: pkg_service_library

added basic worker code
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_worker.py
Due: dynamic_scheduler

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
