Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

minor
  services/static-webserver/client/source/class/osparc/ui/window/TabbedView.js
Due: webclient

fixed tests
  packages/pytest-simcore/src/pytest_simcore/helpers/long_running_tasks.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_lrt_api.py
  services/dynamic-sidecar/tests/unit/test_api_rest_workflow_service_metrics.py
Due: pkg_service_library, dynamic_sidecar

possible fix
  services/dynamic-sidecar/tests/unit/api/rest/test_containers_long_running_tasks.py
Due: dynamic_sidecar

fixed broken tests
  services/dynamic-sidecar/tests/unit/api/rest/test_containers_long_running_tasks.py
Due: dynamic_sidecar

refactor
  services/dynamic-sidecar/tests/unit/api/rest/test_containers_long_running_tasks.py
Due: dynamic_sidecar

do not raise, just create error respose
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
Due: webserver

rm unnecessary log
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
Due: pkg_service_library

PRC server error
  packages/service-library/src/servicelib/rabbitmq/_errors.py
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
Due: pkg_service_library

remove log_decorator
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
Due: catalog

fixes UnboundLocalError
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Due: director_v2

avoid using HTTPFound
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
Due: webserver

make pylint happy
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
Due: api_server

fixed removal
  packages/service-library/src/servicelib/long_running_tasks/_rpc_client.py
  packages/service-library/src/servicelib/long_running_tasks/lrt_api.py
Due: pkg_service_library

SectionBox
  services/static-webserver/client/source/class/osparc/widget/SectionBox.js
Due: webclient

@GitHK review: doc and log level
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
Due: pkg_service_library, webserver

rm dev mark
  services/web/server/src/simcore_service_webserver/application_settings.py
Due: webserver

rename
  packages/service-library/src/servicelib/long_running_tasks/task.py
Due: pkg_service_library

osparc.widget.SectionBox
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/widget/SectionBox.js
Due: webclient

do not touch
  services/static-webserver/client/source/class/osparc/ui/window/TabbedView.js
Due: webclient

pylint
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
Due: api_server

refactor test
  services/dynamic-sidecar/tests/unit/api/rpc/test__containers_long_running_tasks.py
Due: dynamic_sidecar

addHelper
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/widget/SectionBox.js
Due: webclient

reuse code
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/ConfirmationsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TagsPage.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/TokensPage.js
  services/static-webserver/client/source/class/osparc/tester/Statics.js
  services/static-webserver/client/source/class/osparc/ui/window/TabbedView.js
Due: webclient

adapts tests
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

grouped sections
  services/static-webserver/client/source/class/osparc/support/HomePage.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/NewRelease.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/support/HomePage.js
Due: webclient

aesthetics
  services/static-webserver/client/source/class/osparc/support/HomePage.js
  services/static-webserver/client/source/class/osparc/widget/SectionBox.js
Due: webclient

adds requested fields
  packages/models-library/src/models_library/api_schemas_webserver/users.py
Due: pkg_models_library

updates db queries
  services/web/server/src/simcore_service_webserver/users/_accounts_repository.py
  services/web/server/src/simcore_service_webserver/users/_accounts_service.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_users_accounts_rest_registration.py
Due: webserver

minor
  services/static-webserver/client/source/class/osparc/support/HomePage.js
Due: webclient

type alias
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  packages/models-library/src/models_library/groups.py
Due: pkg_models_library

updates OAS
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

services/webserver api version: 0.78.0 → 0.79.0
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

removed unused
  services/dynamic-sidecar/tests/unit/test_api_rest_workflow_service_metrics.py
Due: dynamic_sidecar

refactor
  packages/pytest-simcore/src/pytest_simcore/helpers/long_running_tasks.py
Due: none

typo
  packages/service-library/src/servicelib/long_running_tasks/_redis_store.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks__store.py
Due: pkg_service_library

fix: job missing error
  packages/celery-library/src/celery_library/errors.py
  packages/celery-library/src/celery_library/rpc/_async_jobs.py
  packages/celery-library/src/celery_library/task_manager.py
  packages/celery-library/tests/unit/test_async_jobs.py
Due: none

minor
  services/static-webserver/client/source/class/osparc/support/HomePage.js
  services/static-webserver/client/source/class/osparc/widget/SectionBox.js
Due: webclient

fix
  services/web/server/src/simcore_service_webserver/users/_accounts_repository.py
Due: webserver

@odeimaiz review: rename user_primary_group_id
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: pkg_models_library, webserver

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
