Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fixeed test
  services/dynamic-sidecar/tests/unit/test_api_rest_containers_long_running_tasks.py
Due: dynamic_sidecar

✨ [Frontend] Expose Phone number (#8260)
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
Due: webclient

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/containers_long_running_tasks.py
Due: dynamic_sidecar

refactored interfaces
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_rest_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_rest_prometheus_metrics.py
  services/dynamic-sidecar/tests/unit/test_api_rest_workflow_service_metrics.py
Due: pkg_models_library, dynamic_sidecar

🐛 Fix PO center invitations to include correct product info and links (#8261)
  services/web/server/src/simcore_service_webserver/invitations/_rest.py
  services/web/server/src/simcore_service_webserver/invitations/_service.py
  services/web/server/src/simcore_service_webserver/users/_controller/rest/accounts_rest.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_login_handlers_registration_invitations.py
  services/web/server/tests/unit/with_dbs/03/invitations/test_users_accounts_rest_registration.py
Due: webserver

the fix
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_warm_buffer_machines_pool_core.py
Due: autoscaling

fix: remove unused
  services/storage/src/simcore_service_storage/core/application.py
Due: storage

handle unpicklable errors
  packages/service-library/src/servicelib/long_running_tasks/errors.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
Due: pkg_service_library

more clear logging
  packages/service-library/src/servicelib/long_running_tasks/task.py
Due: pkg_service_library

SingleWithIcon -> SingleWithWidget
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/ui/form/renderer/SingleWithWidget.js
Due: webclient

typo
  packages/service-library/src/servicelib/long_running_tasks/long_running_client_helper.py
Due: pkg_service_library

refactor
  packages/service-library/src/servicelib/long_running_tasks/long_running_client_helper.py
Due: pkg_service_library

patch calls
  services/autoscaling/tests/unit/test_modules_cluster_scaling_warm_buffer_machine_core.py
Due: autoscaling

renamed
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_manager.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_manager.py
  packages/service-library/src/servicelib/long_running_tasks/_rpc_server.py
  packages/service-library/src/servicelib/long_running_tasks/manager.py
  packages/service-library/tests/long_running_tasks/conftest.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_lrt_api.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
Due: pkg_service_library

osparc.store.StaticInfo is static
  services/static-webserver/client/source/class/osparc/About.js
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookieExpirationTracker.js
  services/static-webserver/client/source/class/osparc/auth/ui/RequestAccount.js
  services/static-webserver/client/source/class/osparc/dashboard/AppBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/ListButtonNew.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlans.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspaceButtonItem.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditorIdlingTracker.js
  services/static-webserver/client/source/class/osparc/desktop/account/DeleteAccount.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/product/quickStart/tis/S4LPostPro.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/store/VendorInfo.js
  services/static-webserver/client/source/class/osparc/ui/basic/LogoWPlatform.js
  services/static-webserver/client/source/class/osparc/ui/form/renderer/SingleWithWidget.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

more refactoring
  services/static-webserver/client/source/class/osparc/store/Products.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/class/osparc/utils/LibVersions.js
Due: webclient

osparc.store.VendorInfo static
  services/static-webserver/client/source/class/osparc/ErrorPage.js
  services/static-webserver/client/source/class/osparc/auth/LoginWithDecorators.js
  services/static-webserver/client/source/class/osparc/dashboard/AppBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/account/DeleteAccount.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/product/AboutProduct.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/store/VendorInfo.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

isUpdatePhoneNumberEnabled
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
Due: webclient

mypy
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/cli.py
Due: dynamic_sidecar

minor
  services/static-webserver/client/source/class/osparc/store/StaticInfo.js
Due: webclient

pencil
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

refactored store_compose_spec
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/containers.py
Due: dynamic_sidecar

__openPhoneNumberUpdater
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

refactor I
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
Due: webclient

refactor
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/models/schemas/containers.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/containers.py
  services/dynamic-sidecar/tests/unit/api/rest/test_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_rest_prometheus_metrics.py
  services/dynamic-sidecar/tests/unit/test_api_rest_workflow_service_metrics.py
Due: pkg_models_library, dynamic_sidecar

add test for checking function job patch method
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions/test_function_job_collections_controller_rpc.py
  services/web/server/tests/unit/with_dbs/04/functions/test_function_jobs_controller_rpc.py
Due: webserver

refactored
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
Due: webclient

aesthetics
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

Adds Fogbugz support fields to product model
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ec4f62595e0c_add_support_fogbugz_fields.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/tests/unit/with_dbs/04/test_fogbugz_client.py
Due: pkg_postgres_database, webserver

minor
  services/static-webserver/client/source/class/osparc/auth/ui/VerifyPhoneNumberView.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

start creating patch endpoint for function jobs
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions/test_function_jobs_controller_rpc.py
Due: webserver

Switches Fogbugz client from aiohttp to httpx
  services/web/server/src/simcore_service_webserver/fogbugz/_client.py
  services/web/server/tests/unit/with_dbs/04/test_fogbugz_client.py
Due: webserver

created RPCClient for periodic_task_result
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_client.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_context_manager.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/client.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_sidecar/containers.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_sidecar/containers_long_running_tasks.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_context_manager.py
Due: pkg_service_library

minor
  services/static-webserver/client/source/class/osparc/widget/IntlTelInput.js
Due: webclient

remove comment
  services/web/server/src/simcore_service_webserver/application_settings.py
Due: webserver

Clarifies type annotation for case status retrieval
  services/web/server/src/simcore_service_webserver/fogbugz/_client.py
Due: webserver

Disables selected pylint warnings in unit tests
  services/web/server/tests/unit/with_dbs/04/test_fogbugz_client.py
Due: webserver
