Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

ensure cancellation is done
  packages/service-library/src/servicelib/redis/_client.py
Due: pkg_service_library

cleanup
  packages/service-library/src/servicelib/redis/fair_semaphore.py
  packages/service-library/src/servicelib/redis/fair_semaphore_decorator.py
  packages/service-library/src/servicelib/redis/pure_brpop_semaphore.py
Due: pkg_service_library

ongoing
  packages/service-library/src/servicelib/redis/_semaphore.py
Due: pkg_service_library

removed socket timeout on redis clients as this is a dangerous setting
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  packages/service-library/src/servicelib/redis/_client.py
  packages/service-library/src/servicelib/redis/_constants.py
  packages/service-library/src/servicelib/redis/_semaphore.py
  packages/service-library/src/servicelib/redis/_semaphore_decorator.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/deferred_tasks/test_deferred_tasks.py
  packages/service-library/tests/redis/test_client.py
  packages/service-library/tests/redis/test_clients_manager.py
  packages/service-library/tests/redis/test_semaphore.py
  packages/service-library/tests/redis/test_semaphore_decorator.py
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
Due: pkg_service_library, webserver

ongoing
  packages/service-library/tests/redis/test_semaphore.py
Due: pkg_service_library

fixing test
  packages/service-library/src/servicelib/redis/_semaphore.py
  packages/service-library/tests/redis/test_semaphore.py
Due: pkg_service_library

fixing code
  packages/service-library/src/servicelib/redis/_semaphore.py
  packages/service-library/tests/redis/test_semaphore.py
Due: pkg_service_library

rename
  packages/service-library/src/servicelib/redis/_semaphore.py
  packages/service-library/tests/redis/test_semaphore.py
  packages/service-library/tests/redis/test_semaphore_decorator.py
Due: pkg_service_library

ruff
  packages/service-library/src/servicelib/redis/_semaphore.py
Due: pkg_service_library

@pcrespov review: rename scripts
  packages/service-library/src/servicelib/redis/_semaphore.py
  packages/service-library/src/servicelib/redis/_semaphore_lua.py
  packages/service-library/src/servicelib/redis/lua/acquire_semaphore.lua
  packages/service-library/src/servicelib/redis/lua/cleanup_semaphore.lua
  packages/service-library/src/servicelib/redis/lua/register_semaphore_tokens.lua
  packages/service-library/src/servicelib/redis/lua/release_semaphore.lua
  packages/service-library/src/servicelib/redis/lua/renew_semaphore.lua
Due: pkg_service_library

use self call
  packages/service-library/src/servicelib/redis/_semaphore.py
Due: pkg_service_library

🎨Computational backend: stability improvements step8 🚨 (#8401)
  packages/celery-library/Makefile
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  packages/service-library/src/servicelib/redis/_client.py
  packages/service-library/src/servicelib/redis/_constants.py
  packages/service-library/src/servicelib/redis/_errors.py
  packages/service-library/src/servicelib/redis/_semaphore.py
  packages/service-library/src/servicelib/redis/_semaphore_decorator.py
  packages/service-library/src/servicelib/redis/_semaphore_lua.py
  packages/service-library/src/servicelib/redis/lua/acquire_semaphore.lua
  packages/service-library/src/servicelib/redis/lua/cleanup_semaphore.lua
  packages/service-library/src/servicelib/redis/lua/count_semaphore.lua
  packages/service-library/src/servicelib/redis/lua/register_semaphore_tokens.lua
  packages/service-library/src/servicelib/redis/lua/release_semaphore.lua
  packages/service-library/src/servicelib/redis/lua/renew_semaphore.lua
  packages/service-library/tests/conftest.py
  packages/service-library/tests/deferred_tasks/test_deferred_tasks.py
  packages/service-library/tests/redis/test_client.py
  packages/service-library/tests/redis/test_clients_manager.py
  packages/service-library/tests/redis/test_semaphore.py
  packages/service-library/tests/redis/test_semaphore_decorator.py
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
Due: pkg_service_library, webserver

futher bugfixes
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/tasks.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/_simcore_s3.py
Due: api_server, storage

fix
  packages/service-library/src/servicelib/redis/_semaphore.py
  packages/service-library/src/servicelib/redis/lua/register_semaphore_tokens.lua
  packages/service-library/src/servicelib/redis/lua/renew_semaphore.lua
  packages/service-library/tests/redis/test_semaphore_decorator.py
Due: pkg_service_library

revert
  packages/service-library/src/servicelib/redis/_semaphore.py
Due: pkg_service_library

🐛Fix possible race condition in distributed semaphore initialization (#8411)
  packages/service-library/src/servicelib/redis/_semaphore.py
  packages/service-library/src/servicelib/redis/lua/register_semaphore_tokens.lua
  packages/service-library/src/servicelib/redis/lua/renew_semaphore.lua
  packages/service-library/tests/redis/test_semaphore_decorator.py
Due: pkg_service_library

removed comments
  services/dynamic-scheduler/tests/unit/api_frontend/_routes_internal_scheduler/test__index_.py
  services/dynamic-scheduler/tests/unit/api_frontend/routes_external_scheduler/test__index.py
  services/dynamic-scheduler/tests/unit/api_frontend/routes_external_scheduler/test__service.py
Due: dynamic_scheduler

removed function
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/_index.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/_render_utils.py
Due: dynamic_scheduler

thumbnail -> avatar
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/conversation/MessageUI.js
  services/static-webserver/client/source/class/osparc/user/UserProfile.js
Due: webclient

"circled"
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
Due: webclient

updateMessagesNumber
  services/static-webserver/client/source/class/osparc/conversation/Conversation.js
  services/static-webserver/client/source/class/osparc/study/ConversationPage.js
Due: webclient

Update services/static-webserver/client/source/class/osparc/study/ConversationPage.js
  services/static-webserver/client/source/class/osparc/study/ConversationPage.js
Due: webclient

studyId
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/study/Conversation.js
  services/static-webserver/client/source/class/osparc/study/ConversationPage.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
Due: webclient

isPotentialFunction
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Due: webclient

checkExposedInputsOutputs
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Due: webclient

or -> and
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Due: webclient

CREATE_FUNCTION_TEXT
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Due: webclient

tooltipOnDisabledButton
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

♻️🎨 [Frontend] Refactor conversations (#8404)
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/conversation/Conversation.js
  services/static-webserver/client/source/class/osparc/conversation/MessageUI.js
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/navigation/UserMenuButton.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/study/Conversation.js
  services/static-webserver/client/source/class/osparc/study/ConversationPage.js
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/user/UserProfile.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
Due: webclient

🐛 Add internal scheduler UI in dynamic-scheduler (#8410)
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/_index.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/_render_utils.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/_service.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_internal_scheduler/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_internal_scheduler/_index.py
  services/dynamic-scheduler/tests/unit/api_frontend/_routes_internal_scheduler/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/_routes_internal_scheduler/test__index_.py
  services/dynamic-scheduler/tests/unit/api_frontend/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/helpers.py
  services/dynamic-scheduler/tests/unit/api_frontend/routes_external_scheduler/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/routes_external_scheduler/test__index.py
  services/dynamic-scheduler/tests/unit/api_frontend/routes_external_scheduler/test__service.py
Due: dynamic_scheduler

fixed directory structure
  services/dynamic-scheduler/tests/unit/api_frontend/routes_internal_scheduler/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/routes_internal_scheduler/test__index_.py
Due: dynamic_scheduler

force no-cache app-summary
  services/static-webserver/client/source/class/osparc/data/Resources.js
Due: webclient

unused
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
Due: webclient

fix: async_job_get_result
  services/web/server/src/simcore_service_webserver/celery/_task_manager.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
Due: webserver

🎨 [Frontend] Create Function: Do not allow registering functions without exposing 1 input AND 1 output (#8412)
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Due: webclient

use backend's modified
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
Due: webclient

remove dependency
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
Due: webclient

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
