Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fixed broken test
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: director_v2

revert
  services/director-v2/tests/mocks/fake_task.json
Due: director_v2

fix datetime
  packages/common-library/src/common_library/pydantic_validators.py
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
Due: director_v2

RUT: deal with process update msg
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_project_sync.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/utils.py
Due: resource_usage_tracker

fix nullable
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/tests/unit/test_utils_computation.py
Due: director_v2

fix mock
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/tests/mocks/fake_task.json
Due: director_v2

fix serialization
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
Due: director_v2

minor
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

curateOrderBy
  services/static-webserver/client/source/class/osparc/store/Folders.js
Due: webclient

revert validator
  packages/models-library/src/models_library/clusters.py
Due: pkg_models_library

revert wrongly deleted file
  services/director/requirements/_tools.txt
Due: director

searchFolders
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
Due: webclient

partial work
  packages/models-library/src/models_library/rabbitmq_messages.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/resource_tracker.py
  services/web/server/src/simcore_service_webserver/projects/_tags_api.py
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/src/simcore_service_webserver/tags/_api.py
Due: pkg_models_library, resource_usage_tracker, webserver

pass text to search query
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
Due: webclient

instrument httx clients in director-v2
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/catalog.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/resource_usage_tracker_client.py
  services/director-v2/src/simcore_service_director_v2/modules/storage.py
Due: director_v2

openapi specs
  api/specs/web-server/_folders.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/folders/_folders_api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders__full_search.py
Due: api, webserver

🐛 folder full search adding text query parameter (#6716)
  api/specs/web-server/_folders.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/folders/_folders_api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders__full_search.py
Due: api, webserver

cleanup api-server implementation
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/services/catalog.py
  services/api-server/src/simcore_service_api_server/services/director_v2.py
  services/api-server/src/simcore_service_api_server/services/storage.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/src/simcore_service_api_server/utils/client_base.py
  services/api-server/tests/unit/test_utils_client_base.py
Due: api_server

improve catalog instrumentation
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/services/director.py
Due: catalog

minor
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
Due: webclient

text arg
  services/static-webserver/client/source/class/osparc/data/Resources.js
Due: webclient

dynamic-scheduler and director-v2
  packages/service-library/src/servicelib/fastapi/http_client_thin.py
  packages/service-library/tests/fastapi/test_http_client_thin.py
  services/director-v2/src/simcore_service_director_v2/cli/_client.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/api_client/_thin.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
Due: pkg_service_library, director_v2, dynamic_scheduler

handle payments service
  services/payments/src/simcore_service_payments/services/payments_gateway.py
  services/payments/src/simcore_service_payments/services/resource_usage_tracker.py
  services/payments/src/simcore_service_payments/services/stripe.py
Due: payments

studyBrowserContext
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Due: webclient

Open location
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

fix
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
Due: webclient

make pylint happy
  packages/service-library/tests/fastapi/test_http_client_thin.py
  services/catalog/src/simcore_service_catalog/services/director.py
Due: pkg_service_library, catalog

trashedAt property
  services/static-webserver/client/source/class/osparc/data/model/Folder.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
Due: webclient

fix
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
Due: director_v2

convert to Date
  services/static-webserver/client/source/class/osparc/store/Folders.js
Due: webclient

✨ [Frontend] Enh: ``:search`` also ``/folders`` (#6713)
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Due: webclient

🎨🐛 Enh/fix: frontend knows about ``trashedAt`` (#6717)
  services/static-webserver/client/source/class/osparc/data/model/Folder.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/store/Folders.js
Due: webclient

fix type
  packages/models-library/src/models_library/service_settings_labels.py
Due: pkg_models_library

fix test
  services/director-v2/tests/mocks/fake_scheduler_data.json
Due: director_v2

test fixes
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/src/simcore_service_director_v2/modules/catalog.py
  services/director-v2/src/simcore_service_director_v2/modules/director_v0.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/storage.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
Due: director_v2

bug fix
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
Due: webserver

compose_spec nullable
  services/director-v2/tests/mocks/fake_scheduler_data.json
Due: director_v2

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
