Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

⚡ perf(payments-tests): initialize postgres database from session template
  services/payments/tests/unit/conftest.py
Due: payments

refactor
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
Due: none

🔧 ci(pytest-simcore-tests): pin psycopg2 driver for postgres fixtures
  packages/pytest-simcore/requirements/_test.in
  packages/pytest-simcore/requirements/_test.txt
Due: none

✨ feat(pytest-simcore): add per-test cloned template DB fixture
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
Due: none

⚡ perf(webserver-tests): reset integration postgres from migrated template at teardown
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  services/web/server/tests/integration/conftest.py
Due: webserver

🐛 fix(pytest-simcore-tests): terminate source backends before CREATE DATABASE ... TEMPLATE
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/pytest-simcore/tests/test_postgres_tools_templates.py
Due: none

♻️ faster polling retries and shared engine-readiness helper
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/pytest-simcore/tests/test_postgres_tools_templates.py
Due: none

⚡ perf(pytest-simcore): add postgres template-DB helpers and refactor old template fixtures
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
Due: none

remove pytest-docker confusion
  services/api-server/tests/unit/_with_db/authentication/test_api_dependency_authentication.py
  services/api-server/tests/unit/_with_db/authentication/test_repository_api_keys.py
  services/api-server/tests/unit/_with_db/conftest.py
  services/api-server/tests/unit/_with_db/data/docker-compose.yml
  services/api-server/tests/unit/_with_db/test_api_user.py
  services/api-server/tests/unit/_with_db/test_core_settings__with_db.py
  services/api-server/tests/unit/_with_db/test_product.py
Due: api_server

copilot reviews
  packages/pytest-simcore/src/pytest_simcore/postgres_live_stack_service.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/pytest-simcore/tests/test_postgres_tools_templates.py
  services/api-server/tests/unit/_with_db/conftest.py
Due: api_server

refactor(webserver-tests): drop old per-test postgres template reset, use live-stack postgres_db
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  services/web/server/tests/integration/01/test_garbage_collection.py
Due: webserver

⚡ perf(resource-usage-tracker-tests): initialize postgres database from session template
  services/resource-usage-tracker/tests/unit/with_dbs/conftest.py
Due: resource_usage_tracker

fix tests
  services/api-server/tests/unit/_with_db/conftest.py
  services/api-server/tests/unit/_with_db/test_core_settings__with_db.py
Due: api_server

⚡ perf(api-server-tests): re-clone database from session template per test
  services/api-server/tests/unit/_with_db/conftest.py
Due: api_server

🐛 fix(webserver-tests): keep in-place postgres migrations for integration suite
  services/web/server/tests/integration/conftest.py
Due: webserver

⚡ perf(storage-tests): initialize postgres database from session template
  services/storage/tests/unit/conftest.py
Due: storage

✨ feat(pytest-simcore): session-scoped migrated template + per-module clone fixtures
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
Due: none

refactor(pytest-simcore): replace state dicts with PgTemplateState TypedDict
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  packages/pytest-simcore/src/pytest_simcore/postgres_live_stack_service.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
Due: none

fix flakyness
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Due: none

upgrade
  packages/pytest-simcore/requirements/_test.txt
  packages/service-library/requirements/_fastapi.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_tools.in
  services/director-v2/requirements/_tools.txt
  services/director/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_test.txt
Due: pkg_service_library, agent, api_server, autoscaling, catalog, clusters_keeper, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, invitations, payments, resource_usage_tracker, storage, webserver

fix
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Due: webclient

fix scicrunch
  services/web/server/src/simcore_service_webserver/scicrunch/_resolver.py
Due: webserver

upgrade
  packages/service-library/requirements/_fastapi.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_test.txt
Due: pkg_service_library, agent, api_server, autoscaling, catalog, clusters_keeper, director, director_v2, dynamic_scheduler, dynamic_sidecar, invitations, payments, storage, webserver

not needed
  services/static-webserver/client/source/class/osparc/study/Conversations.js
Due: webclient

fix
  services/static-webserver/client/source/class/osparc/study/Conversations.js
Due: webclient

✅♻️⚗️Maintenance: pytest - make use of DB template snapshots instead of full migration each time (#9721)
  packages/pytest-simcore/requirements/_test.in
  packages/pytest-simcore/requirements/_test.txt
  packages/pytest-simcore/requirements/ci.txt
  packages/pytest-simcore/requirements/dev.txt
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  packages/pytest-simcore/src/pytest_simcore/postgres_live_stack_service.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
  packages/pytest-simcore/tests/test_postgres_tools_templates.py
  packages/service-library/requirements/_test.in
  packages/service-library/requirements/_test.txt
  packages/simcore-sdk/tests/conftest.py
  packages/simcore-sdk/tests/integration/conftest.py
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/tests/conftest.py
  services/api-server/tests/unit/_with_db/authentication/test_api_dependency_authentication.py
  services/api-server/tests/unit/_with_db/authentication/test_repository_api_keys.py
  services/api-server/tests/unit/_with_db/conftest.py
  services/api-server/tests/unit/_with_db/data/docker-compose.yml
  services/api-server/tests/unit/_with_db/test_api_user.py
  services/api-server/tests/unit/_with_db/test_core_settings__with_db.py
  services/api-server/tests/unit/_with_db/test_product.py
  services/catalog/requirements/_test.in
  services/catalog/requirements/_test.txt
  services/director-v2/requirements/_test.in
  services/director-v2/requirements/_test.txt
  services/director-v2/tests/conftest.py
  services/director-v2/tests/integration/conftest.py
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/integration/conftest.py
  services/web/server/src/simcore_service_webserver/scicrunch/_resolver.py
  services/web/server/tests/conftest.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: pkg_service_library, pkg_simcore_sdk, api_server, catalog, director, director_v2, dynamic_sidecar, webserver

⬆️ chore(deps): upgrade `uvicorn` (#9745)
  packages/pytest-simcore/requirements/_test.txt
  packages/service-library/requirements/_fastapi.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_tools.in
  services/director-v2/requirements/_tools.txt
  services/director/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_test.txt
Due: pkg_service_library, agent, api_server, autoscaling, catalog, clusters_keeper, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, invitations, payments, resource_usage_tracker, storage, webserver

🐛 [Frontend] Text Annotation initialization (#9746)
  services/static-webserver/client/source/class/osparc/study/Conversations.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Due: webclient

simplified lifespan setup to be less confusing
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/container_extensions.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/container_restart_lock.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/containers.py
  services/dynamic-sidecar/tests/integration/test_modules_long_running_tasks.py
Due: dynamic_sidecar

renamed
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/file_notification_subscriber.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/container_extensions.py
Due: dynamic_sidecar

removed indicrection
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/container_extensions.py
  services/dynamic-sidecar/tests/unit/api/rpc/test__container_extensions.py
Due: dynamic_sidecar

covering error case
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/container_extensions.py
  services/dynamic-sidecar/tests/unit/api/rpc/test__container_extensions.py
Due: dynamic_sidecar

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/container_extensions.py
  services/dynamic-sidecar/tests/unit/api/rpc/test__container_extensions.py
Due: dynamic_sidecar

add tests
  packages/service-library/tests/test_background_task.py
Due: pkg_service_library

♻️ Maintenance: don't start debugging tools when tests run automatically (#9621)
  packages/postgres-database/tests/conftest.py
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/helpers/docker.py
  packages/pytest-simcore/tests/test_helpers_docker.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: pkg_postgres_database, webserver

add test
  packages/service-library/tests/test_background_task.py
Due: pkg_service_library

rewrite comment
  packages/service-library/src/servicelib/background_task.py
Due: pkg_service_library

fix
  packages/service-library/tests/test_background_task.py
Due: pkg_service_library

added limit to chat
  services/api-server/src/simcore_service_api_server/models/schemas/responses.py
  services/api-server/tests/unit/test_models_schemas_responses.py
Due: api_server
