Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fixed API endpoints
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
Due: pkg_models_library

minor
  services/static-webserver/client/source/class/osparc/tester/Statics.js
  services/static-webserver/client/source/class/osparc/tester/TesterCenter.js
  services/static-webserver/client/source/class/osparc/tester/WebSocketMessages.js
Due: webclient

missing envvar
  .env-devel
Due: none

improves error
  packages/pytest-simcore/src/pytest_simcore/environment_configs.py
Due: none

@neagu testers only
  services/static-webserver/client/source/class/osparc/wrapper/WebSocket.js
Due: webclient

keep for all users
  services/static-webserver/client/source/class/osparc/wrapper/WebSocket.js
Due: webclient

warning
  packages/settings-library/src/settings_library/base.py
  packages/settings-library/tests/test_base.py
  services/autoscaling/tests/unit/test_core_settings.py
Due: pkg_settings_library, autoscaling

final
  packages/settings-library/src/settings_library/base.py
  packages/settings-library/tests/test_base.py
  services/autoscaling/tests/unit/test_core_settings.py
Due: pkg_settings_library, autoscaling

setTutorialFailed declaration
  tests/e2e/portal-files/VTK_file.js
  tests/e2e/portal/2D_Plot.js
  tests/e2e/portal/3D_Anatomical.js
  tests/e2e/portal/3D_EM.js
  tests/e2e/portal/BIOS_VNS_Calibrator.js
  tests/e2e/portal/Bornstein.js
  tests/e2e/portal/CC_Human.js
  tests/e2e/portal/CC_Rabbit.js
  tests/e2e/portal/Kember.js
  tests/e2e/portal/Mattward.js
  tests/e2e/portal/opencor.js
  tests/e2e/publications/SarValidation.js
  tests/e2e/publications/Voila.js
  tests/e2e/s4l/sim4life-dipole.js
  tests/e2e/s4l/sim4life-lite.js
  tests/e2e/s4l/sim4life.js
  tests/e2e/tutorials/isolve-gpu.js
  tests/e2e/tutorials/isolve-mpi.js
  tests/e2e/tutorials/jupyterlabs.js
  tests/e2e/tutorials/rclone_large.js
  tests/e2e/tutorials/rclone_small.js
  tests/e2e/tutorials/sleepers.js
  tests/e2e/tutorials/ti-plan.js
  tests/e2e/tutorials/tutorialBase.js
Due: none

@sanderegg review: doc
  api/specs/web-server/_common.py
  api/specs/web-server/_projects_crud.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, webserver

@odeimaiz review: wrong field
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_handlers.py
Due: webserver

@sanderegg review: rename
  api/specs/web-server/_folders.py
  api/specs/web-server/_groups.py
  api/specs/web-server/_projects_crud.py
  api/specs/web-server/_resource_usage.py
  api/specs/web-server/_trash.py
Due: api

new validator
  packages/models-library/src/models_library/utils/common_validators.py
Due: pkg_models_library

fixes tests
  packages/models-library/src/models_library/rest_ordering.py
  packages/models-library/tests/test_rest_ordering.py
Due: pkg_models_library

minor
  services/web/server/src/simcore_service_webserver/projects/_common_models.py
Due: webserver

cleanup
  packages/service-library/tests/aiohttp/test_requests_validation.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
Due: pkg_service_library, webserver

mypy
  services/agent/src/simcore_service_agent/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/web/server/src/simcore_service_webserver/api_keys/_handlers.py
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/products/_invitations_handlers.py
Due: agent, director_v2, dynamic_sidecar, webserver

creates converter
  api/specs/web-server/_common.py
  api/specs/web-server/_folders.py
Due: api

adapts projects
  api/specs/web-server/_projects_crud.py
Due: api

oas projects
  api/specs/web-server/_projects_crud.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
Due: api, webserver

minor
  api/specs/web-server/_folders.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
Due: api, webserver

fixes imports
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_handlers.py
Due: webserver

@sanderegg review: rename
  api/specs/web-server/_folders.py
  api/specs/web-server/_projects_crud.py
  api/specs/web-server/_resource_usage.py
Due: api

refactor ordering factory
  packages/models-library/src/models_library/rest_ordering.py
  packages/models-library/tests/test_rest_ordering.py
Due: pkg_models_library

resource-usage
  api/specs/web-server/_common.py
  api/specs/web-server/_resource_usage.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_handlers.py
Due: api, webserver

refactor using factory
  packages/service-library/tests/aiohttp/test_requests_validation.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_handlers.py
Due: pkg_service_library, webserver

test
  packages/models-library/tests/test_rest_ordering.py
Due: pkg_models_library

updates OAS
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

@matusdrobuliak66 review: adds map
  packages/models-library/src/models_library/rest_ordering.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_handlers.py
Due: pkg_models_library, webserver

aline
  api/specs/web-server/_folders.py
  api/specs/web-server/_projects_crud.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
Due: api, webserver

cleanup projects
  api/specs/web-server/_projects_crud.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
Due: api, webserver

wip
  api/specs/web-server/_folders.py
  api/specs/web-server/_projects_crud.py
  api/specs/web-server/_resource_usage.py
  packages/models-library/src/models_library/rest_ordering.py
  packages/models-library/tests/test_rest_ordering.py
  packages/service-library/tests/aiohttp/test_requests_validation.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_handlers.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_handlers.py
Due: api, pkg_models_library, pkg_service_library, webserver

oas folders
  api/specs/web-server/_folders.py
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
Due: api, webserver

mypy
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_handlers.py
Due: webserver

new rest ordering
  packages/models-library/src/models_library/rest_base.py
  packages/models-library/src/models_library/rest_ordering.py
  packages/models-library/src/models_library/rest_pagination.py
  packages/models-library/tests/test_rest_ordering.py
Due: pkg_models_library

ordering
  api/specs/web-server/_projects_crud.py
  packages/models-library/src/models_library/rest_ordering.py
  packages/models-library/tests/test_rest_ordering.py
  packages/service-library/tests/aiohttp/test_requests_validation.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
Due: api, pkg_models_library, pkg_service_library, webserver

common requestcontext
  services/web/server/src/simcore_service_webserver/api_keys/_handlers.py
  services/web/server/src/simcore_service_webserver/clusters/_handlers.py
  services/web/server/src/simcore_service_webserver/director_v2/_handlers.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_admin_handlers.py
  services/web/server/src/simcore_service_webserver/resource_usage/_pricing_plans_handlers.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_handlers.py
  services/web/server/src/simcore_service_webserver/users/_preferences_handlers.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_groups_handlers.py
Due: webserver

projects
  api/specs/web-server/_projects_crud.py
  services/web/server/src/simcore_service_webserver/projects/_crud_handlers_models.py
Due: api, webserver

fixing test
  packages/models-library/src/models_library/rest_ordering.py
  services/web/server/src/simcore_service_webserver/resource_usage/_service_runs_handlers.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_handlers.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces.py
Due: pkg_models_library, webserver

fixes defaults
  packages/models-library/src/models_library/rest_ordering.py
  packages/models-library/tests/test_rest_ordering.py
Due: pkg_models_library
