Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

unify worker setup
  packages/celery-library/src/celery_library/signals.py
  services/docker-compose.yml
  services/storage/docker/boot.sh
  services/storage/src/simcore_service_storage/modules/celery/worker/__init__.py
  services/storage/src/simcore_service_storage/modules/celery/worker/main.py
  services/storage/src/simcore_service_storage/modules/celery/worker_main_threads.py
Due: storage

remove log
  packages/celery-library/src/celery_library/task.py
Due: none

remove unused
  packages/celery-library/src/celery_library/settings.py
Due: none

fix api-server
  services/api-server/docker/boot.sh
  services/api-server/docker/boot_celery_worker.py
  services/api-server/src/simcore_service_api_server/modules/__init__.py
  services/api-server/src/simcore_service_api_server/modules/celery/__init__.py
  services/api-server/src/simcore_service_api_server/modules/celery/worker/__init__.py
  services/api-server/src/simcore_service_api_server/modules/celery/worker/_functions_tasks.py
  services/api-server/src/simcore_service_api_server/modules/celery/worker/main.py
  services/api-server/src/simcore_service_api_server/modules/celery/worker/tasks.py
  services/api-server/tests/unit/api_functions/celery/conftest.py
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
  services/docker-compose.yml
  services/storage/docker/boot.sh
  services/storage/src/simcore_service_storage/modules/celery/worker/main.py
Due: api_server, storage

update docker-compose
  services/docker-compose.yml
Due: none

fix test
  services/api-server/tests/unit/api_functions/celery/conftest.py
Due: api_server

fix test
  packages/celery-library/tests/conftest.py
Due: none

fix test
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
Due: api_server

fix test
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
Due: api_server

fix
  services/api-server/docker/boot.sh
  services/api-server/src/simcore_service_api_server/modules/celery/worker/main.py
  services/storage/docker/boot.sh
Due: api_server, storage

remove sleep
  packages/celery-library/tests/unit/test_task_manager.py
Due: none

fix tests
  packages/celery-library/src/celery_library/backends/redis.py
  packages/celery-library/tests/unit/test_task_manager.py
Due: none

fix tests
  packages/celery-library/tests/unit/test_task_manager.py
Due: none

fix
  api/specs/web-server/_storage.py
  services/docker-compose.yml
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/tests/unit/with_dbs/01/storage/test_storage.py
Due: api, webclient, webserver

fix tests
  packages/celery-library/tests/conftest.py
Due: none

fix tests
  services/api-server/tests/unit/api_functions/celery/conftest.py
Due: api_server

typecheck
  services/api-server/src/simcore_service_api_server/modules/celery/worker/main.py
Due: api_server

fix tests
  services/storage/tests/conftest.py
Due: storage

Merge db heads
  packages/postgres-database/src/simcore_postgres_database/migration/versions/f641b3eacafd_merge_06596ce2bc3e_a6289977e057.py
Due: pkg_postgres_database

refactor
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/enforce.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/legacy/monitor.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/new_style/monitor.py
Due: dynamic_scheduler

added constants
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_manager.py
Due: dynamic_scheduler

reduced repeat wait interval
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/legacy/monitor.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/new_style/monitor.py
Due: dynamic_scheduler

getLastMessageCreatedAt
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/data/model/ConversationSupport.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
Due: webclient

✨ Add ordering to function jobs inside a function job collection (#8487)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/06596ce2bc3e_add_order_to_function_job_collections.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/f641b3eacafd_merge_06596ce2bc3e_a6289977e057.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_job_collections_to_function_jobs_table.py
  services/web/server/src/simcore_service_webserver/functions/_function_job_collections_repository.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
  services/web/server/tests/unit/with_dbs/04/functions/wb-api-server/test_function_job_collections_controller_rpc.py
  services/web/server/tests/unit/with_dbs/04/functions/wb-api-server/test_function_jobs_controller_rpc.py
Due: pkg_postgres_database, webserver

Check study and solver job status before returning output
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/_service_jobs.py
Due: api_server

Add and catch exception
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
Due: api_server

Use runningstate enum
  services/api-server/src/simcore_service_api_server/_service_jobs.py
Due: api_server

Change error message
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
Due: api_server

fix endpoint
  api/specs/web-server/_storage.py
  packages/celery-library/tests/unit/test_task_manager.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/storage/_rest.py
Due: api, webserver

typecheck
  packages/models-library/src/models_library/utils/common_validators.py
Due: pkg_models_library

mark conversations
  services/static-webserver/client/source/class/osparc/conversation/MessageList.js
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/data/model/ConversationSupport.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/data/model/ConversationSupport.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/Conversations.js
Due: webclient

introudce chatbot client skeleton
  services/web/server/src/simcore_service_webserver/chatbot/__init__.py
  services/web/server/src/simcore_service_webserver/chatbot/_client.py
  services/web/server/src/simcore_service_webserver/chatbot/plugin.py
  services/web/server/src/simcore_service_webserver/chatbot/settings.py
Due: webserver

✨ Introduce streamed files search (#8202)
  api/specs/web-server/_long_running_tasks.py
  api/specs/web-server/_storage.py
  packages/celery-library/src/celery_library/backends/redis.py
  packages/celery-library/src/celery_library/rpc/_async_jobs.py
  packages/celery-library/src/celery_library/task_manager.py
  packages/celery-library/tests/unit/test_task_manager.py
  packages/models-library/src/models_library/api_schemas_long_running_tasks/tasks.py
  packages/models-library/src/models_library/api_schemas_storage/search_async_jobs.py
  packages/models-library/src/models_library/api_schemas_webserver/storage.py
  packages/models-library/src/models_library/rest_pagination_utils.py
  packages/models-library/src/models_library/utils/common_validators.py
  packages/service-library/src/servicelib/celery/models.py
  packages/service-library/src/servicelib/celery/task_manager.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/simcore_s3.py
  services/api-server/openapi.json
  services/docker-compose.yml
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/storage/src/simcore_service_storage/api/_worker_tasks/_simcore_s3.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/tasks.py
  services/storage/src/simcore_service_storage/api/rpc/_simcore_s3.py
  services/storage/src/simcore_service_storage/modules/celery/__init__.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/unit/test_simcore_s3_dsm.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/_controller/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/_controller/_rest_schemas.py
  services/web/server/src/simcore_service_webserver/tasks/_controller/_rest_utils.py
  services/web/server/src/simcore_service_webserver/tasks/_tasks_service.py
  services/web/server/tests/unit/with_dbs/01/storage/test_storage.py
Due: api, pkg_models_library, pkg_service_library, api_server, storage, webclient, webserver

update description
  packages/settings-library/src/settings_library/celery.py
Due: pkg_settings_library

operations refactor
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/_common_steps.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/enforce.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/legacy/monitor.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/legacy/start.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/legacy/stop.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/new_style/monitor.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/new_style/start.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/new_style/stop.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_operations/registry.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler/_utils.py
Due: dynamic_scheduler

refactor
  services/static-webserver/client/source/class/osparc/conversation/MessageUI.js
  services/static-webserver/client/source/class/osparc/data/model/ConversationSupport.js
  services/static-webserver/client/source/class/osparc/data/model/Message.js
Due: webclient

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
