Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

do not raise, just create error respose
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
Due: webserver

rm unnecessary log
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
Due: pkg_service_library

JsonFormatterWidget
  services/static-webserver/client/source/class/osparc/user/UserDetails.js
  services/static-webserver/client/source/class/osparc/widget/JsonFormatterWidget.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/wrapper/JsonFormatter.js
Due: webclient

fixes UnboundLocalError
  services/director-v2/src/simcore_service_director_v2/modules/dask_client.py
Due: director_v2

styling
  services/static-webserver/client/source/class/osparc/wrapper/JsonFormatter.js
Due: webclient

with scroll bars_getContentHint
  services/static-webserver/client/source/class/osparc/widget/JsonFormatterWidget.js
Due: webclient

rm dev mark
  services/web/server/src/simcore_service_webserver/application_settings.py
Due: webserver

__applyStyles
  services/static-webserver/client/source/class/osparc/wrapper/JsonFormatter.js
Due: webclient

create FunctionJobTaskClientService
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
Due: api_server

tests: add deletion tests
  services/web/server/tests/unit/with_dbs/04/functions/conftest.py
  services/web/server/tests/unit/with_dbs/04/functions/test_functions_controller_rest.py
Due: webserver

Upgrade traefik to 3.5.2
  services/docker-compose.yml
Due: none

⬆️ Upgrade traefik to `v3.5.2` (#8343)
  services/docker-compose.yml
Due: none

services/webserver api version: 0.77.2 → 0.78.0
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

further refactor
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
Due: api_server

minor
  services/static-webserver/client/source/class/osparc/user/UserDetails.js
Due: webclient

added is marked for removal
  packages/service-library/src/servicelib/long_running_tasks/_redis_store.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks__store.py
Due: pkg_service_library

minor
  services/static-webserver/client/source/class/osparc/user/UserDetails.js
  services/static-webserver/client/source/class/osparc/widget/JsonFormatterWidget.js
Due: webclient

avoids flaky
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_lrt_api.py
Due: pkg_service_library

refactored to remve task immediately
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/long_running_tasks/_rpc_server.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
Due: pkg_service_library

Fix job_task_id not found if db doesnt have the field 🐛 🚑️ (#8347)
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
Due: webserver

delete function resource
  services/static-webserver/client/source/class/osparc/data/Resources.js
Due: webclient

delete option on menu
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/store/Functions.js
Due: webclient

fix tests
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/tests/unit/api_functions/conftest.py
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
Due: api_server

minors
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

force logic
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

__removeFromList
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

409
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

messaging
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

test fixes
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
Due: api_server

fix: description
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest_schemas.py
Due: webserver

reuse JsonFormatterWidget
  services/static-webserver/client/source/class/osparc/info/FunctionLarge.js
Due: webclient

reuse JsonFormatterWidget
  services/static-webserver/client/source/class/osparc/info/FunctionLarge.js
  services/static-webserver/client/source/class/osparc/jobs/Info.js
  services/static-webserver/client/source/class/osparc/user/UserDetails.js
Due: webclient

simplified interface
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/long_running_tasks/_rpc_client.py
  packages/service-library/src/servicelib/long_running_tasks/_rpc_server.py
  packages/service-library/src/servicelib/long_running_tasks/lrt_api.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_lrt_api.py
Due: pkg_service_library

fixed tests
  services/dynamic-sidecar/tests/unit/api/rpc/test__containers_long_running_tasks.py
Due: dynamic_sidecar

✨ Check for associated jobs when deleting a function (#8342)
  api/specs/web-server/_functions.py
  packages/models-library/src/models_library/functions_errors.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest_schemas.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions/conftest.py
  services/web/server/tests/unit/with_dbs/04/functions/test_functions_controller_rest.py
Due: api, pkg_models_library, webserver
