Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

minor
  packages/service-library/src/servicelib/fastapi/monitoring.py
  services/director/src/simcore_service_director/core/application.py
Due: pkg_service_library, director

rename
  services/director/src/simcore_service_director/core/application.py
Due: director

minor
  services/director/src/simcore_service_director/modules/docker_registry/_setup.py
Due: director

fix
  packages/common-library/src/common_library/docker_healthcheck.py
Due: none

Country of Residence
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

♻️Director v0: use lifespans (#9208)
  packages/service-library/src/servicelib/fastapi/httpx_client.py
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  packages/service-library/src/servicelib/fastapi/monitoring.py
  packages/service-library/src/servicelib/fastapi/tracing.py
  packages/service-library/tests/fastapi/test_lifespan_utils.py
  services/director/src/simcore_service_director/api/rest/routes.py
  services/director/src/simcore_service_director/api/v0/openapi.json
  services/director/src/simcore_service_director/core/application.py
  services/director/src/simcore_service_director/instrumentation.py
  services/director/src/simcore_service_director/main.py
  services/director/src/simcore_service_director/modules/docker_registry/__init__.py
  services/director/src/simcore_service_director/modules/docker_registry/_client.py
  services/director/src/simcore_service_director/modules/docker_registry/_setup.py
  services/director/src/simcore_service_director/modules/redis.py
  services/director/tests/unit/conftest.py
  services/director/tests/unit/test_modules_redis.py
Due: pkg_service_library, director

fix
  packages/common-library/src/common_library/docker_healthcheck.py
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/notifications/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Due: agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage

remove
  packages/postgres-database/src/simcore_postgres_database/migration/versions/9d63687e48f5_remove_deprecated_output_nodes_and_.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_nodes.py
Due: pkg_postgres_database

remove
  packages/postgres-database/src/simcore_postgres_database/migration/versions/9d63687e48f5_remove_deprecated_output_nodes_and_.py
Due: pkg_postgres_database

remove
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_repository.py
Due: webserver

remove
  packages/models-library/src/models_library/projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
Due: pkg_models_library, pkg_postgres_database

remove
  packages/models-library/src/models_library/projects_nodes.py
Due: pkg_models_library

fix
  packages/models-library/src/models_library/projects_nodes.py
Due: pkg_models_library

countrySection visibility
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

move
  scripts/docker/docker_healthcheck.py
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/notifications/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Due: agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage

update
  .github/skills/healthcheck/SKILL.md
  services/README.md
Due: none

fix
  .github/skills/healthcheck/SKILL.md
  scripts/docker/docker_healthcheck.py
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/notifications/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Due: agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage

🎨 [Frontend] Move ``Country of Residence`` to its own section (#9212)
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

🐛 fix(docker): use standalone healthcheck script (#9211)
  .github/skills/healthcheck/SKILL.md
  scripts/docker/docker_healthcheck.py
  services/README.md
  services/agent/Dockerfile
  services/api-server/Dockerfile
  services/autoscaling/Dockerfile
  services/catalog/Dockerfile
  services/clusters-keeper/Dockerfile
  services/dask-sidecar/Dockerfile
  services/datcore-adapter/Dockerfile
  services/director-v2/Dockerfile
  services/director/Dockerfile
  services/dynamic-scheduler/Dockerfile
  services/dynamic-sidecar/Dockerfile
  services/efs-guardian/Dockerfile
  services/invitations/Dockerfile
  services/notifications/Dockerfile
  services/payments/Dockerfile
  services/resource-usage-tracker/Dockerfile
  services/storage/Dockerfile
  services/web/Dockerfile
Due: agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage

align
  services/director/src/simcore_service_director/core/application.py
Due: director

refactor catalog
  services/catalog/src/simcore_service_catalog/api/rest/__init__.py
  services/catalog/src/simcore_service_catalog/api/rpc/events.py
  services/catalog/src/simcore_service_catalog/clients/director.py
  services/catalog/src/simcore_service_catalog/clients/rabbitmq.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/repository/events.py
  services/catalog/src/simcore_service_catalog/service/function_services.py
  services/catalog/tests/unit/conftest.py
Due: catalog

refactor docker client and postgres lifespan
  packages/service-library/src/servicelib/fastapi/docker.py
  packages/service-library/src/servicelib/fastapi/postgres_lifespan.py
  packages/service-library/tests/fastapi/test_postgres_lifespan.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/repository/events.py
  services/docker-api-proxy/tests/integration/conftest.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/notifications/src/simcore_service_notifications/core/events.py
  services/notifications/tests/unit/test_api_rest__health.py
Due: pkg_service_library, catalog, dynamic_scheduler

fix postgres disabled fixture
  services/dynamic-scheduler/tests/conftest.py
Due: dynamic_scheduler

applying pattern to dynamic-schdlr
  packages/service-library/src/servicelib/fastapi/profiler.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/routes.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/events.py
  services/dynamic-scheduler/tests/conftest.py
Due: pkg_service_library, api_server, director_v2, dynamic_scheduler

change pattern for postgres
  packages/service-library/src/servicelib/fastapi/postgres_lifespan.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/repository/events.py
  services/dynamic-scheduler/tests/unit/test_repository_postgres_networks.py
Due: pkg_service_library, dynamic_scheduler

refactor notification
  services/notifications/src/simcore_service_notifications/api/rpc/routes.py
  services/notifications/src/simcore_service_notifications/clients/celery.py
  services/notifications/src/simcore_service_notifications/clients/postgres/__init__.py
  services/notifications/src/simcore_service_notifications/clients/rabbitmq.py
  services/notifications/src/simcore_service_notifications/clients/redis.py
  services/notifications/src/simcore_service_notifications/core/application.py
  services/notifications/src/simcore_service_notifications/core/events.py
  services/notifications/tests/unit/test_api_rest__health.py
Due: none

rename
  services/notifications/src/simcore_service_notifications/api/rest/routes.py
  services/notifications/src/simcore_service_notifications/core/application.py
Due: none

invitations done
  services/invitations/src/simcore_service_invitations/core/application.py
  services/invitations/src/simcore_service_invitations/core/events.py
Due: invitations

dynamic scheduler migrated
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/routes.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/catalog/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/catalog/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/deferred_manager.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v0/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v0/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/fire_and_forget.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/rabbitmq.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/redis.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_setup.py
  services/dynamic-scheduler/tests/conftest.py
Due: dynamic_scheduler

@copilot review
  services/catalog/tests/unit/conftest.py
Due: catalog

copilot review
  packages/service-library/src/servicelib/fastapi/docker.py
Due: pkg_service_library

remove
  packages/models-library/tests/test_project_nodes.py
Due: pkg_models_library

update oas
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
Due: webserver

fix
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

fixed accessing docker client
  packages/service-library/src/servicelib/fastapi/docker.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/_health.py
Due: pkg_service_library, dynamic_scheduler

suggested change to keep reproducibility
  Makefile
Due: none

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
