Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fix
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
Due: webserver

fix test
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
Due: webserver

add skeleton endpoint for solver jobs
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
Due: api_server

fix int test
  services/director-v2/tests/integration/01/test_computation_api.py
Due: director_v2

question mark
  services/static-webserver/client/source/class/osparc/data/model/NodeUnknown.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/store/Support.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/widget/Renamer.js
Due: webclient

request the presigned link only when the widget is shown
  services/static-webserver/client/source/class/osparc/widget/NodeOutputs.js
Due: webclient

tests: ignore order
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Due: webserver

just switch asyncio context
  services/resource-usage-tracker/tests/unit/with_dbs/test_background_task_periodic_heartbeat_check.py
Due: resource_usage_tracker

revert last commit
  services/resource-usage-tracker/tests/unit/with_dbs/test_background_task_periodic_heartbeat_check.py
Due: resource_usage_tracker

pipeline running to secondary column
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/FilePickerView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
Due: webclient

refactoring
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

not needed
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
Due: webclient

fix: inputs required
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: pkg_postgres_database, webserver

lrt api refactor
  packages/service-library/src/servicelib/long_running_tasks/_rabbit/lrt_client.py
  packages/service-library/src/servicelib/long_running_tasks/_rabbit/lrt_clinet.py
  packages/service-library/src/servicelib/long_running_tasks/_rabbit/lrt_server.py
  packages/service-library/src/servicelib/long_running_tasks/_rabbit/namespace.py
  packages/service-library/src/servicelib/long_running_tasks/base_long_running_manager.py
  packages/service-library/src/servicelib/long_running_tasks/lrt_api.py
  packages/service-library/src/servicelib/long_running_tasks/models.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_lrt_api.py
Due: pkg_service_library

extended tests long_running_manager
  packages/service-library/tests/long_running_tasks/conftest.py
  packages/service-library/tests/long_running_tasks/utils.py
Due: pkg_service_library

fixed tests
  packages/service-library/tests/long_running_tasks/conftest.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_lrt_api.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
Due: pkg_service_library

fix: node outputs
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

add 'hidden' to project patch model
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: pkg_models_library, webserver

add method for deleting jobs assets to JobService
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/services_http/storage.py
Due: api_server

__deserializeAll
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
Due: webclient

fix: more efficient get product
  services/web/server/src/simcore_service_webserver/projects/_projects_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

removed unused
  packages/service-library/tests/long_running_tasks/test_long_running_tasks__rabbit.py
Due: pkg_service_library

key and version only
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
Due: webclient

do not init outputs yet
  services/static-webserver/client/source/class/osparc/data/model/Node.js
Due: webclient

fixed fastapi tests
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_manager.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_server.py
  packages/service-library/src/servicelib/long_running_tasks/_rabbit/lrt_client.py
  packages/service-library/tests/fastapi/long_running_tasks/conftest.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_client.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_context_manager.py
Due: pkg_service_library

fix job_service method
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
Due: api_server

fixed most tests
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_manager.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/_server.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks_client.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks_with_task_context.py
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
Due: pkg_service_library, webserver

fixed interfaces
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
Due: dynamic_sidecar

fixed interface
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/module_setup.py
Due: director_v2

makes settings manadatory
  services/storage/src/simcore_service_storage/core/settings.py
  services/storage/src/simcore_service_storage/modules/long_running_tasks.py
Due: storage

feat: add S3 search_files method
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/unit/test_simcore_s3_dsm.py
Due: storage

fixed interface
  services/web/server/src/simcore_service_webserver/long_running_tasks.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
Due: webserver

fix: typecheck
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Due: storage

fixed broken test
  packages/service-library/tests/deferred_tasks/test__base_deferred_handler.py
Due: pkg_service_library

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
