Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

change pre-commit
  .pre-commit-config.yaml
Due: none

config
  .pre-commit-config.yaml
Due: none

config again
  .pre-commit-config.yaml
Due: none

corrected typos in md
  CONTRIBUTING.md
  ci/README.md
  docs/coding-conventions.md
  docs/releasing-workflow-instructions.md
  docs/steps-to-upgrade-python.md
  packages/service-integration/README.md
  requirements/how-to-unify-versions.md
  requirements/how-to-upgrade-python.md
  requirements/packages-notes.md
  requirements/python-dependencies.md
  services/api-server/README.md
  services/invitations/README.md
  services/payments/README.md
  services/static-webserver/client/README.md
  services/web/server/README.md
Due: pkg_service_integration, api_server, invitations, payments, webclient, webserver

✨Autoscaling: allow to set EC2 type specific docker node labels (⚠️ DevOPS) (#8635)
  .pre-commit-config.yaml
  packages/aws-library/src/aws_library/ec2/_models.py
  packages/settings-library/src/settings_library/base.py
  packages/settings-library/tests/test_base.py
  services/autoscaling/src/simcore_service_autoscaling/core/settings.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_provider_computational.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_ec2.py
  services/autoscaling/tests/unit/test_core_settings.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_core.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/utils/ec2.py
  services/clusters-keeper/tests/unit/test_modules_clusters.py
Due: pkg_aws_library, pkg_settings_library, autoscaling, clusters_keeper

🔨 Add `typos` pre-commit (spelling checker) and ran it on all Markdown docs (#8678)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  ci/README.md
  docs/coding-conventions.md
  docs/releasing-workflow-instructions.md
  docs/steps-to-upgrade-python.md
  packages/service-integration/README.md
  requirements/how-to-unify-versions.md
  requirements/how-to-upgrade-python.md
  requirements/packages-notes.md
  requirements/python-dependencies.md
  services/api-server/README.md
  services/invitations/README.md
  services/payments/README.md
  services/static-webserver/client/README.md
  services/web/server/README.md
Due: pkg_service_integration, api_server, invitations, payments, webclient, webserver

make pylint happy
  services/web/server/src/simcore_service_webserver/chatbot/_process_chatbot_trigger_service.py
Due: webserver

pylint
  services/web/server/src/simcore_service_webserver/chatbot/_client.py
  services/web/server/src/simcore_service_webserver/chatbot/_process_chatbot_trigger_service.py
Due: webserver

🎨 Update chatbot client (#8664)
  services/web/server/src/simcore_service_webserver/chatbot/_client.py
  services/web/server/src/simcore_service_webserver/chatbot/_process_chatbot_trigger_service.py
  services/web/server/src/simcore_service_webserver/chatbot/exceptions.py
  services/web/server/src/simcore_service_webserver/chatbot/settings.py
  services/web/server/tests/unit/with_dbs/04/chatbot/conftest.py
  services/web/server/tests/unit/with_dbs/04/chatbot/test_chatbot_client.py
  services/web/server/tests/unit/with_dbs/04/chatbot/test_process_chatbot_trigger_message.py
Due: webserver

🎨♻️ cosmetic / refactor: remove default value (#8660)
  services/director-v2/src/simcore_service_director_v2/api/routes/dynamic_services.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_abc.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_task.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_observer.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler.py
  services/director-v2/tests/unit/with_dbs/test_api_route_dynamic_services.py
Due: director_v2

add check that solver job is not still running
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
Due: api_server

renamed
  packages/settings-library/src/settings_library/r_clone.py
  packages/settings-library/src/settings_library/utils_r_clone.py
  packages/settings-library/tests/test_utils_r_clone.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone.py
Due: pkg_settings_library, pkg_simcore_sdk

add test
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
Due: api_server

cleanup
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
Due: api_server

add product_name column
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ce69cc44246a_add_product_name_to_projects.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
Due: pkg_postgres_database

fk rename
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
Due: pkg_postgres_database

fk rename
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ce69cc44246a_add_product_name_to_projects.py
Due: pkg_postgres_database

migrate existing data
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ce69cc44246a_add_product_name_to_projects.py
Due: pkg_postgres_database

remove projects_to_products table
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ce69cc44246a_add_product_name_to_projects.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_to_products.py
Due: pkg_postgres_database

remove usage
  services/web/server/src/simcore_service_webserver/projects/_crud_api_delete.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
Due: webserver

fix
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
Due: webclient

🐛 [Frontend] Fix: File Picker's getOutput helper (#8683)
  services/static-webserver/client/source/class/osparc/file/FilePicker.js
Due: webclient

fix job repository
  services/web/server/src/simcore_service_webserver/projects/_jobs_repository.py
Due: webserver

remove unused
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
Due: webserver

remove unused
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
Due: webserver

add product_name
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
Due: webserver

remove unused
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

fix mock
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
Due: none

fix tests
  services/web/server/src/simcore_service_webserver/projects/_controller/ports_rest.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__delete.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
Due: webserver

fix test
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Due: webserver

add productName to fake
  services/web/server/tests/data/fake-project.json
Due: webserver

fix test
  packages/models-library/src/models_library/projects.py
  services/web/server/tests/data/fake-project.json
Due: pkg_models_library, webserver

fix name
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
Due: none

always set last update to signal progress in search
  packages/celery-library/src/celery_library/backends/redis.py
  packages/celery-library/src/celery_library/task_manager.py
  packages/service-library/src/servicelib/celery/models.py
  packages/service-library/src/servicelib/celery/task_manager.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/_simcore_s3.py
Due: pkg_service_library, storage

add param name
  packages/celery-library/src/celery_library/backends/redis.py
Due: none

fix
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
Due: none

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
