Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fixes tests
  services/web/server/tests/unit/with_dbs/03/test_users.py
Due: webserver

users -> poUsers
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/po/PreRegistration.js
  services/static-webserver/client/source/class/osparc/po/Users.js
Due: webclient

renaming
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_checkouts.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_checkouts.py
  packages/models-library/src/models_library/resource_tracker_licensed_items_checkouts.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/aa6da21a0055_rename_usages_to_checkouts.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_checkouts.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_checkouts.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/routes.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/errors.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_checkouts_db.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_checkouts.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_checkouts_api.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Due: pkg_models_library, pkg_postgres_database, pkg_service_library, resource_usage_tracker, webserver

[skip ci] search users
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Due: webclient

@odeimaiz review: deprecated admin users
  services/web/server/src/simcore_service_webserver/security/_authz_access_roles.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
Due: webserver

search endpoint wired
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Due: webclient

renaming
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/errors.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_checkouts_db.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_checkouts.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_checkouts_api.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Due: pkg_service_library, resource_usage_tracker, webserver

renaming
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_checkouts.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Due: resource_usage_tracker, webserver

renaming
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_checkouts.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_checkouts.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_checkouts.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_checkouts.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_checkouts.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_checkouts_api.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Due: pkg_models_library, pkg_service_library, resource_usage_tracker, webserver

renaming
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Due: pkg_service_library, webserver

imporve error handling
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/errors.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/errors.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_checkouts_db.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
Due: pkg_service_library, resource_usage_tracker, webserver

mock api_doc
  services/web/server/tests/unit/isolated/test_diagnostics.py
Due: webserver

fix api server
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
Due: pkg_service_library

added decompress progress
  packages/service-library/src/servicelib/archiving_utils/_interface_7zip.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/data/archive_utils/compress_stdout.json
  packages/service-library/tests/test_archiving_utils_7zip.py
Due: pkg_service_library

🎨 [Frontend] Enh Drag&Drop: Drop on Trash (#6972)
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/dashboard/DragDropHelpers.js
  services/static-webserver/client/source/class/osparc/dashboard/DragWidget.js
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/NewStudies.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/Decoration.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/ThemeDark.js
  services/static-webserver/client/source/class/osparc/theme/products/osparc/ThemeLight.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/ThemeDark.js
  services/static-webserver/client/source/class/osparc/theme/products/s4l/ThemeLight.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/Appearance.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/ThemeDark.js
  services/static-webserver/client/source/class/osparc/theme/products/tis/ThemeLight.js
  services/static-webserver/client/source/class/osparc/ui/window/Confirmation.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelListItem.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Due: webclient

fix failing tests
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_checkouts_db.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
Due: resource_usage_tracker, webserver

fix available tests
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/licenses/licensed_items.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licenses_rpc.py
Due: pkg_service_library, webserver

fixed issues with parsing progress
  packages/service-library/src/servicelib/archiving_utils/_interface_7zip.py
  packages/service-library/tests/data/archive_utils/compress_stdout.json
  packages/service-library/tests/data/archive_utils/decompress_stdout.json
  packages/service-library/tests/test_archiving_utils_7zip.py
Due: pkg_service_library

reachableUsers -> users
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

Users Store
  services/static-webserver/client/source/class/osparc/store/Groups.js
  services/static-webserver/client/source/class/osparc/store/Users.js
Due: webclient

fix mypy
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_checkouts_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_purchases_db.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_checkouts_api.py
  tests/e2e-playwright/tests/platform_CI_tests/test_platform.py
Due: resource_usage_tracker, webserver

[skip ci] refactor
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/store/Users.js
Due: webclient

missing arrow
  packages/postgres-database/requirements/_test.in
  packages/postgres-database/requirements/_test.txt
Due: pkg_postgres_database

updated min threshold
  .codecov.yml
Due: none

corrected return submitted datetime
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/director-v2/tests/mocks/fake_task.json
  services/director-v2/tests/unit/with_dbs/conftest.py
Due: director_v2

fixed test
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
Due: director_v2

removed submit column
  packages/postgres-database/src/simcore_postgres_database/migration/versions/23c0b8409738_remove_submit_timestamp.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
Due: pkg_postgres_database

@GitHK review: remove crap
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
Due: director_v2

removed submit column
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/tests/unit/test_utils_dags.py
Due: director_v2

upgraded upgrade
  packages/postgres-database/src/simcore_postgres_database/migration/versions/52a0e8148dd5_remove_submit_timestamp.py
Due: pkg_postgres_database

corrected return submitted datetime
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
Due: director_v2

♻️Computation backend: clean comp_tasks DB (🗃️) (#6968)
  .codecov.yml
  packages/postgres-database/requirements/_test.in
  packages/postgres-database/requirements/_test.txt
  packages/postgres-database/src/simcore_postgres_database/migration/versions/52a0e8148dd5_remove_submit_timestamp.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/director-v2/src/simcore_service_director_v2/api/routes/computations.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/tests/mocks/fake_task.json
  services/director-v2/tests/unit/test_utils_dags.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/conftest.py
Due: pkg_postgres_database, director_v2

ignore types
  services/web/server/src/simcore_service_webserver/rest/plugin.py
Due: webserver

🐛 Update webserver's swagger ui (#6971)
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
  services/web/server/src/simcore_service_webserver/rest/plugin.py
  services/web/server/tests/unit/isolated/test_diagnostics.py
Due: webserver

cleanup
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
Due: webserver

minor
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
Due: pkg_models_library

drafted tests
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Due: webserver

mypy and oas
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
Due: webserver

drafted groups
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
  packages/models-library/src/models_library/groups.py
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/src/simcore_service_webserver/groups/_groups_rest.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Due: pkg_models_library, webserver
