Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

improve naming
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
Due: dask_sidecar

use timedelta
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
Due: dask_sidecar

add out of mem error
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/errors.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
Due: pkg_dask_task_models_library, dask_sidecar

minor
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
Due: dask_sidecar

refactor
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/worker.py
Due: dask_sidecar

make it a setting
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
Due: dask_sidecar

mypy
  services/dask-sidecar/src/simcore_service_dask_sidecar/worker.py
Due: dask_sidecar

tested
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_computational_sidecar_tasks.py
Due: dask_sidecar

correct
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
Due: dask_sidecar

@GitHK review: duplicate comment
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
Due: dask_sidecar

@GitHK review: rename
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
Due: dask_sidecar

@pcrespov review: remove dask exception handler
  services/dask-sidecar/src/simcore_service_dask_sidecar/worker.py
Due: dask_sidecar

ensure RAM validation does not raise
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
Due: dask_sidecar

@pcrespov review: safe retrieve logs
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
Due: dask_sidecar

mypy
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
Due: dask_sidecar

try something
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/tests/unit/test_computational_sidecar_tasks.py
Due: dask_sidecar

minor
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/tests/unit/test_computational_sidecar_tasks.py
Due: dask_sidecar

✨🎨Computational backend: Automatically stop a running job if no logs are detected for 1h (#8549)
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/errors.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/core.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/docker_utils.py
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
  services/dask-sidecar/tests/unit/conftest.py
  services/dask-sidecar/tests/unit/test_computational_sidecar_tasks.py
Due: pkg_dask_task_models_library, dask_sidecar

Configure celery queues
  packages/celery-library/src/celery_library/app.py
Due: none

make a warning
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

also read oci images
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

revert
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

traefik: configure via env not command
  services/docker-compose.yml
Due: none

🎨Director v0: make compatible with OCI typed images (#8571)
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

Fix bug in entrypoint name
  services/docker-compose.yml
Due: none

Update traefik monitor entrypoint name
  services/docker-compose.local.yml
  services/docker-compose.yml
Due: none

♻️ traefik: configuration via environment variables ⚠️ (#8572)
  services/docker-compose.local.yml
  services/docker-compose.yml
Due: none

Fix rabbit queue parameters
  packages/service-library/src/servicelib/deferred_tasks/_deferred_manager.py
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_base_queue.py
Due: pkg_service_library, dynamic_scheduler

Fix queues types
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_base_queue.py
Due: dynamic_scheduler

small change
  services/docker-compose.yml
Due: none

adjusted makefile
  Makefile
Due: none

needs oci type to have zstd. otherwise it needs direct push
  Makefile
Due: none

make it compress
  Makefile
Due: none

revert local file
  Makefile
Due: none

Fix faststream queue mypy issues
  packages/service-library/src/servicelib/deferred_tasks/_deferred_manager.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_base_queue.py
Due: pkg_service_library, dynamic_scheduler

minor
  services/static-webserver/client/source/class/osparc/WindowSizeTracker.js
Due: webclient

Add comments explaining queue configuration
  packages/celery-library/src/celery_library/app.py
  packages/service-library/src/servicelib/deferred_tasks/_deferred_manager.py
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_base_queue.py
Due: pkg_service_library, dynamic_scheduler

refactor
  services/static-webserver/client/source/class/osparc/auth/Manager.js
Due: webclient
