Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

Refactor function tests based on pr comments
  packages/models-library/src/models_library/api_schemas_webserver/functions_wb_schema.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_job_collections_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_jobs_table.py
  services/api-server/tests/unit/api_functions/conftest.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Due: pkg_models_library, pkg_postgres_database, api_server, webserver

Split function route files and solve other comments
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_job_collections_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_job_collections_to_function_jobs_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_jobs_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_functions_table.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/web/server/src/simcore_service_webserver/functions/_functions_controller_rpc.py
Due: pkg_postgres_database, pkg_service_library, api_server, webserver

fix
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/tests/integration/01/test_garbage_collection.py
Due: webserver

fix tests
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
Due: webserver

fix tests
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/tests/conftest.py
Due: webserver

fix tests
  services/web/server/tests/unit/isolated/data/project-data.json
Due: webserver

fix tests
  services/web/server/tests/data/fake-template-projects.isan.ucdavis.json
  tests/e2e/tutorials/sleepers_project_template_sql.csv
Due: webserver

Pylint fixes
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/tests/unit/api_functions/conftest.py
Due: api_server

fix tests
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_projects.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
Due: webserver

Temp delete func db migration files
  packages/postgres-database/src/simcore_postgres_database/migration/versions/32a9ab5fa107_add_creation_modification_time_to_.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/44f40f1069aa_add_function_api_tables.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/7cefc13e3b2b_function_db_details.py
Due: pkg_postgres_database

review @GitHK
  services/web/server/tests/integration/01/test_garbage_collection.py
Due: webserver

Add function db migration script
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e9fe2737bd4d_add_function_tables.py
Due: pkg_postgres_database

minor
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/store/Templates.js
Due: webclient

TemplateBrowser -> TutorialBrowser
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/TutorialBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
Due: webclient

rewording
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
Due: webclient

minor
  services/static-webserver/client/source/translation/en.po
Due: webclient

Status mapping
  services/static-webserver/client/source/class/osparc/data/Job.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/data/Job.js
Due: webclient

Fix comments from functions PR
  packages/models-library/src/models_library/api_schemas_webserver/functions_wb_schema.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_jobs_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_functions_table.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/tests/unit/api_functions/conftest.py
  services/web/server/src/simcore_service_webserver/functions/_functions_controller_rpc.py
Due: pkg_models_library, pkg_postgres_database, api_server, webserver

Rm functions db migration to create a new one
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e9fe2737bd4d_add_function_tables.py
Due: pkg_postgres_database

Add a new function db migration script
  packages/postgres-database/src/simcore_postgres_database/migration/versions/fc1701bb7e93_add_function_tables.py
Due: pkg_postgres_database

make sure maxs are not larger than the mins
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
Due: webclient

minor fix
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
Due: webclient

Fix latest functions PR comments
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/models/schemas/functions_api_schema.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Due: pkg_service_library, api_server, webserver

Update services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
Due: webclient

Update services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
Due: webclient

Study -> Project
  services/static-webserver/client/source/class/osparc/product/Utils.js
Due: webclient

Functions api ✨ 🗃️ (#7539)
  packages/models-library/src/models_library/api_schemas_webserver/functions_wb_schema.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/fc1701bb7e93_add_function_tables.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_job_collections_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_job_collections_to_function_jobs_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_jobs_table.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_functions_table.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/openapi.json
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
  services/api-server/src/simcore_service_api_server/api/root.py
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/functions.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/functions_api_schema.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/api_functions/conftest.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
  services/web/server/src/simcore_service_webserver/functions/_controller_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_controller_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_repo.py
  services/web/server/src/simcore_service_webserver/functions/_service.py
  services/web/server/src/simcore_service_webserver/functions/plugin.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/conftest.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Due: pkg_models_library, pkg_postgres_database, pkg_service_library, api_server, webserver

fix playwright
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
Due: webclient

✨ [Frontend] Templates and Public Projects in Study Browser (#7676)
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowserHeader.js
  services/static-webserver/client/source/class/osparc/dashboard/TutorialBrowser.js
  services/static-webserver/client/source/class/osparc/data/Job.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/MainPage.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/store/Templates.js
  services/static-webserver/client/source/translation/en.po
Due: webclient

services/webserver api version: 0.64.0 → 0.65.0
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

fix
  packages/postgres-database/src/simcore_postgres_database/migration/versions/b39f2dc87ccd_add_templatetype_to_projects.py
Due: pkg_postgres_database

fix
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
Due: webserver

getPage -> create
  services/static-webserver/client/source/class/osparc/data/Resources.js
Due: webclient

getPageLatest
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Due: webclient

add resource
  services/static-webserver/client/source/class/osparc/data/Resources.js
Due: webclient

renaming
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Due: webclient

RunTable with two arguments
  services/static-webserver/client/source/class/osparc/jobs/ActivityOverview.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
Due: webclient

extend format
  packages/models-library/src/models_library/service_settings_labels.py
Due: pkg_models_library
