Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fixed
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/resources.py
Due: director_v2

added missed changes
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_resources.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: director_v2

fixed issue
  services/web/server/src/simcore_service_webserver/projects/_controller/_rest_exceptions.py
Due: webserver

🎨 i18n: Enhances translator and updates po files (#9755)
  packages/common-library/src/common_library/locale/es_ES/LC_MESSAGES/messages.po
  packages/common-library/src/common_library/locale/ko_KR/LC_MESSAGES/messages.po
  packages/common-library/src/common_library/locale/zh_CN/LC_MESSAGES/messages.po
  scripts/i18n/DESIGN.md
  scripts/i18n/Makefile
  scripts/i18n/glossary.json
  scripts/i18n/tools/i18n_translator.py
  scripts/i18n/tools/tests/test_i18n_translator.py
  services/static-webserver/client/source/translation/es_ES.po
  services/static-webserver/client/source/translation/ko_KR.po
  services/static-webserver/client/source/translation/zh.po
Due: webclient

gitignores .scratch
  .gitignore
Due: none

style: ruff-clean service-library [T3]
  packages/service-library/src/servicelib/aiohttp/application_setup.py
  packages/service-library/src/servicelib/aiohttp/incidents.py
  packages/service-library/src/servicelib/aiohttp/long_running_tasks/client.py
  packages/service-library/src/servicelib/aiohttp/requests_validation.py
  packages/service-library/src/servicelib/aiohttp/rest_responses.py
  packages/service-library/src/servicelib/aiohttp/typing_extension.py
  packages/service-library/src/servicelib/aiohttp/web_exceptions_extension.py
  packages/service-library/src/servicelib/archiving_utils/_interface_7zip.py
  packages/service-library/src/servicelib/async_utils.py
  packages/service-library/src/servicelib/celery/app_server.py
  packages/service-library/src/servicelib/deferred_tasks/__init__.py
  packages/service-library/src/servicelib/deferred_tasks/_base_deferred_handler.py
  packages/service-library/src/servicelib/deferred_tasks/_models.py
  packages/service-library/src/servicelib/deferred_tasks/_task_schedule.py
  packages/service-library/src/servicelib/long_running_tasks/_serialization.py
  packages/service-library/src/servicelib/prometheus_metrics.py
  packages/service-library/src/servicelib/rabbitmq/_models.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/errors.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/errors.py
  packages/service-library/src/servicelib/redis/_project_lock.py
  packages/service-library/src/servicelib/redis/_utils.py
  packages/service-library/src/servicelib/sequences_utils.py
  packages/service-library/src/servicelib/simcore_service_utils.py
  packages/service-library/tests/aiohttp/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/aiohttp/test_rest_middlewares.py
  packages/service-library/tests/archiving_utils/test_archiving_utils.py
  packages/service-library/tests/fastapi/test_exceptions_utils.py
  packages/service-library/tests/fastapi/test_httpx_utils.py
  packages/service-library/tests/fastapi/test_request_decorators.py
  packages/service-library/tests/test_celery.py
  packages/service-library/tests/test_exception_utils.py
Due: pkg_service_library

style: ruff-clean service-integration [T5]
  packages/service-integration/src/service_integration/_compose_spec_model_autogenerated.py
  packages/service-integration/src/service_integration/cli/_metadata.py
  packages/service-integration/src/service_integration/pytest_plugin/docker_integration.py
  packages/service-integration/src/service_integration/versioning.py
  packages/service-integration/tests/test__usecase_jupytermath.py
  packages/service-integration/tests/test_command_metadata.py
  packages/service-integration/tests/test_osparc_config.py
Due: pkg_service_integration

style: ruff wave-0 safe autofix + format
  .github/prompts/refactor-aiohttp-appkey.prompt.md
  .github/prompts/refactor-pydantic-annotated-fields.prompt.md
  .github/prompts/update-user-messages.prompt.md
  .github/skills/healthcheck/SKILL.md
  packages/aws-library/src/aws_library/kms/__init__.py
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
  packages/models-library/tests/test_utils_json_schema.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/c9c165644731_update_project_last_changed_date_column_.py
  packages/pytest-simcore/src/pytest_simcore/faker_users_data.py
  packages/service-library/src/servicelib/aiohttp/application_setup.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_v2/port.py
  requirements/tools/check_changes.py
  services/api-server/README.md
  services/api-server/src/simcore_service_api_server/services_http/storage.py
  services/autoscaling/tests/manual/README.md
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/rest/datasets.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/notifications/src/simcore_service_notifications/services/email/_compose.py
  services/notifications/tests/unit/test_channel_handlers_email.py
  services/notifications/tests/unit/test_core_settings.py
  services/web/server/docs/DESIGN.md
  services/web/server/src/simcore_service_webserver/catalog/_catalog_rest_client_service.py
  services/web/server/src/simcore_service_webserver/director_v2/_client_base.py
Due: pkg_aws_library, pkg_models_library, pkg_postgres_database, pkg_service_library, pkg_simcore_sdk, api_server, autoscaling, datcore_adapter, director_v2, webserver

style: ruff-clean small-packages [T7]
  packages/aws-library/src/aws_library/s3/_models.py
  packages/common-library/src/common_library/error_codes.py
  packages/common-library/src/common_library/groups_enums.py
  packages/common-library/src/common_library/logging/logging_utils_filtering.py
  packages/common-library/src/common_library/pagination_tools.py
  packages/common-library/src/common_library/pydantic_basic_types.py
  packages/common-library/src/common_library/users_enums.py
  packages/common-library/tests/test_pagination_tools.py
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/events.py
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/dask-task-models-library/src/dask_task_models_library/models.py
  packages/settings-library/src/settings_library/celery.py
  packages/settings-library/src/settings_library/docker_registry.py
  packages/settings-library/src/settings_library/utils_service.py
Due: pkg_aws_library, pkg_dask_task_models_library, pkg_settings_library

fix(service-library): resolve pylint/ruff findings in async_utils and tests
  packages/service-library/src/servicelib/async_utils.py
  packages/service-library/tests/fastapi/test_rabbitmq_lifespan.py
  packages/service-library/tests/test_sequences_utils.py
Due: pkg_service_library

style: ruff-clean api-server [T6]
  services/api-server/src/simcore_service_api_server/_constants.py
  services/api-server/src/simcore_service_api_server/_service_utils.py
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/exceptions/custom_errors.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/_utils.py
  services/api-server/src/simcore_service_api_server/models/api_resources.py
  services/api-server/src/simcore_service_api_server/models/basic_types.py
  services/api-server/src/simcore_service_api_server/models/domain/functions.py
  services/api-server/src/simcore_service_api_server/models/schemas/base.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/src/simcore_service_api_server/models/schemas/programs.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
  services/api-server/src/simcore_service_api_server/models/types.py
  services/api-server/src/simcore_service_api_server/repository/_base.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers.py
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_logs.py
  services/api-server/tests/unit/api_studies/test_api_routes_studies.py
  services/api-server/tests/unit/captures/test__mocks_captures.py
  services/api-server/tests/unit/test_api_files.py
  services/api-server/tests/unit/test_exceptions.py
  services/api-server/tests/unit/test_models_api_resources.py
  services/api-server/tests/unit/test_services_directorv2.py
Due: api_server

docs: justify UP046/UP047 noqa in list_operations.py
  packages/models-library/src/models_library/list_operations.py
Due: pkg_models_library

refactor(models-library): lower cognitive complexity of replace_osparc_variable_identifier
  packages/models-library/src/models_library/osparc_variable_identifier.py
  packages/models-library/tests/test_osparc_variable_identifier.py
Due: pkg_models_library

fix(webserver): resolve last pylint too-many-ancestors/unsubscriptable
  services/web/server/src/simcore_service_webserver/director_v2/exceptions.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rest_schemas.py
  services/web/server/tests/unit/with_dbs/03/test_user_preferences_service.py
Due: webserver

refactor(models-library,api-server): keep pydantic schema aliases as TypeAlias
  .ruff.toml
  packages/common-library/src/common_library/error_codes.py
  packages/models-library/src/models_library/api_schemas_dynamic_sidecar/containers.py
  packages/models-library/src/models_library/api_schemas_long_running_tasks/base.py
  packages/models-library/src/models_library/api_schemas_webserver/activity.py
  packages/models-library/src/models_library/api_schemas_webserver/catalog.py
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_metadata.py
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/src/models_library/docker.py
  packages/models-library/src/models_library/functions.py
  packages/models-library/src/models_library/licenses.py
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/projects_state.py
  packages/models-library/src/models_library/resource_tracker.py
  packages/models-library/src/models_library/resource_tracker_licensed_items_checkouts.py
  packages/models-library/src/models_library/resource_tracker_licensed_items_purchases.py
  packages/models-library/src/models_library/rest_pagination.py
  packages/models-library/src/models_library/services_io.py
  packages/models-library/src/models_library/services_metadata_published.py
  packages/models-library/src/models_library/services_types.py
  packages/models-library/src/models_library/workspaces.py
  packages/service-integration/src/service_integration/versioning.py
  services/api-server/src/simcore_service_api_server/models/api_resources.py
  services/api-server/src/simcore_service_api_server/models/basic_types.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/models/schemas/studies.py
Due: pkg_models_library, pkg_service_integration, api_server

fix: resolve mypy errors in catalog and director-v2
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/director-v2/src/simcore_service_director_v2/modules/projects_networks.py
Due: catalog, director_v2

refactor(models-library,service-library,dask-task-models): keep remaining pydantic schema aliases as TypeAlias
  packages/dask-task-models-library/src/dask_task_models_library/container_tasks/io.py
  packages/models-library/src/models_library/api_schemas_directorv2/clusters.py
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/models-library/src/models_library/licenses.py
  packages/models-library/src/models_library/progress_bar.py
  packages/models-library/src/models_library/projects_comments.py
  packages/models-library/src/models_library/projects_networks.py
  packages/service-library/src/servicelib/deferred_tasks/_models.py
Due: pkg_dask_task_models_library, pkg_models_library, pkg_service_library

style: ruff-clean celery-library (partition omission in T7) [T7]
  packages/celery-library/src/celery_library/task.py
Due: none

fix(aws-library): silence pylint false E1121 on untyped sh.bash call
  packages/aws-library/src/aws_library/ec2/_models.py
Due: pkg_aws_library

fix(models-library): remove dead module-level TypeVars, silence W1117
  packages/models-library/src/models_library/batch_operations.py
  packages/models-library/src/models_library/osparc_variable_identifier.py
  packages/models-library/src/models_library/rest_pagination_utils.py
  packages/models-library/src/models_library/utils/pydantic_tools_extension.py
  packages/models-library/tests/test_rest_pagination_utils.py
Due: pkg_models_library

fix(webserver): keep AccessRightsDB aliases as runtime classes for mypy
  packages/models-library/src/models_library/functions.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
Due: pkg_models_library, webserver

fix: keep OrderClause/check_ordering_list Generic (UP046/UP047 revert)
  packages/models-library/src/models_library/list_operations.py
Due: pkg_models_library

minor
  api/tests/utils.py
Due: api

fix(api-server): resolve pylint too-many-ancestors/not-an-iterable/E1123
  services/api-server/src/simcore_service_api_server/models/pagination.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
Due: api_server

test(service-library): fix rabbit log-check fixture and PEP695 isinstance regression
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
  packages/service-library/tests/rabbitmq/conftest.py
  packages/service-library/tests/rabbitmq/test_rpc_interfaces_director_v2_computations.py
Due: pkg_service_library

test: add tests for StripePriceID and StripeTaxRateID type aliases
  packages/common-library/tests/test_users_enums.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e89eae27fb3f_add_comp_run_snapshot_tasks_table.py
  packages/postgres-database/src/simcore_postgres_database/utils_products_prices.py
  packages/postgres-database/tests/test_utils_products_prices_types.py
Due: pkg_postgres_database

🐛 fix(pydantic): fix deprecation warnings for `@model_validator` (#9754)
  packages/models-library/src/models_library/utils/common_validators.py
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_parameters.py
Due: pkg_models_library

Cleanup: turn `ServiceResourcesDict` into a real pydantic model (#9618)
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services.py
  packages/models-library/src/models_library/api_schemas_dynamic_scheduler/dynamic_services.py
  packages/models-library/src/models_library/services_resources.py
  packages/models-library/tests/test_service_resources.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_projects.py
  services/catalog/openapi.json
  services/catalog/src/simcore_service_catalog/api/rest/_services_resources.py
  services/catalog/tests/unit/with_dbs/test_api_rest_services_resources.py
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/catalog.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_utils.py
  services/director-v2/tests/integration/02/conftest.py
  services/director-v2/tests/integration/02/test_dynamic_services_routes.py
  services/director-v2/tests/integration/02/utils.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_specs.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/dynamic-sidecar/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
  services/web/server/src/simcore_service_webserver/catalog/_catalog_rest_client_service.py
  services/web/server/src/simcore_service_webserver/catalog/_controller_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_nodes_utils.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/isolated/test_projects__nodes_resources.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services_resources.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: pkg_models_library, catalog, director_v2, dynamic_scheduler, dynamic_sidecar, webserver

refactor(service-library): rename observer module logger to _logger
  packages/service-library/src/servicelib/aiohttp/observer.py
Due: pkg_service_library

refactor(webserver): centralize observer event labels in signals leaf module
  services/web/server/src/simcore_service_webserver/login/_login_service.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_slot.py
  services/web/server/src/simcore_service_webserver/resource_usage/_observer.py
  services/web/server/src/simcore_service_webserver/signals.py
  services/web/server/src/simcore_service_webserver/socketio/_handlers.py
  services/web/server/src/simcore_service_webserver/socketio/_observer.py
  services/web/server/src/simcore_service_webserver/users/_grant_product_access_aggregation_service.py
  services/web/server/src/simcore_service_webserver/wallets/_events.py
  services/web/server/tests/unit/with_dbs/03/test_users_grant_product_access.py
Due: webserver

test(webserver): cover observer signal wiring for all SIGNAL_* labels
  services/web/server/tests/unit/isolated/test_signals.py
Due: webserver

docs+test(webserver): document and enforce signals.py leaf purity
  services/web/server/docs/DESIGN.md
  services/web/server/tests/unit/isolated/test_signals.py
Due: webserver

test(webserver): pin SIGNAL_ON_USER_CONFIRMATION on existing-user approval
  services/web/server/tests/unit/with_dbs/03/invitations/users_accounts_registration/test_users_accounts_rest_registration_approve_reject.py
Due: webserver

@GitHK review: annotate signal labels with doc() metadata
  services/web/server/src/simcore_service_webserver/signals.py
  services/web/server/tests/unit/isolated/test_signals.py
Due: webserver

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
