Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

add rabbit
  services/storage/tests/unit/test_handlers_files.py
Due: storage

fix service selection
  services/storage/tests/unit/test_handlers_datasets.py
Due: storage

fix test
  services/storage/tests/conftest.py
Due: storage

set worker mode
  services/storage/tests/conftest.py
Due: storage

fix
  services/storage/tests/conftest.py
Due: storage

first attempt at implementing batch patch function job method
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
Due: webserver

update models
  packages/models-library/src/models_library/functions.py
Due: pkg_models_library

propagate usage of preregistration function to api-server
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
Due: api_server

minor cleanup
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
Due: webserver

implement cache in api-server
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
Due: api_server

improve patch in repository
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
Due: webserver

use new patch method in run_function
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/functions.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/models/domain/functions.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
Due: pkg_service_library, api_server

implement patch function job endpoint
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions/wb-api-server/test_function_jobs_controller_rpc.py
Due: webserver

small fix
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
Due: webserver

batch cache endpoint
  packages/models-library/src/models_library/functions.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/functions.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions/wb-api-server/test_function_jobs_controller_rpc.py
Due: pkg_models_library, pkg_service_library, api_server, webserver

improve sql query
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
Due: webserver

ensure meaningful error message is raised
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
Due: webserver

add exception in case of unrecoverable error
  packages/models-library/src/models_library/functions_errors.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
Due: pkg_models_library, webserver

first attempt at batching function job creation
  packages/models-library/src/models_library/functions.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
Due: pkg_models_library, api_server, webserver

start using cache
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
Due: api_server

improve comments
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
Due: webserver

fixes
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/functions.py
Due: pkg_service_library

fix tests using register rpc endpoint
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/v1/functions.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
  services/web/server/tests/unit/with_dbs/04/functions/wb-api-server/test_function_job_collections_controller_rpc.py
  services/web/server/tests/unit/with_dbs/04/functions/wb-api-server/test_function_jobs_controller_rpc.py
Due: pkg_service_library, webserver

fix yet another test
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
Due: api_server

small change
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
Due: api_server

fix tests
  services/api-server/src/simcore_service_api_server/api/routes/function_jobs_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
Due: api_server

start fixing tests
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
Due: api_server

cleanup
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
Due: api_server

🎨 Check study and solver job status before returning output (#8511)
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
Due: api_server

update openapi specs
  services/api-server/openapi.json
Due: api_server

fix more tests
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
Due: api_server

propagate task creation all the way out
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/models/domain/functions.py
Due: api_server

add redis
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_handlers_datasets.py
Due: storage

clean up imports
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
Due: api_server

fix pool name
  services/storage/tests/conftest.py
Due: storage

several fixes
  services/api-server/src/simcore_service_api_server/main.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/main.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
Due: api_server, dynamic_scheduler, webserver

use wprker app settings
  services/storage/tests/conftest.py
Due: storage

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
