Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

visible by default
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
Due: webclient

number placement and load on init
  services/static-webserver/client/source/class/osparc/task/TasksButton.js
Due: webclient

cleanup in all the applications
  services/agent/src/simcore_service_agent/core/application.py
  services/agent/src/simcore_service_agent/main.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/main.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/main.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/main.py
  services/catalog/tests/unit/conftest.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/application.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/main.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/main.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_public.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_client_api_thin.py
  services/director/src/simcore_service_director/core/application.py
  services/director/src/simcore_service_director/main.py
  services/director/tests/unit/conftest.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/main.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/main.py
  services/invitations/src/simcore_service_invitations/core/application.py
  services/invitations/src/simcore_service_invitations/main.py
  services/notifications/src/simcore_service_notifications/core/application.py
  services/notifications/src/simcore_service_notifications/main.py
  services/payments/src/simcore_service_payments/core/application.py
  services/payments/src/simcore_service_payments/main.py
  services/storage/src/simcore_service_storage/core/application.py
  services/storage/src/simcore_service_storage/main.py
  services/storage/src/simcore_service_storage/modules/celery/worker_main.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test__legacy_storage_sdk_compatibility.py
Due: agent, api_server, autoscaling, catalog, clusters_keeper, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, storage

minor
  services/static-webserver/client/source/class/osparc/task/ExportData.js
Due: webclient

Preparing files
  services/static-webserver/client/source/class/osparc/task/ExportData.js
Due: webclient

Split functions repo in different files ♻️ (#8483)
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_function_job_collections_repository.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_exceptions.py
  services/web/server/src/simcore_service_webserver/functions/_functions_permissions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/src/simcore_service_webserver/functions/_functions_table_cols.py
Due: webserver

aesthetics
  services/static-webserver/client/source/class/osparc/task/TaskUI.js
  services/static-webserver/client/source/class/osparc/task/TasksContainer.js
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/task/TasksButton.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/task/TasksButton.js
Due: webclient

Add the db migration
  packages/postgres-database/src/simcore_postgres_database/migration/versions/06596ce2bc3e_add_order_to_function_job_collections.py
  packages/postgres-database/src/simcore_postgres_database/models/funcapi_function_job_collections_to_function_jobs_table.py
  services/web/server/src/simcore_service_webserver/functions/_function_job_collections_repository.py
Due: pkg_postgres_database, webserver

Ignore -> Hide
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/task/TaskUI.js
Due: webclient

@GitHK fixes
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/invitations/src/simcore_service_invitations/core/application.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test__legacy_storage_sdk_compatibility.py
Due: dynamic_sidecar, invitations, storage

🎨 [Frontend] Enh: Tasks UI (#8485)
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/navigation/NavigationBar.js
  services/static-webserver/client/source/class/osparc/task/ExportData.js
  services/static-webserver/client/source/class/osparc/task/TaskUI.js
  services/static-webserver/client/source/class/osparc/task/TasksButton.js
  services/static-webserver/client/source/class/osparc/task/TasksContainer.js
Due: webclient

review @pcrespov
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_parametrizations.py
  services/web/server/tests/unit/with_dbs/02/common.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_service_conditionally_unsubscribe_from_project_logs.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: webserver

refactor: base class
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/data/model/ConversationProject.js
  services/static-webserver/client/source/class/osparc/data/model/ConversationSupport.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/study/Conversation.js
  services/static-webserver/client/source/class/osparc/study/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
Due: webclient

Reset primary keys in downgrade
  packages/postgres-database/src/simcore_postgres_database/migration/versions/06596ce2bc3e_add_order_to_function_job_collections.py
Due: pkg_postgres_database

🐛 [Frontend] Fix: Open My Account in ``s4llite`` (#8468)
  services/static-webserver/client/source/class/osparc/product/Utils.js
Due: webclient

🎨 [Frontend] Support center: Enhance conversation list item (#8464)
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/SupportCenter.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
Due: webclient

🐛 [Frontend] Fix: Trash pagination (#8478)
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

🐛 [Frontend] Fix: Sim4Life Escalate to Support (#8479)
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
Due: webclient

new props
  services/static-webserver/client/source/class/osparc/data/model/ConversationProject.js
  services/static-webserver/client/source/class/osparc/data/model/ConversationSupport.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
Due: webclient

review @pcrespov
  services/web/server/tests/unit/with_dbs/02/test_projects_service_conditionally_unsubscribe_from_project_logs.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: webserver

added reserved keys and evnets can be set to None
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_after.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_after_registration.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_models.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_operation.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__operation.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test_generic_scheduler.py
Due: dynamic_scheduler

badges
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
Due: webclient

added endpoint to get operation_name from schedule_id
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__core.py
Due: dynamic_scheduler

exposed handler
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/__init__.py
Due: dynamic_scheduler

using correct endpoint
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_core.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__core.py
Due: dynamic_scheduler

fix termination
  packages/celery-library/src/celery_library/backends/redis.py
  packages/service-library/src/servicelib/celery/task_manager.py
  services/web/server/src/simcore_service_webserver/tasks/_controller/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/_tasks_service.py
Due: pkg_service_library, webserver

fix api
  api/specs/web-server/_long_running_tasks.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/tasks/_controller/_rest.py
  services/web/server/src/simcore_service_webserver/tasks/_controller/_rest_schemas.py
Due: api, webserver

remove sse
  packages/service-library/src/servicelib/sse/__init__.py
  packages/service-library/src/servicelib/sse/models.py
Due: pkg_service_library

typos
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_models.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_operation.py
  services/dynamic-scheduler/tests/unit/services/generic_scheduler/test__operation.py
Due: dynamic_scheduler

filter buttons
  services/static-webserver/client/source/class/osparc/support/Conversations.js
Due: webclient

fix pylint
  services/web/server/tests/unit/with_dbs/02/test_projects_service_conditionally_unsubscribe_from_project_logs.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: webserver

aesthetics
  services/static-webserver/client/source/class/osparc/support/Conversations.js
Due: webclient

use exponential backoff when polling long running tasks in api-server
  services/api-server/src/simcore_service_api_server/services_http/webserver.py
Due: api_server

add method for recording number of tasks in event loop in the prometheus metics
  packages/service-library/src/servicelib/prometheus_metrics.py
Due: pkg_service_library
