Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

ensure unsubscribe consumer is only unsubscribing the right consumer and allow multiple consumers
  packages/service-library/src/servicelib/rabbitmq/_models.py
Due: pkg_service_library

cleanup
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

mypy
  packages/postgres-database/src/simcore_postgres_database/migration/versions/e05bdc5b3c7b_add_timezone_comp_runs.py
Due: pkg_postgres_database

add no cover for abstract methods
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
Due: director_v2

merge
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4885182f6206_add_last_scheduled_time.py
Due: pkg_postgres_database

add docs
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

listing with processed since works
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_db_repositories_comp_runs.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_manager.py
Due: director_v2

linter
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_models.py
Due: director_v2

cleanup
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/__init__.py
Due: director_v2

test if fixed
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

use the correct v2 method
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_worker.py
Due: director_v2

fixed typo
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
Due: director_v2

change signature
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_publisher.py
Due: director_v2

put it back in working state
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_worker.py
Due: director_v2

creation of parallel test
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_worker.py
Due: director_v2

moving to asyncengine
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_manager.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_api_route_clusters.py
  services/director-v2/tests/unit/with_dbs/test_api_route_clusters_details.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations.py
  services/director-v2/tests/unit/with_dbs/test_api_route_computations_tasks.py
  services/director-v2/tests/unit/with_dbs/test_utils_rabbitmq.py
Due: director_v2

refactor
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_constants.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_worker.py
Due: director_v2

refactor
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_constants.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_manager.py
Due: director_v2

maybe
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

use docstrings so that coverage is correctly computed
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
Due: director_v2

added setting to control scheduling concurrency
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_worker.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_worker.py
Due: director_v2

removed wake_up callback from api interface
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_worker.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_worker.py
Due: director_v2

test callback mechanism
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_manager.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_utils.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_worker.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_worker.py
Due: director_v2

changed syntax
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_manager.py
Due: director_v2

ruff
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

revert and fix
  services/director-v2/src/simcore_service_director_v2/models/comp_pipelines.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_utils_rabbitmq.py
Due: director_v2

test parallelism
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_worker.py
Due: director_v2

initial implementation
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
Due: director_v2

doc
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
Due: director_v2

ensure metadata are jsonable encoded
  services/director-v2/tests/unit/with_dbs/conftest.py
Due: director_v2

rename
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

refactor
  services/director-v2/tests/conftest.py
Due: director_v2

ensure we call shutdown on the worker as well
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/__init__.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/conftest.py
Due: director_v2

upgrades reqs catalog
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
Due: catalog

mypy
  services/catalog/src/simcore_service_catalog/core/settings.py
  services/catalog/src/simcore_service_catalog/models/services_db.py
Due: catalog

last upgrades
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
Due: catalog

updates oas
  services/catalog/openapi.json
Due: catalog

forgot
  tests/e2e-playwright/Makefile
Due: none

downgrades httpx again
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
Due: catalog
