Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

using the model
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
  services/static-webserver/client/source/class/osparc/support/Conversations.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
Due: webclient

cleanup
  services/static-webserver/client/source/class/osparc/support/Conversations.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/store/Products.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/desktop/credits/Utils.js
Due: webclient

store messages
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/Conversations.js
Due: webclient

fix
  services/web/server/src/simcore_service_webserver/products/_repository.py
Due: webserver

fix
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_rest.py
  services/web/server/tests/unit/with_dbs/04/conversations/test_conversations_rest.py
Due: webserver

improve docs and minor changes
  services/api-server/docs/api-server.drawio.svg
  services/api-server/src/simcore_service_api_server/celery/_worker_tasks/_functions_tasks.py
Due: api_server

🎨 instrument storage and director httpx client (opentelemetry) (#8234)
  packages/service-library/src/servicelib/fastapi/client_session.py
  services/director/src/simcore_service_director/core/application.py
  services/storage/src/simcore_service_storage/core/application.py
Due: pkg_service_library, director, storage

cleanup and reset docs
  services/api-server/docs/api-server.drawio.svg
  services/api-server/src/simcore_service_api_server/_service_studies.py
Due: api_server

register task
  services/api-server/src/simcore_service_api_server/celery/_worker_tasks/tasks.py
Due: api_server

more storing
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
Due: webclient

not needed
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
Due: webclient

add celery client inside api-server
  services/api-server/requirements/dev.txt
  services/api-server/src/simcore_service_api_server/api/dependencies/celery.py
  services/api-server/src/simcore_service_api_server/core/application.py
Due: api_server

ensure requirements are set
  services/api-server/requirements/ci.txt
  services/api-server/requirements/prod.txt
Due: api_server

refactor error translaton layer to accepet specific error classes only
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_routes.py
  packages/service-library/src/servicelib/long_running_tasks/_lrt_client.py
  packages/service-library/src/servicelib/long_running_tasks/_lrt_server.py
  packages/service-library/src/servicelib/long_running_tasks/lrt_api.py
  packages/service-library/src/servicelib/long_running_tasks/models.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
  packages/service-library/src/servicelib/long_running_tasks/utils.py
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
  packages/service-library/tests/aiohttp/long_running_tasks/conftest.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks.py
  packages/service-library/tests/fastapi/long_running_tasks/test_long_running_tasks_context_manager.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_lrt_api.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
Due: pkg_service_library

cleanup fixtures
  services/api-server/tests/unit/celery/conftest.py
  services/api-server/tests/unit/celery/test_functions.py
Due: api_server

feat: move redis client lifecycle to app server's one
  packages/celery-library/src/celery_library/signals.py
  packages/service-library/src/servicelib/celery/models.py
  services/storage/src/simcore_service_storage/core/application.py
  services/storage/src/simcore_service_storage/modules/celery/__init__.py
Due: pkg_service_library, storage

pylint
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
Due: pkg_service_library

fix: remove unused param
  packages/celery-library/src/celery_library/signals.py
  packages/celery-library/tests/conftest.py
  services/storage/src/simcore_service_storage/modules/celery/worker_main.py
  services/storage/tests/conftest.py
Due: storage

extra context in grid
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
Due: webclient

insert fake run_function
  services/api-server/tests/unit/celery/conftest.py
  services/api-server/tests/unit/celery/test_functions.py
Due: api_server

all good
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/Conversations.js
Due: webclient

check mock
  services/api-server/tests/unit/celery/test_functions.py
Due: api_server

🎨 Adds support for extra context in conversation updates (#8235)
  api/specs/web-server/_conversations.py
  packages/models-library/src/models_library/api_schemas_webserver/conversations.py
  packages/models-library/src/models_library/conversations.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_rest.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/src/simcore_service_webserver/statics/_events.py
  services/web/server/tests/unit/with_dbs/04/conversations/test_conversations_rest.py
Due: api, pkg_models_library, webserver

minor
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
Due: webclient

nameAlias
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
Due: webclient

name_alias
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
Due: webclient

fix list item
  services/static-webserver/client/source/class/osparc/support/ConversationListItem.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
Due: webclient

send email to fogbugz
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_messages_rest.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_service.py
  services/web/server/src/simcore_service_webserver/email/_core.py
  services/web/server/src/simcore_service_webserver/email/email_service.py
  services/web/server/src/simcore_service_webserver/email/utils.py
  services/web/server/src/simcore_service_webserver/login_accounts/_service.py
  services/web/server/src/simcore_service_webserver/templates/common/request_support.jinja2
Due: webserver

transform run function endpoint
  services/api-server/src/simcore_service_api_server/api/dependencies/celery.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/api/routes/tasks.py
Due: api_server

send email to fogbugz
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_messages_rest.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_service.py
  services/web/server/src/simcore_service_webserver/templates/common/request_support.jinja2
Due: webserver

send email to fogbugz
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_service.py
Due: webserver

add pytest-celery plugin
  services/api-server/requirements/_test.in
  services/api-server/requirements/_test.txt
Due: api_server

minor
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
Due: webclient

can run empty test
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/celery/worker_main.py
  services/api-server/tests/unit/celery/conftest.py
  services/api-server/tests/unit/celery/test_functions.py
  services/api-server/tests/unit/conftest.py
Due: api_server
