Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fix
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications_controller_rest.py
Due: webserver

fix
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications_service.py
Due: webserver

remove
  packages/postgres-database/src/simcore_postgres_database/migration/versions/447db39c5455_remove_registration_email_template_.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
Due: pkg_postgres_database

remove
  services/web/server/src/simcore_service_webserver/products/_repository.py
Due: webserver

remove
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_repository.py
Due: webserver

NodeFinished events
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
Due: webclient

cleanup
  packages/postgres-database/tests/products/test_models_products.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/tests/unit/isolated/products/test_products_model.py
Due: pkg_postgres_database, webserver

ended_at
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Due: webclient

__displayCreditsUsed
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
Due: webclient

getNodeLastSubJob
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
Due: webclient

upgrade
  packages/notifications-library/requirements/_base.txt
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
Due: pkg_notifications_library, pkg_postgres_database, pkg_simcore_sdk, api_server, catalog, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, payments, resource_usage_tracker, storage, webserver

⚰️ ♻️ 🗃️ refactor(products): remove `registration_email_template` column from `products` (#9228)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/447db39c5455_remove_registration_email_template_.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  packages/postgres-database/tests/products/test_models_products.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/products/_repository.py
  services/web/server/tests/unit/isolated/products/test_products_model.py
  services/web/server/tests/unit/with_dbs/04/products/test_products_repository.py
Due: pkg_postgres_database, webserver

fix
  Makefile
Due: none

🐛Maintenance: fix UV self updating in gitlab CI (#9231)
  Makefile
Due: none

FlashMessenger
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
Due: webclient

fix
  packages/notifications-library/src/notifications_library/payments.py
  packages/notifications-library/tests/conftest.py
  services/notifications/src/simcore_service_notifications/models/payments.py
  services/notifications/tests/email/conftest.py
  services/notifications/tests/email/test_email_events.py
Due: pkg_notifications_library

fix: added conditional checks for job loading in MMuX
  tests/e2e-playwright/tests/metamodeling/test_response_surface_modeling.py
Due: none

Flash and dynamic service
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorButton.js
Due: webclient

use resourceUsage
  services/static-webserver/client/source/class/osparc/data/model/NodeStatus.js
Due: webclient

CreditsFlashMessage
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsFlashMessage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorButton.js
Due: webclient

remove aiosmtplib
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
Due: webserver

aesthetics
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsFlashMessage.js
Due: webclient

arrow aesthetics
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsFlashMessage.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsFlashMessage.js
Due: webclient

more aesthetics
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsFlashMessage.js
Due: webclient

stack the messages
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsFlashMessage.js
Due: webclient

stacking
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsFlashMessage.js
Due: webclient

cleanup
  services/web/server/requirements/_base.txt
Due: webserver

makeButtonBlink2
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsFlashMessage.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorButton.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsIndicatorButton.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

let it grow
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsFlashMessage.js
Due: webclient

fix
  services/notifications/src/simcore_service_notifications/api/rpc/dependencies.py
Due: none

cleanup
  services/notifications/requirements/dev.txt
  services/web/server/requirements/dev.txt
Due: webserver
