Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

instrument httpx clients in api-server
  packages/service-library/src/servicelib/fastapi/tracing.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/api-server/src/simcore_service_api_server/services/catalog.py
  services/api-server/src/simcore_service_api_server/services/director_v2.py
  services/api-server/src/simcore_service_api_server/services/storage.py
  services/api-server/src/simcore_service_api_server/services/webserver.py
  services/api-server/src/simcore_service_api_server/utils/client_base.py
Due: pkg_service_library, api_server

fixed test
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/tests/unit/test_cli.py
Due: dynamic_scheduler

fixed tests
  services/payments/src/simcore_service_payments/core/settings.py
  services/payments/tests/unit/test_cli.py
Due: payments

fixed tests
  services/storage/src/simcore_service_storage/settings.py
  services/storage/tests/unit/test_cli.py
Due: storage

using global fix
  services/catalog/tests/unit/test_cli.py
Due: catalog

revert unused
  services/catalog/src/simcore_service_catalog/core/settings.py
Due: catalog

revert changes
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
Due: dask_sidecar

revert required field
  packages/models-library/src/models_library/api_schemas_directorv2/clusters.py
Due: pkg_models_library

making settings fail
  services/web/server/src/simcore_service_webserver/session/settings.py
Due: webserver

add instrumentation to httpx client in catalog
  services/catalog/src/simcore_service_catalog/core/application.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/catalog/src/simcore_service_catalog/services/director.py
Due: catalog

only if selection changed
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
Due: webclient

fixed xfail
  services/autoscaling/tests/unit/test_core_settings.py
  services/clusters-keeper/tests/unit/test_core_settings.py
Due: autoscaling, clusters_keeper

mapping
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/study/StudyPricingUnits.js
Due: webclient

fixed broken tests
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/main.py
Due: dynamic_scheduler

♻️ refactor listing folders (#6703)
  api/specs/web-server/_folders.py
  packages/models-library/src/models_library/folders.py
  packages/postgres-database/src/simcore_postgres_database/utils_sql.py
  packages/postgres-database/src/simcore_postgres_database/utils_workspaces_sql.py
  services/storage/src/simcore_service_storage/db_access_layer.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/folders/_folders_api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/folders/_folders_handlers.py
  services/web/server/src/simcore_service_webserver/folders/_models.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_db.py
  services/web/server/tests/unit/with_dbs/04/folders/test_folders__full_search.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__list_folders_full_search.py
Due: api, pkg_models_library, pkg_postgres_database, storage, webserver

pylint
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/attribute_monitor/_logging_event_handler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_event_handler.py
Due: dynamic_sidecar

update name on loading page
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
Due: webclient

pylint
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_parameters.py
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
Due: api_server

fixed broken tests
  services/web/server/tests/unit/with_dbs/03/test_session.py
Due: webserver

revert bump-pydantic
  services/director-v2/src/simcore_service_director_v2/models/comp_runs.py
Due: director_v2

ensure there is no space in the client name
  services/autoscaling/src/simcore_service_autoscaling/modules/redis.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_task.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/redis.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_task.py
  services/director-v2/src/simcore_service_director_v2/modules/redis.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/redis.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/modules/redis.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/_meta.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/redis.py
Due: autoscaling, clusters_keeper, director_v2, dynamic_scheduler, efs_guardian, resource_usage_tracker

small fixes
  packages/service-library/tests/conftest.py
  packages/service-library/tests/test_redis__reconection.py
Due: pkg_service_library

pass a client name when connecting to redis
  packages/service-library/src/servicelib/redis.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/deferred_tasks/example_app.py
  packages/service-library/tests/deferred_tasks/test__base_deferred_handler.py
  packages/service-library/tests/test_redis.py
  packages/service-library/tests/test_redis__recoonection.py
  services/autoscaling/src/simcore_service_autoscaling/modules/redis.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/redis.py
  services/director-v2/src/simcore_service_director_v2/modules/redis.py
  services/director-v2/tests/unit/test_utils_distributed_identifier.py
  services/director/requirements/_tools.txt
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/redis.py
  services/dynamic-scheduler/tests/conftest.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/modules/redis.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/redis.py
  services/storage/src/simcore_service_storage/redis.py
  services/web/server/src/simcore_service_webserver/redis.py
Due: pkg_service_library, autoscaling, clusters_keeper, director, director_v2, dynamic_scheduler, efs_guardian, resource_usage_tracker, storage, webserver

remove warnings using the async loop fixture
  packages/service-library/tests/test_pools.py
Due: pkg_service_library

same
  packages/service-library/tests/test_utils.py
Due: pkg_service_library

🎨Maintenance: make redis client use the client name to ease debugging (#6700)
  packages/service-library/src/servicelib/redis.py
  packages/service-library/tests/conftest.py
  packages/service-library/tests/deferred_tasks/example_app.py
  packages/service-library/tests/deferred_tasks/test__base_deferred_handler.py
  packages/service-library/tests/test_pools.py
  packages/service-library/tests/test_redis.py
  packages/service-library/tests/test_redis__reconection.py
  packages/service-library/tests/test_utils.py
  services/autoscaling/src/simcore_service_autoscaling/modules/redis.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/clusters_management_task.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/modules/redis.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_task.py
  services/director-v2/src/simcore_service_director_v2/modules/redis.py
  services/director-v2/tests/unit/test_utils_distributed_identifier.py
  services/director/requirements/_tools.txt
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/redis.py
  services/dynamic-scheduler/tests/conftest.py
  services/efs-guardian/src/simcore_service_efs_guardian/services/modules/redis.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/_meta.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/redis.py
  services/storage/src/simcore_service_storage/redis.py
  services/web/server/src/simcore_service_webserver/redis.py
Due: pkg_service_library, autoscaling, clusters_keeper, director, director_v2, dynamic_scheduler, efs_guardian, resource_usage_tracker, storage, webserver

fix validator
  packages/models-library/src/models_library/clusters.py
Due: pkg_models_library

rename
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

add comment
  packages/models-library/src/models_library/errors.py
Due: pkg_models_library

remove unused code
  services/director-v2/src/simcore_service_director_v2/core/errors.py
Due: director_v2

do not use cached templates
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

reload templates
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
Due: webclient

🎨 [Frontend] Make the Light Theme less white (#6681)
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/auth/LoginPageS4L.js
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/node/BootOptionsView.js
  services/static-webserver/client/source/class/osparc/node/LifeCycleView.js
  services/static-webserver/client/source/class/osparc/node/UpdateResourceLimitsView.js
  services/static-webserver/client/source/class/osparc/notification/RibbonNotifications.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/widget/NodeOptions.js
  services/static-webserver/client/source/class/osparc/workbench/DiskUsageIndicator.js
Due: webclient

adding tags to rut
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/da145a5fe27b_introducing_rut_project_metadata.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_project_metadata.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_service_runs.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/repositories/resource_tracker.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service.py
  services/resource-usage-tracker/tests/unit/with_dbs/conftest.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_process_rabbitmq_message.py
Due: pkg_models_library, pkg_postgres_database, resource_usage_tracker

fix mypy
  services/director-v2/src/simcore_service_director_v2/cli/_core.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
Due: director_v2

pylint
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/main.py
Due: dynamic_scheduler

using typeadapter
  services/storage/src/simcore_service_storage/datcore_adapter/datcore_adapter_settings.py
Due: storage

removed unused
  services/dask-sidecar/src/simcore_service_dask_sidecar/settings.py
Due: dask_sidecar

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
