Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

refactor
  packages/aws-library/tests/test_s3_client.py
  packages/pytest-simcore/src/pytest_simcore/helpers/comparing.py
Due: pkg_aws_library

add progress
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
Due: webserver

removed debug print
  packages/aws-library/src/aws_library/s3/_client.py
Due: pkg_aws_library

fix column name
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
Due: webserver

fix
  services/catalog/src/simcore_service_catalog/services/services_api.py
Due: catalog

fix test
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Due: webserver

typecheck
  services/web/server/src/simcore_service_webserver/projects/_db_utils.py
Due: webserver

refactor RUT
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/license_checkouts.py
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/license_purchases.py
  packages/models-library/src/models_library/licenses.py
  packages/models-library/src/models_library/resource_tracker_license_checkouts.py
  packages/models-library/src/models_library/resource_tracker_license_purchases.py
  packages/models-library/tests/test_licenses.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/eb74758a8761_add_licenses_and_license_resources.py
  packages/postgres-database/src/simcore_postgres_database/models/license_to_resource.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_resources.py
  packages/postgres-database/src/simcore_postgres_database/models/licenses.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_license_checkouts.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_license_purchases.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/errors.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/license_checkouts.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/license_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_license_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_license_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/routes.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/errors.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/credit_transactions.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/license_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/license_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/license_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/license_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/license_checkouts_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/license_purchases_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_license_checkouts.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_license_purchases.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_license_checkouts_db.py
Due: pkg_models_library, pkg_postgres_database, pkg_service_library, resource_usage_tracker

🐛 error handling vip models 🗃️ (#7184)
  packages/postgres-database/src/simcore_postgres_database/migration/versions/611f956aa3e3_licensed_items_checkout_purchase_email_.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_checkouts.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_purchases.py
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
Due: pkg_postgres_database, api_server

refactor to use size instead of items count as progress
  packages/aws-library/src/aws_library/s3/_client.py
  packages/aws-library/tests/test_s3_client.py
  packages/service-library/src/servicelib/zip_stream/__init__.py
  packages/service-library/src/servicelib/zip_stream/_constants.py
  packages/service-library/src/servicelib/zip_stream/_input.py
  packages/service-library/src/servicelib/zip_stream/_types.py
  packages/service-library/src/servicelib/zip_stream/_zipper.py
  packages/service-library/tests/test_zip_stream.py
Due: pkg_aws_library, pkg_service_library

using faster file hash checking
  packages/aws-library/tests/test_s3_client.py
  packages/pytest-simcore/src/pytest_simcore/helpers/comparing.py
  packages/service-library/src/servicelib/zip_stream/_zipper.py
  packages/service-library/tests/archiving_utils/test_archiving_utils.py
Due: pkg_aws_library, pkg_service_library

refactor progress on zip
  packages/aws-library/src/aws_library/s3/_client.py
  packages/aws-library/src/aws_library/s3/_constants.py
  packages/aws-library/tests/test_s3_client.py
  packages/service-library/src/servicelib/zip_stream/__init__.py
  packages/service-library/src/servicelib/zip_stream/_constants.py
  packages/service-library/src/servicelib/zip_stream/_input.py
  packages/service-library/src/servicelib/zip_stream/_types.py
  packages/service-library/src/servicelib/zip_stream/_zipper.py
  services/storage/tests/unit/test_handlers_files.py
Due: pkg_aws_library, pkg_service_library, storage

remove unused
  packages/service-library/src/servicelib/zip_stream/_zipper.py
Due: pkg_service_library

remove unused
  packages/aws-library/src/aws_library/s3/_client.py
Due: pkg_aws_library

remove outdated
  packages/aws-library/src/aws_library/s3/_client.py
Due: pkg_aws_library

reshuffled imports
  packages/aws-library/src/aws_library/s3/_client.py
  packages/aws-library/src/aws_library/s3/_constants.py
  packages/aws-library/tests/test_s3_client.py
  packages/service-library/src/servicelib/zip_stream/__init__.py
  packages/service-library/src/servicelib/zip_stream/_constants.py
  packages/service-library/src/servicelib/zip_stream/_zipper.py
Due: pkg_aws_library, pkg_service_library

fixed more broken imports
  packages/aws-library/src/aws_library/s3/__init__.py
  packages/aws-library/src/aws_library/s3/_constants.py
Due: pkg_aws_library

reverted delted import
  packages/aws-library/src/aws_library/s3/_client.py
Due: pkg_aws_library

remove unused error
  packages/aws-library/src/aws_library/s3/_errors.py
Due: pkg_aws_library

revert number
  packages/aws-library/tests/test_s3_client.py
Due: pkg_aws_library

fixed broken import
  services/storage/tests/unit/test_handlers_files.py
Due: storage

update script
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ffce18840aa4_remove_workbench_column.py
Due: pkg_postgres_database

continue fixing
  services/web/server/src/simcore_service_webserver/projects/db.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

refactor RUT
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_checkouts.py
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items_purchases.py
  packages/models-library/src/models_library/licenses.py
  services/api-server/src/simcore_service_api_server/api/routes/licensed_items.py
  services/api-server/src/simcore_service_api_server/services_rpc/resource_usage_tracker.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/test_licensed_items.py
  services/web/server/src/simcore_service_webserver/licenses/_common/models.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_models.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_checkouts_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_licensed_items_checkouts_rest.py
Due: pkg_models_library, api_server, webserver

introduce licensed resources
  packages/models-library/src/models_library/licenses.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/68777fdf9539_add_licensed_resources.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_resources.py
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_syncer_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_service.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_resources_repository.py
  services/web/server/src/simcore_service_webserver/licenses/errors.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_itis_vip_service.py
Due: pkg_models_library, pkg_postgres_database, webserver

typing
  packages/aws-library/src/aws_library/s3/_client.py
Due: pkg_aws_library

fixeed tests
  packages/aws-library/tests/test_s3_client.py
Due: pkg_aws_library

typing and imports
  packages/aws-library/src/aws_library/s3/_client.py
  packages/service-library/src/servicelib/zip_stream/_input.py
Due: pkg_aws_library, pkg_service_library

fixed broken test
  packages/pytest-simcore/src/pytest_simcore/helpers/comparing.py
  packages/service-library/tests/archiving_utils/test_archiving_utils.py
Due: pkg_service_library

sonar
  services/catalog/src/simcore_service_catalog/models/services_db.py
Due: catalog

rename
  packages/service-library/src/servicelib/docker_utils.py
  packages/service-library/src/servicelib/progress_bar.py
  packages/service-library/tests/test_progress_bar.py
Due: pkg_service_library

fix test
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
Due: webserver

refactor
  packages/service-library/src/servicelib/progress_bar.py
  packages/service-library/tests/test_progress_bar.py
Due: pkg_service_library

fixes migration
  packages/postgres-database/src/simcore_postgres_database/migration/versions/3fe27ff48f73_new_icon_table.py
Due: pkg_postgres_database

refactored tests
  services/dynamic-scheduler/tests/conftest.py
  services/dynamic-scheduler/tests/unit/test_services_catalog.py
Due: dynamic_scheduler

fix tests
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
Due: webserver

inverting logic between queue and retry CI
  .github/mergify.yml
Due: none

🎨 Services metadata include an icon 🗃️ (#7174)
  packages/models-library/src/models_library/api_schemas_catalog/_base.py
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/models-library/src/models_library/services_base.py
  packages/models-library/src/models_library/services_metadata_editable.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/3fe27ff48f73_new_icon_table.py
  packages/postgres-database/src/simcore_postgres_database/models/services.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/catalog/VERSION
  services/catalog/openapi.json
  services/catalog/setup.cfg
  services/catalog/src/simcore_service_catalog/api/rest/_services.py
  services/catalog/src/simcore_service_catalog/core/background_tasks.py
  services/catalog/src/simcore_service_catalog/db/repositories/_services_sql.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/models/services_db.py
  services/catalog/src/simcore_service_catalog/services/compatibility.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/catalog/tests/unit/test_services_compatibility.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
Due: pkg_models_library, pkg_postgres_database, catalog, webserver

fix workbench update
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
Due: pkg_postgres_database

mypy
  services/web/server/src/simcore_service_webserver/application_settings.py
Due: webserver
