Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

upgrade
  packages/aws-library/requirements/_tools.txt
  packages/celery-library/requirements/_tools.txt
  packages/common-library/requirements/_tools.txt
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_tools.txt
  packages/pytest-simcore/requirements/_tools.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_tools.txt
  services/agent/requirements/_tools.txt
  services/api-server/requirements/_tools.txt
  services/autoscaling/requirements/_tools.txt
  services/catalog/requirements/_tools.txt
  services/clusters-keeper/requirements/_tools.txt
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_tools.txt
  services/director-v2/requirements/_tools.txt
  services/director/requirements/_tools.txt
  services/docker-api-proxy/requirements/_tools.txt
  services/dynamic-scheduler/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/invitations/requirements/_tools.txt
  services/migration/requirements/_tools.txt
  services/notifications/requirements/_tools.txt
  services/payments/requirements/_tools.txt
  services/resource-usage-tracker/requirements/_tools.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_tools.txt
  tests/e2e-playwright/requirements/_tools.txt
  tests/performance/requirements/_tools.txt
  tests/public-api/requirements/_tools.txt
Due: pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, invitations, payments, resource_usage_tracker, storage, webserver

⬆️ 🔒️ chore(deps): upgrade `tornado` :warning: (#9768)
  packages/dask-task-models-library/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/dask-sidecar/requirements/_dask-distributed.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
Due: pkg_dask_task_models_library, autoscaling, clusters_keeper, dask_sidecar, director_v2

⬆️ chore(deps): upgrade `opentelemetry` (#9759)
  api/tests/requirements.txt
  packages/aws-library/requirements/_base.txt
  packages/celery-library/requirements/_base.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/docker-api-proxy/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
Due: api, pkg_aws_library, pkg_service_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, invitations, payments, resource_usage_tracker, storage, webserver

use models
  services/web/server/src/simcore_service_webserver/users/_accounts_repository.py
  services/web/server/src/simcore_service_webserver/users/_accounts_service.py
  services/web/server/src/simcore_service_webserver/users/_models_pre_registration_extras.py
  services/web/server/tests/unit/isolated/test_users_pre_registration_extras.py
  services/web/server/tests/unit/with_dbs/03/invitations/users_accounts_registration/test_users_accounts_rest_registration_approve_reject.py
  services/web/server/tests/unit/with_dbs/03/users/test_users_accounts_service.py
  services/web/server/tests/unit/with_dbs/03/users/users_accounts_repository/test_users_accounts_repository_create.py
Due: webserver

comments
  services/web/server/src/simcore_service_webserver/users/_models_pre_registration_extras.py
Due: webserver

⬆️ chore(deps): upgrade `aio-pika` (#9761)
  packages/aws-library/requirements/_base.txt
  packages/celery-library/requirements/_base.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/tests/rabbitmq/test_rabbitmq_connection.py
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director/requirements/_base.txt
  services/docker-api-proxy/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
Due: pkg_aws_library, pkg_service_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, invitations, payments, resource_usage_tracker, storage, webserver

i18n [ MAINT ]: refresh frontend translation catalogs
  services/static-webserver/client/source/translation/es_ES.po
  services/static-webserver/client/source/translation/ko_KR.po
  services/static-webserver/client/source/translation/zh.po
Due: webclient

front-end [ FEAT ]: mark beta languages in the language selector
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/utils/LanguageManager.js
Due: webclient

✨ feat(web-server): persist send-mail decision in account approval/rejection extras (#9766)
  services/web/server/src/simcore_service_webserver/users/_accounts_repository.py
  services/web/server/src/simcore_service_webserver/users/_accounts_service.py
  services/web/server/src/simcore_service_webserver/users/_models_pre_registration_extras.py
  services/web/server/tests/unit/isolated/test_users_pre_registration_extras.py
  services/web/server/tests/unit/with_dbs/03/invitations/users_accounts_registration/test_users_accounts_rest_registration_approve_reject.py
  services/web/server/tests/unit/with_dbs/03/users/test_users_accounts_service.py
  services/web/server/tests/unit/with_dbs/03/users/users_accounts_repository/test_users_accounts_repository_create.py
Due: webserver

tmp folder
  .gitignore
Due: none

front-end [ BUG ]: fix beta marker crashing the language selector
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
Due: webclient

front-end [ MAINT ]: fix isLocaleBeta docstring
  services/static-webserver/client/source/class/osparc/utils/LanguageManager.js
Due: webclient

front-end [ MAINT ]: reword language settings helper text
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
Due: webclient

front-end [ MAINT ]: anchor language helper text to the (Beta) marker
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
Due: webclient

🎨 (frontend): Displays beta if a translation is in preview (#9770)
  .gitignore
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/utils/LanguageManager.js
  services/static-webserver/client/source/translation/es_ES.po
  services/static-webserver/client/source/translation/ko_KR.po
  services/static-webserver/client/source/translation/zh.po
Due: webclient

fix: versions
  .python-version
  packages/celery-library/setup.py
  packages/dask-task-models-library/setup.py
  packages/models-library/setup.py
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/scripts/erd/Dockerfile
  packages/postgres-database/scripts/erd/Makefile
  packages/settings-library/tests/test_application.py
  requirements/tools/Dockerfile
  requirements/tools/Makefile
  scripts/apt-packages-versions/Dockerfile
  scripts/erd/Dockerfile
  scripts/maintenance/migrate_project/Dockerfile
  scripts/openapi-pydantic-models-generator.bash
  scripts/pydeps-docker/Dockerfile
  scripts/pydeps.bash
  scripts/pyupgrade.bash
  services/_base_images/Dockerfile
  services/web/server/tests/unit/isolated/conftest.py
Due: pkg_dask_task_models_library, pkg_models_library, pkg_postgres_database, pkg_settings_library, webserver

fix: versions
  packages/aws-library/setup.py
Due: pkg_aws_library

use Self
  packages/aws-library/src/aws_library/s3/_client.py
Due: pkg_aws_library

fix: stale classifiers
  packages/postgres-database/setup.py
  packages/service-integration/setup.py
  packages/settings-library/setup.py
  services/dask-sidecar/setup.py
Due: pkg_postgres_database, pkg_service_integration, pkg_settings_library, dask_sidecar

fix: versions
  scripts/maintenance/create_user.py
  scripts/maintenance/image_triage.py
  scripts/maintenance/import_projects_as_template.py
Due: none

fix: revert
  packages/models-library/src/models_library/progress_bar.py
  packages/models-library/src/models_library/utils/json_schema.py
  services/api-server/tests/unit/api_functions/test_api_routers_function_jobs.py
  services/api-server/tests/unit/test_tasks.py
Due: pkg_models_library, api_server

fix: upgrade uv
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/scripts/erd/Dockerfile
  requirements/UV_VERSION
  requirements/tools/Dockerfile
  scripts/erd/Dockerfile
  scripts/maintenance/migrate_project/Dockerfile
  scripts/openapi/oas_resolver/Dockerfile
  scripts/pydeps-docker/Dockerfile
  services/_base_images/Dockerfile
  tests/environment-setup/test_used_uv.py
Due: pkg_postgres_database

⬆️ 🔒️ chore(deps): upgrade `virtualenv` (#9772)
  packages/aws-library/requirements/_tools.txt
  packages/celery-library/requirements/_tools.txt
  packages/common-library/requirements/_tools.txt
  packages/dask-task-models-library/requirements/_tools.txt
  packages/models-library/requirements/_tools.txt
  packages/postgres-database/requirements/_tools.txt
  packages/pytest-simcore/requirements/_tools.txt
  packages/service-integration/requirements/_tools.txt
  packages/service-library/requirements/_tools.txt
  packages/settings-library/requirements/_tools.txt
  packages/simcore-sdk/requirements/_tools.txt
  services/agent/requirements/_tools.txt
  services/api-server/requirements/_tools.txt
  services/autoscaling/requirements/_tools.txt
  services/catalog/requirements/_tools.txt
  services/clusters-keeper/requirements/_tools.txt
  services/dask-sidecar/requirements/_tools.txt
  services/datcore-adapter/requirements/_tools.txt
  services/director-v2/requirements/_tools.txt
  services/director/requirements/_tools.txt
  services/docker-api-proxy/requirements/_tools.txt
  services/dynamic-scheduler/requirements/_tools.txt
  services/dynamic-sidecar/requirements/_tools.txt
  services/invitations/requirements/_tools.txt
  services/migration/requirements/_tools.txt
  services/notifications/requirements/_tools.txt
  services/payments/requirements/_tools.txt
  services/resource-usage-tracker/requirements/_tools.txt
  services/storage/requirements/_tools.txt
  services/web/server/requirements/_tools.txt
  tests/e2e-playwright/requirements/_tools.txt
  tests/performance/requirements/_tools.txt
  tests/public-api/requirements/_tools.txt
Due: pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, invitations, payments, resource_usage_tracker, storage, webserver

tmps
  .gitignore
Due: none

upgrade
  packages/postgres-database/requirements/_base.txt
  packages/simcore-sdk/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/storage/requirements/_test.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
Due: pkg_postgres_database, pkg_simcore_sdk, api_server, catalog, director_v2, dynamic_scheduler, dynamic_sidecar, payments, resource_usage_tracker, storage, webserver

enriched error infor + count used tokens when aborted
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/_service_responses.py
  services/api-server/src/simcore_service_api_server/api/routes/responses.py
  services/api-server/src/simcore_service_api_server/clients/chatbox_usage.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/_usage_limit_errors.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/_utils.py
  services/api-server/src/simcore_service_api_server/exceptions/usage_limit_errors.py
  services/api-server/src/simcore_service_api_server/models/schemas/errors.py
  services/api-server/tests/unit/api_responses/responses_usage_limits/celery/test_responses_usage_limits_celery.py
  services/api-server/tests/unit/api_responses/responses_usage_limits/test_responses_usage_limits_streaming.py
Due: api_server

disable 3.15 check
  .github/workflows/ci-testing-deploy.yml
Due: none

mypy
  services/api-server/src/simcore_service_api_server/exceptions/usage_limit_errors.py
Due: api_server

cleanup comment
  packages/postgres-database/docker/Dockerfile
  packages/postgres-database/scripts/erd/Dockerfile
  requirements/tools/Dockerfile
  scripts/erd/Dockerfile
  scripts/maintenance/migrate_project/Dockerfile
  scripts/openapi/oas_resolver/Dockerfile
  scripts/pydeps-docker/Dockerfile
  services/_base_images/Dockerfile
Due: pkg_postgres_database

rename
  services/dask-sidecar/src/simcore_service_dask_sidecar/utils/gpus.py
Due: dask_sidecar

fix
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/attribute_monitor/_logging_event_handler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/multiprocess_logging.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_event_handler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/process_startup.py
  services/dynamic-sidecar/tests/unit/api/rest/test_containers.py
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_watcher.py
  tests/environment-setup/test_used_uv.py
  tests/public-api/test_files_api.py
  tests/public-api/test_solvers_jobs_api.py
Due: dynamic_sidecar

fix
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_event_handler.py
Due: dynamic_sidecar

replace
  packages/service-library/src/servicelib/fastapi/http_client_thin.py
  packages/service-library/src/servicelib/fastapi/long_running_tasks/_client.py
  packages/service-library/src/servicelib/redis/_decorators.py
  services/catalog/src/simcore_service_catalog/clients/director.py
Due: pkg_service_library, catalog

upgrade
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
Due: agent, api_server, catalog, datcore_adapter, director, dynamic_scheduler, dynamic_sidecar, invitations, payments, resource_usage_tracker, storage, webserver

upgrade
  packages/postgres-database/requirements/_base.txt
  packages/postgres-database/requirements/_migration.txt
  packages/pytest-simcore/requirements/_test.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
  services/web/server/requirements/_test.txt
Due: pkg_postgres_database, pkg_simcore_sdk, api_server, catalog, director_v2, dynamic_scheduler, dynamic_sidecar, payments, resource_usage_tracker, storage, webserver
