Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

maxHeight
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
Due: webclient

fix spinner fallback value
  services/static-webserver/client/source/class/osparc/form/Auto.js
Due: webclient

avoid more moustaches
  services/static-webserver/client/source/class/osparc/form/Auto.js
Due: webclient

DIsable Delete button if Node is Running
  services/static-webserver/client/source/class/osparc/widget/StudyDataManager.js
Due: webclient

better fallbacks
  services/static-webserver/client/source/class/osparc/form/Auto.js
Due: webclient

copilot reviews
  services/static-webserver/client/source/class/osparc/widget/StudyDataManager.js
Due: webclient

copilot reviews
  services/static-webserver/client/source/class/osparc/form/Auto.js
Due: webclient

improve date default
  services/static-webserver/client/source/class/osparc/form/Auto.js
Due: webclient

🎨 [Frontend] Enh: App Release Notes (#9084)
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
Due: webclient

@pcrespov delete pr summary prompt
  .github/prompts/pr-summary.prompt.md
Due: none

@pcrespov update controller-service-repo architechture description
  .github/instructions/python.instructions.md
Due: none

@pcrespov update assertion and safety comments in skill
  .github/instructions/python.instructions.md
Due: none

trigger ci
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
Due: api_server

Introduce PR review skill (#9059)
  .github/instructions/python.instructions.md
  .github/prompts/pr-summary.prompt.md
  .github/skills/review-my-changes/SKILL.md
  services/api-server/tests/unit/api_solvers/test_api_routers_solvers_jobs_delete.py
Due: api_server

fix
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

fix: address Copilot review comments
  packages/postgres-database/src/simcore_postgres_database/migration/versions/201aa37f4d9a_remove_workbench_column_from_projects_.py
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_utils_project.py
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: pkg_postgres_database, webserver

fixes
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_docker_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
Due: pkg_simcore_sdk

fix
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
Due: webserver

introduce function for including endpoint from specific version
  services/api-server/src/simcore_service_api_server/api/routes/_constants.py
Due: api_server

add initial use of include version function
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
Due: api_server

fix
  packages/postgres-database/src/simcore_postgres_database/migration/versions/201aa37f4d9a_remove_workbench_column_from_projects_.py
Due: pkg_postgres_database

feedback
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_docker_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_errors.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
Due: pkg_simcore_sdk

update rest of remaining cases
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
Due: api_server

fix
  services/notifications/tests/unit/test_core_settings.py
Due: none

fix
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy_utils.py
Due: webserver

update openapi specs
  services/api-server/openapi.json
Due: api_server

fix
  packages/postgres-database/src/simcore_postgres_database/migration/versions/201aa37f4d9a_remove_workbench_column_from_projects_.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_projects.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: pkg_postgres_database, webserver

update
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_repository.py
Due: webserver

fix
  services/web/server/src/simcore_service_webserver/projects/_controller/ports_rest.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
Due: webserver

fix
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_repository.py
Due: webserver

centralize ports
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_docker_utils.py
Due: pkg_simcore_sdk

proper type
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_docker_utils.py
Due: pkg_simcore_sdk

suggestion
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
Due: pkg_simcore_sdk

add new instruction
  .github/instructions/python.instructions.md
Due: none

✨ Expose solvers jobs listing endpoint in API (#9078)
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/_constants.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_read.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
Due: api_server

fix
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
Due: pkg_postgres_database

fix
  services/storage/src/simcore_service_storage/modules/db/projects.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Due: storage

@pcrespov add last updated timestamp to skill file
  .github/skills/grafana-query/SKILL.md
Due: none

fix
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_utils.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
