Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

pytest-simcore: single shared docker_stack deploy/teardown coordinated across xdist workers
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
Due: none

pytest-simcore: worker-unique S3/rustfs bucket name under xdist
  packages/pytest-simcore/src/pytest_simcore/aws_s3_service.py
  packages/pytest-simcore/src/pytest_simcore/s3_storage_service.py
Due: none

director-v2: group swarm-service-listing tests onto one xdist worker via xdist_group + --dist=loadgroup
  ci/github/unit-testing/director-v2.bash
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Due: director_v2

pytest-simcore: re-seed faker per xdist worker (fixes cross-worker determinism collisions)
  packages/pytest-simcore/src/pytest_simcore/__init__.py
Due: none

pytest-simcore: retry container listing race in save_docker_infos (shared docker daemon under xdist)
  packages/pytest-simcore/src/pytest_simcore/helpers/docker.py
Due: none

director-v2 tests: use faker.uuid4() instead of low-entropy hostname(0) for docker service names
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Due: director_v2

director-v2 tests: make SWARM_STACK_NAME label filter unique per test for xdist
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Due: director_v2

director-v2 tests: make simcore_services_network_name unique per test for xdist
  services/director-v2/tests/unit/conftest.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Due: director_v2

redis: per-xdist-worker DB offset (app-wide) + flushdb instead of flushall; skip 4 known-flaky docker-service-listing tests
  packages/pytest-simcore/src/pytest_simcore/redis_service.py
  packages/settings-library/src/settings_library/redis.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/docker-compose.yml
  services/web/server/tests/unit/with_dbs/conftest.py
Due: pkg_settings_library, director_v2, webserver

director-v2 tests: update expected REDIS_SETTINGS snapshot to include new REDIS_DB_OFFSET field
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: director_v2

director-v2 tests: reader-writer lock giving docker-daemon-sensitive tests exclusive cross-worker access instead of skipping them
  packages/pytest-simcore/src/pytest_simcore/helpers/xdist.py
  services/director-v2/tests/unit/with_dbs/conftest.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Due: director_v2

fix(docker_swarm): deploy FULL compose under xdist, not per-module filtered subset, to avoid starving later modules of services
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
Due: none

director-v2 tests: fix dynamic_sidecar_service_name exceeding docker's 63-char service name limit
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Due: director_v2

fix dependencies
  packages/pytest-simcore/pyproject.toml
Due: none

fix(docker_swarm): under xdist, deploy the UNION of all collected modules' service selections, not the full unfiltered compose
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
Due: none

director-v2 tests: unique names in dynamic_sidecar_stack_specs fixture to avoid AlreadyExists collisions
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Due: director_v2

upgrade filelock
  packages/service-integration/requirements/_test.in
  packages/service-integration/requirements/_test.txt
  packages/service-integration/requirements/_tools.txt
Due: pkg_service_integration

reverted webserver changes for now
  .github/workflows/ci-testing-deploy.yml
  ci/github/unit-testing/webserver.bash
Due: none

add retry
  packages/service-library/src/servicelib/rabbitmq/_client.py
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
Due: pkg_service_library

split tests
  .github/workflows/ci-testing-deploy.yml
  ci/github/unit-testing/autoscaling.bash
Due: none

change order
  .github/workflows/ci-testing-deploy.yml
  ci/github/unit-testing/autoscaling.bash
  packages/service-library/src/servicelib/rabbitmq/_client.py
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
  services/web/server/src/simcore_service_webserver/application.py
Due: pkg_service_library, webserver

🐛 fix(web-server): long running tasks startup depends on RabbitMQ (#9753)
  services/web/server/src/simcore_service_webserver/application.py
Due: webserver

removed deprecated
  services/api-server/src/simcore_service_api_server/api/routes/responses.py
  services/api-server/tests/unit/api_responses/test_responses_streaming.py
Due: api_server

tracking main
  services/api-server/Makefile
Due: api_server

no tyope requirement it's just an alias
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services.py
Due: pkg_models_library

✨ Adds streaming to `api-severs'` `v0/responses` endpoint (#9681)
  .env-devel
  services/api-server/Makefile
  services/api-server/VERSION
  services/api-server/openapi.json
  services/api-server/setup.cfg
  services/api-server/src/simcore_service_api_server/_service_responses.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/api/routes/responses.py
  services/api-server/src/simcore_service_api_server/exceptions/backend_errors.py
  services/api-server/src/simcore_service_api_server/exceptions/handlers/_utils.py
  services/api-server/src/simcore_service_api_server/models/basic_types.py
  services/api-server/src/simcore_service_api_server/models/domain/chatbot.py
  services/api-server/src/simcore_service_api_server/models/schemas/responses.py
  services/api-server/src/simcore_service_api_server/modules/celery/worker/_responses_tasks.py
  services/api-server/src/simcore_service_api_server/services_http/chatbot.py
  services/api-server/tests/unit/api_responses/test_responses_streaming.py
  services/api-server/tests/unit/test_chatbot.py
  services/api-server/tests/unit/test_models_schemas_responses.py
Due: api_server

fix
  packages/models-library/src/models_library/utils/common_validators.py
Due: pkg_models_library

fix
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_parameters.py
Due: none

updated specs
  services/catalog/openapi.json
  services/director-v2/openapi.json
  services/dynamic-sidecar/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
Due: catalog, director_v2, dynamic_sidecar, webserver

🐛 fix(i18n): translator double-brace placeholders, prompt scope, identical-entry audit
  scripts/i18n/DESIGN.md
  scripts/i18n/tools/i18n_translator.py
  scripts/i18n/tools/tests/test_i18n_translator.py
Due: none

fix
  packages/models-library/src/models_library/utils/common_validators.py
  packages/pytest-simcore/src/pytest_simcore/helpers/httpx_calls_capture_parameters.py
Due: pkg_models_library

✨ feat(i18n): translator prompt keeps quoted option names verbatim
  scripts/i18n/tools/i18n_translator.py
  scripts/i18n/tools/tests/test_i18n_translator.py
Due: none

source /home/silenthk/work/pr-osparc-properly-allocate-extra-container-resources/.venv/bin/activatefix issues with ValueErrror
  packages/models-library/src/models_library/basic_types.py
  packages/service-library/src/servicelib/docker_utils.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/director_v2/resources.py
  services/director-v2/src/simcore_service_director_v2/api/rpc/_resources.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/resources.py
Due: pkg_models_library, pkg_service_library, director_v2

🔨 refactor(i18n): drop dead _needs_translation, dedup translate() loops
  scripts/i18n/tools/i18n_translator.py
  scripts/i18n/tools/tests/test_i18n_translator.py
Due: none

move definitons
  packages/common-library/src/common_library/pydantic_resources.py
  packages/common-library/tests/test__models_examples.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_compose_specs.py
  packages/settings-library/src/settings_library/basic_types.py
  packages/settings-library/src/settings_library/egress_proxy.py
  packages/settings-library/src/settings_library/r_clone.py
  packages/settings-library/src/settings_library/user_services_tracing.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/proxy.py
  services/director-v2/src/simcore_service_director_v2/core/dynamic_services_settings/sidecar.py
  services/dynamic-sidecar/tests/unit/api/rest/test_containers.py
Due: pkg_settings_library, director_v2, dynamic_sidecar

✨ feat(i18n): add translations for "snap" in Spanish, Korean, and Chinese; update translation guidelines to prevent length expansion
  scripts/i18n/glossary.json
  scripts/i18n/tools/i18n_translator.py
  scripts/i18n/tools/tests/test_i18n_translator.py
Due: none

Update translations and localization files for multiple languages
  packages/common-library/src/common_library/locale/es_ES/LC_MESSAGES/messages.po
  packages/common-library/src/common_library/locale/ko_KR/LC_MESSAGES/messages.po
  packages/common-library/src/common_library/locale/zh_CN/LC_MESSAGES/messages.po
  scripts/i18n/Makefile
  services/static-webserver/client/source/translation/es_ES.po
  services/static-webserver/client/source/translation/ko_KR.po
  services/static-webserver/client/source/translation/zh.po
Due: webclient
