Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

add new fixtures and model examples
  packages/models-library/src/models_library/api_schemas_long_running_tasks/base.py
  packages/pytest-simcore/src/pytest_simcore/celery_library_mocks.py
Due: pkg_models_library

undo
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
Due: webclient

back to getLockState
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/node/slideshow/NodeView.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
Due: webclient

remove circular dependency
  packages/models-library/src/models_library/boot_options.py
  packages/models-library/src/models_library/docker.py
  packages/models-library/src/models_library/services_metadata_runtime.py
  packages/models-library/tests/test_docker.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_provider_computational.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_models.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_specs.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/director/src/simcore_service_director/registry_proxy.py
Due: pkg_models_library, autoscaling, director, director_v2

missing
  packages/models-library/src/models_library/services_metadata_published.py
Due: pkg_models_library

missing change
  packages/models-library/tests/test_services.py
Due: pkg_models_library

fix
  services/static-webserver/client/source/class/osparc/data/model/NodeLockState.js
Due: webclient

better
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

getLockState
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

♻️Maintenance: remove circular dependency (#8245)
  packages/models-library/src/models_library/boot_options.py
  packages/models-library/src/models_library/docker.py
  packages/models-library/src/models_library/services_metadata_published.py
  packages/models-library/src/models_library/services_metadata_runtime.py
  packages/models-library/tests/test_docker.py
  packages/models-library/tests/test_services.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_provider_computational.py
  services/autoscaling/src/simcore_service_autoscaling/utils/rabbitmq.py
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_models.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
  services/autoscaling/tests/unit/test_utils_docker.py
  services/autoscaling/tests/unit/test_utils_rabbitmq.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_compose_specs.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/proxy.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/test_modules_dask_client.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_compose_specs.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
  services/director/src/simcore_service_director/registry_proxy.py
Due: pkg_models_library, autoscaling, director, director_v2

lock sometimes
  services/static-webserver/client/source/class/osparc/workbench/NodeUI.js
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Due: webclient

"loading-title"
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Due: webclient

"messages-container"
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Due: webclient

refactored
  services/static-webserver/client/source/class/osparc/ui/message/Loading.js
Due: webclient

fix: raise timeout
  packages/celery-library/tests/conftest.py
Due: none

fix: force worker stop
  packages/celery-library/tests/conftest.py
Due: none

fix: remove rabbit
  packages/celery-library/tests/conftest.py
Due: none

fix: rabbit
  packages/celery-library/tests/conftest.py
Due: none

first attempt to add boot script for api-server worker
  services/api-server/docker/boot.sh
Due: api_server

add health check to api-server celery worker
  services/api-server/docker/healthcheck.py
Due: api_server

add asgi_lifespan to servicelib.fastapi reqs as it was missing
  packages/service-library/requirements/_fastapi.in
  packages/service-library/requirements/_fastapi.txt
  packages/service-library/requirements/_test.txt
  services/agent/requirements/_base.txt
  services/agent/requirements/_test.txt
  services/api-server/requirements/_base.txt
  services/api-server/requirements/_test.txt
  services/autoscaling/requirements/_base.txt
  services/autoscaling/requirements/_test.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/clusters-keeper/requirements/_base.txt
  services/clusters-keeper/requirements/_test.txt
  services/datcore-adapter/requirements/_base.txt
  services/datcore-adapter/requirements/_test.txt
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director/requirements/_base.txt
  services/director/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/requirements/_test.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/dynamic-sidecar/requirements/_test.txt
  services/efs-guardian/requirements/_base.txt
  services/efs-guardian/requirements/_test.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/notifications/requirements/_test.txt
  services/payments/requirements/_base.txt
  services/payments/requirements/_test.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/resource-usage-tracker/requirements/_test.txt
  services/storage/requirements/_base.txt
Due: pkg_service_library, agent, api_server, autoscaling, catalog, clusters_keeper, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage

fixes to make services functional again
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/celery/worker_main.py
  services/api-server/src/simcore_service_api_server/celery/worker_tasks/__init__.py
  services/api-server/src/simcore_service_api_server/celery/worker_tasks/functions_tasks.py
  services/api-server/src/simcore_service_api_server/celery/worker_tasks/tasks.py
  services/docker-compose.yml
Due: api_server

add redis env vars to api-server
  services/api-server/docker/boot.sh
  services/api-server/src/simcore_service_api_server/celery/worker_main.py
  services/docker-compose.yml
Due: api_server

remove unused
  services/storage/src/simcore_service_storage/core/application.py
  services/storage/src/simcore_service_storage/modules/long_running_tasks.py
Due: storage

changed how error is transferred
  packages/service-library/src/servicelib/long_running_tasks/_lrt_client.py
  packages/service-library/src/servicelib/long_running_tasks/_lrt_server.py
  packages/service-library/src/servicelib/long_running_tasks/errors.py
  packages/service-library/src/servicelib/long_running_tasks/models.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
Due: pkg_service_library

refactor
  packages/service-library/src/servicelib/long_running_tasks/task.py
Due: pkg_service_library

moved config_file placement
  packages/service-library/src/servicelib/r_clone_utils.py
  packages/service-library/tests/tests_r_clone_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone.py
  packages/simcore-sdk/tests/unit/test_node_ports_v2_r_clone.py
Due: pkg_service_library, pkg_simcore_sdk

renamed
  packages/service-library/src/servicelib/long_running_tasks/_lrt_client.py
  packages/service-library/src/servicelib/long_running_tasks/_serialization.py
  packages/service-library/src/servicelib/long_running_tasks/task.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks__redis_serialization.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks__serialization.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks_task.py
Due: pkg_service_library

changed error raising
  packages/service-library/src/servicelib/long_running_tasks/_lrt_client.py
Due: pkg_service_library

add separate rabbitmq queue for api-worker
  packages/service-library/src/servicelib/celery/models.py
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/src/simcore_service_api_server/celery/worker_main.py
  services/api-server/tests/unit/celery/conftest.py
  services/api-server/tests/unit/celery/test_functions.py
  services/docker-compose.yml
Due: pkg_service_library, api_server

fix: use separate Celery app
  packages/celery-library/tests/conftest.py
  packages/celery-library/tests/unit/test_tasks.py
Due: none

fix tests
  services/web/server/src/simcore_service_webserver/conversations/_controller/_conversations_rest.py
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/src/simcore_service_webserver/groups/_groups_service.py
  services/web/server/tests/unit/with_dbs/04/conversations/test_conversations_rest.py
Due: webserver

renamed
  packages/service-library/src/servicelib/long_running_tasks/_serialization.py
Due: pkg_service_library

fix tests
  services/web/server/tests/unit/with_dbs/04/conversations/test_conversations_rest.py
Due: webserver

fix
  services/static-webserver/client/source/class/osparc/dashboard/GroupedCardContainer.js
Due: webclient

fixed broken tests
  packages/service-library/tests/long_running_tasks/test_long_running_tasks__redis_serialization.py
  packages/service-library/tests/long_running_tasks/test_long_running_tasks__serialization.py
Due: pkg_service_library

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
