Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

made names better
  packages/service-library/src/servicelib/fastapi/docker.py
  packages/service-library/src/servicelib/fastapi/postgres_lifespan.py
  packages/service-library/src/servicelib/fastapi/prometheus_instrumentation.py
  services/catalog/src/simcore_service_catalog/core/events.py
  services/docker-api-proxy/tests/integration/conftest.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/events.py
Due: pkg_service_library, catalog, dynamic_scheduler

remvoe unused
  packages/service-library/src/servicelib/fastapi/lifespan_utils.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/notifier/_setup.py
Due: pkg_service_library, dynamic_scheduler

mypy
  services/storage/src/simcore_service_storage/utils/simcore_s3_dsm_utils.py
Due: storage

fix sharing
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Due: webclient

hack
  services/static-webserver/client/source/class/osparc/store/Services.js
Due: webclient

renamed and repalce
  services/notifications/src/simcore_service_notifications/core/events.py
Due: none

Fix blocked card
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/store/Services.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
Due: webclient

ensure we do not see weird errors on stopping fix timeouts
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  tests/e2e-playwright/tests/conftest.py
Due: none

more cleanup
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Due: none

ensure we do not re-connect when done
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

rename
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright_sim4life.py
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sim4life/test_template.py
  tests/e2e-playwright/tests/sleepers/test_sleepers.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

added some colors
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Due: none

more cleaning
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Due: none

improvement of logs
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Due: none

emulate frontend
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Due: none

cleanup
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Due: none

fix less than 1ms everywhere
  packages/pytest-simcore/src/pytest_simcore/helpers/logging_tools.py
Due: none

added test
  packages/pytest-simcore/tests/conftest.py
  packages/pytest-simcore/tests/test_robust_websocket.py
Due: none

reworked a bit RobustWebsocket
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Due: none

no need to use the create function
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

fix: remove unnecessary return statement in _get_service_url function
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Due: none

add requirements
  packages/pytest-simcore/pyproject.toml
  packages/pytest-simcore/uv.lock
Due: none

simcore-sdk migrated
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_db.py
Due: dynamic_sidecar

migrated to asyncpg
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/dbmanager.py
Due: pkg_simcore_sdk

uninstall aiopg
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
Due: pkg_simcore_sdk

fix
  services/api-server/src/simcore_service_api_server/db/events.py
Due: api_server

simcore-sdk migrated
  services/api-server/src/simcore_service_api_server/services_http/solver_job_outputs.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
Due: api_server, director_v2

fixed usage
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_utils_user_preferences.py
Due: pkg_postgres_database

revert
  .github/workflows/ci-testing-deploy.yml
Due: none

use asyncpg
  services/api-server/src/simcore_service_api_server/api/dependencies/database.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/db/events.py
Due: api_server

have both asyncpg and aiopg
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
Due: director_v2

refactor: update database connection and improve assertions in unit tests
  services/director-v2/tests/unit/_helpers.py
Due: director_v2

removing aiopg
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
Due: director_v2

expanded time for postgres-db
  .github/workflows/ci-testing-deploy.yml
Due: none

renamed
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/dbmanager.py
  services/api-server/src/simcore_service_api_server/db/events.py
Due: pkg_simcore_sdk, api_server

models-library is not included
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_utils_groups_extra_properties.py
  packages/postgres-database/tests/test_utils_user_preferences.py
Due: pkg_postgres_database

simcore-sdk migrated
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
Due: director_v2
