Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_tracing.py
Due: dynamic_sidecar

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/settings.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_tracing.py
  services/dynamic-sidecar/tests/unit/test_modules_user_services_tracing.py
Due: dynamic_sidecar

add conn
  services/web/server/src/simcore_service_webserver/functions/_function_job_collections_repository.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_permissions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/groups/_groups_service.py
Due: webserver

fixed tests
  services/agent/tests/unit/utils.py
Due: agent

fixed test
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
Due: director_v2

mypy
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_tracing.py
Due: dynamic_sidecar

refactor
  services/web/server/src/simcore_service_webserver/functions/_function_job_collections_repository.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_permissions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/src/simcore_service_webserver/groups/_groups_service.py
Due: webserver

fix
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
Due: webserver

fix
  services/web/server/src/simcore_service_webserver/functions/_functions_permissions_repository.py
Due: webserver

added missing
  packages/service-integration/src/service_integration/osparc_config.py
Due: pkg_service_integration

fix
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
Due: webserver

fix
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_function_job_collections_repository.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
Due: webserver

updated development version
  services/docker-compose-ops.yml
Due: none

fixed broken format
  services/docker-compose-ops.yml
Due: none

fix
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
Due: webserver

fix
  packages/settings-library/src/settings_library/utils_cli.py
Due: pkg_settings_library

fix
  .env-devel
Due: none

added regression test
  services/dynamic-sidecar/tests/unit/test_core_validation_otel_injection.py
Due: dynamic_sidecar

fix
  services/web/server/tests/unit/isolated/test_activity.py
Due: webserver

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_tracing.py
Due: dynamic_sidecar

refactor tests
  services/dynamic-sidecar/tests/unit/test_core_validation_otel_injection.py
  services/dynamic-sidecar/tests/unit/test_modules_user_services_tracing.py
Due: dynamic_sidecar

🐛 fix(web-server): prevent `functions` repositories pool exhaustion (#9172)
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_function_job_collections_repository.py
  services/web/server/src/simcore_service_webserver/functions/_function_jobs_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_permissions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
Due: webserver

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/mounted_fs.py
Due: dynamic_sidecar

upgrade test dependencies
  tests/e2e-playwright/requirements/_test.txt
  tests/e2e-playwright/requirements/_test_wo_playwright.txt
  tests/e2e-playwright/requirements/_tools.txt
Due: none

do not commit debug lgos
  tests/e2e-playwright/.gitignore
Due: none

missing steps
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

🐛E2E: Improvements on Classic TI tests (#9173)
  tests/e2e-playwright/.gitignore
  tests/e2e-playwright/requirements/_test.txt
  tests/e2e-playwright/requirements/_test_wo_playwright.txt
  tests/e2e-playwright/requirements/_tools.txt
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_tracing.py
  services/dynamic-sidecar/tests/unit/test_modules_user_services_tracing.py
Due: dynamic_sidecar

reduce complexity
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
Due: dynamic_sidecar

fixeed reference
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
Due: dynamic_sidecar

added tests
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/validation.py
  services/dynamic-sidecar/tests/unit/test_core_validation_otel_injection.py
Due: dynamic_sidecar

fixed issue
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: director_v2

refactor
  services/dynamic-sidecar/tests/unit/test_core_validation.py
  services/dynamic-sidecar/tests/unit/test_core_validation_otel_injection.py
Due: dynamic_sidecar

fix
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/tests/data/default_app_config-integration.yaml
Due: webserver

rename
  .env-devel
  services/docker-compose.yml
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/notifications/src/simcore_service_notifications/core/settings.py
  services/notifications/tests/conftest.py
  services/notifications/tests/unit/conftest.py
Due: none

rename
  services/notifications/tests/unit/test_core_settings.py
Due: none

✨ feat(notifications): per-domain SMTP settings (#9073)
  .env-devel
  packages/settings-library/src/settings_library/email.py
  packages/settings-library/src/settings_library/utils_cli.py
  packages/settings-library/tests/test_email.py
  services/docker-compose.yml
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/notifications/src/simcore_service_notifications/core/settings.py
  services/notifications/tests/conftest.py
  services/notifications/tests/unit/conftest.py
  services/notifications/tests/unit/test_api_celery_send_email.py
  services/notifications/tests/unit/test_core_settings.py
  services/web/server/src/simcore_service_webserver/application_settings_utils.py
  services/web/server/tests/data/default_app_config-integration.yaml
  services/web/server/tests/unit/isolated/test_activity.py
  services/web/server/tests/unit/isolated/test_login_settings.py
Due: pkg_settings_library, webserver

fix tip-lite
  tests/e2e-playwright/tests/tip/test_ti_plan.py
Due: none

adjusted retries
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
