Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

@sanderegg review: mv to dict_tools
  packages/common-library/src/common_library/dict_tools.py
Due: none

minor fix
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
Due: webclient

expose project_tags
  services/static-webserver/client/source/class/osparc/desktop/credits/UsageTable.js
  services/static-webserver/client/source/class/osparc/desktop/credits/UsageTableModel.js
Due: webclient

renaming error
  packages/service-library/src/servicelib/archiving_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
Due: pkg_service_library, dynamic_sidecar

🐛 Fix deletion of files in folders (#6935)
  services/storage/src/simcore_service_storage/db_file_meta_data.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm_utils.py
  services/storage/tests/unit/test_db_file_meta_data.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_simcore_s3_dsm_utils.py
Due: storage

space
  services/autoscaling/src/simcore_service_autoscaling/modules/dask.py
Due: autoscaling

check tagging
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

renaming fixture
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_utils_auto_scaling_core.py
Due: autoscaling

ongoing
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

better assert
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

test passes
  packages/pytest-simcore/src/pytest_simcore/helpers/aws_ec2.py
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

test ready
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

moving fixtures and preparing test
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_buffer_machine_core.py
Due: autoscaling

only tag node if needed
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
Due: autoscaling

ongoing
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
Due: autoscaling

moved fixture down
  services/autoscaling/tests/unit/conftest.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
  services/autoscaling/tests/unit/test_modules_buffer_machine_core.py
Due: autoscaling

[skip ci] minor
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
Due: webclient

implement rut part of checkout/release license
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_usages.py
  packages/models-library/src/models_library/resource_tracker_licensed_items_usages.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_usage.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/errors.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_usages.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_usages.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_purchases_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_usages_db.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_usages.py
Due: pkg_models_library, pkg_postgres_database, resource_usage_tracker

@GitHK review: sentinel
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
Due: webserver

[skip ci] pass ordingin info in drag event
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

implement rut part of checkout/release license
  packages/models-library/src/models_library/resource_tracker_licensed_items_usages.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_usages.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_usages.py
Due: pkg_models_library, resource_usage_tracker

[skip ci] compatibility checks
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
Due: webclient

added validator for docker_node_id
  packages/models-library/src/models_library/docker.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/agent/containers.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/agent/volumes.py
  services/agent/src/simcore_service_agent/core/settings.py
  services/agent/src/simcore_service_agent/services/instrumentation/_models.py
  services/agent/tests/conftest.py
  services/agent/tests/unit/test_api_rpc__containers.py
  services/agent/tests/unit/test_api_rpc__volumes.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_api.py
Due: pkg_models_library, pkg_service_library, agent, director_v2

mypy
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
Due: pkg_models_library

refactor
  services/agent/src/simcore_service_agent/services/containers_manager.py
Due: agent

update specs
  services/director-v2/openapi.json
Due: director_v2

tests
  services/web/server/src/simcore_service_webserver/groups/_groups_db.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
Due: webserver

adding tests to rut
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_purchases.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_usages.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_usages.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/routes.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_usages.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_usages.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_usages_db.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_usages.py
  services/web/server/src/simcore_service_webserver/licenses/_rpc.py
Due: pkg_service_library, resource_usage_tracker, webserver

move working
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
Due: webclient

wrong check
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

only run upload docker logs if there is a failure
  .github/workflows/ci-testing-deploy.yml
Due: none

fixing test
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_guests.py
  services/web/server/src/simcore_service_webserver/garbage_collector/plugin.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/users/api.py
  services/web/server/tests/integration/01/test_garbage_collection.py
Due: webserver

reduce number of test
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

fixing test
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_guests.py
Due: webserver

@sanderegg review: rename
  packages/postgres-database/src/simcore_postgres_database/utils_groups_extra_properties.py
  packages/postgres-database/src/simcore_postgres_database/utils_models.py
Due: pkg_postgres_database

@sanderegg review: await
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_guests.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
Due: webserver

checkout release functionality
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_usages.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/3720518f82a7_modify_licenses_db.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_usages.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_api_licensed_items_usages.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_purchases_api.py
Due: pkg_models_library, pkg_postgres_database, resource_usage_tracker, webserver

pylint
  services/web/server/tests/unit/with_dbs/conftest.py
Due: webserver

@pcrespov review: typo
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
Due: autoscaling

wire signals
  services/static-webserver/client/source/class/osparc/dashboard/FolderButtonItem.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient
