Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

acceptance tests
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Due: webserver

minor
  services/web/server/tests/unit/with_dbs/02/test_projects_groups_handlers.py
Due: webserver

drafter interface
  api/specs/web-server/_users.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/users/_common/schemas.py
  services/web/server/src/simcore_service_webserver/users/_users_rest.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Due: api, pkg_models_library, webserver

minor
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
Due: pkg_models_library

cleanup
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/tests/unit/with_dbs/03/test_users.py
Due: webserver

updates OAS
  api/specs/web-server/_users.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, webserver

fixes
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
Due: webserver

acceptance test passes
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
Due: webserver

drafts
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
Due: pkg_models_library, webserver

improve error handling
  services/web/server/src/simcore_service_webserver/folders/_exceptions_handlers.py
Due: webserver

review @pcrespov
  packages/postgres-database/src/simcore_postgres_database/models/licensed_items.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
Due: pkg_postgres_database, api_server

add tests
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Due: webserver

fetch users and refactoring
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Users.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
Due: webclient

texts
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Due: webclient

🎨 add `license_key` field (🗃️) (#6978)
  packages/models-library/src/models_library/api_schemas_webserver/licensed_items.py
  packages/models-library/src/models_library/licensed_items.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/d31c23845017_add_license_key.py
  packages/postgres-database/src/simcore_postgres_database/models/licensed_items.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_api.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_items_db.py
Due: pkg_models_library, pkg_postgres_database, api_server, webserver

minor
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
Due: webclient

release seats on issues
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/background_task_periodic_heartbeat_check.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_checkouts_db.py
  services/resource-usage-tracker/tests/unit/with_dbs/test_licensed_items_checkouts_db.py
Due: resource_usage_tracker

release seats on issues
  services/resource-usage-tracker/tests/unit/with_dbs/test_licensed_items_checkouts_db.py
Due: resource_usage_tracker

add header and footer
  packages/notifications-library/src/notifications_library/templates/on_new_invitation.html
Due: pkg_notifications_library

[skip ci] minor
  packages/notifications-library/src/notifications_library/templates/on_new_invitation.html
Due: pkg_notifications_library

[skip ci] header adn footer tags
  packages/notifications-library/src/notifications_library/templates/on_new_invitation.html
Due: pkg_notifications_library

🐛 add `ProjectInvalidRightsError` to folders exception handling (#6979)
  services/web/server/src/simcore_service_webserver/folders/_exceptions_handlers.py
Due: webserver

@matusdrobuliak66 add license key to api-server model
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
Due: api_server

refactoringh
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
Due: api_server

expose get_available_licensed_items_for_wallet in api-server
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
Due: api_server

🐛 Sync nodes when patching (#6973)
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Due: webserver

expose checkout endpoint
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/models/schemas/model_adapter.py
  services/api-server/src/simcore_service_api_server/models/schemas/wallets.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
Due: api_server

start exposing final endpoint
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
Due: api_server

expose final endpoint
  services/api-server/src/simcore_service_api_server/api/routes/licensed_items.py
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/src/simcore_service_api_server/models/schemas/licensed_items.py
  services/api-server/src/simcore_service_api_server/models/schemas/wallets.py
Due: api_server

refactor licensed items tests
  services/api-server/tests/unit/test_licensed_items.py
Due: api_server

add some tests for exceptions
  services/api-server/src/simcore_service_api_server/api/routes/wallets.py
  services/api-server/tests/unit/test_licensed_items.py
Due: api_server

refactor
  packages/models-library/src/models_library/services_types.py
Due: pkg_models_library

fixed imports
  packages/models-library/src/models_library/api_schemas_resource_usage_tracker/licensed_items_checkouts.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/resource_usage_tracker/licensed_items_checkouts.py
  services/resource-usage-tracker/openapi.json
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/_licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_checkouts.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/licensed_items_checkouts.py
  services/web/server/src/simcore_service_webserver/licenses/_licensed_checkouts_api.py
Due: pkg_models_library, pkg_service_library, resource_usage_tracker, webserver

fixed specs
  services/resource-usage-tracker/openapi.json
Due: resource_usage_tracker

restore fixtures
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Due: webserver

restructure tests with common utils
  packages/service-library/tests/archiving_utils/conftest.py
  packages/service-library/tests/archiving_utils/helpers.py
  packages/service-library/tests/archiving_utils/test_archiving__interface_7zip.py
  packages/service-library/tests/archiving_utils/test_archiving_utils.py
  packages/service-library/tests/archiving_utils/test_archiving_utils_extra.py
Due: pkg_service_library

added notes to deprecate
  packages/service-library/src/servicelib/archiving_utils/_interface_7zip.py
Due: pkg_service_library

remove unwanted code
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/nodeports.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/seven_zip_wrapper.py
  services/dynamic-sidecar/tests/unit/test_modules_seven_zip_wrapper.py
Due: dynamic_sidecar
