Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fixes tests
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
Due: webserver

fix tests
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
Due: webserver

refactor names and product check
  api/specs/web-server/_auth.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/src/simcore_service_webserver/login/handlers_confirmation.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
Due: api, webserver

rm sent if fails
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
Due: webserver

renaming
  api/specs/web-server/_auth.py
  services/web/server/src/simcore_service_webserver/login/_confirmation.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
Due: api, webserver

new tests and fixes
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
Due: webserver

user service
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/users/api.py
Due: webserver

tests
  services/web/server/src/simcore_service_webserver/login/_constants.py
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
Due: webserver

fix sonar
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
Due: webserver

cleanup
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
Due: webserver

services/webserver api version: 0.61.0 → 0.61.1
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

fixes tests
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_reset_password.py
Due: webserver

cleanup
  services/web/server/src/simcore_service_webserver/utils_rate_limiting.py
Due: webserver

drops jinja failed
  services/web/server/src/simcore_service_webserver/email/_handlers.py
  services/web/server/src/simcore_service_webserver/templates/common/reset_password_email_failed.jinja2
  services/web/server/tests/unit/with_dbs/03/login/test_login_utils_emails.py
Due: webserver

OAS
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

minor
  services/web/server/src/simcore_service_webserver/login/handlers_change.py
Due: webserver

avoid try
  services/static-webserver/client/source/class/osparc/data/Resources.js
Due: webclient

fix tests
  services/web/server/tests/unit/isolated/test_utils_rate_limiting.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_2fa.py
Due: webserver

Adds release field in LatestServiceGet items returned in GET services/-/latest
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: pkg_models_library, catalog, webserver

adapts tests
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_services_services_api.py
Due: catalog

adapts tests
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  services/web/server/tests/unit/with_dbs/01/test_catalog_handlers__services.py
Due: pkg_models_library, webserver

unify create api key
  packages/postgres-database/src/simcore_postgres_database/utils_api_keys.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth_rpc.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
  services/web/server/src/simcore_service_webserver/api_keys/_controller_rpc.py
  services/web/server/src/simcore_service_webserver/api_keys/_repository.py
  services/web/server/src/simcore_service_webserver/api_keys/_service.py
Due: pkg_postgres_database, director_v2, webserver

@pcrespov remove aiohttp from models library
  packages/models-library/src/models_library/api_schemas_webserver/storage.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
Due: pkg_models_library, webserver

fix validation errors
  services/web/server/src/simcore_service_webserver/storage/_rest.py
Due: webserver

@pcrespov revert changes in storage settings
  services/storage/src/simcore_service_storage/core/settings.py
Due: storage

remove unused
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
Due: webserver

check hashed secret
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
Due: api_server

improve inputs descriptions @pcrespov
  .github/workflows/ci-testing-pull-request.yml
Due: none

fixed issue with task not started
  services/agent/src/simcore_service_agent/services/volumes_manager.py
Due: agent

Add `workflow_dispatch` trigger to PR CI workflows (#7340)
  .github/workflows/ci-testing-pull-request.yml
Due: none

typo
  services/agent/src/simcore_service_agent/services/volumes_manager.py
  services/agent/tests/unit/test_services_volumes_manager.py
Due: agent

🐛 agent now starts the volume cleanup task (#7346)
  services/agent/src/simcore_service_agent/services/volumes_manager.py
  services/agent/tests/unit/test_services_volumes_manager.py
Due: agent

🎨 [Frontend] Show default product thumbnail if resource's thumbnail is invalid (#7341)
  services/static-webserver/client/source/class/osparc/dashboard/GridButtonBase.js
  services/static-webserver/client/source/class/osparc/ui/basic/Thumbnail.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/osparc/ui_config.json
  tests/e2e/tests/tags.tes.js
  tests/e2e/utils/auto.js
Due: webclient

openapi specs
  packages/models-library/src/models_library/api_schemas_webserver/resource_usage.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: pkg_models_library, webserver

fix hashed secret check
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
Due: api_server

refactoring
  packages/postgres-database/src/simcore_postgres_database/utils_api_keys.py
  services/api-server/src/simcore_service_api_server/db/repositories/api_keys.py
  services/web/server/src/simcore_service_webserver/api_keys/_repository.py
Due: pkg_postgres_database, api_server, webserver

fix mock
  services/director-v2/tests/conftest.py
Due: director_v2

⬆️ upgraded director-v2 requirements (#7319)
  services/director-v2/openapi.json
  services/director-v2/requirements/_base.txt
  services/director-v2/requirements/_test.txt
  services/director-v2/requirements/_tools.txt
  services/director-v2/tests/unit/test_modules_notifier.py
Due: director_v2

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
