Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

ruff
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

make sure the settings take care of the registry settings being correct
  packages/settings-library/src/settings_library/docker_registry.py
  services/director/src/simcore_service_director/registry_proxy.py
Due: pkg_settings_library, director

cleanup
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

missing refactoring
  services/director/src/simcore_service_director/producer.py
Due: director

encoded true is needed here
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

replace aioresponses with httpx
  services/director/tests/unit/api/test_rest_running_interactive_services.py
Due: director

current WIP version with FastUI
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/ui/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/rabbitmq.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_api.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_deferred_get_status.py
Due: dynamic_scheduler

sonarcloud: use a specific name
  packages/settings-library/src/settings_library/docker_registry.py
  services/director/src/simcore_service_director/registry_proxy.py
Due: pkg_settings_library, director

remove confusion
  packages/settings-library/src/settings_library/docker_registry.py
  services/director/src/simcore_service_director/registry_proxy.py
Due: pkg_settings_library, director

ensure registry proxy uses internal registry URL
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

ensure registry proxy uses api_url
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

wallet members list
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

fix api_url to return protocol
  packages/settings-library/src/settings_library/docker_registry.py
  services/director/src/simcore_service_director/registry_proxy.py
Due: pkg_settings_library, director

minor
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
Due: webclient

Nicer wallet members list
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/WalletListItem.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

fixes path
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

fix encoding
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

fix push wallet notifications
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
Due: webclient

fix notification
  services/static-webserver/client/source/class/osparc/notification/Notifications.js
Due: webclient

fix required registry URL
  services/director-v2/tests/conftest.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_core_external_dependencies.py
Due: director_v2, dynamic_sidecar

fix prefix
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

Share with everyone
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsService.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

missing env
  packages/settings-library/tests/test_docker_registry.py
Due: pkg_settings_library

rename
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
Due: webclient

cleanup
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsService.js
  services/static-webserver/client/source/class/osparc/share/CollaboratorsStudy.js
Due: webclient

org notification
  services/static-webserver/client/source/class/osparc/notification/Notifications.js
Due: webclient

default thumbnail for org
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
Due: webclient

use YARL to build Url
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/fastapi/tracing.py
Due: pkg_service_library

aesthetics
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
Due: webclient

last
  services/static-webserver/client/source/class/osparc/ui/list/ListItem.js
Due: webclient

II
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
Due: webclient

remove var
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/fastapi/tracing.py
Due: pkg_service_library

fix invitation URL extraction
  services/web/server/src/simcore_service_webserver/invitations/_client.py
Due: webserver

open_with_resources
  tests/e2e-playwright/tests/conftest.py
Due: none

🐛🎨♻️Director-v0: improve registry caching (#6799)
  packages/settings-library/src/settings_library/docker_registry.py
  packages/settings-library/tests/test_docker_registry.py
  services/director-v2/tests/conftest.py
  services/director/requirements/_base.in
  services/director/requirements/_base.txt
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
  services/director/src/simcore_service_director/client_session.py
  services/director/src/simcore_service_director/core/errors.py
  services/director/src/simcore_service_director/producer.py
  services/director/src/simcore_service_director/registry_proxy.py
  services/director/tests/unit/api/test_rest_running_interactive_services.py
  services/director/tests/unit/conftest.py
  services/director/tests/unit/test_registry_proxy.py
  services/dynamic-sidecar/.env-devel
  services/dynamic-sidecar/tests/conftest.py
  services/dynamic-sidecar/tests/unit/test_core_external_dependencies.py
Due: pkg_settings_library, director, director_v2, dynamic_sidecar

wait until the title is automatically filled up
  tests/e2e-playwright/tests/conftest.py
Due: none

🐛 Fix OpenTelemetry endpoint URL creation (#6802)
  packages/service-library/requirements/_base.in
  packages/service-library/requirements/_base.txt
  packages/service-library/src/servicelib/aiohttp/tracing.py
  packages/service-library/src/servicelib/fastapi/tracing.py
Due: pkg_service_library

remove env var validation
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/settings.py
Due: clusters_keeper

update env-devel
  .env-devel
Due: none

updates storage
  api/specs/storage/openapi.yaml
  api/specs/storage/scripts/requirements.txt
  services/storage/src/simcore_service_storage/api/v0/openapi.yaml
Due: api, storage
