Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fix program example check and pylint test
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/models/schemas/programs.py
  services/api-server/tests/unit/test_api_programs.py
Due: api_server

rename
  services/storage/src/simcore_service_storage/modules/celery/client.py
Due: storage

stopInterval
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsWindow.js
Due: webclient

fixes mypy
  packages/models-library/src/models_library/api_schemas_catalog/services_ports.py
Due: pkg_models_library

refactor: use Annotated for key and content_schema fields in ServicePortGet model
  packages/models-library/src/models_library/api_schemas_catalog/services_ports.py
Due: pkg_models_library

stopIntervals
  services/static-webserver/client/source/class/osparc/jobs/RunsWindow.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
Due: webclient

regenerate OAS
  services/api-server/openapi.json
Due: api_server

iconPathRun
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/resource/osparc/circle-play-text.svg
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/jobs/SubRunsBrowser.js
Due: webclient

🎨 Exposes `get_service_ports` to rpc interface of the `catalog` simcore-service (#7558)
  packages/models-library/src/models_library/api_schemas_catalog/services_ports.py
  packages/models-library/src/models_library/services_io.py
  packages/models-library/tests/test_api_schemas_catalog.py
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_services_catalog.py
  services/catalog/openapi.json
  services/catalog/src/simcore_service_catalog/api/_dependencies/services.py
  services/catalog/src/simcore_service_catalog/api/rest/_services_ports.py
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/src/simcore_service_catalog/models/services_ports.py
  services/catalog/src/simcore_service_catalog/service/catalog_services.py
  services/catalog/src/simcore_service_catalog/service/manifest.py
  services/catalog/tests/unit/test_service_manifest.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
Due: pkg_models_library, pkg_service_library, api_server, catalog

delete after downloading
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/task/ExportData.js
Due: webclient

✨ [Frontend] Jobs: Connect to backend (#7550)
  services/static-webserver/client/source/class/osparc/data/Job.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/SubJob.js
  services/static-webserver/client/source/class/osparc/jobs/Info.js
  services/static-webserver/client/source/class/osparc/jobs/JobsAndClusters.js
  services/static-webserver/client/source/class/osparc/jobs/JobsButton.js
  services/static-webserver/client/source/class/osparc/jobs/JobsTableModel.js
  services/static-webserver/client/source/class/osparc/jobs/RunsAndClusters.js
  services/static-webserver/client/source/class/osparc/jobs/RunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/RunsTableModel.js
  services/static-webserver/client/source/class/osparc/jobs/RunsWindow.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsBrowser.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTable.js
  services/static-webserver/client/source/class/osparc/jobs/SubRunsTableModel.js
  services/static-webserver/client/source/class/osparc/store/Jobs.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/resource/osparc/circle-play-text.svg
  services/static-webserver/client/source/resource/osparc/mock_jobs.json
  services/static-webserver/client/source/translation/en.po
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

add delete endpoint
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  services/storage/tests/unit/test_async_jobs.py
  services/web/server/src/simcore_service_webserver/tasks/_rest.py
  services/web/server/tests/unit/with_dbs/01/storage/test_storage.py
Due: pkg_service_library, storage, webserver

enable multi-download
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
Due: webclient

add task deletion
  services/storage/src/simcore_service_storage/api/rpc/_async_jobs.py
  services/storage/src/simcore_service_storage/modules/celery/client.py
Due: storage

🎨 [Frontend] Delete export-data task after downloading artifacts (#7567)
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/file/FileLabelWithActions.js
  services/static-webserver/client/source/class/osparc/task/ExportData.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

add service filter in catalog
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/models/schemas/solvers.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
Due: api_server

fix api specs
  api/specs/web-server/_long_running_tasks.py
Due: api

update openapi-spec
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

Hypertools in menu
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
Due: webclient

ui_config
  services/static-webserver/client/source/resource/osparc/ui_config.json
Due: webclient

back to defaults
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
Due: webclient

callback
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
Due: webclient

update method
  packages/service-library/src/servicelib/fastapi/long_running_tasks/client.py
Due: pkg_service_library

update method
  services/web/server/tests/unit/with_dbs/01/storage/test_storage.py
Due: webserver

fix name
  api/specs/web-server/_long_running_tasks.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, webserver

🎨 [Frontend] Hypertools in menu (#7570)
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/resource/osparc/ui_config.json
Due: webclient

suggest sharing
  services/static-webserver/client/source/class/osparc/editor/AnnotationNoteCreator.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Due: webclient

revert
  packages/service-library/src/servicelib/fastapi/long_running_tasks/client.py
Due: pkg_service_library

share?
  services/static-webserver/client/source/class/osparc/editor/AnnotationNoteCreator.js
Due: webclient

removing aiopg
  services/director-v2/tests/unit/_helpers.py
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
Due: director_v2

uninstall aiopg
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
Due: pkg_simcore_sdk

simcore-sdk migrated
  services/director-v2/tests/unit/with_dbs/test_utils_dask.py
Due: director_v2

removed aiopg telemetry
  packages/simcore-sdk/requirements/_base.in
  packages/simcore-sdk/requirements/_base.txt
Due: pkg_simcore_sdk

simcore-sdk migrated
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
Due: director_v2

have both asyncpg and aiopg
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_factory.py
Due: director_v2

simcore-sdk migrated
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_db.py
Due: dynamic_sidecar

migrated to asyncpg
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/dbmanager.py
Due: pkg_simcore_sdk

simcore-sdk migrated
  services/api-server/src/simcore_service_api_server/services_http/solver_job_outputs.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/integration/02/test_dynamic_sidecar_nodeports_integration.py
Due: api_server, director_v2
