Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fix tests
  services/web/server/tests/unit/with_dbs/04/notifications/conftest.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications_controller_rest.py
Due: webserver

optimize
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

fix import
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

moved logic
  services/web/server/src/simcore_service_webserver/notifications/_service.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/users/users_service.py
Due: webserver

🎨 Improve emails delivery to multiple recipients (#8784)
  packages/models-library/src/models_library/api_schemas_notifications/message.py
  packages/models-library/src/models_library/notifications_errors.py
  packages/notifications-library/src/notifications_library/_email.py
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/notifications/_models.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
  services/web/server/src/simcore_service_webserver/users/_users_repository.py
  services/web/server/src/simcore_service_webserver/users/_users_service.py
  services/web/server/src/simcore_service_webserver/users/users_service.py
  services/web/server/tests/unit/with_dbs/04/notifications/conftest.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications_controller_rest.py
Due: pkg_models_library, pkg_notifications_library, webserver

added base workflow
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_workflow.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__workflow.py
Due: dynamic_scheduler

rename
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_workflow.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__workflow.py
Due: dynamic_scheduler

refactor
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__workflow.py
Due: dynamic_scheduler

working
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__workflow.py
Due: dynamic_scheduler

refactor
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_workflow.py
Due: dynamic_scheduler

added full test
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_workflow.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__workflow.py
Due: dynamic_scheduler

remove unused
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__workflow.py
Due: dynamic_scheduler

refactor
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/base_repository.py
  services/dynamic-scheduler/tests/unit/test_repository_postgres_networks.py
Due: dynamic_scheduler

minor
  services/static-webserver/client/source/class/osparc/editor/EmailEditor.js
Due: webclient

bring bottom border
  services/static-webserver/client/source/class/osparc/editor/EmailEditor.js
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/editor/EmailEditor.js
  services/static-webserver/client/source/class/osparc/wrapper/HtmlEditor.js
Due: webclient

whitespace issue
  services/static-webserver/client/source/class/osparc/wrapper/HtmlEditor.js
Due: webclient

update chatbot client
  services/web/server/src/simcore_service_webserver/chatbot/_client.py
  services/web/server/src/simcore_service_webserver/chatbot/settings.py
  services/web/server/tests/unit/with_dbs/04/chatbot/test_chatbot_client.py
Due: webserver

added node status
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_node_status.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__node_status.py
Due: dynamic_scheduler

updated models
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_models.py
Due: dynamic_scheduler

base
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_repositories/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_repositories/runs.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_repositories/runs_store.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_repositories/steps.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_repositories/steps_history.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_repositories/steps_lease.py
Due: dynamic_scheduler

extra checks
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

createPollingTask
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

refactor
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_node_status.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__node_status.py
Due: dynamic_scheduler

extended states
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_models.py
Due: dynamic_scheduler

refactor
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_node_status.py
Due: dynamic_scheduler

simplify
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_node_status.py
Due: dynamic_scheduler

fetch button
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

sending and notSending
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

rename
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_workflow_registry.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__workflow_registry.py
Due: dynamic_scheduler

rename
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

🎨 Update chatbot client (#8793)
  services/web/server/src/simcore_service_webserver/chatbot/_client.py
  services/web/server/src/simcore_service_webserver/chatbot/settings.py
  services/web/server/tests/unit/with_dbs/04/chatbot/test_chatbot_client.py
Due: webserver

added product_name to stop request
  packages/models-library/src/models_library/api_schemas_dynamic_scheduler/dynamic_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/_service.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/r_clone_mount_manager.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_service.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_disconnected.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_guests.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_orphans.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_delete.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service_delete.py
  services/web/server/src/simcore_service_webserver/projects/_trash_service.py
  services/web/server/src/simcore_service_webserver/trash/_service.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_service.py
  services/web/server/tests/unit/isolated/test_garbage_collector_core.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_garbage_collector.py
Due: pkg_models_library, dynamic_scheduler, dynamic_sidecar, webserver

🎨 [Frontend] Enhance Send email feature (#8792)
  services/static-webserver/client/source/class/osparc/editor/EmailEditor.js
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
  services/static-webserver/client/source/class/osparc/wrapper/HtmlEditor.js
Due: webclient

added missing
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
Due: webserver

fixed tests
  services/web/server/tests/unit/isolated/test_garbage_collector_core.py
Due: webserver

♻️ Adds `product_name` to the stop service request (#8794)
  packages/models-library/src/models_library/api_schemas_dynamic_scheduler/dynamic_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes_external_scheduler/_service.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/r_clone_mount_manager.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_service.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_disconnected.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_guests.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_orphans.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rest.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_delete.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service_delete.py
  services/web/server/src/simcore_service_webserver/projects/_trash_service.py
  services/web/server/src/simcore_service_webserver/trash/_service.py
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_service.py
  services/web/server/tests/unit/isolated/test_garbage_collector_core.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_garbage_collector.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
Due: pkg_models_library, dynamic_scheduler, dynamic_sidecar, webserver
