Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

set it to true if there is a at least a minor version change, ignoring patch changes
  services/static-webserver/client/source/class/osparc/NewReleaseS4L.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
Due: webclient

refactor swarm deploy
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
Due: none

cleanup
  services/static-webserver/client/source/class/osparc/NewReleaseS4L.js
Due: webclient

move files around
  services/static-webserver/client/source/class/osparc/NewReleaseS4L.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

re-use new code
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

enable logs upload
  .github/workflows/ci-testing-deploy.yml
Due: none

review and test
  services/static-webserver/client/source/class/osparc/NewReleaseS4L.js
  services/static-webserver/client/source/class/osparc/test/utils/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

refactor tests
  tests/public-api/Makefile
  tests/public-api/conftest.py
Due: none

revert this is faster
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
Due: none

refactor
  tests/public-api/Makefile
  tests/public-api/conftest.py
Due: none

🎨 Enhancing rclone mount unresponsiveness detection (#8865)
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/r_clone_mount_manager.py
Due: pkg_simcore_sdk, dynamic_sidecar

trying out new version
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
Due: none

✨ [Frontend] Detect new (at least minor) Sim4Life version (#8870)
  services/static-webserver/client/source/class/osparc/NewReleaseS4L.js
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
  services/static-webserver/client/source/class/osparc/test/utils/Utils.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

Cookie Policy footer banner
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
Due: webclient

make it modal
  services/static-webserver/client/source/class/osparc/Application.js
Due: webclient

grid container
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
Due: webclient

centered
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
Due: webclient

appearance
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
Due: webclient

cleanup
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
Due: webclient

render the Release Notes
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/NewRelease.js
Due: webclient

__postProcessMarkdown
  services/static-webserver/client/source/class/osparc/NewRelease.js
Due: webclient

images
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/NewRelease.js
Due: webclient

center window
  services/static-webserver/client/source/class/osparc/Application.js
Due: webclient

clean up
  services/static-webserver/client/source/class/osparc/NewRelease.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/Application.js
Due: webclient

retry with this code base
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
Due: none

bumped rcloen version
  scripts/install_rclone.bash
Due: none

added fuse version test
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
Due: pkg_simcore_sdk

🎨 [Frontend] Move Cookie Policy window to footer banner (#8871)
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/CookiePolicy.js
Due: webclient

refactor
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
Due: pkg_simcore_sdk

run tests when this version changes
  .github/workflows/ci-testing-deploy.yml
Due: none

refactor
  .github/workflows/ci-testing-deploy.yml
Due: none

__addDetailsLink
  services/static-webserver/client/source/class/osparc/NewRelease.js
Due: webclient

refactor
  packages/pytest-simcore/src/pytest_simcore/docker_compose.py
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
Due: none

better start order
  packages/pytest-simcore/src/pytest_simcore/docker_swarm.py
Due: none

refactor important order
  Makefile
Due: none

release note css
  services/static-webserver/client/source/class/osparc/NewRelease.js
  services/static-webserver/client/source/resource/marked/release-notes.css
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/NewRelease.js
  services/static-webserver/client/source/resource/marked/markdown.css
  services/static-webserver/client/source/resource/marked/release-notes.css
Due: webclient

less color
  services/static-webserver/client/source/class/osparc/NewRelease.js
  services/static-webserver/client/source/resource/marked/release-notes.css
Due: webclient
