Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

✨ Enhance ShortTruncatedStr tests to cover additional edge cases for string length and whitespace handling
  packages/models-library/tests/test_basic_types.py
Due: pkg_models_library

✨ Update get_solvers_filters to use SafeQueryStr for solver_id and version_display parameters
  services/api-server/src/simcore_service_api_server/api/dependencies/models_schemas_solvers_filters.py
Due: api_server

started a colloection of prompts
  docs/llm-prompts/pydantic-annotated-fields.md
Due: none

fixes mypy
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
Due: api_server

✨ notifactions-library: default email templatesfor `on_account_approved`, `on_account_denied` (#7744)
  packages/notifications-library/src/notifications_library/_models.py
  packages/notifications-library/src/notifications_library/templates/on_account_approved.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_account_approved.email.content.txt
  packages/notifications-library/src/notifications_library/templates/on_account_approved.email.subject.txt
  packages/notifications-library/src/notifications_library/templates/on_account_form.email.subject.txt
  packages/notifications-library/src/notifications_library/templates/on_account_rejected.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_account_rejected.email.content.txt
  packages/notifications-library/src/notifications_library/templates/on_account_rejected.email.subject.txt
  packages/notifications-library/src/notifications_library/templates/on_account_requested.email.content.html
  packages/notifications-library/src/notifications_library/templates/on_account_requested.email.content.txt
  packages/notifications-library/src/notifications_library/templates/on_account_requested.email.subject.txt
  packages/notifications-library/tests/conftest.py
  packages/notifications-library/tests/email/test_email_events.py
  packages/notifications-library/tests/test__templates.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
Due: pkg_notifications_library

🐛 Fix pagination argument names in JobService and WbApiRpcClient
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
Due: api_server

start sorting out order of middlewares
  packages/service-library/src/servicelib/fastapi/tracing.py
  services/agent/src/simcore_service_agent/core/application.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  tests/performance/locust_files/functions/workflow.py
Due: pkg_service_library, agent, api_server, autoscaling, catalog, clusters_keeper, datcore_adapter, director_v2, dynamic_scheduler

convert rest of fastapi apps
  packages/service-library/src/servicelib/fastapi/tracing.py
  services/agent/src/simcore_service_agent/core/application.py
  services/api-server/src/simcore_service_api_server/core/application.py
  services/autoscaling/src/simcore_service_autoscaling/core/application.py
  services/catalog/src/simcore_service_catalog/core/application.py
  services/clusters-keeper/src/simcore_service_clusters_keeper/core/application.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/core/application.py
  services/director-v2/src/simcore_service_director_v2/core/application.py
  services/director/src/simcore_service_director/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/efs-guardian/src/simcore_service_efs_guardian/core/application.py
  services/invitations/src/simcore_service_invitations/core/application.py
  services/notifications/src/simcore_service_notifications/core/application.py
  services/payments/src/simcore_service_payments/core/application.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/core/application.py
  services/storage/src/simcore_service_storage/core/application.py
Due: pkg_service_library, agent, api_server, autoscaling, catalog, clusters_keeper, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage

remove uneccesary file
  tests/performance/locust_files/functions/workflow.py
Due: none

✨ Add SafeQueryStr type alias for safe URL query parameters
  packages/models-library/src/models_library/basic_types.py
Due: pkg_models_library

✨ Refactor project and rabbitmq basic types to use TypeAlias with Annotated and StringConstraints
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/rabbitmq_basic_types.py
Due: pkg_models_library

✨ Refactor string truncation types to use Annotated with StringConstraints and trim_string_before
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/tests/test_basic_types.py
  packages/models-library/tests/test_projects.py
Due: pkg_models_library

@bisgaard-itis review: verbatim
  docs/llm-prompts/pydantic-annotated-fields.md
Due: none

doc
  packages/models-library/src/models_library/basic_types.py
Due: pkg_models_library

Constrain has function id string
  packages/models-library/src/models_library/functions.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
Due: pkg_models_library, webserver

♻️ Maintenance: Updates on new `Annotated` type style and llm-prompts (#7749)
  docs/llm-prompts/pydantic-annotated-fields.md
  packages/models-library/src/models_library/basic_types.py
  packages/models-library/src/models_library/projects.py
  packages/models-library/src/models_library/rabbitmq_basic_types.py
  packages/models-library/tests/test_basic_types.py
  packages/models-library/tests/test_projects.py
  services/api-server/src/simcore_service_api_server/api/dependencies/models_schemas_solvers_filters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
Due: pkg_models_library, api_server

Fix typecheck in functions
  services/api-server/src/simcore_service_api_server/api/dependencies/models_schemas_function_filters.py
Due: api_server

Update openapi specs
  services/api-server/openapi.json
Due: api_server

update to functions load test
  tests/performance/locust_files/functions/workflow.py
Due: none

Triggering github action in PR
  README.md
Due: none

Add has_function_id filter to function job collection filtering ✨ (#7746)
  README.md
  packages/models-library/src/models_library/api_schemas_api_server/functions.py
  packages/models-library/src/models_library/api_schemas_webserver/functions.py
  packages/models-library/src/models_library/functions.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/functions/functions_rpc_interface.py
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/dependencies/_utils.py
  services/api-server/src/simcore_service_api_server/api/dependencies/models_schemas_function_filters.py
  services/api-server/src/simcore_service_api_server/api/dependencies/models_schemas_solvers_filters.py
  services/api-server/src/simcore_service_api_server/api/routes/function_job_collections_routes.py
  services/api-server/src/simcore_service_api_server/services_rpc/wb_api_server.py
  services/api-server/tests/unit/api_functions/conftest.py
  services/api-server/tests/unit/api_functions/test_api_routers_functions.py
  services/web/server/src/simcore_service_webserver/functions/_controller/_functions_rpc.py
  services/web/server/src/simcore_service_webserver/functions/_functions_repository.py
  services/web/server/src/simcore_service_webserver/functions/_functions_service.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/conftest.py
  services/web/server/tests/unit/with_dbs/04/functions_rpc/test_functions_controller_rpc.py
Due: pkg_models_library, pkg_service_library, api_server, webserver

Mark inputs as required in create function frontend
  services/static-webserver/client/source/class/osparc/study/CreateFunction.js
Due: webclient

ensure locust load test is set up correctly
  tests/performance/locust_files/functions/workflow.py
Due: none

removed unrequired
  packages/service-library/src/servicelib/archiving_utils/_prunable_folder.py
Due: pkg_service_library

removed
  packages/service-library/src/servicelib/archiving_utils/_prunable_folder.py
Due: pkg_service_library

refactor
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
Due: webserver

ongoing
  services/web/server/src/simcore_service_webserver/db_listener/_db_comp_tasks_listening_task.py
Due: webserver

refactor
  services/web/server/src/simcore_service_webserver/db_listener/_db_comp_tasks_listening_task.py
Due: webserver

refactor
  packages/pytest-simcore/src/pytest_simcore/db_entries_mocks.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
Due: webserver

refactor
  services/web/server/src/simcore_service_webserver/db_listener/_db_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/db_listener/_models.py
Due: webserver

change procedure
  packages/postgres-database/src/simcore_postgres_database/migration/versions/278daef7e99d_remove_whole_row_in_payload.py
  packages/postgres-database/src/simcore_postgres_database/models/comp_tasks.py
Due: pkg_postgres_database

fixed tests
  packages/postgres-database/tests/test_comp_tasks.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
Due: pkg_postgres_database, webserver

wrong copy paste
  packages/postgres-database/tests/test_comp_tasks.py
Due: pkg_postgres_database
