Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

continue refactoring
  api/specs/web-server/_auth_api_keys.py
  services/web/server/src/simcore_service_webserver/api_keys/_api.py
  services/web/server/src/simcore_service_webserver/api_keys/_db.py
  services/web/server/src/simcore_service_webserver/api_keys/_models.py
  services/web/server/src/simcore_service_webserver/api_keys/_rest.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
Due: api, webserver

continue refactoring
  services/web/server/src/simcore_service_webserver/api_keys/_api.py
  services/web/server/src/simcore_service_webserver/api_keys/_db.py
  services/web/server/src/simcore_service_webserver/api_keys/_rest.py
Due: webserver

fix column name
  services/web/server/src/simcore_service_webserver/api_keys/_db.py
Due: webserver

@sanderegg long options names for .SHELLFLAGS
  Makefile
Due: none

remove glob from ci uv cache @sanderegg
  .github/workflows/ci-testing-deploy.yml
Due: none

needs.changes.outputs.anything -> needs.changes.outputs.anything-py
  .github/workflows/ci-testing-deploy.yml
Due: none

@matusdrobuliak66 keep 'log_' prefix
  packages/service-library/src/servicelib/logging_utils.py
Due: pkg_service_library

✨Adding dynamic services monitoring dashboard (⚠️devops) (#6784)
  .env-devel
  Makefile
  packages/models-library/tests/test_service_settings_labels.py
  packages/models-library/tests/test_utils_fastapi_encoders.py
  services/docker-compose.yml
  services/dynamic-scheduler/Dockerfile
  services/dynamic-scheduler/requirements/_base.in
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-scheduler/requirements/_test.in
  services/dynamic-scheduler/requirements/_test.txt
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_setup.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/_utils.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_index.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_render_utils.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/frontend/routes/_service.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rest/_health.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/cli.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/application.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/rabbitmq.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/__init__.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/service_tracker/_api.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_deferred_get_status.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/status_monitor/_monitor.py
  services/dynamic-scheduler/tests/unit/api_frontend/conftest.py
  services/dynamic-scheduler/tests/unit/api_frontend/helpers.py
  services/dynamic-scheduler/tests/unit/api_frontend/test_api_frontend_routes_index.py
  services/dynamic-scheduler/tests/unit/api_frontend/test_api_frontend_routes_service.py
  services/dynamic-scheduler/tests/unit/api_rest/test_api_rest__health.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__tracker.py
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
Due: pkg_models_library, dynamic_scheduler

move to workspace
  services/static-webserver/client/source/class/osparc/data/Resources.js
Due: webclient

adjusted tests
  services/web/server/tests/unit/with_dbs/02/test_projects_metadata_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/test_trash.py
Due: webserver

make typechecking test happy
  services/api-server/src/simcore_service_api_server/core/settings.py
  services/api-server/src/simcore_service_api_server/models/api_resources.py
Due: api_server

@GitHK review: wrong fixture
  services/director-v2/tests/unit/conftest.py
Due: director_v2

upgrade
  packages/aws-library/requirements/_base.txt
  packages/aws-library/requirements/_test.txt
  packages/common-library/requirements/_base.txt
  packages/common-library/requirements/_test.txt
  packages/dask-task-models-library/requirements/_base.txt
  packages/models-library/requirements/_base.txt
  packages/notifications-library/requirements/_base.txt
  packages/postgres-database/requirements/_base.txt
  packages/service-integration/requirements/_base.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/settings-library/requirements/_base.txt
  packages/simcore-sdk/requirements/_base.txt
  packages/simcore-sdk/requirements/_test.txt
  tests/e2e-playwright/requirements/_test.txt
  tests/environment-setup/requirements/requirements.txt
  tests/public-api/requirements/_base.txt
  tests/swarm-deploy/requirements/_test.txt
Due: pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk

trigger warnings in pr
  ci/github/helpers/openapi-specs-backwards-compatibility.bash
Due: none

continue refactoring
  packages/models-library/src/models_library/api_schemas_webserver/auth.py
  services/web/server/src/simcore_service_webserver/api_keys/_api.py
  services/web/server/src/simcore_service_webserver/api_keys/_rest.py
  services/web/server/src/simcore_service_webserver/api_keys/_rpc.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys_rpc.py
Due: pkg_models_library, webserver

fix typecheck
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
Due: webserver

pyaments
  services/payments/src/simcore_service_payments/models/schemas/acknowledgements.py
Due: payments

🐛🎨 [Frontend] Various bug fixes: new tag from Study, Checkpoint viewer, Leave study message (#6878)
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/SearchBarFilter.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/Preferences.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/PreferencesWindow.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/form/tag/TagManager.js
  services/static-webserver/client/source/class/osparc/info/StudyLarge.js
  services/static-webserver/client/source/class/osparc/info/StudyUtils.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/snapshots/SnapshotsView.js
  services/static-webserver/client/source/class/osparc/store/Tags.js
  services/static-webserver/client/source/class/osparc/utils/DisabledPlugins.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelListItem.js
Due: webclient

fixed broken tests
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
Due: webserver

fixed test
  services/web/server/tests/unit/with_dbs/03/test_trash.py
Due: webserver

license goods DB layer
  packages/models-library/src/models_library/api_schemas_webserver/license_goods.py
  packages/models-library/src/models_library/license_goods.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ba974648bbdf_add_license_db_tables.py
  packages/postgres-database/src/simcore_postgres_database/models/license_goods.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_license_purchases.py
  packages/postgres-database/src/simcore_postgres_database/utils_repos.py
  services/web/server/src/simcore_service_webserver/licenses/__init__.py
  services/web/server/src/simcore_service_webserver/licenses/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_license_goods_api.py
  services/web/server/src/simcore_service_webserver/licenses/_license_goods_db.py
  services/web/server/src/simcore_service_webserver/licenses/_license_goods_handlers.py
  services/web/server/src/simcore_service_webserver/licenses/_models.py
  services/web/server/src/simcore_service_webserver/licenses/api.py
  services/web/server/src/simcore_service_webserver/licenses/errors.py
  services/web/server/src/simcore_service_webserver/licenses/plugin.py
  services/web/server/src/simcore_service_webserver/security/_authz_access_roles.py
Due: pkg_models_library, pkg_postgres_database, webserver

refactor
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Due: webclient

exeption handling
  services/web/server/src/simcore_service_webserver/licenses/_exceptions_handlers.py
Due: webserver

update openapi.jsons after merge
  services/director-v2/openapi.json
  services/dynamic-scheduler/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: director_v2, dynamic_scheduler, webserver

minor
  services/static-webserver/client/source/class/osparc/widget/PersistentIframe.js
Due: webclient

renaming fixture and fixed flaky tests
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_metadata_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_trash.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: webserver

🎨 [Frontend] Study name to Tab (#6888)
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/store/Store.js
  services/static-webserver/client/source/class/osparc/store/Workspaces.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

continue refactoring
  api/specs/web-server/_auth_api_keys.py
  packages/models-library/src/models_library/api_schemas_webserver/auth.py
  services/web/server/src/simcore_service_webserver/api_keys/_api.py
  services/web/server/src/simcore_service_webserver/api_keys/_db.py
  services/web/server/src/simcore_service_webserver/api_keys/_models.py
  services/web/server/src/simcore_service_webserver/api_keys/_rest.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys.py
Due: api, pkg_models_library, webserver

open api specs
  api/specs/web-server/_license_goods.py
  api/specs/web-server/openapi.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, webserver

test check if pure warnings are displayed
  ci/github/helpers/openapi-specs-backwards-compatibility.bash
Due: none

fixed broken tests
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: director_v2

fix rpc get key
  services/web/server/tests/unit/with_dbs/01/test_api_keys_rpc.py
Due: webserver

test with error message
  ci/github/helpers/openapi-specs-backwards-compatibility.bash
Due: none

try out continue on error
  .github/workflows/ci-testing-deploy.yml
Due: none

update openapi spec
  api/specs/web-server/_auth_api_keys.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, webserver

fix test
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
Due: dynamic_scheduler

adding db test
  packages/models-library/src/models_library/license_goods.py
  services/web/server/src/simcore_service_webserver/licenses/_license_goods_db.py
  services/web/server/tests/unit/with_dbs/04/licenses/conftest.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_license_goods_db.py
Due: pkg_models_library, webserver

remove db migration:
  packages/postgres-database/src/simcore_postgres_database/migration/versions/707fe8c2e7f5_add_license_db_tables.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/ba974648bbdf_add_license_db_tables.py
Due: pkg_postgres_database

add db migration:
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4901050f94f4_add_license_db_tables.py
Due: pkg_postgres_database

minor
  services/static-webserver/client/source/class/osparc/file/FolderContent.js
Due: webclient

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
