Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fix
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter.py
Due: storage

upgraded open telemetry
  api/tests/requirements.txt
  packages/aws-library/requirements/_base.txt
  packages/celery-library/requirements/_base.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/docker-api-proxy/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
Due: api, pkg_aws_library, pkg_service_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage, webserver

🎨 Retry submitting dask job if it disappears (#9528)
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_dask.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

add test
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Due: webserver

optimize
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

Change request @odeimaiz fix double iframe selection in test code instead
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Due: none

fix
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

foobar
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
Due: webclient

leaner comment
  packages/pytest-simcore/src/pytest_simcore/helpers/playwright.py
Due: none

fix
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Due: webserver

fix
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Due: webserver

Playwright: Click away cookie banner with a handler when it pops up
  tests/e2e-playwright/tests/conftest.py
Due: none

fix
  services/web/server/tests/unit/with_dbs/03/trash/test_trash_service.py
Due: webserver

updates instuctions and simplifed tests
  .github/instructions/python-tests.instructions.md
  scripts/i18n/tools/tests/test_i18n_extractor.py
Due: none

Add exclue
  scripts/makefiles/i18n.mk
Due: none

mnor update
  packages/common-library/src/common_library/locale/es_ES/LC_MESSAGES/messages.po
  packages/common-library/src/common_library/locale/zh_CN/LC_MESSAGES/messages.po
  scripts/makefiles/ollama.mk
  services/static-webserver/client/source/translation/es_ES.po
  services/static-webserver/client/source/translation/zh.po
Due: webclient

Adds exclude option to avoid test files
  scripts/i18n/tools/i18n_extractor.py
  scripts/i18n/tools/tests/test_i18n_extractor.py
Due: none

Improve CC_ node checks
  tests/e2e-playwright/tests/portal/test_cc_human.py
  tests/e2e-playwright/tests/portal/test_cc_rabbit.py
Due: none

remove
  docs/unit-of-work.md
Due: none

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_setup.py
Due: dynamic_sidecar

fix tests
  services/web/server/tests/unit/with_dbs/04/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__delete_workspace_with_content.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
Due: webserver

fix
  services/web/server/tests/unit/with_dbs/02/test_projects_ports_handlers.py
Due: webserver

refactor support None value
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_service_specs/sidecar.py
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_docker_service_specs_sidecar.py
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: director_v2

:recycle: Improve Playwright - node selection and cookie banner (#9553)
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/portal/test_cc_human.py
  tests/e2e-playwright/tests/portal/test_cc_rabbit.py
Due: none

i18n: adds exclude filter in extractor CLI and updates po catalogs (#9549)
  .github/instructions/python-tests.instructions.md
  packages/common-library/src/common_library/locale/es_ES/LC_MESSAGES/messages.po
  packages/common-library/src/common_library/locale/zh_CN/LC_MESSAGES/messages.po
  scripts/i18n/tools/i18n_extractor.py
  scripts/i18n/tools/tests/test_i18n_extractor.py
  scripts/makefiles/i18n.mk
  scripts/makefiles/ollama.mk
  services/static-webserver/client/source/translation/es_ES.po
  services/static-webserver/client/source/translation/zh.po
Due: webclient

🐛 fix(storage): align DatCore pagination contract (#9550)
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_datcore_adapter.py
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter_client_utils.py
  services/storage/tests/unit/test_datcore_adapter.py
Due: storage

bumped prometheus to 3.14
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
Due: clusters_keeper

removed docstring
  packages/models-library/src/models_library/service_settings_labels.py
Due: pkg_models_library

⬆️ Computational clusters: update prometheus version to 3.14 (#9554)
  services/clusters-keeper/src/simcore_service_clusters_keeper/data/docker-compose.yml
Due: clusters_keeper

revert file
  api/tests/requirements.txt
Due: api

upgraded prometheus_client
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_fastapi.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
Due: pkg_service_library, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage, webserver

Upgrade opentelemetry repo wide (#9551)
  packages/aws-library/requirements/_base.txt
  packages/celery-library/requirements/_base.txt
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/requirements/_fastapi.txt
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/docker-api-proxy/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
Due: pkg_aws_library, pkg_service_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage, webserver

add regression test
  packages/common-library/tests/test_errors_classes.py
Due: none

fix
  packages/common-library/src/common_library/errors_classes.py
Due: none

simplify
  packages/common-library/src/common_library/errors_classes.py
Due: none

:zap: perf(web-server): optimize project node `PATCH` endpoint (#9552)
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Due: webserver

rename
  packages/models-library/src/models_library/service_settings_labels.py
  packages/service-integration/src/service_integration/osparc_config.py
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/user_services_preferences/_utils.py
Due: pkg_models_library, pkg_service_integration, director_v2, dynamic_sidecar

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
