Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

patchAccessRights
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

patch working
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
Due: webclient

add tracing for all fcns in api-server
  packages/service-library/src/servicelib/fastapi/tracing.py
  services/api-server/src/simcore_service_api_server/core/application.py
Due: pkg_service_library, api_server

added service details
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/ui/_custom_components.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/ui/_services.py
Due: dynamic_scheduler

add spans to class methods
  packages/service-library/src/servicelib/fastapi/tracing.py
Due: pkg_service_library

minor cleanup
  packages/service-library/src/servicelib/fastapi/tracing.py
Due: pkg_service_library

refactor
  services/static-webserver/client/source/class/osparc/data/model/Group.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

nMembers
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/ui/list/OrganizationListItem.js
Due: webclient

working
  services/static-webserver/client/source/class/osparc/ui/list/OrganizationListItem.js
Due: webclient

patchGroup
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

patch working
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
Due: webclient

sort workspaces
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
Due: webclient

sort folders
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
Due: webclient

attempt to remove flaky tests
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_event_filter.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_event_filter.py
Due: dynamic_sidecar

fix dynamic sidecar state exclude
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: director_v2

add remove attribute
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

🐛 Fixed flaky tests in services/dynamic-sidecar/tests/unit/test_modules_outputs_event_filter.py (#6795)
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/outputs/_event_filter.py
  services/dynamic-sidecar/tests/unit/test_modules_outputs_event_filter.py
Due: dynamic_sidecar

remove unnecessary validator
  services/web/server/src/simcore_service_webserver/projects/settings.py
Due: webserver

update env-devel
  .env-devel
Due: none

Use list instead of set when building the expected result (#6796)
  services/director-v2/tests/unit/with_dbs/test_modules_dynamic_sidecar_docker_service_specs.py
Due: director_v2

post and delete organization
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationDetails.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/OrganizationsList.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

[skip ci] working post and delete
  services/static-webserver/client/source/class/osparc/data/model/Group.js
  services/static-webserver/client/source/class/osparc/editor/OrganizationEditor.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

🎨 [Frontend] Sort folders alphabetically (#6794)
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/study/StudyOptions.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

add external registry
  services/director/tests/unit/conftest.py
Due: director

added tests with external registry
  services/director/tests/unit/test_registry_proxy.py
Due: director

add prefetching and generators
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

add pytest-benchmark
  services/director/requirements/_test.in
  services/director/requirements/_test.txt
Due: director

let's have more generators
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

fix
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

skip test if no external registry set
  services/director/tests/unit/test_registry_proxy.py
Due: director

minor
  services/web/server/src/simcore_service_webserver/workspaces/_workspaces_db.py
Due: webserver

unflake test
  services/director/tests/unit/test_registry_proxy.py
Due: director

minor
  packages/postgres-database/tests/test_models_tags.py
Due: pkg_postgres_database

add httpx client session
  services/director/requirements/_base.in
  services/director/requirements/_base.txt
Due: director

migrated to httpx
  services/director/src/simcore_service_director/client_session.py
Due: director

migrated to httpx and added retrials
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

5 rounds
  services/director/tests/unit/test_registry_proxy.py
Due: director

@pcrespov review: use fastapi.status
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

cleanup
  services/director/src/simcore_service_director/core/errors.py
Due: director
