Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

COLUMNS
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

🎨 [Frontend] Enh: Show computational runtime errors (#8994)
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/theme/Appearance.js
  services/static-webserver/client/source/class/osparc/ui/basic/NodeStatusUI.js
Due: webclient

Move to Product
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

Approve and reject icons
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

headers and icons
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

aesthetics
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

✨ [Frontend] Move users (#9006)
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/po/UsersPending.js
Due: webclient

Add function api python client e2e testing
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
  tests/e2e-playwright/tests/conftest.py
  tests/public-api/test_functions_api.py
Due: api_server

Small format fixes
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/_service_function_jobs_task_client.py
Due: api_server

Expose `CELERY_EPHEMERAL_RESULT_EXPIRES` env var ⚠️ (#8995)
  .env-devel
  services/docker-compose.yml
Due: none

🐛 [Frontend] Enh Mass email: keep unordered lists (#8987)
  services/static-webserver/client/source/class/osparc/po/POCenterWindow.js
  services/static-webserver/client/source/class/osparc/ui/window/Window.js
  services/static-webserver/client/source/class/osparc/wrapper/HtmlEditor.js
Due: webclient

Fix linting
  tests/public-api/test_functions_api.py
Due: none

upgrade 7zip version
  scripts/install_7zip.bash
Due: none

review @pcrespov
  scripts/install_7zip.bash
Due: none

larger viewport
  tests/e2e-playwright/tests/conftest.py
Due: none

rename
  packages/notifications-library/src/notifications_library/templates/email/unregister/body_html.j2
  packages/notifications-library/src/notifications_library/templates/email/unregister/body_text.j2
  services/web/server/src/simcore_service_webserver/templates/common/close_account.jinja2
Due: pkg_notifications_library, webserver

no data mounting propagation to FE
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services_service.py
  packages/models-library/src/models_library/basic_regex.py
  services/director-v2/openapi.json
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_scheduler_utils.py
  services/director-v2/tests/unit/test_models_dynamic_services.py
  services/dynamic-scheduler/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
Due: pkg_models_library, director_v2, dynamic_scheduler, webserver

start from 4
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

♻️ refactor(web-server): use notifications service for login account emails (#9003)
  packages/models-library/src/models_library/notifications/rpc/_email.py
  packages/notifications-library/src/notifications_library/templates/email/account_requested/body_html.j2
  packages/notifications-library/src/notifications_library/templates/email/account_requested/body_text.j2
  packages/notifications-library/src/notifications_library/templates/email/account_requested/subject.j2
  packages/notifications-library/src/notifications_library/templates/email/unregister/body_html.j2
  packages/notifications-library/src/notifications_library/templates/email/unregister/body_text.j2
  services/notifications/src/simcore_service_notifications/models/template_contexts/__init__.py
  services/notifications/src/simcore_service_notifications/models/template_contexts/_account_requested.py
  services/notifications/src/simcore_service_notifications/models/template_contexts/_unregister.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_email.py
  services/web/server/src/simcore_service_webserver/login_accounts/_controller_rest.py
  services/web/server/src/simcore_service_webserver/login_accounts/_service.py
  services/web/server/src/simcore_service_webserver/models.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
  services/web/server/src/simcore_service_webserver/templates/common/close_account.jinja2
  services/web/server/tests/unit/with_dbs/03/login/test_login_accounts_preregistration.py
  services/web/server/tests/unit/with_dbs/03/test_email.py
Due: pkg_models_library, pkg_notifications_library, webserver

minor
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

refactor
  services/web/server/src/simcore_service_webserver/login/_controller/rest/auth.py
  services/web/server/src/simcore_service_webserver/login/_controller/rest/twofa.py
  services/web/server/src/simcore_service_webserver/login/_twofa_service.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_twofa.py
Due: webserver

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/core/application.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/file_notification_subscriber.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/container_extensions.py
  services/storage/src/simcore_service_storage/modules/rabbitmq.py
Due: dynamic_sidecar, storage

fix test
  services/web/server/tests/unit/with_dbs/03/login/test_login_twofa.py
Due: webserver

refactor
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/services/container_extensions.py
Due: dynamic_sidecar

10'
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

_run_simulations
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

_run_personalization
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

comment
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

remove comments
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

_log_simulation_progress
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

comments
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

testing = True
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none
