Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

🐛 Slightly increase timeout for job waiting in the mmux test, in case the dask scheduler restarts (#9426)
  tests/e2e-playwright/tests/metamodeling/test_response_surface_modeling.py
Due: none

refactor
  packages/service-library/src/servicelib/logging_utils.py
Due: pkg_service_library

Revert "wrong usage"
  packages/service-library/src/servicelib/aiohttp/db_asyncpg_engine.py
  services/web/server/src/simcore_service_webserver/login/_security_service.py
Due: pkg_service_library, webserver

added context ID
  packages/service-library/src/servicelib/logging_utils.py
Due: pkg_service_library

wrong usage
  packages/service-library/src/servicelib/aiohttp/db_asyncpg_engine.py
  services/web/server/src/simcore_service_webserver/login/_security_service.py
Due: pkg_service_library, webserver

fix logging formatting
  packages/service-library/src/servicelib/logging_utils.py
Due: pkg_service_library

remove log_duration
  packages/aws-library/src/aws_library/s3/_client.py
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
  packages/service-library/tests/test_logging_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  services/agent/src/simcore_service_agent/services/docker_utils.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_users.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
Due: pkg_aws_library, pkg_service_library, pkg_simcore_sdk, agent, storage, webserver

aligned
  packages/pytest-simcore/src/pytest_simcore/helpers/logging_tools.py
  packages/service-library/src/servicelib/logging_utils.py
Due: pkg_service_library

fixed syntax
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
Due: pkg_simcore_sdk

done
  packages/service-library/src/servicelib/logging_utils.py
Due: pkg_service_library

final
  packages/service-library/src/servicelib/logging_utils.py
Due: pkg_service_library

update script
  packages/postgres-database/src/simcore_postgres_database/migration/versions/a30463871a69_refactor_file_meta_data_timestamp_.py
Due: pkg_postgres_database

fix columns nullability
  packages/postgres-database/src/simcore_postgres_database/models/file_meta_data.py
Due: pkg_postgres_database

♻️Maintenance: make log_context show times and specific message when an error is raised to align with pytest-simcore (#9446)
  packages/aws-library/src/aws_library/s3/_client.py
  packages/pytest-simcore/src/pytest_simcore/helpers/logging_tools.py
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/src/servicelib/rabbitmq/_rpc_router.py
  packages/service-library/tests/test_logging_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  services/agent/src/simcore_service_agent/services/docker_utils.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_tasks_users.py
  services/web/server/src/simcore_service_webserver/wallets/_payments_handlers.py
Due: pkg_aws_library, pkg_service_library, pkg_simcore_sdk, agent, storage, webserver

fix down_revision
  packages/postgres-database/src/simcore_postgres_database/migration/versions/1f1779261822_migrate_projects_ui_workbench_to_projects_nodes.py
Due: pkg_postgres_database

remove
  packages/postgres-database/tests/test_migration_201aa37f4d9a_workbench_to_projects_nodes.py
Due: pkg_postgres_database

delegated to dynamic sidecar
  packages/models-library/src/models_library/rabbitmq_messages.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/file_notification_subscriber.py
  services/dynamic-sidecar/tests/unit/test_modules_file_notification_subscriber.py
  services/storage/src/simcore_service_storage/api/_worker_tasks/_paths.py
  services/storage/src/simcore_service_storage/api/rest/_files.py
  services/storage/src/simcore_service_storage/modules/rabbitmq.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_modules_rabbitmq.py
Due: pkg_models_library, dynamic_sidecar, storage

♻️ 🗃️ refactor(web-server): migrate `projects.ui.workbench` to `projects_nodes.ui` column (#9383)
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_nodes_ui.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_ui.py
  packages/models-library/src/models_library/projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/1f1779261822_migrate_projects_ui_workbench_to_projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/models/projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/utils_projects_nodes.py
  packages/postgres-database/src/simcore_postgres_database/utils_repos.py
  packages/postgres-database/tests/test_migration_201aa37f4d9a_workbench_to_projects_nodes.py
  packages/postgres-database/tests/test_utils_repos.py
  services/api-server/src/simcore_service_api_server/services_http/solver_job_models_converters.py
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Study.js
  services/static-webserver/client/source/class/osparc/data/model/StudyUI.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
  services/web/server/src/simcore_service_webserver/api/v0/openapi.json
  services/web/server/src/simcore_service_webserver/projects/_nodes_models_adapters.py
  services/web/server/src/simcore_service_webserver/projects/_projects_nodes_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__patch.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Due: pkg_models_library, pkg_postgres_database, api_server, webclient, webserver

fixed tests
  packages/models-library/tests/test_file_notification_message.py
Due: pkg_models_library

fix
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_users.py
Due: webserver

fix
  packages/models-library/tests/test_basic_regex.py
  packages/postgres-database/tests/test_users.py
  packages/service-library/src/servicelib/exception_utils.py
  services/catalog/tests/unit/with_dbs/test_service_catalog_services.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/isolated/test_utils.py
Due: pkg_models_library, pkg_postgres_database, pkg_service_library, catalog, webserver

fix
  services/web/server/src/simcore_service_webserver/utils.py
Due: webserver

fix
  services/web/server/tests/unit/isolated/test_utils.py
Due: webserver

refactor
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_container.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_docker_utils.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_models.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount__r_clone_container_labels.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/notifications/_notifications_state_paths.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/notifications/_notifier.py
Due: pkg_simcore_sdk, dynamic_sidecar

fix
  packages/postgres-database/tests/test_users.py
Due: pkg_postgres_database

createStudyFromService returns studyData
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Due: webclient

fix
  packages/models-library/tests/test_basic_regex.py
Due: pkg_models_library

types
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_docker_utils.py
Due: pkg_simcore_sdk

typo
  services/web/server/tests/unit/isolated/test_utils.py
Due: webserver

fix down_revision
  packages/postgres-database/src/simcore_postgres_database/migration/versions/a30463871a69_refactor_file_meta_data_timestamp_.py
Due: pkg_postgres_database

refactor
  services/static-webserver/client/source/class/osparc/dashboard/ResourceBrowserBase.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

🎨 Update translation model configuration for Ollama integration in Makefile
  scripts/i18n/Makefile
Due: none

🎉 Add TypeScriptAstExtractor for improved i18n extraction from JS/TS files and install TypeScript as a dependency
  scripts/i18n/Makefile
  scripts/i18n/README.md
  scripts/i18n/tools/i18n_extractor.py
  scripts/i18n/tools/package-lock.json
  scripts/i18n/tools/package.json
  scripts/i18n/tools/tests/test_i18n_extractor_ts_ast_qooxdoo.py
Due: none

🎉 Add reusable local Ollama daemon management Makefile and script
  scripts/makefiles/ollama.mk
  scripts/ollama/Makefile
Due: none

translation
  packages/common-library/src/common_library/locale/es_ES/LC_MESSAGES/messages.po
  packages/common-library/src/common_library/locale/zh_CN/LC_MESSAGES/messages.po
Due: none

update alembic script
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4ec498d70da6_refactor_file_meta_data_timestamp_.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/a30463871a69_refactor_file_meta_data_timestamp_.py
Due: pkg_postgres_database

reverted translations until we have tuned model and translations
  packages/common-library/src/common_library/locale/es_ES/LC_MESSAGES/messages.po
  packages/common-library/src/common_library/locale/zh_CN/LC_MESSAGES/messages.po
Due: none

dropped default
  services/dask-sidecar/src/simcore_service_dask_sidecar/computational_sidecar/models.py
Due: dask_sidecar
