Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

rename
  services/notifications/src/simcore_service_notifications/content/models.py
Due: none

add search
  services/notifications/src/simcore_service_notifications/exceptions/errors.py
  services/notifications/src/simcore_service_notifications/exceptions/handlers.py
  services/notifications/src/simcore_service_notifications/repository/templates_repository.py
  services/notifications/src/simcore_service_notifications/services/templates_service.py
Due: none

add search
  services/notifications/src/simcore_service_notifications/api/rest/_notifications.py
  services/notifications/src/simcore_service_notifications/repository/templates_repository.py
  services/notifications/src/simcore_service_notifications/services/templates_service.py
Due: none

endpoint
  services/notifications/src/simcore_service_notifications/api/rest/_notifications.py
Due: none

ruff
  services/notifications/src/simcore_service_notifications/modules/celery/worker/_email_tasks.py
Due: none

refactor worker tasks
  services/notifications/docker/boot.sh
  services/notifications/src/simcore_service_notifications/api/_worker_tasks/__init__.py
  services/notifications/src/simcore_service_notifications/api/_worker_tasks/_email.py
  services/notifications/src/simcore_service_notifications/api/_worker_tasks/tasks.py
  services/notifications/src/simcore_service_notifications/modules/celery/worker_main.py
  services/notifications/tests/unit/conftest.py
  services/notifications/tests/unit/test_send_email_tasks.py
Due: none

refactor
  services/notifications/src/simcore_service_notifications/api/_worker_tasks/_email.py
  services/notifications/src/simcore_service_notifications/api/_worker_tasks/tasks.py
  services/notifications/src/simcore_service_notifications/api/rest/dependencies.py
  services/notifications/src/simcore_service_notifications/channels/__init__.py
  services/notifications/src/simcore_service_notifications/channels/content_registry.py
  services/notifications/src/simcore_service_notifications/channels/email/__init__.py
  services/notifications/src/simcore_service_notifications/channels/email/email_content.py
  services/notifications/src/simcore_service_notifications/channels/email/email_message.py
  services/notifications/src/simcore_service_notifications/channels/email/email_models.py
  services/notifications/src/simcore_service_notifications/channels/sms/__init__.py
  services/notifications/src/simcore_service_notifications/channels/sms/sms_content.py
  services/notifications/src/simcore_service_notifications/content/models.py
  services/notifications/src/simcore_service_notifications/models/content.py
  services/notifications/src/simcore_service_notifications/models/message.py
  services/notifications/src/simcore_service_notifications/models/preview.py
  services/notifications/src/simcore_service_notifications/renderers/jinja_renderer.py
  services/notifications/src/simcore_service_notifications/repository/templates_repository.py
  services/notifications/src/simcore_service_notifications/templates/__init__.py
  services/notifications/src/simcore_service_notifications/templates/models.py
  services/notifications/src/simcore_service_notifications/templates/registry.py
  services/notifications/tests/unit/test_send_email_tasks.py
Due: none

rename
  services/notifications/src/simcore_service_notifications/api/celery/__init__.py
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/notifications/src/simcore_service_notifications/api/celery/tasks.py
  services/notifications/tests/unit/test_send_email_tasks.py
Due: none

fix models
  services/notifications/src/simcore_service_notifications/channels/email/email_message.py
  services/notifications/src/simcore_service_notifications/channels/email/email_models.py
  services/notifications/src/simcore_service_notifications/modules/celery/worker_main.py
  services/notifications/tests/unit/conftest.py
Due: none

continue
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/notifications/src/simcore_service_notifications/channels/email/email_message.py
  services/notifications/src/simcore_service_notifications/channels/email/email_models.py
Due: none

fix send_mail
  packages/models-library/src/models_library/api_schemas_notifications/__init__.py
  packages/models-library/src/models_library/api_schemas_notifications/_notifications.py
  packages/models-library/src/models_library/api_schemas_notifications/events/_account_events.py
  packages/models-library/src/models_library/api_schemas_notifications/message.py
  packages/service-library/src/servicelib/celery/models.py
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/notifications/src/simcore_service_notifications/api/rest/_notifications.py
Due: pkg_models_library, pkg_service_library

prepare for changing user data of stopped ec2s
  packages/aws-library/src/aws_library/ec2/_client.py
  packages/aws-library/src/aws_library/ec2/_utils.py
  services/autoscaling/src/simcore_service_autoscaling/constants.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_auto_scaling_core.py
Due: pkg_aws_library, autoscaling

minors
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

added test with user_data
  packages/aws-library/src/aws_library/ec2/_client.py
  packages/aws-library/tests/test_ec2_client.py
Due: pkg_aws_library

chip aesthetics
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
Due: webclient

inject task_manager
  services/notifications/src/simcore_service_notifications/api/rest/_notifications.py
  services/notifications/src/simcore_service_notifications/api/rest/dependencies.py
  services/notifications/src/simcore_service_notifications/clients/celery.py
Due: none

show label and description
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
Due: webclient

added missing conenciton down detection
  packages/service-library/src/servicelib/rabbitmq/_client_rpc.py
Due: pkg_service_library

rename
  services/agent/src/simcore_service_agent/api/rest/_dependencies.py
  services/agent/src/simcore_service_agent/api/rest/_health.py
Due: agent

dont convert line breaks
  services/static-webserver/client/source/class/osparc/editor/EmailEditor.js
Due: webclient

sendEmail Faker
  services/static-webserver/client/source/class/osparc/po/SendEmail.js
  services/static-webserver/client/source/class/osparc/store/Faker.js
Due: webclient

renamed arg
  packages/aws-library/src/aws_library/ec2/_client.py
  packages/aws-library/tests/test_ec2_client.py
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_auto_scaling_core.py
Due: pkg_aws_library, autoscaling

ruff
  .ruff.toml
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_ec2_client.py
  services/autoscaling/tests/unit/test_modules_cluster_scaling_dynamic.py
Due: autoscaling

added health
  services/catalog/src/simcore_service_catalog/api/rest/_health.py
Due: catalog

added healthcheck
  services/clusters-keeper/src/simcore_service_clusters_keeper/api/health.py
Due: clusters_keeper

added healthcheck
  services/efs-guardian/src/simcore_service_efs_guardian/api/rest/health.py
Due: efs_guardian

fixed broken tests
  services/catalog/tests/unit/test_api_rest.py
Due: catalog

fixed healthcheck
  services/efs-guardian/src/simcore_service_efs_guardian/api/rest/health.py
  services/efs-guardian/tests/unit/test_api_health.py
Due: efs_guardian

fixed issue
  services/agent/src/simcore_service_agent/services/docker_utils.py
  services/agent/tests/unit/test_services_docker_utils.py
Due: agent

added new parameter and test
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
  services/autoscaling/tests/unit/test_utils_docker.py
Due: autoscaling

ignore long comments in NOTE, TODO...
  .ruff.toml
Due: none

ruff
  services/autoscaling/src/simcore_service_autoscaling/modules/cluster_scaling/_auto_scaling_core.py
  services/autoscaling/src/simcore_service_autoscaling/utils/cluster_scaling.py
Due: autoscaling

add web-server search_template endpoint
  api/specs/web-server/_notifications.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_notifications/__init__.py
  packages/models-library/src/models_library/api_schemas_notifications/template.py
  packages/models-library/src/models_library/api_schemas_webserver/notifications.py
  packages/models-library/src/models_library/notifications.py
  packages/models-library/src/models_library/rpc/notifications/__init__.py
  packages/models-library/src/models_library/rpc/notifications/template.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/notifications/notifications_templates.py
  services/notifications/openapi.json
  services/notifications/src/simcore_service_notifications/api/rest/_notifications.py
  services/notifications/src/simcore_service_notifications/api/rpc/_notifications.py
  services/notifications/src/simcore_service_notifications/api/rpc/routes.py
  services/notifications/src/simcore_service_notifications/core/events.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/notifications/_rest.py
  services/web/server/src/simcore_service_webserver/notifications/plugin.py
Due: api, pkg_models_library, pkg_service_library, webserver

added per boot start
  packages/aws-library/src/aws_library/ec2/_client.py
  packages/aws-library/src/aws_library/ec2/_utils.py
  packages/aws-library/tests/test_ec2_utils.py
Due: pkg_aws_library

mypy
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
Due: autoscaling

fixed issue
  services/agent/docker/boot.sh
  services/agent/src/simcore_service_agent/core/settings.py
  services/agent/src/simcore_service_agent/services/docker_utils.py
Due: agent

added tests
  services/agent/tests/conftest.py
  services/agent/tests/unit/test_services_docker_utils.py
Due: agent

linter
  services/autoscaling/src/simcore_service_autoscaling/modules/instrumentation/_ec2_client.py
Due: autoscaling

finalize search_template
  packages/models-library/src/models_library/rpc/notifications/template.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/notifications/notifications_templates.py
  services/notifications/src/simcore_service_notifications/api/rpc/_notifications.py
  services/notifications/src/simcore_service_notifications/api/rpc/dependencies.py
  services/web/server/src/simcore_service_webserver/notifications/_rest.py
Due: pkg_models_library, pkg_service_library, webserver

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
