Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fixes test
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profile.py
Due: webserver

fixing tests
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profile.py
Due: webserver

cleanup
  services/web/server/src/simcore_service_webserver/groups/api.py
Due: webserver

splits tests
  packages/pytest-simcore/src/pytest_simcore/faker_products_data.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_phone.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profile.py
Due: webserver

Update packages/models-library/src/models_library/api_schemas_webserver/groups.py
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
Due: pkg_models_library

🐛🎨Do not fail a pipeline when the clusters-keeper or the computational backend in general is not reachable for short time 🚨 (#8286)
  services/director-v2/src/simcore_service_director_v2/core/settings.py
  services/director-v2/src/simcore_service_director_v2/models/comp_tasks.py
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_runs.py
  services/director-v2/src/simcore_service_director_v2/modules/db/repositories/comp_tasks/_core.py
  services/director-v2/src/simcore_service_director_v2/utils/dask.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/conftest.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

@sanderegg review: doc
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
Due: webserver

minor
  services/static-webserver/client/source/class/osparc/utils/Utils.js
Due: webclient

cleanup
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_utils.py
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/src/simcore_service_webserver/groups/_groups_service.py
  services/web/server/src/simcore_service_webserver/groups/api.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
Due: webserver

@bisgaard-itis review: rename
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
Due: pkg_models_library

@sanderegg review: rename
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
Due: pkg_models_library

updates OAS
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

tooltip and pointer formatDateWithCityAndTZ
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
Due: webclient

added new properties
  services/static-webserver/client/source/class/osparc/data/model/User.js
Due: webclient

createPersonalInfoSection
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

✨ Support center: extend response model of `get profile` endpoint with support group info (#8294)
  packages/models-library/src/models_library/api_schemas_webserver/groups.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  packages/models-library/src/models_library/groups.py
  packages/models-library/tests/test_users.py
  packages/pytest-simcore/src/pytest_simcore/faker_products_data.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_utils.py
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/src/simcore_service_webserver/groups/_groups_rest.py
  services/web/server/src/simcore_service_webserver/groups/_groups_service.py
  services/web/server/src/simcore_service_webserver/groups/api.py
  services/web/server/src/simcore_service_webserver/products/_models.py
  services/web/server/src/simcore_service_webserver/projects/_controller/nodes_rest.py
  services/web/server/src/simcore_service_webserver/statics/_events.py
  services/web/server/src/simcore_service_webserver/users/_controller/rest/users_rest.py
  services/web/server/tests/unit/isolated/products/test_products_model.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_phone.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profile.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profiles.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_search.py
Due: pkg_models_library, webserver

display personal info in my account
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
Due: webclient

supportGroup as prop
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

✨ [Frontend] Support: Book a call (#8297)
  services/static-webserver/client/source/class/osparc/conversation/AddMessage.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Conversation.js
  services/static-webserver/client/source/class/osparc/store/ConversationsSupport.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/SupportCenter.js
  services/static-webserver/client/source/class/osparc/ui/form/DateTimeField.js
  services/static-webserver/client/source/class/osparc/ui/form/IntlTelInput.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessageOEC.js
  services/static-webserver/client/source/class/osparc/utils/Utils.js
  services/static-webserver/client/source/class/osparc/widget/DateTimeChooser.js
Due: webclient

support group
  services/static-webserver/client/source/class/osparc/data/model/Group.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
  services/static-webserver/client/source/class/osparc/store/Products.js
  services/static-webserver/client/source/class/osparc/store/Support.js
  services/static-webserver/client/source/class/osparc/support/Conversation.js
  services/static-webserver/client/source/class/osparc/support/ConversationPage.js
  services/static-webserver/client/source/class/osparc/support/SupportCenter.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessageOEC.js
Due: webclient

initial test
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/metamodeling/test_response_surface_modeling.py
Due: none

improve
  tests/e2e-playwright/Makefile
Due: none

not needed
  services/static-webserver/client/source/class/osparc/store/Products.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

show icon
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
Due: webclient

show tooltip
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
Due: webclient

supportGroup in list
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
Due: webclient

don't propagate task_ids
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
Due: api_server

further changes to not propagate taskids
  services/api-server/src/simcore_service_api_server/celery_worker/worker_tasks/functions_tasks.py
Due: api_server

add test for checking number of tasks and order of jobs
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
Due: api_server

use run function endpoint directly in map endpoint
  services/api-server/src/simcore_service_api_server/api/routes/functions_routes.py
  services/api-server/tests/unit/api_functions/celery/test_functions_celery.py
Due: api_server

remove redundant code
  services/api-server/src/simcore_service_api_server/_service_function_jobs.py
  services/api-server/src/simcore_service_api_server/celery_worker/worker_tasks/functions_tasks.py
  services/api-server/src/simcore_service_api_server/celery_worker/worker_tasks/tasks.py
Due: api_server

getAllGroups
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

getAllMyGroupIds
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

getPotentialCollaborators
  services/static-webserver/client/source/class/osparc/store/Groups.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/filter/CollaboratorToggleButton.js
  services/static-webserver/client/source/class/osparc/filter/OrganizationsAndMembers.js
  services/static-webserver/client/source/class/osparc/utils/Icons.js
Due: webclient

refactor
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceContainerManager.js
  services/static-webserver/client/source/class/osparc/filter/CollaboratorToggleButton.js
  services/static-webserver/client/source/class/osparc/filter/OrganizationsAndMembers.js
  services/static-webserver/client/source/class/osparc/share/NewCollaboratorsManager.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
Due: webclient

working
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/filter/CollaboratorToggleButton.js
Due: webclient

Update services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
Due: webclient

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
