Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

working
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

fix test
  services/storage/tests/unit/test_db_data_export.py
Due: storage

check also datcore now
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_utils.py
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_datcore_adapter.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test_handlers_locations.py
Due: storage

getting size of workspace
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

ongoing
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
Due: storage

additional testing
  services/storage/tests/unit/test_handlers_datcore.py
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

updated openapi
  services/storage/openapi.json
Due: storage

test passing
  services/storage/tests/unit/test_handlers_files_metadata.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
Due: storage

fixed tests
  services/storage/tests/unit/test_handlers_files.py
Due: storage

@pcrespov review: renaming
  services/storage/openapi.json
  services/storage/src/simcore_service_storage/api/rest/_paths.py
  services/storage/src/simcore_service_storage/datcore_dsm.py
  services/storage/src/simcore_service_storage/dsm_factory.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/tests/unit/test_handlers_paths.py
Due: storage

replaced interface with a better one for the user
  packages/service-library/src/servicelib/long_running_interfaces/_rpc/_utils.py
  packages/service-library/src/servicelib/long_running_interfaces/_rpc/client.py
  packages/service-library/src/servicelib/long_running_interfaces/_rpc/server.py
  packages/service-library/tests/long_running_interfaces/test__rpc.py
Due: pkg_service_library

🐛 sidecar no longer fails when saving data with missing permissions (#7307)
  services/director-v2/src/simcore_service_director_v2/cli/__init__.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/api/rest/containers_long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/cli.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/long_running_tasks_utils.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/prometheus_metrics.py
  services/dynamic-sidecar/tests/unit/conftest.py
  services/dynamic-sidecar/tests/unit/test_api_rest_containers_long_running_tasks.py
  services/dynamic-sidecar/tests/unit/test_api_rest_workflow_service_metrics.py
  services/dynamic-sidecar/tests/unit/test_modules_attribute_monitor.py
Due: director_v2, dynamic_sidecar

remove taskresult
  services/storage/src/simcore_service_storage/api/rpc/_data_export.py
  services/storage/src/simcore_service_storage/modules/celery/models.py
Due: storage

getLatest
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/dashboard/TemplateBrowser.js
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/desktop/credits/CreditsServiceListItem.js
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/node/LifeCycleView.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Due: webclient

[skip ci] refactoring
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/workbench/ServiceCatalog.js
Due: webclient

fix tests
  packages/models-library/src/models_library/api_schemas_webserver/storage.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
Due: pkg_models_library, webserver

all moved to Services
  services/static-webserver/client/source/class/osparc/data/model/Node.js
  services/static-webserver/client/source/class/osparc/data/model/Workbench.js
  services/static-webserver/client/source/class/osparc/form/renderer/PropForm.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/store/Services.js
  services/static-webserver/client/source/class/osparc/workbench/WorkbenchUI.js
Due: webclient

[skip ci] minor
  services/static-webserver/client/source/class/osparc/info/ServiceUtils.js
Due: webclient

[skip ci] more refactoring
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/study/Utils.js
Due: webclient

Fix minor director-v0 typing bug
  services/director/src/simcore_service_director/registry_proxy.py
Due: director

get latest
  services/static-webserver/client/source/class/osparc/dashboard/Dashboard.js
Due: webclient

add celery env
  .env-devel
Due: none

temporary fix
  .github/workflows/ci-testing-pull-request.yml
Due: none

promised icon
  services/static-webserver/client/source/class/osparc/dashboard/CardBase.js
  services/static-webserver/client/source/class/osparc/store/Services.js
Due: webclient

update isUpdatable
  services/static-webserver/client/source/class/osparc/metadata/ServicesInStudyUpdate.js
  services/static-webserver/client/source/class/osparc/service/Utils.js
  services/static-webserver/client/source/class/osparc/store/Services.js
Due: webclient

add 404 in case result is not done
  api/specs/web-server/_storage.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/storage/_rest.py
Due: api, webserver

update openapi specs
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

✨Storage: provide entrypoint to compute path size (⚠️ devops) (#7286)
  .env-devel
  packages/models-library/src/models_library/api_schemas_datcore_adapter/datasets.py
  packages/models-library/src/models_library/api_schemas_storage/storage_schemas.py
  packages/pytest-simcore/src/pytest_simcore/helpers/storage_utils.py
  packages/pytest-simcore/src/pytest_simcore/simcore_storage_datcore_adapter.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/api/rest/datasets.py
  services/datcore-adapter/src/simcore_service_datcore_adapter/modules/pennsieve.py
  services/datcore-adapter/tests/unit/conftest.py
  services/datcore-adapter/tests/unit/test_route_datasets.py
  services/docker-compose.yml
  services/storage/openapi.json
  services/storage/src/simcore_service_storage/api/rest/_paths.py
  services/storage/src/simcore_service_storage/core/settings.py
  services/storage/src/simcore_service_storage/datcore_dsm.py
  services/storage/src/simcore_service_storage/dsm_factory.py
  services/storage/src/simcore_service_storage/exceptions/handlers.py
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter.py
  services/storage/src/simcore_service_storage/modules/datcore_adapter/datcore_adapter_exceptions.py
  services/storage/src/simcore_service_storage/modules/db/tokens.py
  services/storage/src/simcore_service_storage/simcore_s3_dsm.py
  services/storage/src/simcore_service_storage/utils/simcore_s3_dsm_utils.py
  services/storage/tests/conftest.py
  services/storage/tests/unit/test__legacy_storage_sdk_compatibility.py
  services/storage/tests/unit/test_db_data_export.py
  services/storage/tests/unit/test_dsm_dsmcleaner.py
  services/storage/tests/unit/test_handlers_datasets.py
  services/storage/tests/unit/test_handlers_datcore.py
  services/storage/tests/unit/test_handlers_files.py
  services/storage/tests/unit/test_handlers_files_metadata.py
  services/storage/tests/unit/test_handlers_locations.py
  services/storage/tests/unit/test_handlers_paths.py
  services/storage/tests/unit/test_handlers_simcore_s3.py
  services/storage/tests/unit/test_simcore_s3_dsm.py
Due: pkg_models_library, datcore_adapter, storage

syntax
  tests/e2e-playwright/tests/conftest.py
Due: none

service version works for s4l and jupyterlab
  tests/e2e-playwright/Makefile
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/tip/conftest.py
Due: none

added version for s4l
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/tip/conftest.py
Due: none

add service version
  tests/e2e-playwright/Makefile
Due: none

fix typing
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/jupyterlabs/test_jupyterlab.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
  tests/e2e-playwright/tests/sleepers/test_sleepers.py
Due: none

added service_version fixture
  tests/e2e-playwright/tests/conftest.py
  tests/e2e-playwright/tests/sim4life/test_sim4life.py
Due: none

add proper exception handling
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/exceptions.py
  services/storage/src/simcore_service_storage/api/rpc/_async_jobs.py
  services/web/server/tests/unit/with_dbs/01/storage/test_storage_rpc.py
Due: pkg_models_library, storage, webserver

fix start task endpoint
  services/storage/src/simcore_service_storage/api/rpc/_data_export.py
Due: storage

remove user warnings
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
Due: none

fix subgraphs ids
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
Due: webserver

fix
  services/static-webserver/client/source/class/osparc/desktop/wallets/MemberListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/CollaboratorListItem.js
  services/static-webserver/client/source/class/osparc/ui/list/MemberListItem.js
Due: webclient

drops history from listing in catalog
  packages/models-library/src/models_library/api_schemas_catalog/services.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/src/simcore_service_catalog/db/repositories/_services_sql.py
  services/catalog/src/simcore_service_catalog/db/repositories/services.py
  services/catalog/src/simcore_service_catalog/services/function_services.py
  services/catalog/src/simcore_service_catalog/services/manifest.py
  services/catalog/src/simcore_service_catalog/services/services_api.py
  services/catalog/tests/unit/test_db_repositories_services_sql.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
  services/catalog/tests/unit/with_dbs/test_db_repositories.py
  services/catalog/tests/unit/with_dbs/test_services_services_api.py
Due: pkg_models_library, pkg_service_library, catalog
