Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

minor
  services/web/server/tests/unit/with_dbs/04/licenses/test_itis_vip_models.py
Due: webserver

services/webserver api version: 0.58.0 → 0.58.1
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

🐛 vip-syncer: fixed parsing items in `Features` string (#7247)
  packages/models-library/src/models_library/licenses.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/licenses/_itis_vip_models.py
  services/web/server/tests/unit/with_dbs/04/licenses/test_itis_vip_models.py
Due: pkg_models_library, webserver

@pcrespov streamline to_rpc_schema methods
  packages/models-library/src/models_library/api_schemas_storage/rpc/data_export_async_jobs.py
  packages/models-library/src/models_library/api_schemas_webserver/storage.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
Due: pkg_models_library, webserver

add rpc method for getting jobs associated with user
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/storage/data_export.py
  services/storage/src/simcore_service_storage/api/rpc/_data_export.py
  services/storage/tests/unit/test_data_export.py
  services/web/server/tests/unit/with_dbs/03/test_storage_rpc.py
Due: pkg_models_library, pkg_service_library, storage, webserver

add webserver rest endpoint for getting user jobs
  services/web/server/src/simcore_service_webserver/storage/_rest.py
Due: webserver

add test of rest endpoint for getting jobs associated with user
  services/web/server/tests/unit/with_dbs/03/test_storage_rpc.py
Due: webserver

🐛 disable network encryption when running locally due to WSL (#7243)
  services/docker-compose.local.yml
Due: none

show free models category if any
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
Due: webclient

minor cleanup
  services/web/server/tests/unit/with_dbs/03/test_storage_rpc.py
Due: webserver

fix guests
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
Due: webclient

return cached Pricing Units
  services/static-webserver/client/source/class/osparc/store/Pricing.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Due: webclient

make pylint happy
  services/web/server/tests/unit/with_dbs/03/test_storage_rpc.py
Due: webserver

update openapi specs
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

fix webserver mocks
  services/web/server/tests/unit/with_dbs/03/test_storage_handlers.py
Due: webserver

base working tests
  services/storage/src/simcore_service_storage/modules/celery/application.py
  services/storage/src/simcore_service_storage/modules/celery/client/__init__.py
  services/storage/src/simcore_service_storage/modules/celery/client/_interface.py
  services/storage/src/simcore_service_storage/modules/celery/client/client_utils.py
  services/storage/src/simcore_service_storage/modules/celery/client/setup.py
  services/storage/src/simcore_service_storage/modules/celery/configurator.py
  services/storage/src/simcore_service_storage/modules/celery/models.py
  services/storage/src/simcore_service_storage/modules/celery/tasks.py
  services/storage/src/simcore_service_storage/modules/celery/worker/_interface.py
  services/storage/src/simcore_service_storage/modules/celery/worker/setup.py
  services/storage/src/simcore_service_storage/modules/celery/worker/utils.py
  services/storage/tests/unit/modules/celery/conftest.py
  services/storage/tests/unit/modules/celery/test_core.py
Due: storage

🎨 [Frontend] ViP Market: Cache pricing units (#7248)
  services/static-webserver/client/source/class/osparc/dashboard/NewPlusMenu.js
  services/static-webserver/client/source/class/osparc/dashboard/StudyBrowser.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
Due: webclient

cleanup
  packages/models-library/src/models_library/api_schemas_rpc_async_jobs/async_jobs.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/async_jobs/async_jobs.py
  services/storage/src/simcore_service_storage/api/rpc/_async_jobs.py
  services/storage/tests/unit/test_data_export.py
  services/web/server/src/simcore_service_webserver/storage/_rest.py
  services/web/server/tests/unit/with_dbs/03/test_storage_rpc.py
Due: pkg_models_library, pkg_service_library, storage, webserver

extended base messages
  packages/models-library/src/models_library/rabbitmq_messages.py
  packages/models-library/tests/test_rabbit_messages.py
Due: pkg_models_library

added user_notifications base
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
  services/web/server/src/simcore_service_webserver/notifications/user_notifications.py
  services/web/server/src/simcore_service_webserver/socketio/models.py
  services/web/server/tests/unit/isolated/notifications/test_rabbitmq_consumers.py
Due: webserver

updated openapispecs
  services/storage/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: storage, webserver

make pylint happy
  services/storage/src/simcore_service_storage/api/rpc/_async_jobs.py
Due: storage

export get async jobs method in webserver openapi specs
  api/specs/web-server/_storage.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, webserver

add progress sending via rabbitmq
  packages/models-library/src/models_library/osparc_jobs.py
  packages/models-library/src/models_library/rabbitmq_messages.py
  services/storage/src/simcore_service_storage/api/celery/_export_task.py
  services/storage/src/simcore_service_storage/modules/rabbitmq.py
  services/storage/tests/unit/test_api_celery__export_task.py
Due: pkg_models_library, storage

added cleanup fixtures
  services/storage/tests/unit/test_simcore_s3_dsm.py
Due: storage

mypy
  services/storage/requirements/_test.in
  services/storage/requirements/_test.txt
  services/storage/src/simcore_service_storage/api/celery/_export_task.py
Due: storage

fixed test
  packages/models-library/tests/test_rabbit_messages.py
Due: pkg_models_library

fixed missing field
  services/web/server/src/simcore_service_webserver/socketio/models.py
  services/web/server/tests/unit/isolated/notifications/test_rabbitmq_consumers.py
Due: webserver

Market -> Model Market
  services/static-webserver/client/source/class/osparc/navigation/UserMenu.js
  services/static-webserver/client/source/class/osparc/vipMarket/MarketWindow.js
Due: webclient

renaming
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Due: webclient

Term and Conditions in features
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/MarketWindow.js
Due: webclient

Remove bundle info from Rental section
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Due: webclient

functionality in name
  services/static-webserver/client/source/class/osparc/store/LicensedItems.js
Due: webclient

Vertical thumbnails with name
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Due: webclient

My Models
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/vipMarket/Market.js
Due: webclient

seats wording
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Due: webclient

pass categoryId to the rocket
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
  services/static-webserver/client/source/class/osparc/vipMarket/VipMarket.js
Due: webclient

hide "Available for Importing" text if Import button is there
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Due: webclient

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
