Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

update messages
  packages/models-library/src/models_library/notifications/errors.py
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest_exceptions.py
Due: pkg_models_library, webserver

imrpove test
  services/director-v2/src/simcore_service_director_v2/utils/osparc_variables.py
  services/director-v2/tests/unit/test_modules_osparc_variables.py
Due: director_v2

removed the coro stuff
  services/director-v2/src/simcore_service_director_v2/utils/osparc_variables.py
  services/director-v2/tests/unit/test_modules_osparc_variables.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

fixed issue when resolver timesout
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_errors.py
  services/director-v2/src/simcore_service_director_v2/utils/osparc_variables.py
  services/director-v2/tests/unit/test_modules_osparc_variables.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

ruff
  services/director-v2/src/simcore_service_director_v2/utils/osparc_variables.py
Due: director_v2

pylint
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
Due: director_v2

mypy
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
  services/director-v2/src/simcore_service_director_v2/utils/osparc_variables.py
Due: director_v2

imrpove test
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

refactor
  services/director-v2/src/simcore_service_director_v2/utils/osparc_variables.py
Due: director_v2

syntax
  services/director-v2/tests/unit/test_modules_osparc_variables.py
Due: director_v2

ruff
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
Due: director_v2

fix
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications_controller_rest.py
Due: webserver

🐛Computational cluster: Retry when Osparc Variable resolver timesout + improve logging (🤖) (#8946)
  services/director-v2/src/simcore_service_director_v2/modules/comp_scheduler/_scheduler_base.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_errors.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/substitutions.py
  services/director-v2/src/simcore_service_director_v2/utils/osparc_variables.py
  services/director-v2/tests/unit/test_modules_osparc_variables.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_scheduler_dask.py
Due: director_v2

fix
  packages/postgres-database/tests/test_utils_user_preferences.py
Due: pkg_postgres_database

fixture for password
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
  tests/e2e-playwright/README.md
Due: none

Refactor tests to improve readability and error handling
  packages/postgres-database/tests/test_classifiers.py
  packages/postgres-database/tests/test_models_groups.py
  packages/postgres-database/tests/test_services_consume_filetypes.py
Due: pkg_postgres_database

fixes tests
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tools.py
  services/catalog/src/simcore_service_catalog/repository/services.py
  services/payments/src/simcore_service_payments/db/payments_transactions_repo.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profile.py
Due: catalog, payments, webserver

testing legacy
  services/web/server/src/simcore_service_webserver/projects/_access_rights_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/tests/unit/with_dbs/03/test_projects_repository_legacy.py
Due: webserver

minor
  packages/service-library/requirements/_aiohttp.txt
Due: pkg_service_library

migrate crud source files and repo with aiopty types
  services/web/server/src/simcore_service_webserver/director_v2/_director_v2_service.py
  services/web/server/src/simcore_service_webserver/projects/_access_rights_repository.py
  services/web/server/src/simcore_service_webserver/projects/_access_rights_service.py
  services/web/server/src/simcore_service_webserver/projects/_folders_repository.py
  services/web/server/src/simcore_service_webserver/projects/_metadata_repository.py
  services/web/server/src/simcore_service_webserver/projects/_metadata_service.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy_utils.py
  services/web/server/src/simcore_service_webserver/studies_dispatcher/_projects_permalinks.py
  services/web/server/src/simcore_service_webserver/user_preferences/_service.py
  services/web/server/src/simcore_service_webserver/wallets/_db.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_db.py
Due: webserver

minor
  services/web/server/tests/unit/with_dbs/02/conftest.py
Due: webserver

limits number of nodes per project and formats settings
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_projects.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/settings.py
  services/web/server/tests/unit/with_dbs/02/conftest.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
Due: webserver

Refactor exception handling in tests to use specific SQLAlchemy error classes
  packages/postgres-database/tests/conftest.py
  packages/postgres-database/tests/test_classifiers.py
  packages/postgres-database/tests/test_models_groups.py
  packages/postgres-database/tests/test_models_payments_methods.py
  packages/postgres-database/tests/test_services_consume_filetypes.py
  packages/postgres-database/tests/test_uniqueness_in_comp_tasks.py
Due: pkg_postgres_database

cleanup
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
Due: none

♻️ Refactor: Update database service to use asyncpg and adjust diagnostics handlers
  services/web/server/src/simcore_service_webserver/db/db_service.py
  services/web/server/src/simcore_service_webserver/diagnostics/_handlers.py
  services/web/server/tests/unit/with_dbs/01/test_db.py
Due: webserver

fix
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy_utils.py
Due: webserver

rm unused
  packages/postgres-database/src/simcore_postgres_database/_protocols.py
  packages/postgres-database/src/simcore_postgres_database/aiopg_errors.py
  packages/postgres-database/src/simcore_postgres_database/utils_aiopg.py
  packages/postgres-database/src/simcore_postgres_database/utils_aiopg_orm.py
  packages/postgres-database/tests/test_utils_aiopg_orm.py
Due: pkg_postgres_database

rm reqs
  packages/service-library/requirements/_aiohttp.in
  packages/service-library/requirements/_aiohttp.txt
  packages/service-library/requirements/_test.txt
  services/web/server/requirements/_base.in
  services/web/server/requirements/_base.txt
Due: pkg_service_library, webserver

linters
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/tests/integration/01/test_garbage_collection.py
Due: webserver

Refactor database engine usage in tests to use asyncpg
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_tags.py
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_tokens.py
  services/web/server/src/simcore_service_webserver/application_keys.py
  services/web/server/src/simcore_service_webserver/constants.py
  services/web/server/src/simcore_service_webserver/db/_aiopg.py
  services/web/server/src/simcore_service_webserver/db/plugin.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_utils.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/with_dbs/01/test_db.py
  services/web/server/tests/unit/with_dbs/02/test_projects_metadata_handlers.py
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
  services/web/server/tests/unit/with_dbs/03/test_user_preferences_service.py
  services/web/server/tests/unit/with_dbs/03/test_user_tokens.py
  services/web/server/tests/unit/with_dbs/03/test_users_rest_profile.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: webserver

fixes tests
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
Due: none

♻️ Refactor: Update database queries to use result mappings for improved data handling
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_repository.py
  services/web/server/src/simcore_service_webserver/groups/_groups_repository.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/wallets/_db.py
  services/web/server/src/simcore_service_webserver/wallets/_groups_db.py
Due: webserver

missing
  packages/pytest-simcore/src/pytest_simcore/helpers/webserver_workspaces.py
Due: none

drop dpendencies with aiopg
  packages/pytest-simcore/src/pytest_simcore/helpers/postgres_users.py
  packages/pytest-simcore/src/pytest_simcore/postgres_service.py
Due: none

add environment variables for WEBSERVER_CHATBOT and WEBSERVER_FOGBUGZ in tests
  services/web/server/tests/unit/with_dbs/04/chatbot/conftest.py
  services/web/server/tests/unit/with_dbs/04/conversations/test_conversations_messages_rest.py
  services/web/server/tests/unit/with_dbs/04/test_fogbugz_client.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: webserver

rm todo
  services/web/Dockerfile
  services/web/server/tests/unit/isolated/conftest.py
Due: webserver

fixes mypy
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy_utils.py
  services/web/server/tests/unit/isolated/test_projects__db_utils.py
  services/web/server/tests/unit/with_dbs/03/test_project_db.py
Due: webserver

adds new fixture fo integration tests
  services/web/server/tests/integration/conftest.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: webserver

fixes pylin and mypy
  services/web/server/src/simcore_service_webserver/db/db_service.py
  services/web/server/src/simcore_service_webserver/db_listener/_db_comp_tasks_listening_task.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy.py
  services/web/server/src/simcore_service_webserver/projects/_projects_repository_legacy_utils.py
  services/web/server/tests/unit/with_dbs/01/test_db.py
Due: webserver

Refactor test uniqueness checks to use AsyncConnection and improve fake_task_factory UUID handling
  packages/postgres-database/tests/test_uniqueness_in_comp_tasks.py
  packages/pytest-simcore/src/pytest_simcore/helpers/faker_factories.py
Due: pkg_postgres_database

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
