Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

post-translate step
  services/static-webserver/client/Makefile
  services/static-webserver/client/scripts/post-translate.py
Due: webclient

remove the NO LONGER USED
  services/static-webserver/client/source/translation/en.po
  services/static-webserver/client/source/translation/es.po
Due: webclient

minor
  services/static-webserver/client/source/translation/es.po
Due: webclient

refactor to raise error
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/__init__.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_errors.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/file_notification_subscriber.py
Due: pkg_simcore_sdk, dynamic_sidecar

fixed
  .github/CODEOWNERS
Due: none

✨ [Frontend] Localization Proof of Concept (#9255)
  .pre-commit-config.yaml
  services/static-webserver/client/Makefile
  services/static-webserver/client/compile.json
  services/static-webserver/client/scripts/post-translate.py
  services/static-webserver/client/source/class/osparc/Application.js
  services/static-webserver/client/source/class/osparc/dashboard/MoveResourceTo.js
  services/static-webserver/client/source/class/osparc/dashboard/ResourceDetails.js
  services/static-webserver/client/source/class/osparc/dashboard/WorkspacesAndFoldersTree.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
  services/static-webserver/client/source/class/osparc/info/ServiceLarge.js
  services/static-webserver/client/source/class/osparc/ui/message/FlashMessageOEC.js
  services/static-webserver/client/source/class/osparc/utils/LanguageManager.js
  services/static-webserver/client/source/class/osparc/widget/SectionBox.js
  services/static-webserver/client/source/translation/es.po
Due: webclient

fix
  .env-devel
  packages/models-library/src/models_library/notifications/rpc/__init__.py
  packages/models-library/src/models_library/notifications/rpc/_email.py
  services/docker-compose.yml
  services/notifications/src/simcore_service_notifications/core/settings.py
  services/notifications/src/simcore_service_notifications/models/smtp.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_email.py
  services/notifications/tests/unit/test_models_smtp.py
Due: pkg_models_library

fix
  services/notifications/src/simcore_service_notifications/core/settings.py
  services/notifications/src/simcore_service_notifications/services/_message.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_base.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_email.py
  services/notifications/tests/unit/test_core_settings.py
Due: none

fix
  services/notifications/tests/unit/test_core_settings.py
Due: none

fix
  .env-devel
Due: none

rename
  packages/models-library/src/models_library/notifications/__init__.py
  packages/models-library/src/models_library/notifications/_data.py
  services/notifications/src/simcore_service_notifications/models/product.py
  services/notifications/src/simcore_service_notifications/renderers/_email_render.py
  services/notifications/src/simcore_service_notifications/repositories/product/_product.py
  services/notifications/src/simcore_service_notifications/services/_message.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_base.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_email.py
  services/notifications/tests/email/conftest.py
  services/notifications/tests/email/test_email_events.py
  services/notifications/tests/unit/conftest.py
Due: pkg_models_library

fix
  packages/models-library/src/models_library/notifications/__init__.py
  packages/models-library/src/models_library/notifications/_data.py
  services/notifications/src/simcore_service_notifications/models/product.py
  services/notifications/src/simcore_service_notifications/repositories/product/_product.py
  services/notifications/src/simcore_service_notifications/services/_message.py
  services/notifications/src/simcore_service_notifications/services/_template.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_base.py
  services/notifications/tests/email/conftest.py
  services/notifications/tests/unit/conftest.py
Due: pkg_models_library

fix
  packages/models-library/src/models_library/notifications/_data.py
  services/notifications/src/simcore_service_notifications/services/_message.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_base.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_email.py
Due: pkg_models_library

fix
  services/notifications/src/simcore_service_notifications/services/_message.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/repositories/product/_product.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/core/settings.py
  services/notifications/tests/unit/test_core_settings.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/notifications/src/simcore_service_notifications/core/settings.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_email.py
  services/notifications/tests/unit/conftest.py
  services/notifications/tests/unit/test_core_settings.py
Due: none

fix
  services/notifications/tests/conftest.py
  services/notifications/tests/unit/conftest.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_email.py
  services/notifications/tests/unit/test_core_settings.py
Due: none

writeAllTranslations
  services/static-webserver/client/compile.json
Due: webclient

fix
  .env-devel
  services/notifications/src/simcore_service_notifications/api/celery/_email.py
  services/notifications/src/simcore_service_notifications/core/settings.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_email.py
  services/notifications/tests/conftest.py
  services/notifications/tests/unit/conftest.py
  services/notifications/tests/unit/test_core_settings.py
Due: none

fix
  services/notifications/tests/unit/conftest.py
Due: none

fix
  services/notifications/tests/unit/test_api_celery_send_email.py
Due: none

refactor
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
Due: pkg_simcore_sdk

fix
  services/notifications/tests/unit/test_models_product_smtp_settings.py
  services/notifications/tests/unit/test_models_smtp.py
Due: none

fix
  services/notifications/tests/unit/test_channel_handlers_email.py
Due: none

🐛 [Frontend] Fix translations not loading in deployed products (#9258)
  services/static-webserver/client/compile.json
Due: webclient

fix import
  services/notifications/tests/email/conftest.py
Due: none

fix import
  services/notifications/tests/email/test_email_events.py
Due: none

fix
  services/notifications/tests/email/conftest.py
  services/notifications/tests/email/test_email_events.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/core/settings.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_email.py
Due: none

refactor
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
Due: pkg_simcore_sdk

♻️ Fix rclone mount to use storage-provided S3 path instead of local bucket config (#9259)
  packages/simcore-sdk/src/simcore_sdk/node_data/data_manager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/filemanager.py
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
  packages/simcore-sdk/tests/unit/test_node_ports_common_r_clone_mount.py
Due: pkg_simcore_sdk

better examples
  packages/simcore-sdk/src/simcore_sdk/node_ports_common/r_clone_mount/_manager.py
Due: pkg_simcore_sdk
