Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

sonar
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/ssh.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/services/_message.py
Due: none

fixed tests
  api/tests/requirements.in
  api/tests/requirements.txt
Due: api

continue
  services/notifications/src/simcore_service_notifications/_channel_registry.py
  services/notifications/src/simcore_service_notifications/exceptions/errors.py
  services/notifications/src/simcore_service_notifications/models/content.py
  services/notifications/src/simcore_service_notifications/models/content/__init__.py
  services/notifications/src/simcore_service_notifications/models/content/_content.py
  services/notifications/src/simcore_service_notifications/models/content/_email.py
  services/notifications/src/simcore_service_notifications/services/channel_handlers/_registry.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/models/content/_email.py
Due: none

fix
  services/notifications/src/simcore_service_notifications/models/content/__init__.py
  services/notifications/src/simcore_service_notifications/models/content/_registry.py
Due: none

splitter
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
Due: webclient

fix
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/notifications/_message.py
Due: pkg_service_library

fix
  packages/models-library/src/models_library/notifications/rpc/_message.py
Due: pkg_models_library

simplify
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/analysis.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/cancel_jobs.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/terminate.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/db.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/models.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/reconciliation.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/ssh.py
Due: none

idling tracker everywhere
  services/static-webserver/client/source/class/osparc/desktop/StudyEditor.js
  services/static-webserver/client/source/class/osparc/product/Utils.js
Due: webclient

unused
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
Due: webclient

fix
  services/notifications/src/simcore_service_notifications/api/rpc/dependencies.py
  services/notifications/src/simcore_service_notifications/clients/celery.py
Due: none

avoid adding the tab if there are no settings to show
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
Due: webclient

upgraded faststream
  packages/aws-library/requirements/_base.txt
  packages/celery-library/requirements/_base.txt
  packages/service-library/requirements/_base.txt
  packages/service-library/src/servicelib/deferred_tasks/_deferred_manager.py
  packages/simcore-sdk/requirements/_base.txt
  services/agent/requirements/_base.txt
  services/api-server/requirements/_base.txt
  services/autoscaling/requirements/_base.txt
  services/catalog/requirements/_base.txt
  services/clusters-keeper/requirements/_base.txt
  services/dask-sidecar/requirements/_base.txt
  services/datcore-adapter/requirements/_base.txt
  services/director-v2/requirements/_base.txt
  services/director/requirements/_base.txt
  services/docker-api-proxy/requirements/_test.txt
  services/dynamic-scheduler/requirements/_base.txt
  services/dynamic-sidecar/requirements/_base.txt
  services/efs-guardian/requirements/_base.txt
  services/invitations/requirements/_base.txt
  services/notifications/requirements/_base.txt
  services/payments/requirements/_base.txt
  services/resource-usage-tracker/requirements/_base.txt
  services/storage/requirements/_base.txt
  services/web/server/requirements/_base.txt
Due: pkg_aws_library, pkg_service_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, payments, resource_usage_tracker, storage, webserver

🎨 Monitoring script: improvements on reporting, large refactoring and update of dependencies 🤖 (#8894)
  .github/PULL_REQUEST_TEMPLATE.md
  scripts/maintenance/autoscaled-monitor/Makefile
  scripts/maintenance/autoscaled-monitor/README.md
  scripts/maintenance/autoscaled-monitor/pyproject.toml
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/__init__.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/_helpers.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/_state.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/analysis.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/__init__.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/__init__.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/cancel_jobs.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/summary.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/computational/terminate.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/db/__init__.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/db/check.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/dynamic/__init__.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/dynamic/summary.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/dynamic/terminate.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/commands/summary.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/constants.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/dask.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/db.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/ec2.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/main.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/models.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/reconciliation.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/rendering.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/ssh.py
  scripts/maintenance/autoscaled-monitor/src/autoscaled_monitor/utils.py
  scripts/maintenance/autoscaled-monitor/uv.lock
  scripts/maintenance/computational-clusters/README.md
  scripts/maintenance/computational-clusters/autoscaled_monitor/cli.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/core.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/dask.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/db.py
  scripts/maintenance/computational-clusters/autoscaled_monitor/ssh.py
  scripts/maintenance/computational-clusters/uv.lock
Due: none

fix
  services/notifications/tests/unit/test_api_rpc_message.py
Due: none

Potential fix for pull request finding
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
Due: webclient

rename
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/desktop/preferences/pages/GeneralPage.js
Due: webclient

margin to the buttons
  services/static-webserver/client/source/class/osparc/desktop/SlideshowView.js
Due: webclient

fixed
  packages/service-library/tests/deferred_tasks/test__utils.py
Due: pkg_service_library

minor
  services/static-webserver/client/source/class/osparc/node/slideshow/BaseNodeView.js
Due: webclient

nothing changed
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Due: webclient

one color less
  services/static-webserver/client/source/class/osparc/desktop/WorkbenchView.js
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
Due: webclient

enough
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

wait 2 seconds to show the File in the tracer
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

rename
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest.py
Due: webserver

fix
  packages/models-library/src/models_library/celery.py
Due: pkg_models_library

add env var
  .env-devel
  services/notifications/src/simcore_service_notifications/core/settings.py
Due: none

minor
  services/static-webserver/client/source/class/osparc/widget/NodeSlideTreeItem.js
  services/static-webserver/client/source/class/osparc/widget/NodesSlidesTree.js
Due: webclient

comment
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

Potential fix for pull request finding
  tests/e2e-playwright/tests/tip/test_ti_personalized_plan.py
Due: none

use rpc interface
  packages/models-library/src/models_library/notifications/rpc/_message.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/notifications/_message.py
  services/notifications/src/simcore_service_notifications/api/rpc/_message.py
  services/notifications/src/simcore_service_notifications/services/_message.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: pkg_models_library, pkg_service_library, webserver

fixed tests after upgrade
  packages/service-library/src/servicelib/deferred_tasks/_deferred_manager.py
  packages/service-library/tests/deferred_tasks/test__utils.py
  packages/service-library/tests/deferred_tasks/test_deferred_tasks.py
Due: pkg_service_library

fixed test
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/generic_scheduler/_event_base_queue.py
Due: dynamic_scheduler

update
  scripts/openapi-diff.bash
Due: none

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
