Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

websever 01
  .github/workflows/_reusable-unit-test.yml
  .github/workflows/ci-testing-deploy.yml
Due: none

trigger
  .github/workflows/ci-testing-deploy.yml
Due: none

converted unit tests
  .github/workflows/ci-testing-deploy.yml
Due: none

trigger
  .github/workflows/ci-testing-deploy.yml
  packages/common-library/src/common_library/async_tools.py
Due: none

fixed ci issues
  tests/e2e/Makefile
Due: none

🎨 `docker-api-proxy` always requires authentication (⚠️devops) (#7586)
  .env-devel
  packages/pytest-simcore/src/pytest_simcore/docker_api_proxy.py
  packages/pytest-simcore/src/pytest_simcore/simcore_services.py
  packages/service-library/src/servicelib/fastapi/docker.py
  packages/settings-library/src/settings_library/docker_api_proxy.py
  services/docker-api-proxy/Dockerfile
  services/docker-api-proxy/docker/Caddyfile
  services/docker-api-proxy/docker/boot.sh
  services/docker-api-proxy/tests/integration/autentication-proxy-docker-compose.yaml
  services/docker-api-proxy/tests/integration/test_docker_api_proxy.py
  services/docker-api-proxy/tests/integration/test_docker_api_proxy_autenticated.py
  services/docker-compose.yml
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/cli.py
  tests/e2e/Makefile
Due: pkg_service_library, pkg_settings_library, dynamic_scheduler

new settings tyle
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
Due: dynamic_scheduler

dont store values in a dict, use generator directly
  services/api-server/src/simcore_service_api_server/core/_prometheus_instrumentation.py
  services/api-server/src/simcore_service_api_server/services_http/log_streaming.py
Due: api_server

review @pcrespov
  packages/models-library/src/models_library/api_schemas_webserver/projects_conversations.py
  packages/models-library/src/models_library/conversations.py
Due: pkg_models_library

✨ introduce conversations (🗃️) (#7591)
  api/specs/web-server/_projects_comments.py
  api/specs/web-server/_projects_conversations.py
  api/specs/web-server/openapi.py
  packages/models-library/src/models_library/api_schemas_webserver/projects_conversations.py
  packages/models-library/src/models_library/conversations.py
  packages/postgres-database/src/simcore_postgres_database/migration/versions/0d52976dc616_add_conversations.py
  packages/postgres-database/src/simcore_postgres_database/models/conversation_messages.py
  packages/postgres-database/src/simcore_postgres_database/models/conversations.py
  packages/postgres-database/src/simcore_postgres_database/models/projects.py
  services/web/server/VERSION
  services/web/server/setup.cfg
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/application.py
  services/web/server/src/simcore_service_webserver/application_settings.py
  services/web/server/src/simcore_service_webserver/conversations/__init__.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_repository.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_message_service.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_repository.py
  services/web/server/src/simcore_service_webserver/conversations/_conversation_service.py
  services/web/server/src/simcore_service_webserver/conversations/conversations_service.py
  services/web/server/src/simcore_service_webserver/conversations/errors.py
  services/web/server/src/simcore_service_webserver/conversations/plugin.py
  services/web/server/src/simcore_service_webserver/projects/_access_rights_service.py
  services/web/server/src/simcore_service_webserver/projects/_controller/_rest_exceptions.py
  services/web/server/src/simcore_service_webserver/projects/_controller/conversations_rest.py
  services/web/server/src/simcore_service_webserver/projects/_conversations_service.py
  services/web/server/src/simcore_service_webserver/projects/plugin.py
  services/web/server/tests/unit/isolated/test_conversations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_conversations_handlers.py
Due: api, pkg_models_library, pkg_postgres_database, webserver

added base idea
  packages/service-library/src/servicelib/long_running_interfaces/__init__.py
  packages/service-library/src/servicelib/long_running_interfaces/_client.py
  packages/service-library/src/servicelib/long_running_interfaces/_errors.py
  packages/service-library/src/servicelib/long_running_interfaces/_models.py
  packages/service-library/src/servicelib/long_running_interfaces/_rpc/client.py
  packages/service-library/src/servicelib/long_running_interfaces/_rpc/server.py
  packages/service-library/src/servicelib/long_running_interfaces/_server.py
  packages/service-library/src/servicelib/long_running_interfaces_runners/__init__.py
  packages/service-library/src/servicelib/long_running_interfaces_runners/asyncio_tasks/__init__.py
  packages/service-library/src/servicelib/long_running_interfaces_runners/asyncio_tasks/_core.py
  packages/service-library/src/servicelib/long_running_interfaces_runners/asyncio_tasks/_errors.py
  packages/service-library/src/servicelib/long_running_interfaces_runners/asyncio_tasks/_registry.py
  packages/service-library/tests/long_running_interfaces/test__rpc.py
  packages/service-library/tests/long_running_interfaces/test_workflow.py
Due: pkg_service_library

@pcrespov generator -> iterator
  services/api-server/src/simcore_service_api_server/core/_prometheus_instrumentation.py
  services/api-server/src/simcore_service_api_server/services_http/log_streaming.py
Due: api_server

fix api-key creation response
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
Due: webserver

refactor
  packages/service-library/src/servicelib/logging_utils.py
  packages/service-library/tests/test_logging_utils.py
Due: pkg_service_library

added addional test
  packages/service-library/tests/long_running_interfaces/test_workflow.py
Due: pkg_service_library

@pcrespov improve sorted function name
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/catalog/services.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_services_catalog.py
  services/catalog/src/simcore_service_catalog/api/rpc/_services.py
  services/catalog/tests/unit/with_dbs/test_api_rpc.py
Due: pkg_service_library, api_server, catalog

rename another function for coherence
  services/api-server/src/simcore_service_api_server/_service_programs.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
  services/api-server/tests/unit/test_services_catalog.py
Due: api_server

refacto test to work regardless of logging configuration
  packages/service-library/tests/test_logging_utils.py
Due: pkg_service_library

🐛 Add correct registry when collecting api-server log queue prometheus metrics (#7616)
  services/api-server/src/simcore_service_api_server/core/_prometheus_instrumentation.py
  services/api-server/src/simcore_service_api_server/services_http/log_streaming.py
Due: api_server

bugfix catalog history returning [] and test
  services/api-server/src/simcore_service_api_server/_service_programs.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_programs.py
Due: api_server

continue
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest.py
  services/web/server/src/simcore_service_webserver/products/_web_middlewares.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
Due: webserver

add test when no released solvers
  packages/pytest-simcore/src/pytest_simcore/helpers/catalog_rpc_server.py
  services/api-server/tests/unit/conftest.py
  services/api-server/tests/unit/test_api_programs.py
  services/api-server/tests/unit/test_api_solvers.py
Due: api_server

fix case when no releases available - test passes
  services/api-server/src/simcore_service_api_server/_service_solvers.py
Due: api_server

fix api url
  services/web/server/src/simcore_service_webserver/api_keys/_controller/rest.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/src/simcore_service_webserver/utils_aiohttp.py
Due: webserver

jobs_service
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/_service_studies.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/tests/unit/test_service_jobs.py
Due: api_server

✨ Refactor CatalogService and SolverService to use instance variables for user ID and product name; update related services and tests for consistency
  services/api-server/src/simcore_service_api_server/_service_programs.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/services_rpc/catalog.py
  services/api-server/tests/unit/service/conftest.py
  services/api-server/tests/unit/service/test_services_catalog.py
Due: api_server

renames
  services/api-server/src/simcore_service_api_server/_service_studies.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
  services/api-server/tests/unit/test_service_solvers.py
Due: api_server

drafts service layer
  services/api-server/src/simcore_service_api_server/_service_studies.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
Due: api_server

✨ JobService: Implement job listing with pagination and refactor SolverService and StudiesService to utilize it
  services/api-server/src/simcore_service_api_server/_service_job.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/_service_studies.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
Due: api_server

drafts list_study_jobs
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/src/simcore_service_api_server/api/routes/studies_jobs.py
Due: api_server

rename back
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/_service_studies.py
  services/api-server/src/simcore_service_api_server/api/dependencies/services.py
  services/api-server/src/simcore_service_api_server/api/routes/programs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/tests/unit/test_service_solvers.py
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_rpc.py
  services/web/server/tests/unit/with_dbs/02/test_projects__jobs_service.py
Due: api_server, webserver

drafting tests
  services/api-server/tests/unit/service/conftest.py
  services/api-server/tests/unit/service/test_service_jobs.py
  services/api-server/tests/unit/service/test_service_studies.py
Due: api_server

✨ Refactor SolverService and API routes to use instance variables for user ID and product name, improving code clarity and consistency
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
Due: api_server

drafting tests
  services/api-server/docs/api-server.drawio.svg
  services/api-server/tests/unit/service/conftest.py
  services/api-server/tests/unit/service/test_service_jobs.py
  services/api-server/tests/unit/service/test_service_solvers.py
  services/api-server/tests/unit/service/test_service_studies.py
  services/api-server/tests/unit/service/test_services_catalog.py
Due: api_server

✨ Remove user ID and product name parameters from SolverService methods; update related API routes and tests for consistency
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
  services/api-server/tests/unit/service/test_service_solvers.py
Due: api_server

✨ Enhance ProjectGet schema with JSON schema examples and improve formatting
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
Due: pkg_models_library

✨ Implement user and product consistency checks in JobService and SolverService; add ServiceConfigurationError for better error handling
  services/api-server/src/simcore_service_api_server/_service_jobs.py
  services/api-server/src/simcore_service_api_server/_service_solvers.py
  services/api-server/src/simcore_service_api_server/_service_studies.py
  services/api-server/src/simcore_service_api_server/exceptions/custom_errors.py
  services/api-server/tests/unit/service/test_service_solvers.py
Due: api_server

minor
  packages/models-library/src/models_library/api_schemas_webserver/projects.py
  packages/postgres-database/src/simcore_postgres_database/models/products.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
  services/web/server/tests/unit/with_dbs/03/login/test_login_confirmation_service.py
Due: pkg_models_library, pkg_postgres_database, webserver

missing deprecated
  services/api-server/docs/api-server.drawio.svg
  services/api-server/openapi.json
  services/api-server/src/simcore_service_api_server/api/routes/files.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers.py
  services/api-server/src/simcore_service_api_server/api/routes/solvers_jobs_getters.py
Due: api_server

✨ Add unit tests for JobService, SolverService, and CatalogService with fixtures
  services/api-server/tests/unit/service/conftest.py
  services/api-server/tests/unit/service/test_service_jobs.py
  services/api-server/tests/unit/service/test_service_solvers.py
  services/api-server/tests/unit/service/test_services_catalog.py
Due: api_server

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
