Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

LICENSE
  services/static-webserver/client/source/class/osparc/data/model/PricingPlan.js
Due: webclient

fix
  .env-devel
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rest/routes.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/routes.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/rabbitmq.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/redis.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/s3.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service_setup.py
Due: resource_usage_tracker

show classification prop
  services/static-webserver/client/source/class/osparc/pricing/PlanListItem.js
  services/static-webserver/client/source/class/osparc/pricing/Plans.js
Due: webclient

♻️ redirect `list_dynamic_services` via dynamic-scheduler (#6893)
  packages/common-library/src/common_library/unset.py
  packages/common-library/tests/test_unset.py
  packages/models-library/src/models_library/api_schemas_directorv2/dynamic_services_service.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/dynamic_scheduler/services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/api/rpc/_services.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_public_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/director_v2/_thin_client.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/scheduler_interface.py
  services/dynamic-scheduler/tests/unit/api_rpc/test_api_rpc__services.py
  services/dynamic-scheduler/tests/unit/service_tracker/test__api.py
  services/dynamic-scheduler/tests/unit/status_monitor/test_services_status_monitor__monitor.py
  services/web/server/src/simcore_service_webserver/director_v2/_core_dynamic_services.py
  services/web/server/src/simcore_service_webserver/director_v2/api.py
  services/web/server/src/simcore_service_webserver/dynamic_scheduler/api.py
  services/web/server/src/simcore_service_webserver/folders/_folders_db.py
  services/web/server/src/simcore_service_webserver/garbage_collector/_core_orphans.py
  services/web/server/src/simcore_service_webserver/projects/_folders_db.py
  services/web/server/src/simcore_service_webserver/projects/_trash_api.py
  services/web/server/src/simcore_service_webserver/projects/projects_api.py
  services/web/server/src/simcore_service_webserver/utils.py
  services/web/server/tests/integration/01/test_garbage_collection.py
  services/web/server/tests/unit/isolated/test_garbage_collector_core.py
  services/web/server/tests/unit/with_dbs/01/test_director_v2_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__delete.py
  services/web/server/tests/unit/with_dbs/02/test_projects_metadata_handlers.py
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handler.py
  services/web/server/tests/unit/with_dbs/02/test_projects_states_handlers.py
  services/web/server/tests/unit/with_dbs/03/tags/conftest.py
  services/web/server/tests/unit/with_dbs/03/test_trash.py
  services/web/server/tests/unit/with_dbs/03/version_control/conftest.py
  services/web/server/tests/unit/with_dbs/04/garbage_collector/test_resource_manager.py
  services/web/server/tests/unit/with_dbs/conftest.py
Due: pkg_models_library, pkg_service_library, dynamic_scheduler, webserver

adding LICENSE enum to RUT
  packages/models-library/src/models_library/resource_tracker.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_pricing_plans.py
Due: pkg_models_library, pkg_postgres_database

⬆️ Maintenance: upgrades `catalog` service requirements (#6846)
  requirements/constraints.txt
  services/catalog/requirements/_base.txt
  services/catalog/requirements/_test.txt
  services/catalog/requirements/_tools.txt
  services/catalog/src/simcore_service_catalog/models/services_db.py
  services/catalog/tests/unit/conftest.py
  tests/e2e-playwright/Makefile
Due: catalog

__addPricingUnitToCache
  services/static-webserver/client/source/class/osparc/data/model/PricingPlan.js
  services/static-webserver/client/source/class/osparc/pricing/UnitsList.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
Due: webclient

[skip ci] classification in unit
  services/static-webserver/client/source/class/osparc/data/model/PricingUnit.js
  services/static-webserver/client/source/class/osparc/pricing/UnitsList.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
  services/static-webserver/client/source/class/osparc/study/PricingUnit.js
Due: webclient

✨ [Frontend] username and privacy settings (#6916)
  services/static-webserver/client/source/class/osparc/auth/Data.js
  services/static-webserver/client/source/class/osparc/auth/Manager.js
  services/static-webserver/client/source/class/osparc/data/Resources.js
  services/static-webserver/client/source/class/osparc/data/model/Group.js
  services/static-webserver/client/source/class/osparc/data/model/User.js
  services/static-webserver/client/source/class/osparc/data/model/UserMember.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccount.js
  services/static-webserver/client/source/class/osparc/desktop/account/MyAccountWindow.js
  services/static-webserver/client/source/class/osparc/desktop/account/ProfilePage.js
  services/static-webserver/client/source/class/osparc/desktop/organizations/MembersList.js
  services/static-webserver/client/source/class/osparc/desktop/wallets/MembersList.js
  services/static-webserver/client/source/class/osparc/filter/CollaboratorToggleButton.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4l/Welcome.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4lacad/Welcome.js
  services/static-webserver/client/source/class/osparc/product/quickStart/s4llite/Welcome.js
  services/static-webserver/client/source/class/osparc/product/quickStart/tis/Welcome.js
  services/static-webserver/client/source/class/osparc/share/Collaborators.js
  services/static-webserver/client/source/class/osparc/store/Groups.js
  services/static-webserver/client/source/class/osparc/ui/window/TabbedView.js
  services/static-webserver/client/source/class/osparc/utils/Avatar.js
Due: webclient

[skip ci] more refactoring
  services/static-webserver/client/source/class/osparc/pricing/UnitsList.js
  services/static-webserver/client/source/class/osparc/study/PricingUnit.js
  services/static-webserver/client/source/class/osparc/study/PricingUnits.js
Due: webclient

review Dustin
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service_setup.py
Due: resource_usage_tracker

[skip ci] refactoring
  services/static-webserver/client/source/class/osparc/node/TierSelectionView.js
  services/static-webserver/client/source/class/osparc/service/PricingUnitsList.js
  services/static-webserver/client/source/class/osparc/study/NodePricingUnits.js
  services/static-webserver/client/source/class/osparc/study/PricingUnit.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitTier.js
  services/static-webserver/client/source/class/osparc/study/PricingUnits.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Due: webclient

[skip ci] more refactoring
  services/static-webserver/client/source/class/osparc/study/NodePricingUnits.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitTier.js
  services/static-webserver/client/source/class/osparc/study/PricingUnits.js
Due: webclient

🎨 [Frontend] Friendlier logger (#6907)
  services/static-webserver/client/source/class/osparc/theme/ColorDark.js
  services/static-webserver/client/source/class/osparc/theme/ColorLight.js
  services/static-webserver/client/source/class/osparc/theme/mixin/Color.js
  services/static-webserver/client/source/class/osparc/ui/table/rowrenderer/ExpandSelection.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerModel.js
  services/static-webserver/client/source/class/osparc/widget/logger/LoggerView.js
  services/static-webserver/client/source/resource/osparc/circle-exclamation-solid.svg
  services/static-webserver/client/source/resource/osparc/circle-info-solid.svg
  services/static-webserver/client/source/resource/osparc/circle-xmark-solid.svg
Due: webclient

[skip ci] Units List working
  services/static-webserver/client/source/class/osparc/pricing/UnitsList.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Due: webclient

defaults
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitTier.js
Due: webclient

open api specs
  services/api-server/openapi.json
  services/resource-usage-tracker/openapi.json
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api_server, resource_usage_tracker, webserver

ensure job runs also if not in pr
  .github/workflows/ci-testing-deploy.yml
Due: none

[skip ci] step by step
  services/static-webserver/client/source/class/osparc/node/TierSelectionView.js
  services/static-webserver/client/source/class/osparc/pricing/UnitsList.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitTier.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Due: webclient

edit to root
  services/static-webserver/client/source/class/osparc/pricing/UnitsList.js
  services/static-webserver/client/source/class/osparc/study/PricingUnit.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitTier.js
Due: webclient

♻️ Add startup logs to RUT (#6921)
  .env-devel
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rest/routes.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/api/rpc/routes.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/__init__.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/rabbitmq.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/redis.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/s3.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/process_message_running_service_setup.py
Due: resource_usage_tracker

fix test
  services/web/server/src/simcore_service_webserver/api_keys/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/api_keys/_repository.py
  services/web/server/src/simcore_service_webserver/api_keys/errors.py
  tests/public-api/conftest.py
Due: webserver

🎨 ensure job runs also if not in pr (#6923)
  .github/workflows/ci-testing-deploy.yml
Due: none

added force container cleanup step when stopping services
  packages/models-library/src/models_library/api_schemas_directorv2/services.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/agent/containers.py
  services/agent/src/simcore_service_agent/api/rpc/_containers.py
  services/agent/src/simcore_service_agent/api/rpc/_volumes.py
  services/agent/src/simcore_service_agent/api/rpc/routes.py
  services/agent/src/simcore_service_agent/core/application.py
  services/agent/src/simcore_service_agent/services/containers_manager.py
  services/agent/src/simcore_service_agent/services/docker_utils.py
  services/agent/tests/unit/test_api_rpc__containers.py
  services/agent/tests/unit/test_services_containers_manager.py
  services/director-v2/src/simcore_service_director_v2/constants.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/scheduler/_core/_events_utils.py
Due: pkg_models_library, pkg_service_library, agent, director_v2

fixed imports
  services/director-v2/src/simcore_service_director_v2/models/dynamic_services_scheduler.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/_namespace.py
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
Due: director_v2

fixed imports
  services/director-v2/src/simcore_service_director_v2/modules/dynamic_sidecar/docker_api/_core.py
Due: director_v2

yet another fix
  .github/workflows/ci-testing-deploy.yml
Due: none

🐛 yet another fix (#6925)
  .github/workflows/ci-testing-deploy.yml
Due: none

Unit Editor
  services/static-webserver/client/source/class/osparc/data/model/PricingUnit.js
  services/static-webserver/client/source/class/osparc/pricing/UnitEditor.js
  services/static-webserver/client/source/class/osparc/study/PricingUnit.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitLicense.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitTier.js
Due: webclient

migration
  packages/postgres-database/src/simcore_postgres_database/migration/versions/4d007819e61a_add_license_type_to_pricing_plan.py
Due: pkg_postgres_database

[skip ci] update plan
  services/static-webserver/client/source/class/osparc/pricing/PlanEditor.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
Due: webclient

refactor rpc
  packages/models-library/src/models_library/rpc/webserver/auth/api_keys.py
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/auth/api_keys.py
  services/web/server/src/simcore_service_webserver/api_keys/_rpc.py
  services/web/server/tests/unit/with_dbs/01/test_api_keys_rpc.py
Due: pkg_models_library, pkg_service_library, webserver

refactor github workflow file
  .github/workflows/ci-testing-deploy.yml
  .github/workflows/ci-testing-pull-request.yml
Due: none

change name of new workflow file
  .github/workflows/ci-testing-pull-request.yml
Due: none

fixed broken tests
  services/director-v2/tests/unit/test_modules_dynamic_sidecar_scheduler_task.py
Due: director_v2

display removed containers
  services/agent/src/simcore_service_agent/services/containers_manager.py
Due: agent

plan editor ready
  services/static-webserver/client/source/class/osparc/pricing/PlanEditor.js
  services/static-webserver/client/source/class/osparc/pricing/UnitEditor.js
Due: webclient

fix imports
  packages/models-library/src/models_library/rpc/__init__.py
  packages/models-library/src/models_library/rpc/webserver/__init__.py
  packages/models-library/src/models_library/rpc/webserver/auth/__init__.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth.py
  services/director-v2/src/simcore_service_director_v2/modules/osparc_variables/_api_auth_rpc.py
  services/director-v2/tests/conftest.py
Due: pkg_models_library, director_v2

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
