Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

fix
  packages/common-library/src/common_library/network.py
  packages/common-library/tests/test_network.py
  services/web/server/src/simcore_service_webserver/notifications/_models.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

add test
  packages/common-library/tests/test_network.py
Due: none

refactor
  packages/common-library/src/common_library/network.py
Due: none

fix model
  packages/common-library/src/common_library/network.py
  packages/common-library/tests/test_network.py
  services/web/server/src/simcore_service_webserver/notifications/_models.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

fix
  packages/common-library/src/common_library/network.py
Due: none

refactor
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__workflow_registry.py
Due: dynamic_scheduler

finalised specs
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_api.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_models.py
Due: dynamic_scheduler

rename
  packages/common-library/src/common_library/network.py
Due: none

added base version
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_reconciliation.py
Due: dynamic_scheduler

🐛 Empty `To` address not allowed when sending to multiple `Bcc` recipients (#8802)
  packages/common-library/src/common_library/network.py
  packages/common-library/tests/test_network.py
  services/web/server/src/simcore_service_webserver/notifications/_models.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: webserver

getMyWallet
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
  services/static-webserver/client/source/class/osparc/store/Store.js
Due: webclient

added base workflow manager logic
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_workflow_manager.py
Due: dynamic_scheduler

added init
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/__init__.py
Due: dynamic_scheduler

minor
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
Due: webclient

renames
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_workflow_registry.py
Due: dynamic_scheduler

NO_PERSONAL_WALLET_MSG
  services/static-webserver/client/source/class/osparc/store/Store.js
Due: webclient

getMyWallet
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsStepper.js
Due: webclient

catch error
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsForm.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsStepper.js
Due: webclient

add RPC endpoint
  packages/models-library/src/models_library/rpc/notifications/template.py
  services/notifications/src/simcore_service_notifications/api/rpc/_notifications.py
Due: pkg_models_library

remove classes
  packages/notifications-library/src/notifications_library/templates/email/_base/body_html.j2
Due: pkg_notifications_library

add template context
  packages/notifications-library/src/notifications_library/templates/email/account_approved/_context.py
Due: pkg_notifications_library

added faststream delivery
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_fast_stream.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__fast_stream.py
Due: dynamic_scheduler

fix model
  packages/notifications-library/src/notifications_library/templates/email/account_approved/_context.py
Due: pkg_notifications_library

add preview_approval endpoint
  api/specs/web-server/_users_admin.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: api, pkg_models_library, webserver

connected lifespan
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/events.py
Due: dynamic_scheduler

refactor
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_fast_stream.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_node_status.py
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_workflow_registry.py
Due: dynamic_scheduler

fix models
  api/specs/web-server/_users_admin.py
  packages/models-library/src/models_library/api_schemas_webserver/users.py
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
  services/web/server/src/simcore_service_webserver/users/_controller/rest/accounts_rest.py
Due: api, pkg_models_library, webserver

update endpoint
  services/web/server/src/simcore_service_webserver/users/_controller/rest/accounts_rest.py
Due: webserver

refactor
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_node_status.py
Due: dynamic_scheduler

adjusted tests
  services/dynamic-scheduler/tests/conftest.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__node_status.py
Due: dynamic_scheduler

fixed bad merge
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/r_clone_mount_manager.py
Due: dynamic_sidecar

🐛 Fixed bad merge (#8807)
  services/dynamic-sidecar/src/simcore_service_dynamic_sidecar/modules/r_clone_mount_manager.py
Due: dynamic_sidecar

ensure unique handler
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/services/p_scheduler/_node_status.py
  services/dynamic-scheduler/tests/unit/services/p_scheduler/test__node_status.py
Due: dynamic_scheduler

aesthetics
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethodDetails.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethodListItem.js
Due: webclient

move to service layer
  packages/models-library/src/models_library/api_schemas_webserver/notifications.py
  packages/models-library/src/models_library/notifications.py
  services/web/server/src/simcore_service_webserver/notifications/_controller/_rest.py
  services/web/server/src/simcore_service_webserver/notifications/_service.py
Due: pkg_models_library, webserver

minors
  services/static-webserver/client/source/class/osparc/desktop/credits/BuyCreditsStepper.js
  services/static-webserver/client/source/class/osparc/desktop/paymentMethods/PaymentMethods.js
Due: webclient

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
