Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

update catalog oas
  services/catalog/openapi.json
Due: catalog

remove redundant if checks
  .github/workflows/ci-testing-pull-request.yml
Due: none

fix package
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/__init__.py
Due: pkg_service_library

fixed failing test
  services/web/server/tests/unit/isolated/test_tracing.py
Due: webserver

fix package
  packages/service-library/src/servicelib/rabbitmq/rpc_interfaces/webserver/auth/__init__.py
Due: pkg_service_library

[skip ci] refactor
  services/static-webserver/client/source/class/osparc/node/TierSelectionView.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
  services/static-webserver/client/source/class/osparc/study/PricingUnit.js
  services/static-webserver/client/source/class/osparc/study/PricingUnitTier.js
  services/static-webserver/client/source/class/osparc/vipMarket/AnatomicalModelDetails.js
Due: webclient

added validator
  services/dynamic-scheduler/src/simcore_service_dynamic_scheduler/core/settings.py
Due: dynamic_scheduler

refactor test
  services/web/server/tests/unit/isolated/test_tracing.py
Due: webserver

db layer licensed items purchase
  .env-devel
  packages/models-library/src/models_library/resource_tracker_licensed_items_purchases.py
  packages/postgres-database/src/simcore_postgres_database/models/resource_tracker_licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/exceptions/errors.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/models/licensed_items_purchases.py
  services/resource-usage-tracker/src/simcore_service_resource_usage_tracker/services/modules/db/licensed_items_purchases.py
  services/web/server/tests/unit/isolated/test_tracing.py
Due: pkg_models_library, pkg_postgres_database, resource_usage_tracker, webserver

fix
  services/web/server/tests/unit/isolated/test_tracing.py
Due: webserver

[skip ci] enh
  services/static-webserver/client/source/class/osparc/data/model/PricingPlan.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
Due: webclient

parametrize
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

creating the test for the issue
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

refactor
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

sort nodes
  services/autoscaling/src/simcore_service_autoscaling/utils/utils_docker.py
Due: autoscaling

ongoing test
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

need to patch when using moto
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

test now finally works
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

test ready for dynamic
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

check sorting
  services/autoscaling/tests/unit/test_utils_docker.py
Due: autoscaling

fixed terminating and terminated
  services/autoscaling/src/simcore_service_autoscaling/modules/auto_scaling_core.py
Due: autoscaling

initial test
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

refactor
  services/autoscaling/tests/unit/conftest.py
Due: autoscaling

ruff
  services/autoscaling/tests/unit/conftest.py
Due: autoscaling

fixed test that started failing, but is correct
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

[skip ci] list units
  services/static-webserver/client/source/class/osparc/store/Pricing.js
Due: webclient

fixed test that started failing, but is correct in computational mode
  services/autoscaling/tests/unit/test_modules_auto_scaling_computational.py
Due: autoscaling

last call to Store
  services/static-webserver/client/source/class/osparc/pricing/PlanEditor.js
  services/static-webserver/client/source/class/osparc/pricing/Plans.js
Due: webclient

fetchPricingPlansService
  services/static-webserver/client/source/class/osparc/service/PricingUnitsList.js
  services/static-webserver/client/source/class/osparc/store/Pricing.js
  services/static-webserver/client/source/class/osparc/study/NodePricingUnits.js
Due: webclient

last call to Store
  services/static-webserver/client/source/class/osparc/node/TierSelectionView.js
Due: webclient

[skip ci] typo
  services/static-webserver/client/source/class/osparc/node/TierSelectionView.js
  services/static-webserver/client/source/class/osparc/service/PricingUnitsList.js
  services/static-webserver/client/source/class/osparc/study/NodePricingUnits.js
Due: webclient

minor
  services/static-webserver/client/source/class/osparc/pricing/UnitsList.js
Due: webclient

refactoring
  services/autoscaling/tests/unit/test_modules_auto_scaling_dynamic.py
Due: autoscaling

Select button
  services/static-webserver/client/source/class/osparc/study/PricingUnitTier.js
  services/static-webserver/client/source/class/osparc/study/PricingUnits.js
Due: webclient

sio
  services/web/server/src/simcore_service_webserver/socketio/_handlers.py
Due: webserver

models
  api/specs/web-server/_groups.py
  services/web/server/src/simcore_service_webserver/groups/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_models.py
  services/web/server/src/simcore_service_webserver/groups/_scicrunch_handlers.py
Due: api, webserver

common and db
  services/web/server/src/simcore_service_webserver/groups/_common/models.py
  services/web/server/src/simcore_service_webserver/groups/_common/types.py
  services/web/server/src/simcore_service_webserver/groups/_groups_db.py
  services/web/server/src/simcore_service_webserver/groups/_utils.py
Due: webserver

exception handlers
  services/web/server/src/simcore_service_webserver/groups/_common/exceptions_handlers.py
Due: webserver

exception handlers groups
  services/web/server/src/simcore_service_webserver/groups/_exceptions_handlers.py
  services/web/server/src/simcore_service_webserver/groups/_handlers.py
Due: webserver

refactors db
  services/web/server/src/simcore_service_webserver/groups/_groups_db.py
  services/web/server/src/simcore_service_webserver/groups/_users_api.py
  services/web/server/src/simcore_service_webserver/groups/_utils.py
Due: webserver

Path conditions:
  api: any of: api/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_aws_library: any of: packages/aws-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_dask_task_models_library: any of: packages/dask-task-models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_models_library: any of: packages/models-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_notifications_library: any of: packages/notifications-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_postgres_database: any of: packages/postgres-database/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_integration: any of: packages/service-integration/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_service_library: any of: packages/service-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_settings_library: any of: packages/settings-library/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  pkg_simcore_sdk: any of: packages/simcore-sdk/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  agent: any of: services/agent/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  api_server: any of: services/api-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  autoscaling: any of: services/autoscaling/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  catalog: any of: services/catalog/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  clusters_keeper: any of: services/clusters-keeper/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dask_sidecar: any of: services/dask-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  datcore_adapter: any of: services/datcore-adapter/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director: any of: services/director/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  director_v2: any of: services/director-v2/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_scheduler: any of: services/dynamic-scheduler/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  dynamic_sidecar: any of: services/dynamic-sidecar/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  efs_guardian: any of: services/efs-guardian/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  invitations: any of: services/invitations/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  osparc_gateway_server: any of: services/osparc-gateway-server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  payments: any of: services/payments/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  resource_usage_tracker: any of: services/resource-usage-tracker/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  storage: any of: services/storage/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webclient: any of: services/static-webserver/client/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
  webserver: any of: services/web/server/**, but not: test_*.py, **/generated_models/*.py, **/generated_code/*.py, **/node_modules/**
