Repository ITISFoundation/osparc-simcore: changes, and which Codecov flags are due for each by the changed paths.
All: api, pkg_aws_library, pkg_dask_task_models_library, pkg_models_library, pkg_notifications_library, pkg_postgres_database, pkg_service_integration, pkg_service_library, pkg_settings_library, pkg_simcore_sdk, agent, api_server, autoscaling, catalog, clusters_keeper, dask_sidecar, datcore_adapter, director, director_v2, dynamic_scheduler, dynamic_sidecar, efs_guardian, invitations, osparc_gateway_server, payments, resource_usage_tracker, storage, webclient, webserver

.codecov.yml:

codecov:
  require_ci_to_pass: false
  branch: master
github_checks:
  annotations: false

flag_management:
  default_rules:
    carryforward: true
    statuses:
    - type: project
      target: auto
      threshold: 1%
    - type: patch
      target: auto
      threshold: 1%


component_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: api
      paths:
        - api/**
    - component_id: pkg_aws_library
      paths:
        - packages/aws-library/**
    - component_id: pkg_dask_task_models_library
      paths:
        - packages/dask-task-models-library/**
    - component_id: pkg_models_library
      paths:
        - packages/models-library/**
    - component_id: pkg_notifications_library
      paths:
        - packages/notifications-library/**
    - component_id: pkg_postgres_database
      paths:
        - packages/postgres-database/**
    - component_id: pkg_service_integration
      paths:
        - packages/service-integration/**
    - component_id: pkg_service_library
      paths:
        - packages/service-library/**
    - component_id: pkg_settings_library
      paths:
        - packages/settings-library/**
    - component_id: pkg_simcore_sdk
      paths:
        - packages/simcore-sdk/**
    - component_id: agent
      paths:
        - services/agent/**
    - component_id: api_server
      paths:
        - services/api-server/**
    - component_id: autoscaling
      paths:
        - services/autoscaling/**
    - component_id: catalog
      paths:
        - services/catalog/**
    - component_id: clusters_keeper
      paths:
        - services/clusters-keeper/**
    - component_id: dask_sidecar
      paths:
        - services/dask-sidecar/**
    - component_id: datcore_adapter
      paths:
        - services/datcore-adapter/**
    - component_id: director
      paths:
        - services/director/**
    - component_id: director_v2
      paths:
        - services/director-v2/**
    - component_id: dynamic_scheduler
      paths:
        - services/dynamic-scheduler/**
    - component_id: dynamic_sidecar
      paths:
        - services/dynamic-sidecar/**
    - component_id: efs_guardian
      paths:
        - services/efs-guardian/**
    - component_id: invitations
      paths:
        - services/invitations/**
    - component_id: osparc_gateway_server
      paths:
        - services/osparc-gateway-server/**
    - component_id: payments
      paths:
        - services/payments/**
    - component_id: resource_usage_tracker
      paths:
        - services/resource-usage-tracker/**
    - component_id: storage
      paths:
        - services/storage/**
    - component_id: webclient
      paths:
        - services/static-webserver/client/**
    - component_id: webserver
      paths:
        - services/web/server/**

coverage:
  status:
    project:
      default:
        informational: true
        threshold: 1%

    patch:
      default:
        informational: true
        threshold: 1%

comment:
  layout: "header,diff,flags,components,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true


ignore:
  - "test_*.py"
  - "**/generated_models/*.py"
  - "**/generated_code/*.py"
  - "**/node_modules/**"

fix test
  services/web/server/tests/unit/with_dbs/03/tags/test_tags.py
Due: webserver

revert changes
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/unit/test_utils_dags.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
Due: director_v2

improve logs
  packages/service-library/src/servicelib/rabbitmq/_client.py
Due: pkg_service_library

use model_dump
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

removed template parameter
  services/web/server/src/simcore_service_webserver/projects/_controller/projects_states_rest.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_create.py
  services/web/server/src/simcore_service_webserver/projects/_crud_api_read.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

fixed examples
  packages/models-library/src/models_library/projects_nodes.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: pkg_models_library, webserver

missing optional entry
  packages/models-library/src/models_library/projects_nodes.py
Due: pkg_models_library

sonar
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
Due: webserver

fixed test
  packages/models-library/src/models_library/projects_nodes.py
  packages/models-library/tests/test_project_nodes.py
Due: pkg_models_library

make lock_state optional
  packages/models-library/src/models_library/projects_nodes.py
Due: pkg_models_library

improve
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

revert
  packages/models-library/src/models_library/projects_nodes.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: pkg_models_library, webserver

this might break
  packages/models-library/src/models_library/projects_nodes.py
  services/director-v2/src/simcore_service_director_v2/utils/dags.py
  services/director-v2/tests/integration/01/test_computation_api.py
  services/director-v2/tests/unit/test_utils_dags.py
  services/director-v2/tests/unit/with_dbs/comp_scheduler/test_api_route_computations.py
Due: pkg_models_library, director_v2

typing
  services/web/server/src/simcore_service_webserver/projects/_wallets_service.py
Due: webserver

@copilot review
  packages/models-library/src/models_library/projects_nodes.py
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: pkg_models_library, webserver

no need to double catch
  packages/service-library/src/servicelib/rabbitmq/_client.py
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
Due: pkg_service_library, webserver

added exception for share state
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
  services/web/server/src/simcore_service_webserver/projects/exceptions.py
Due: webserver

worksforme
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

properly update
  services/web/server/src/simcore_service_webserver/notifications/_rabbitmq_exclusive_queue_consumers.py
Due: webserver

always add the state
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

fix mock project
  services/web/server/tests/data/fake-project.json
Due: webserver

this is how to fix the tests
  services/web/server/tests/unit/with_dbs/04/folders/test_folders.py
Due: webserver

mypy
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

this is how to fix the tests
  services/web/server/tests/unit/with_dbs/03/trash/test_trash_rest.py
Due: webserver

sonar
  services/web/server/src/simcore_service_webserver/projects/_projects_service.py
Due: webserver

updated openapi
  services/web/server/src/simcore_service_webserver/api/v0/openapi.yaml
Due: webserver

tests are passing
  services/web/server/tests/unit/with_dbs/02/test_projects_nodes_handlers__patch.py
Due: webserver

fixing tests
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__patch.py
  services/web/server/tests/unit/with_dbs/02/test_projects_groups_handlers.py
Due: webserver

not yet fixed
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
Due: webserver

make tests pass
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_handlers.py
  services/web/server/tests/unit/with_dbs/04/studies_dispatcher/test_studies_dispatcher_studies_access.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__delete_workspace_with_content.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__folders_and_projects_crud.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__list_folders_full_search.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__list_projects_full_search.py
Due: webserver

this is how to fix the tests
  services/web/server/tests/unit/with_dbs/02/test_projects_cancellations.py
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers.py
Due: webserver

change max time
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
Due: webserver

trying
  services/web/server/tests/integration/01/notifications/test_rabbitmq_consumers.py
Due: webserver

tests are passing
  services/web/server/tests/unit/with_dbs/02/test_projects_crud_handlers__list_with_query_params.py
  services/web/server/tests/unit/with_dbs/docker-compose-devel.yml
Due: webserver

having fun
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
Due: webserver

fixing tests
  services/web/server/tests/unit/with_dbs/04/folders/test_folders.py
  services/web/server/tests/unit/with_dbs/04/notifications/test_notifications__db_comp_tasks_listening_task.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__delete_workspace_with_content.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_folders_between_workspaces.py
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_projects_between_workspaces.py
Due: webserver

moving to asyncpg
  services/web/server/tests/integration/01/test_computation.py
Due: webserver

ruff
  packages/pytest-simcore/src/pytest_simcore/services_api_mocks_for_aiohttp_clients.py
Due: none

tests are passing
  services/web/server/tests/unit/with_dbs/04/workspaces/test_workspaces__moving_folders_between_workspaces.py
Due: webserver
